openapi: 3.2.0
info:
  title: Monocrawl GitHub API
  version: 0.1.0
  description: One key, one envelope, one credit meter across social, search, commerce and web data.
  contact:
    name: Monocrawl support
    url: https://www.monocrawl.com/contact
  termsOfService: https://www.monocrawl.com/legal/terms-and-conditions
servers:
- url: https://www.monocrawl.com
security:
- ApiKeyHeader: []
tags:
- name: Github
paths:
  /v1/github/issue:
    get:
      operationId: github_issue
      tags:
      - Github
      summary: GitHub issue or pull request
      description: 'One issue or pull request: title, state, labels, reactions and full body. Costs 1 credit per successful live response.'
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
        example: https://github.com/vercel/next.js/issues/1
        description: Issue or pull request URL
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/github/issue.json
                      title: github/issue data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        id:
                          type:
                          - number
                          - string
                          - 'null'
                          description: Source ID. Preserve its original representation; do not coerce a large string ID to a JavaScript number.
                        number:
                          type:
                          - number
                          - 'null'
                          description: Issue number within this repository.
                        title:
                          type:
                          - string
                          - 'null'
                          description: Issue title.
                        body:
                          type:
                          - string
                          - 'null'
                          description: Issue text; bundle previews may be shortened.
                        url:
                          type:
                          - string
                          - 'null'
                          description: Original source URL when supplied.
                        state:
                          type:
                          - string
                          - 'null'
                          description: Source issue state.
                        is_pull_request:
                          type:
                          - boolean
                          - 'null'
                          description: Whether the source item is a pull request.
                        author:
                          type:
                          - string
                          - 'null'
                          description: Author login.
                        comments:
                          type:
                          - number
                          - 'null'
                          description: Comments reported by the source; null or absent is unknown, not zero.
                        created_at:
                          type:
                          - string
                          - 'null'
                          description: Source publication time, normalized to an ISO date-time when available.
                        updated_at:
                          type:
                          - string
                          - 'null'
                          description: Source publication time, normalized to an ISO date-time when available.
                        _warnings:
                          type: array
                          items:
                            type: string
                          description: Collection limitations or component warnings. Read before interpreting coverage.
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - id
                          properties:
                            id:
                              type:
                              - number
                              - string
                              description: Source ID. Preserve its original representation; do not coerce a large string ID to a JavaScript number.
                              minLength: 1
                        - required:
                          - number
                          properties:
                            number:
                              type:
                              - number
                              description: Issue number within this repository.
                        - required:
                          - title
                          properties:
                            title:
                              type:
                              - string
                              description: Issue title.
                              minLength: 1
                        - required:
                          - body
                          properties:
                            body:
                              type:
                              - string
                              description: Issue text; bundle previews may be shortened.
                              minLength: 1
                        - required:
                          - url
                          properties:
                            url:
                              type:
                              - string
                              description: Original source URL when supplied.
                              minLength: 1
                        - required:
                          - state
                          properties:
                            state:
                              type:
                              - string
                              description: Source issue state.
                              minLength: 1
                        - required:
                          - is_pull_request
                          properties:
                            is_pull_request:
                              type:
                              - boolean
                              description: Whether the source item is a pull request.
                        - required:
                          - author
                          properties:
                            author:
                              type:
                              - string
                              description: Author login.
                              minLength: 1
                        - required:
                          - comments
                          properties:
                            comments:
                              type:
                              - number
                              description: Comments reported by the source; null or absent is unknown, not zero.
                        - required:
                          - created_at
                          properties:
                            created_at:
                              type:
                              - string
                              description: Source publication time, normalized to an ISO date-time when available.
                              minLength: 1
                        - required:
                          - updated_at
                          properties:
                            updated_at:
                              type:
                              - string
                              description: Source publication time, normalized to an ISO date-time when available.
                              minLength: 1
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - id: 44
                        number: 7
                        title: Example issue
                        is_pull_request: false
                        comments: 2
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/github/issue/comments:
    get:
      operationId: github_issue_comments
      tags:
      - Github
      summary: GitHub issue comments
      description: Comments on an issue or pull request, oldest first. Costs 1 credit per successful live response.
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
        example: https://github.com/vercel/next.js/issues/1
        description: Issue or pull request URL
      - name: since
        in: query
        required: false
        schema:
          type: string
        example: '2026-01-01T00:00:00Z'
        description: Only comments updated at or after this ISO-8601 timestamp
      - name: limit
        in: query
        required: false
        schema:
          type: string
        example: '25'
        description: Items per page, max 100
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        example: '2'
        description: Opaque page cursor from a previous response
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/github/issue/comments.json
                      title: github/issue/comments data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        items:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type:
                                - number
                                - string
                                - 'null'
                                description: Source ID. Preserve its original representation; do not coerce a large string ID to a JavaScript number.
                              author:
                                type:
                                - string
                                - 'null'
                                description: Author login.
                              body:
                                type:
                                - string
                                - 'null'
                                description: Comment body.
                              url:
                                type:
                                - string
                                - 'null'
                                description: Original source URL when supplied.
                              reactions:
                                type:
                                - number
                                - 'null'
                                description: Reactions reported by the source; null or absent is unknown, not zero.
                              created_at:
                                type:
                                - string
                                - 'null'
                                description: Source publication time, normalized to an ISO date-time when available.
                              updated_at:
                                type:
                                - string
                                - 'null'
                                description: Source publication time, normalized to an ISO date-time when available.
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - id
                                properties:
                                  id:
                                    type:
                                    - number
                                    - string
                                    description: Source ID. Preserve its original representation; do not coerce a large string ID to a JavaScript number.
                                    minLength: 1
                              - required:
                                - author
                                properties:
                                  author:
                                    type:
                                    - string
                                    description: Author login.
                                    minLength: 1
                              - required:
                                - body
                                properties:
                                  body:
                                    type:
                                    - string
                                    description: Comment body.
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    type:
                                    - string
                                    description: Original source URL when supplied.
                                    minLength: 1
                              - required:
                                - reactions
                                properties:
                                  reactions:
                                    type:
                                    - number
                                    description: Reactions reported by the source; null or absent is unknown, not zero.
                              - required:
                                - created_at
                                properties:
                                  created_at:
                                    type:
                                    - string
                                    description: Source publication time, normalized to an ISO date-time when available.
                                    minLength: 1
                              - required:
                                - updated_at
                                properties:
                                  updated_at:
                                    type:
                                    - string
                                    description: Source publication time, normalized to an ISO date-time when available.
                                    minLength: 1
                          description: Records in this response page.
                        count:
                          type:
                          - number
                          - 'null'
                          description: Returned row count when supplied; not the full source total.
                        cursor:
                          type:
                          - string
                          - 'null'
                          description: Opaque next-page token. A missing token does not prove full history was retrieved.
                        has_more:
                          type:
                          - boolean
                          - 'null'
                          description: Source continuation indicator; null means unknown.
                        _warnings:
                          type: array
                          items:
                            type: string
                          description: Collection limitations or component warnings. Read before interpreting coverage.
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - items:
                        - id: 45
                          author: example
                          body: Illustrative comment
                          reactions: 0
                        cursor: null
                        has_more: null
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/github/profile:
    get:
      operationId: github_profile
      tags:
      - Github
      summary: GitHub user profile
      description: Public profile, follower counts and repository totals for a GitHub user. Costs 1 credit per successful live response.
      parameters:
      - name: handle
        in: query
        required: true
        schema:
          type: string
        example: torvalds
        description: GitHub username
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/github/profile.json
                      title: github/profile data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        id:
                          type:
                          - number
                          - string
                          - 'null'
                          description: Source ID. Preserve its original representation; do not coerce a large string ID to a JavaScript number.
                        handle:
                          type:
                          - string
                          - 'null'
                          description: Account login.
                        name:
                          type:
                          - string
                          - 'null'
                          description: Display name.
                        url:
                          type:
                          - string
                          - 'null'
                          description: Original source URL when supplied.
                        bio:
                          type:
                          - string
                          - 'null'
                          description: Public biography.
                        followers:
                          type:
                          - number
                          - 'null'
                          description: Followers reported by the source; null or absent is unknown, not zero.
                        following:
                          type:
                          - number
                          - 'null'
                          description: Following reported by the source; null or absent is unknown, not zero.
                        public_repos:
                          type:
                          - number
                          - 'null'
                          description: Public repositories reported by the source; null or absent is unknown, not zero.
                        type:
                          type:
                          - string
                          - 'null'
                          description: Source account type.
                        created_at:
                          type:
                          - string
                          - 'null'
                          description: Source publication time, normalized to an ISO date-time when available.
                        _warnings:
                          type: array
                          items:
                            type: string
                          description: Collection limitations or component warnings. Read before interpreting coverage.
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - id
                          properties:
                            id:
                              type:
                              - number
                              - string
                              description: Source ID. Preserve its original representation; do not coerce a large string ID to a JavaScript number.
                              minLength: 1
                        - required:
                          - handle
                          properties:
                            handle:
                              type:
                              - string
                              description: Account login.
                              minLength: 1
                        - required:
                          - name
                          properties:
                            name:
                              type:
                              - string
                              description: Display name.
                              minLength: 1
                        - required:
                          - url
                          properties:
                            url:
                              type:
                              - string
                              description: Original source URL when supplied.
                              minLength: 1
                        - required:
                          - bio
                          properties:
                            bio:
                              type:
                              - string
                              description: Public biography.
                              minLength: 1
                        - required:
                          - followers
                          properties:
                            followers:
                              type:
                              - number
                              description: Followers reported by the source; null or absent is unknown, not zero.
                        - required:
                          - following
                          properties:
                            following:
                              type:
                              - number
                              description: Following reported by the source; null or absent is unknown, not zero.
                        - required:
                          - public_repos
                          properties:
                            public_repos:
                              type:
                              - number
                              description: Public repositories reported by the source; null or absent is unknown, not zero.
                        - required:
                          - created_at
                          properties:
                            created_at:
                              type:
                              - string
                              description: Source publication time, normalized to an ISO date-time when available.
                              minLength: 1
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - id: 42
                        handle: example
                        followers: 100
                        public_repos: 3
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/github/profile/repos:
    get:
      operationId: github_profile_repos
      tags:
      - Github
      summary: GitHub user repositories
      description: List a GitHub user's public repositories, most recently updated first. Costs 1 credit per successful live response.
      parameters:
      - name: handle
        in: query
        required: true
        schema:
          type: string
        example: torvalds
        description: GitHub username
      - name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - all
          - owner
          - member
        example: owner
        description: 'Repository affiliation filter: all, owner or member Accepted values: all, owner, member. Case, spaces, hyphens and underscores are interchangeable.'
      - name: sort
        in: query
        required: false
        schema:
          type: string
          enum:
          - created
          - updated
          - pushed
          - full_name
        example: updated
        description: 'Sort key: created, updated, pushed or full_name (default updated) Accepted values: created, updated, pushed, full_name. Case, spaces, hyphens and underscores are interchangeable.'
      - name: direction
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
        example: desc
        description: 'Sort direction: asc or desc Accepted values: asc, desc. Case, spaces, hyphens and underscores are interchangeable.'
      - name: limit
        in: query
        required: false
        schema:
          type: string
        example: '25'
        description: Items per page, max 100
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        example: '2'
        description: Opaque page cursor from a previous response
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/github/profile/repos.json
                      title: github/profile/repos data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        items:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type:
                                - number
                                - string
                                - 'null'
                                description: Source ID. Preserve its original representation; do not coerce a large string ID to a JavaScript number.
                              name:
                                type:
                                - string
                                - 'null'
                                description: Repository name.
                              full_name:
                                type:
                                - string
                                - 'null'
                                description: Owner/name identity.
                              owner:
                                type:
                                - string
                                - 'null'
                                description: Owner login.
                              url:
                                type:
                                - string
                                - 'null'
                                description: Original source URL when supplied.
                              description:
                                type:
                                - string
                                - 'null'
                                description: Repository description.
                              language:
                                type:
                                - string
                                - 'null'
                                description: Primary source language.
                              stars:
                                type:
                                - number
                                - 'null'
                                description: Stargazers reported by the source; null or absent is unknown, not zero.
                              forks:
                                type:
                                - number
                                - 'null'
                                description: Forks reported by the source; null or absent is unknown, not zero.
                              watchers:
                                type:
                                - number
                                - 'null'
                                description: Subscribers, when supplied; not stargazers reported by the source; null or absent is unknown, not zero.
                              open_issues:
                                type:
                                - number
                                - 'null'
                                description: Source open-issue count, which can include pull requests reported by the source; null or absent is unknown, not zero.
                              default_branch:
                                type:
                                - string
                                - 'null'
                                description: Default branch name.
                              is_fork:
                                type:
                                - boolean
                                - 'null'
                                description: Whether this is a fork.
                              is_archived:
                                type:
                                - boolean
                                - 'null'
                                description: Whether archived.
                              pushed_at:
                                type:
                                - string
                                - 'null'
                                description: Source publication time, normalized to an ISO date-time when available.
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - id
                                properties:
                                  id:
                                    type:
                                    - number
                                    - string
                                    description: Source ID. Preserve its original representation; do not coerce a large string ID to a JavaScript number.
                                    minLength: 1
                              - required:
                                - name
                                properties:
                                  name:
                                    type:
                                    - string
                                    description: Repository name.
                                    minLength: 1
                              - required:
                                - full_name
                                properties:
                                  full_name:
                                    type:
                                    - string
                                    description: Owner/name identity.
                                    minLength: 1
                              - required:
                                - owner
                                properties:
                                  owner:
                                    type:
                                    - string
                                    description: Owner login.
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    type:
                                    - string
                                    description: Original source URL when supplied.
                                    minLength: 1
                              - required:
                                - description
                                properties:
                                  description:
                                    type:
                                    - string
                                    description: Repository description.
                                    minLength: 1
                              - required:
                                - language
                                properties:
                                  language:
                                    type:
                                    - string
                                    description: Primary source language.
                                    minLength: 1
                              - required:
                                - stars
                                properties:
                                  stars:
                                    type:
                                    - number
                                    description: Stargazers reported by the source; null or absent is unknown, not zero.
                              - required:
                                - forks
                                properties:
                                  forks:
                                    type:
                                    - number
                                    description: Forks reported by the source; null or absent is unknown, not zero.
                              - required:
                                - watchers
                                properties:
                                  watchers:
                                    type:
                                    - number
                                    description: Subscribers, when supplied; not stargazers reported by the source; null or absent is unknown, not zero.
                              - required:
                                - open_issues
                                properties:
                                  open_issues:
                                    type:
                                    - number
                                    description: Source open-issue count, which can include pull requests reported by the source; null or absent is unknown, not zero.
                              - required:
                                - default_branch
                                properties:
                                  default_branch:
                                    type:
                                    - string
                                    description: Default branch name.
                                    minLength: 1
                              - required:
                                - is_fork
                                properties:
                                  is_fork:
                                    type:
                                    - boolean
                                    description: Whether this is a fork.
                              - required:
                                - is_archived
                                properties:
                                  is_archived:
                                    type:
                                    - boolean
                                    description: Whether archived.
                              - required:
                                - pushed_at
                                properties:
                                  pushed_at:
                                    type:
                                    - string
                                    description: Source publication time, normalized to an ISO date-time when available.
                                    minLength: 1
                          description: Records in this response page.
                        count:
                          type:
                          - number
                          - 'null'
                          description: Returned row count when supplied; not the full source total.
                        cursor:
                          type:
                          - string
                          - 'null'
                          description: Opaque next-page token. A missing token does not prove full history was retrieved.
                        has_more:
                          type:
                          - boolean
                          - 'null'
                          description: Source continuation indicator; null means unknown.
                        _warnings:
                          type: array
                          items:
                            type: string
                          description: Collection limitations or component warnings. Read before interpreting coverage.
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - items:
                        - id: 43
                          full_name: example/project
                          url: https://github.com/example/project
                          watchers: null
                        cursor: null
                        has_more: null
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/github/repo:
    get:
      operationId: github_repo
      tags:
      - Github
      summary: GitHub repository
      description: Stars, forks, issues and metadata for a public repository, addressed by URL or owner/repo. Costs 1 credit per successful live response.
      parameters:
      - name: url
        in: query
        required: false
        schema:
          type: string
        example: https://github.com/vercel/next.js
        description: Repository URL - or pass owner + repo instead
      - name: owner
        in: query
        required: false
        schema:
          type: string
        example: vercel
        description: Repository owner (used with repo when url is not given)
      - name: repo
        in: query
        required: false
        schema:
          type: string
        example: next.js
        description: Repository name (used with owner when url is not given)
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/github/repo.json
                      title: github/repo data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        id:
                          type:
                          - number
                          - string
                          - 'null'
                          description: Source ID. Preserve its original representation; do not coerce a large string ID to a JavaScript number.
                        name:
                          type:
                          - string
                          - 'null'
                          description: Repository name.
                        full_name:
                          type:
                          - string
                          - 'null'
                          description: Owner/name identity.
                        owner:
                          type:
                          - string
                          - 'null'
                          description: Owner login.
                        url:
                          type:
                          - string
                          - 'null'
                          description: Original source URL when supplied.
                        description:
                          type:
                          - string
                          - 'null'
                          description: Repository description.
                        language:
                          type:
                          - string
                          - 'null'
                          description: Primary source language.
                        stars:
                          type:
                          - number
                          - 'null'
                          description: Stargazers reported by the source; null or absent is unknown, not zero.
                        forks:
                          type:
                          - number
                          - 'null'
                          description: Forks reported by the source; null or absent is unknown, not zero.
                        watchers:
                          type:
                          - number
                          - 'null'
                          description: Subscribers, when supplied; not stargazers reported by the source; null or absent is unknown, not zero.
                        open_issues:
                          type:
                          - number
                          - 'null'
                          description: Source open-issue count, which can include pull requests reported by the source; null or absent is unknown, not zero.
                        default_branch:
                          type:
                          - string
                          - 'null'
                          description: Default branch name.
                        is_fork:
                          type:
                          - boolean
                          - 'null'
                          description: Whether this is a fork.
                        is_archived:
                          type:
                          - boolean
                          - 'null'
                          description: Whether archived.
                        pushed_at:
                          type:
                          - string
                          - 'null'
                          description: Source publication time, normalized to an ISO date-time when available.
                        _warnings:
                          type: array
                          items:
                            type: string
                          description: Collection limitations or component warnings. Read before interpreting coverage.
                        author:
                          type: object
                          properties:
                            id:
                              type:
                              - string
                              - 'null'
                            username:
                              type:
                              - string
                              - 'null'
                          additionalProperties: true
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - id
                          properties:
                            id:
                              type:
                              - number
                              - string
                              description: Source ID. Preserve its original representation; do not coerce a large string ID to a JavaScript number.
                              minLength: 1
                        - required:
                          - name
                          properties:
                            name:
                              type:
                              - string
                              description: Repository name.
                              minLength: 1
                        - required:
                          - full_name
                          properties:
                            full_name:
                              type:
                              - string
                              description: Owner/name identity.
                              minLength: 1
                        - required:
                          - owner
                          properties:
                            owner:
                              type:
                              - string
                              description: Owner login.
                              minLength: 1
                        - required:
                          - url
                          properties:
                            url:
                              type:
                              - string
                              description: Original source URL when supplied.
                              minLength: 1
                        - required:
                          - description
                          properties:
                            description:
                              type:
                              - string
                              description: Repository description.
                              minLength: 1
                        - required:
                          - language
                          properties:
                            language:
                              type:
                              - string
                              description: Primary source language.
                              minLength: 1
                        - required:
                          - stars
                          properties:
                            stars:
                              type:
                              - number
                              description: Stargazers reported by the source; null or absent is unknown, not zero.
                        - required:
                          - forks
                          properties:
                            forks:
                              type:
                              - number
                              description: Forks reported by the source; null or absent is unknown, not zero.
                        - required:
                          - watchers
                          properties:
                            watchers:
                              type:
                              - number
                              description: Subscribers, when supplied; not stargazers reported by the source; null or absent is unknown, not zero.
                        - required:
                          - open_issues
                          properties:
                            open_issues:
                              type:
                              - number
                              description: Source open-issue count, which can include pull requests reported by the source; null or absent is unknown, not zero.
                        - required:
                          - default_branch
                          properties:
                            default_branch:
                              type:
                              - string
                              description: Default branch name.
                              minLength: 1
                        - required:
                          - is_fork
                          properties:
                            is_fork:
                              type:
                              - boolean
                              description: Whether this is a fork.
                        - required:
                          - is_archived
                          properties:
                            is_archived:
                              type:
                              - boolean
                              description: Whether archived.
                        - required:
                          - pushed_at
                          properties:
                            pushed_at:
                              type:
                              - string
                              description: Source publication time, normalized to an ISO date-time when available.
                              minLength: 1
                        - required:
                          - author
                          properties:
                            author:
                              type: object
                              properties:
                                id:
                                  type:
                                  - string
                                  - 'null'
                                username:
                                  type:
                                  - string
                                  - 'null'
                              additionalProperties: true
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - id: 43
                        full_name: example/project
                        stars: 42
                        watchers: null
                        is_fork: false
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/github/repo/dossier:
    get:
      operationId: github_repo_dossier
      tags:
      - Github
      summary: GitHub repository dossier
      description: 'One-call project dossier: repo stats, README excerpt, latest releases, top issues and top contributors. Costs 5 credits per successful live response.'
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
        example: https://github.com/vercel/next.js
        description: Repository URL
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/github/repo/dossier.json
                      title: github/repo/dossier data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        _warnings:
                          description: Optional  warnings supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        contributors:
                          description: Optional contributors supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              contributions:
                                description: Optional contributions supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              handle:
                                description: Optional handle supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - number
                                - 'null'
                              type:
                                description: Optional type supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        readme:
                          description: Optional readme supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            markdown:
                              description: Optional markdown supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            truncated:
                              description: Optional truncated supplied by this operation. Null means unknown.
                              type:
                              - boolean
                              - 'null'
                          additionalProperties: true
                        releases:
                          description: Optional releases supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              assets:
                                description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                type:
                                - array
                                - 'null'
                                items: {}
                              author:
                                description: Public author information supplied with this record.
                                type:
                                - string
                                - 'null'
                              created_at:
                                description: Source creation time, not the API retrieval time.
                                type:
                                - string
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - number
                                - 'null'
                              is_draft:
                                description: Optional is draft supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              is_prerelease:
                                description: Optional is prerelease supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              notes:
                                description: Optional notes supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              published_at:
                                description: Source publication time when available.
                                type:
                                - string
                                - 'null'
                              tag:
                                description: Optional tag supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        repo:
                          description: Optional repo supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            created_at:
                              description: Source creation time, not the API retrieval time.
                              type:
                              - string
                              - 'null'
                            default_branch:
                              description: Optional default branch supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            description:
                              description: Source description; null or absent means not supplied.
                              type:
                              - string
                              - 'null'
                            forks:
                              description: Optional forks supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            full_name:
                              description: Optional full name supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            homepage:
                              description: Optional homepage supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            id:
                              description: Source identifier. Preserve the supplied type and exact value.
                              type:
                              - number
                              - 'null'
                            is_archived:
                              description: Optional is archived supplied by this operation. Null means unknown.
                              type:
                              - boolean
                              - 'null'
                            is_fork:
                              description: Optional is fork supplied by this operation. Null means unknown.
                              type:
                              - boolean
                              - 'null'
                            language:
                              description: Optional language supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            license:
                              description: Optional license supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            name:
                              description: Optional name supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            open_issues:
                              description: Optional open issues supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            owner:
                              description: Optional owner supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            pushed_at:
                              description: Optional pushed at supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            size_kb:
                              description: Optional size kb supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            stars:
                              description: Optional stars supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            topics:
                              description: Optional topics supplied by this operation. Null means unknown.
                              type:
                              - array
                              - 'null'
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            updated_at:
                              description: Optional updated at supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            url:
                              description: Original source URL when supplied.
                              type:
                              - string
                              - 'null'
                            watchers:
                              description: Optional watchers supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                          additionalProperties: true
                        sources:
                          description: Optional sources supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              error:
                                description: Optional error supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              ok:
                                description: Optional ok supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              source:
                                description: Optional source supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        top_issues:
                          description: Optional top issues supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties: {}
                          additionalProperties: true
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - contributors
                          properties:
                            contributors:
                              description: Optional contributors supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  contributions:
                                    description: Optional contributions supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  handle:
                                    description: Optional handle supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - number
                                    - 'null'
                                  type:
                                    description: Optional type supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                        - required:
                          - readme
                          properties:
                            readme:
                              description: Optional readme supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties:
                                markdown:
                                  description: Optional markdown supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                truncated:
                                  description: Optional truncated supplied by this operation. Null means unknown.
                                  type:
                                  - boolean
                                  - 'null'
                              additionalProperties: true
                        - required:
                          - releases
                          properties:
                            releases:
                              description: Optional releases supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  assets:
                                    description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                    type:
                                    - array
                                    - 'null'
                                    items: {}
                                  author:
                                    description: Public author information supplied with this record.
                                    type:
                                    - string
                                    - 'null'
                                  created_at:
                                    description: Source creation time, not the API retrieval time.
                                    type:
                                    - string
                                    - 'null'
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - number
                                    - 'null'
                                  is_draft:
                                    description: Optional is draft supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                                    - 'null'
                                  is_prerelease:
                                    description: Optional is prerelease supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                                    - 'null'
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  notes:
                                    description: Optional notes supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  published_at:
                                    description: Source publication time when available.
                                    type:
                                    - string
                                    - 'null'
                                  tag:
                                    description: Optional tag supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                        - required:
                          - repo
                          properties:
                            repo:
                              description: Optional repo supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties:
                                created_at:
                                  description: Source creation time, not the API retrieval time.
                                  type:
                                  - string
                                  - 'null'
                                default_branch:
                                  description: Optional default branch supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                description:
                                  description: Source description; null or absent means not supplied.
                                  type:
                                  - string
                                  - 'null'
                                forks:
                                  description: Optional forks supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                full_name:
                                  description: Optional full name supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                homepage:
                                  description: Optional homepage supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                id:
                                  description: Source identifier. Preserve the supplied type and exact value.
                                  type:
                                  - number
                                  - 'null'
                                is_archived:
                                  description: Optional is archived supplied by this operation. Null means unknown.
                                  type:
                                  - boolean
                                  - 'null'
                                is_fork:
                                  description: Optional is fork supplied by this operation. Null means unknown.
                                  type:
                                  - boolean
                                  - 'null'
                                language:
                                  description: Optional language supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                license:
                                  description: Optional license supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                name:
                                  description: Optional name supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                open_issues:
                                  description: Optional open issues supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                owner:
                                  description: Optional owner supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                pushed_at:
                                  description: Optional pushed at supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                size_kb:
                                  description: Optional size kb supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                stars:
                                  description: Optional stars supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                topics:
                                  description: Optional topics supplied by this operation. Null means unknown.
                                  type:
                                  - array
                                  - 'null'
                                  items:
                                    description: Optional record supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                updated_at:
                                  description: Optional updated at supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                url:
                                  description: Original source URL when supplied.
                                  type:
                                  - string
                                  - 'null'
                                watchers:
                                  description: Optional watchers supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                              additionalProperties: true
                        - required:
                          - sources
                          properties:
                            sources:
                              description: Optional sources supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  error:
                                    description: Optional error supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  ok:
                                    description: Optional ok supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                                    - 'null'
                                  source:
                                    description: Optional source supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                        - required:
                          - top_issues
                          properties:
                            top_issues:
                              description: Optional top issues supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties: {}
                              additionalProperties: true
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - _warnings:
                        - example
                        contributors:
                        - contributions: 0
                          handle: example
                          id: 0
                          type: example
                          url: https://example.com/example
                        readme:
                          markdown: example
                          truncated: false
                        releases:
                        - assets: []
                          author: example
                          created_at: '2026-09-01T12:00:00Z'
                          id: 0
                          is_draft: false
                          is_prerelease: false
                          name: example
                          notes: example
                          published_at: '2026-09-01T12:00:00Z'
                          tag: example
                          url: https://example.com/example
                        repo:
                          created_at: '2026-09-01T12:00:00Z'
                          default_branch: example
                          description: example
                          forks: 0
                          full_name: example
                          homepage: example
                          id: 0
                          is_archived: false
                          is_fork: false
                          language: example
                          license: example
                          name: example
                          open_issues: 0
                          owner: example
                          pushed_at: '2026-09-01T12:00:00Z'
                          size_kb: 0
                          stars: 0
                          topics:
                          - example
                          updated_at: '2026-09-01T12:00:00Z'
                          url: https://example.com/example
                          watchers: 0
                        sources:
                        - error: example
                          ok: false
                          source: example
                        top_issues: {}
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 5
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/github/repo/issues:
    get:
[...]
