openapi: 3.2.0
info:
  title: Monocrawl Web Scraping API
  version: 0.1.0
  description: One key, one envelope, one credit meter across social, search, commerce and web data.
  contact:
    name: Monocrawl support
    url: https://www.monocrawl.com/contact
  termsOfService: https://www.monocrawl.com/legal/terms-and-conditions
servers:
- url: https://www.monocrawl.com
security:
- ApiKeyHeader: []
tags:
- name: Web Scraping
paths:
  /v1/web/agent:
    get:
      operationId: web_agent
      tags:
      - Web Scraping
      summary: Browser agent
      description: 'Start an asynchronous browser agent: a hosted browser opens the page and the platform''s model chooses navigate, click, type or done for up to eight steps. Returns a job; poll /v1/web/jobs/{job_id} for the final page, the extracted answer and every step taken. Costs 10 credits per successful live response.'
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
        example: https://www.gov.uk/bank-holidays
        description: Page to start from (http/https)
      - name: prompt
        in: query
        required: true
        schema:
          type: string
        example: Find the date of the next bank holiday in England and Wales
        description: What the agent should do or find (up to 2,000 characters)
      - name: max_steps
        in: query
        required: false
        schema:
          type: string
        example: '6'
        description: Most actions to take, 1 to 8 (default 8)
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/web/agent.json
                      title: web/agent data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          description: Exact source identifier; preserve it as a string.
                        kind:
                          type:
                          - string
                          - 'null'
                          description: kind
                        status:
                          type:
                          - string
                          - 'null'
                          description: status
                        created_at:
                          type:
                          - string
                          - 'null'
                          description: created at
                        started_at:
                          type:
                          - string
                          - 'null'
                          description: started at
                        completed_at:
                          type:
                          - string
                          - 'null'
                          description: completed at
                        poll:
                          type:
                          - string
                          - 'null'
                          description: poll
                        refund_status:
                          type:
                          - string
                          - 'null'
                          description: refund status
                        credits_charged:
                          type:
                          - number
                          - 'null'
                          description: credits charged; null is unknown.
                        credits_refunded:
                          type:
                          - number
                          - 'null'
                          description: credits refunded; null is unknown.
                        attempts:
                          type:
                          - number
                          - 'null'
                          description: attempts; null is unknown.
                        progress:
                          type:
                          - object
                          - 'null'
                          properties: {}
                          additionalProperties: true
                        result:
                          type:
                          - object
                          - 'null'
                          properties: {}
                          additionalProperties: true
                        error:
                          type:
                          - string
                          - 'null'
                          description: Failure details if present.
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - id
                          properties:
                            id:
                              type:
                              - string
                              description: Exact source identifier; preserve it as a string.
                              minLength: 1
                        - required:
                          - created_at
                          properties:
                            created_at:
                              type:
                              - string
                              description: created at
                              minLength: 1
                        - required:
                          - started_at
                          properties:
                            started_at:
                              type:
                              - string
                              description: started at
                              minLength: 1
                        - required:
                          - completed_at
                          properties:
                            completed_at:
                              type:
                              - string
                              description: completed at
                              minLength: 1
                        - required:
                          - poll
                          properties:
                            poll:
                              type:
                              - string
                              description: poll
                              minLength: 1
                        - required:
                          - refund_status
                          properties:
                            refund_status:
                              type:
                              - string
                              description: refund status
                              minLength: 1
                        - required:
                          - credits_charged
                          properties:
                            credits_charged:
                              type:
                              - number
                              description: credits charged; null is unknown.
                        - required:
                          - credits_refunded
                          properties:
                            credits_refunded:
                              type:
                              - number
                              description: credits refunded; null is unknown.
                        - required:
                          - attempts
                          properties:
                            attempts:
                              type:
                              - number
                              description: attempts; null is unknown.
                        - required:
                          - progress
                          properties:
                            progress:
                              type:
                              - object
                              properties: {}
                              additionalProperties: true
                        - required:
                          - result
                          properties:
                            result:
                              type:
                              - object
                              properties: {}
                              additionalProperties: true
                        - required:
                          - error
                          properties:
                            error:
                              type:
                              - string
                              description: Failure details if present.
                              minLength: 1
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - id: job_example
                        status: queued
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 10
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/web/batch-scrape:
    get:
      operationId: web_batch_scrape
      tags:
      - Web Scraping
      summary: Start an async batch scrape
      description: Scrape up to 25 URLs in one background job and get a job id back immediately; individual URL failures are reported per item and never fail the batch. Costs 3 credits per successful live response.
      parameters:
      - name: urls
        in: query
        required: true
        schema:
          type: string
        example: https://example.com,https://www.iana.org
        description: Comma-separated list or JSON array of URLs to scrape (max 25 per job)
      - name: formats
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - markdown
            - text
            - links
        style: form
        explode: false
        example:
        - markdown
        description: 'Comma-separated subset of markdown,text,links (default markdown) Accepted values (comma-separated): markdown, text, links. Case, spaces, hyphens and underscores are interchangeable.'
      - name: only_main_content
        in: query
        required: false
        schema:
          type: string
        example: 'true'
        description: Render only the main content region of each page (default true)
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/web/batch-scrape.json
                      title: web/batch-scrape data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        job_id:
                          type: string
                          minLength: 1
                          description: Owner-scoped job identifier. Use check to read its status and result.
                        check:
                          type: string
                          minLength: 1
                          description: Relative GET path for this job. Authenticate with the same owning account.
                        status:
                          type: string
                          minLength: 1
                          description: Job status at enqueue time; this is not a completed crawl or batch result.
                        kind:
                          type: string
                          minLength: 1
                          description: 'Stored job kind: crawl or batch_scrape.'
                        created_at:
                          type:
                          - string
                          - 'null'
                          description: Source date or timestamp; absent dates remain unknown.
                        credits_charged:
                          type:
                          - number
                          - 'null'
                          description: Credits charged when the job was accepted.
                        params:
                          type: object
                          properties: {}
                          additionalProperties: true
                          description: Resolved job parameters, including applied defaults and limits.
                        _warnings:
                          type: array
                          items:
                            type: string
                      additionalProperties: true
                      required:
                      - job_id
                      - check
                      - status
                      - kind
                      - params
                      allOf:
                      - anyOf:
                        - required:
                          - job_id
                          properties:
                            job_id:
                              type: string
                              minLength: 1
                              description: Owner-scoped job identifier. Use check to read its status and result.
                        - required:
                          - check
                          properties:
                            check:
                              type: string
                              minLength: 1
                              description: Relative GET path for this job. Authenticate with the same owning account.
                        - required:
                          - created_at
                          properties:
                            created_at:
                              type:
                              - string
                              description: Source date or timestamp; absent dates remain unknown.
                              minLength: 1
                        - required:
                          - credits_charged
                          properties:
                            credits_charged:
                              type:
                              - number
                              description: Credits charged when the job was accepted.
                        - required:
                          - params
                          properties:
                            params:
                              type: object
                              properties: {}
                              additionalProperties: true
                              description: Resolved job parameters, including applied defaults and limits.
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - job_id: job_example
                        check: /v1/web/jobs/job_example
                        status: queued
                        kind: batch_scrape
                        params:
                          urls:
                          - https://example.com/
                          formats: markdown
                          only_main_content: true
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 3
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/web/crawl:
    get:
      operationId: web_crawl
      tags:
      - Web Scraping
      summary: Start an async web crawl
      description: Start a breadth-first same-site crawl and get a job id back immediately; poll /v1/web/jobs/{job_id} for the collected pages (url, title, markdown excerpt, status). Costs 5 credits per successful live response.
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
        example: https://example.com
        description: Seed URL to crawl (http/https, public hosts only)
      - name: limit
        in: query
        required: false
        schema:
          type: string
        example: '10'
        description: Maximum pages to fetch (default 10, cap 50)
      - name: max_depth
        in: query
        required: false
        schema:
          type: string
        example: '2'
        description: Link hops from the seed page (default 2, cap 3)
      - name: include_paths
        in: query
        required: false
        schema:
          type: string
        example: ^/blog/.*
        description: Comma-separated glob patterns; a discovered path must match at least one. * matches any characters, ^ and $ anchor, everything else is literal
      - name: exclude_paths
        in: query
        required: false
        schema:
          type: string
        example: /tag/*,/author/*
        description: Comma-separated glob patterns; a discovered path matching any of them is skipped
      - name: formats
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - markdown
            - text
            - links
        style: form
        explode: false
        example:
        - markdown
        description: 'Comma-separated subset of markdown,text,links (default markdown) Accepted values (comma-separated): markdown, text, links. Case, spaces, hyphens and underscores are interchangeable.'
      - name: only_main_content
        in: query
        required: false
        schema:
          type: string
        example: 'true'
        description: Render only the main content region of each page (default true)
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/web/crawl.json
                      title: web/crawl data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        job_id:
                          type: string
                          minLength: 1
                          description: Owner-scoped job identifier. Use check to read its status and result.
                        check:
                          type: string
                          minLength: 1
                          description: Relative GET path for this job. Authenticate with the same owning account.
                        status:
                          type: string
                          minLength: 1
                          description: Job status at enqueue time; this is not a completed crawl or batch result.
                        kind:
                          type: string
                          minLength: 1
                          description: 'Stored job kind: crawl or batch_scrape.'
                        created_at:
                          type:
                          - string
                          - 'null'
                          description: Source date or timestamp; absent dates remain unknown.
                        credits_charged:
                          type:
                          - number
                          - 'null'
                          description: Credits charged when the job was accepted.
                        params:
                          type: object
                          properties: {}
                          additionalProperties: true
                          description: Resolved job parameters, including applied defaults and limits.
                        _warnings:
                          type: array
                          items:
                            type: string
                      additionalProperties: true
                      required:
                      - job_id
                      - check
                      - status
                      - kind
                      - params
                      allOf:
                      - anyOf:
                        - required:
                          - job_id
                          properties:
                            job_id:
                              type: string
                              minLength: 1
                              description: Owner-scoped job identifier. Use check to read its status and result.
                        - required:
                          - check
                          properties:
                            check:
                              type: string
                              minLength: 1
                              description: Relative GET path for this job. Authenticate with the same owning account.
                        - required:
                          - created_at
                          properties:
                            created_at:
                              type:
                              - string
                              description: Source date or timestamp; absent dates remain unknown.
                              minLength: 1
                        - required:
                          - credits_charged
                          properties:
                            credits_charged:
                              type:
                              - number
                              description: Credits charged when the job was accepted.
                        - required:
                          - params
                          properties:
                            params:
                              type: object
                              properties: {}
                              additionalProperties: true
                              description: Resolved job parameters, including applied defaults and limits.
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - job_id: job_example
                        check: /v1/web/jobs/job_example
                        status: queued
                        kind: crawl
                        params:
                          url: https://example.com/
                          limit: 10
                          max_depth: 2
                          formats: markdown
                          only_main_content: true
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 5
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/web/extract:
    get:
      operationId: web_extract
      tags:
      - Web Scraping
      summary: Extract structured data from a web page
      description: 'Deterministic structured extraction from a public page: meta/Open Graph/Twitter tags, parsed JSON-LD blocks, canonical URL, feeds, and heading outline — no AI involved. Fetch modes: direct by default; browser, enhanced and rendered are deployment-gated and off by default. Requested output shapes are unchanged. An unavailable non-direct mode returns 424 rather than silently ignoring the requested mode. Costs 1 credit per successful live response.'
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
        example: https://example.com
        description: Page URL to extract from (http/https, public hosts only)
      - name: timeout
        in: query
        required: false
        schema:
          type: string
        example: '10000'
        description: Fetch budget in milliseconds, clamped to 1000-15000
      - name: fetch_mode
        in: query
        required: false
        schema:
          type: string
          enum:
          - direct
          - browser
          - enhanced
          - rendered
        example: direct
        description: 'Fetch mode: direct (default) reads static HTML; browser explicitly runs JavaScript in an owned, isolated browser. Enhanced and rendered try direct first and permit configured fallbacks. Non-direct modes require deployment enablement, an approved target and applicable resource or spending limits; otherwise the request is refused. Output formats are unchanged. Accepted values: direct, browser, enhanced, rendered. Case, spaces, hyphens and underscores are interchangeable.'
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/web/extract.json
                      title: web/extract data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        url:
                          type:
                          - string
                          - 'null'
                          description: url
                        final_url:
                          type:
                          - string
                          - 'null'
                          description: final url
                        title:
                          type:
                          - string
                          - 'null'
                          description: title
                        description:
                          type:
                          - string
                          - 'null'
                          description: description
                        text:
                          type:
                          - string
                          description: text
                          minLength: 1
                        markdown:
                          type:
                          - string
                          - 'null'
                          description: markdown
                        content:
                          type:
                          - object
                          - 'null'
                          properties: {}
                          additionalProperties: true
                        publication:
                          type:
                          - object
                          - 'null'
                          properties: {}
                          additionalProperties: true
                        metadata:
                          type:
                          - object
                          - 'null'
                          properties: {}
                          additionalProperties: true
                        _warnings:
                          type: array
                          items:
                            type:
                            - string
                            - 'null'
                            description: Source text.
                      additionalProperties: true
                      required:
                      - text
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - url: https://example.com/article
                        text: Illustrative article text.
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/web/jobs:
    get:
      operationId: web_jobs
      tags:
      - Web Scraping
      summary: List async web jobs
      description: List your asynchronous jobs, newest first, with keyset pagination. Free. Free — costs 0 credits.
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: string
        example: '25'
        description: Jobs per page (default 25, cap 100)
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Opaque cursor from the previous page; omit for the first page
      - name: status
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - queued
            - running
            - completed
            - failed
            - cancelled
        style: form
        explode: false
        example:
        - completed
        description: 'Filter by status: queued, running, completed, failed, cancelled (comma-separated for several) Accepted values (comma-separated): queued, running, completed, failed, cancelled. Case, spaces, hyphens and underscores are interchangeable.'
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/web/jobs.json
                      title: web/jobs data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        items:
                          type:
                          - array
                          items:
                            type: object
                            properties:
                              id:
                                type:
                                - string
                                - 'null'
                                description: id
                              kind:
                                type:
                                - string
                                - 'null'
                                description: kind
                              status:
                                type:
                                - string
                                - 'null'
                                description: status
                              error:
                                type:
                                - string
                                - 'null'
                                description: error
                              refund_status:
                                type:
                                - string
                                - 'null'
                                description: refund status
                              created_at:
                                type:
                                - string
                                - 'null'
                                description: created at
                              started_at:
                                type:
                                - string
                                - 'null'
                                description: started at
                              completed_at:
                                type:
                                - string
                                - 'null'
                                description: completed at
                              credits_charged:
                                type:
                                - number
                                - 'null'
                                description: credits charged
                              credits_refunded:
                                type:
                                - number
                                - 'null'
                                description: credits refunded
                              attempts:
                                type:
                                - number
                                - 'null'
                                description: attempts
                              params:
                                type:
                                - object
                                - 'null'
                                properties: {}
                                additionalProperties: true
                              progress:
                                type:
                                - object
                                - 'null'
                                properties: {}
                                additionalProperties: true
                              result:
                                description: Operation-specific JSON value; inspect the status and requested operation before reading it.
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - id
                                properties:
                                  id:
                                    type:
                                    - string
                                    description: id
                                    minLength: 1
                              - required:
                                - error
                                properties:
                                  error:
                                    type:
                                    - string
                                    description: error
                                    minLength: 1
                              - required:
                                - refund_status
                                properties:
                                  refund_status:
                                    type:
                                    - string
                                    description: refund status
                                    minLength: 1
                              - required:
                                - created_at
                                properties:
                                  created_at:
                                    type:
                                    - string
                                    description: created at
                                    minLength: 1
                              - required:
                                - started_at
                                properties:
                                  started_at:
                                    type:
                                    - string
                                    description: started at
                                    minLength: 1
                              - required:
                                - completed_at
                                properties:
                                  completed_at:
                                    type:
                                    - string
                                    description: completed at
                                    minLength: 1
                              - required:
                                - credits_charged
                                properties:
                                  credits_charged:
                                    type:
                                    - number
                                    description: credits charged
                              - required:
                                - credits_refunded
                                properties:
                                  credits_refunded:
                                    type:
                                    - number
                                    description: credits refunded
                              - required:
                                - attempts
                                properties:
                                  attempts:
                                    type:
                                    - number
                                    description: attempts
                              - required:
                                - params
                                properties:
                                  params:
                                    type:
                                    - object
                                    properties: {}
                                    additionalProperties: true
                              - required:
                                - progress
                                properties:
                                  progress:
                                    type:
                                    - object
                                    properties: {}
                                    additionalProperties: true
                              - required:
                                - result
                                properties:
                                  result:
                                    description: Operation-specific JSON value; inspect the status and requested operation before reading it.
                        count:
                          type:
                          - number
                          - 'null'
                        cursor:
                          type:
                          - string
                          - 'null'
                        has_more:
                          type:
                          - boolean
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - items: []
                        count: 0
                        cursor: null
                        has_more: false
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 0
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/web/jobs/cancel:
    get:
      operationId: web_jobs_cancel
      tags:
      - Web Scraping
      summary: Cancel a job
      description: Cancel one of your queued or running jobs. A queued job is refunded in full; a running job stops but its charge stands, because upstream work had already begun. Free — costs 0 credits.
      parameters:
      - name: job_id
        in: query
        required: true
        schema:
          type: string
        example: job_0123456789abcdef01234567
        description: Job id returned by /v1/web/crawl or /v1/web/batch-scrape
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/web/jobs/cancel.json
                      title: web/jobs/cancel data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          description: id
                        kind:
                          type:
                          - string
                          - 'null'
                          description: kind
                        status:
                          type:
                          - string
                          - 'null'
                          description: status
                        error:
                          type:
                          - string
                          - 'null'
                          description: error
                        refund_status:
                          type:
                          - string
                          - 'null'
                          description: refund status
                        created_at:
                          type:
                          - string
                          - 'null'
                          description: created at
                        started_at:
                          type:
                          - string
                          - 'null'
                          description: started at
                        completed_at:
                          type:
                          - string
                          - 'null'
                          description: completed at
                        credits_charged:
                          type:
                          - number
                          - 'null'
                          description: credits charged
                        credits_refunded:
                          type:
                          - number
                          - 'null'
                          description: credits refunded
                        attempts:
                          type:
                          - number
                          - 'null'
                          description: attempts
                        params:
                          type:
                          - object
                          - 'null'
                          properties: {}
                          additionalProperties: true
                        progress:
                          type:
                          - object
                          - 'null'
                          properties: {}
                          additionalProperties: true
                        result:
                          description: Operation-specific JSON value; inspect the status and requested operation before reading it.
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - id
                          properties:
                            id:
                              type:
                              - string
                              description: id
                              minLength: 1
                        - required:
                          - error
                          properties:
                            error:
                              type:
                              - string
                              description: error
                              minLength: 1
                        - required:
                          - refund_status
                          properties:
                            refund_status:
                              type:
                              - string
                              description: refund status
                              minLength: 1
                        - required:
                          - created_at
                          properties:
                            created_at:
                              type:
                              - string
                              description: created at
                              minLength: 1
                        - required:
                          - started_at
                          properties:
                            started_at:
                              type:
                              - string
                              description: started at
                              minLength: 1
                        - required:
                          - completed_at
                          properties:
                            completed_at:
                              type:
                              - string
                              description: completed at
                              minLength: 1
                        - required:
                          - credits_charged
                          properties:
                            credits_charged:
                              type:
                              - number
                              description: credits charged
                        - required:
                          - credits_refunded
                          properties:
                            credits_refunded:
                              type:
                              - number
                              description: credits refunded
                        - required:
                          - attempts
                          properties:
                            attempts:
                              type:
                              - number
                              description: attempts
                        - required:
                          - params
                          properties:
                            params:
                              type:
                              - object
                              properties: {}
                              additionalProperties: true
                        - required:
                          - progress
                          properties:
                            progress:
                              type:
                              - object
                              properties: {}
                              additionalProperties: true
                        - required:
                          - result
                          properties:
                            result:
                              description: Operation-specific JSON value; inspect the status and requested operation before reading it.
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - id: null
                        kind: null
                        status: null
                        error: null
                        refund_status: null
                        created_at: null
                        started_at: null
                        completed_at: null
                        credits_charged: 0
                        credits_refunded: 0
                        attempts: 0
                        params: {}
                        progress: {}
                        result: null
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 0
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/web/jobs/get:
    get:
      operationId: web_jobs_get
      tags:
      - Web Scraping
      summary: Get an async web job
      description: 'Fetch one of your jobs by id: status, progress, the result payload once it completes, and the error if it failed. Free. Free — costs 0 credits.'
      parameters:
      - name: job_id
        in: query
        required: true
        schema:
          type: string
        example: job_0123456789abcdef01234567
        description: Job id returned by /v1/web/crawl or /v1/web/batch-scrape
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/web/jobs/get.json
                      title: web/jobs/get data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          description: id
                        kind:
                          type:
                          - string
                          - 'null'
                          description: kind
                        status:
                          type:
                          - string
                          - 'null'
                          description: status
                        error:
                          type:
                          - string
                          - 'null'
                          description: error
                        refund_status:
                          type:
                          - string
                          - 'null'
                          description: refund status
                        created_at:
                          type:
                          - string
                          - 'null'
                          description: created at
                        started_at:
                          type:
                          - string
                          - 'null'
                          description: started at
                        completed_at:
                          type:
                          - string
                          - 'null'
                          description: completed at
                        credits_charged:
                          type:
                          - number
                          - 'null'
                          description: credits charged
                        credits_refunded:
                          type:
                          - number
                          - 'null'
                          description: credits refunded
                        attempts:
                          type:
                          - number
                          - 'null'
                          description: attempts
                        params:
                          type:
                          - object
                          - 'null'
                          properties: {}
                          additionalProperties: true
                        progress:
                          type:
                          - object
                          - 'null'
                          properties: {}
                          additionalProperties: true
                        result:
                          description: Operation-specific JSON value; inspect the status and requested operation before reading it.
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - id
                          properties:
                            id:
                              type:
                              - string
                              description: id
                              minLength: 1
                        - required:
                          - error
                          properties:
                            error:
                              type:
                              - string
                              description: error
                              minLength: 1
                        - required:
                          - refund_status
                          properties:
                            refund_status:
                              type:
                              - string
                              description: refund status
                              minLength: 1
                        - required:
                          - created_at
                          properties:
                            created_at:
                              type:
                              - string
                              description: created at
                              minLength: 1
                        - required:
                          - started_at
                          properties:
                            started_at:
                              type:
                              - string
                              description: started at
                              minLength: 1
                        - required:
                          - completed_at
                          properties:
                            completed_at:
                              type:
                              - string
                              description: completed at
                              minLength: 1
                        - required:
                          - credits_charged
                          properties:
                            credits_charged:
                              type:
                              - number
                              description: credits charged
                        - required:
                          - credits_refunded
                          properties:
                            credits_refunded:
                              type:
                              - number
                              description: credits refunded
                        - required:
                          - attempts
                          properties:
                            attempts:
                              type:
                              - number
                              description: attempts
                        - required:
                          - params
                          properties:
                            params:
                              type:
                              - object
                              properties: {}
                              additionalProperties: true
                        - required:
                          - progress
                          properties:
                            progress:
                              type:
                              - object
                              properties: {}
                              additionalProperties: true
                        - required:
                          - result
                          properties:
                            result:
                              description: Operation-specific JSON value; inspect the status and requested operation before reading it.
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - id: null
                        kind: null
                        status: null
                        error: null
                        refund_status: null
                        created_at: null
                        started_at: null
                        completed_at: null
                        credits_charged: 0
                        credits_refunded: 0
                        attempts: 0
                        params: {}
                        progress: {}
                        result: null
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 0
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/web/map:
    get:
      operationId: web_map
      tags:
      - Web Scraping
      summary: Map URLs on a site
      description: Discover a site's URLs from its sitemap.xml (one level of sitemap indexes) with same-origin page links as fallback. Costs 3 credits per successful live response.
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
        example: https://example.com
        description: Site URL to map (http/https, public hosts only)
      - name: search
        in: query
        required: false
        schema:
          type: string
        example: blog
        description: Only return URLs containing this text (case-insensitive)
      - name: limit
        in: query
        required: false
        schema:
          type: string
        example: '100'
        description: Maximum URLs to return (default 100, cap 500)
      - name: sitemap
        in: query
        required: false
        schema:
          type: string
          enum:
          - include
          - only
          - skip
        example: include
        description: 'Sitemap use: include (default: sitemap first, page links as fallback), only, or skip Accepted values: include, only, skip. Case, spaces, hyphens and underscores are interchangeable.'
      - name: include_subdomains
        in: query
        required: false
        schema:
          type: string
        example: 'false'
        description: Also include URLs on subdomains of the site
      - name: ignore_query_parameters
        in: query
        required: false
        schema:
          type: string
        example: 'false'
        description: Strip query strings before deduplicating URLs
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/web/map.json
                      title: web/map data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        _meta:
                          description: Optional  meta supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            billing:
                              description: Optional billing supplied by this operation. Null means unknown.
                              type:
                              - object
                              - 'null'
                              properties:
                                charged:
                                  description: Optional charged supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                list_price:
                                  description: Optional list price supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                reason:
                                  description: Optional reason supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              additionalProperties: true
                          additionalProperties: true
                        _warnings:
                          description: Optional  warnings supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        discovery:
                          description: Optional discovery supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            document_limit_bytes:
                              description: Optional document limit bytes supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            documents_fetched:
                              description: Optional documents fetched supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            max_documents:
                              description: Optional max documents supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            max_sitemaps:
                              description: Optional max sitemaps supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            time_limit_ms:
                              description: Optional time limit ms supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                          additionalProperties: true
                        items:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          items: {}
                        limit:
                          description: Optional limit supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        origin:
                          description: Optional origin supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        sources:
                          description: Optional sources supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        url:
                          description: Original source URL when supplied.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - _meta:
                          billing:
                            charged: 0
                            list_price: 0
                            reason: example
                        _warnings:
                        - example
                        count: 0
                        discovery:
                          document_limit_bytes: 0
                          documents_fetched: 0
                          max_documents: 0
                          max_sitemaps: 0
                          time_limit_ms: 0
                        items: []
                        limit: 0
                        origin: example
                        sources:
                        - example
                        url: https://example.com/example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 3
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/web/parse:
    get:
      operationId: web_parse
      tags:
      - Web Scraping
      summary: Parse a document
      description: Extract text and metadata from HTML, plain text, Markdown, CSV/TSV, JSON, XML and PDF. Read visible text from one static JPEG, PNG or WebP image up to 2 MB and 16 megapixels, including TikTok/Instagram post covers via data.cover_ocr. Empty PDF extraction is uncharged. Office files, archives and unsupported image formats return 422. Costs 2 credits per successful live response.
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
        example: https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf
        description: Public document URL. Also accepts one static JPEG, PNG or WebP image up to 2 MB and 16 megapixels for text extraction; other slides or video frames require separate requests.
      - name: timeout
        in: query
        required: false
        schema:
          type: string
        example: '10000'
        description: Fetch budget in milliseconds, clamped to 1000-15000
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/web/parse.json
                      title: web/parse data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        url:
                          type:
                          - string
                          - 'null'
                          description: url
                        final_url:
                          type:
                          - string
                          - 'null'
                          description: final url
                        content_type:
                          type:
                          - string
                          - 'null'
                          description: content type
                        detected_type:
                          type:
                          - string
                          - 'null'
                          description: detected type
                        detected_via:
                          type:
                          - string
                          - 'null'
                          description: detected via
                        text:
                          type:
                          - string
                          - 'null'
                          description: text
                        byte_size:
                          type:
                          - number
                          - 'null'
                          description: byte size; null is unknown.
                        text_length:
                          type:
                          - number
                          - 'null'
                          description: text length; null is unknown.
                        pages:
                          type:
                          - number
                          - 'null'
                          description: pages; null is unknown.
                        metadata:
                          type:
                          - object
                          - 'null'
                          properties: {}
                          additionalProperties: true
                        truncated:
                          type:
                          - boolean
                          - 'null'
                          description: Whether returned document text was cut short.
                        texts:
                          type: array
                          items:
                            type:
                            - string
                            - 'null'
                            description: Source text.
                        _warnings:
                          type: array
                          items:
                            type:
                            - string
                            - 'null'
                            description: Source text.
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - url
                          properties:
                            url:
                              type:
                              - string
                              description: url
                              minLength: 1
                        - required:
                          - final_url
                          properties:
                            final_url:
                              type:
                              - string
                              description: final url
                              minLength: 1
                        - required:
                          - content_type
                          properties:
                            content_type:
                              type:
                              - string
                              description: content type
                              minLength: 1
                        - required:
                          - detected_type
                          properties:
                            detected_type:
                              type:
                              - string
                              description: detected type
                              minLength: 1
                        - required:
                          - detected_via
                          properties:
                            detected_via:
                              type:
                              - string
                              description: detected via
                              minLength: 1
                        - required:
                          - text
                          properties:
                            text:
                              type:
                              - string
                              description: text
                              minLength: 1
                        - required:
                          - byte_size
                          properties:
                            byte_size:
                              type:
                              - number
                              description: byte size; null is unknown.
                        - required:
                          - text_length
                          properties:
                            text_length:
                              type:
                              - number
                              description: text length; null is unknown.
                        - required:
                          - pages
                          properties:
                            pages:
                              type:
                              - number
                              description: pages; null is unknown.
                        - required:
                          - metadata
                          properties:
                            metadata:
                              type:
                              - object
                              properties: {}
                              additionalProperties: true
                        - required:
                          - truncated
                          properties:
                            truncated:
                              type:
                              - boolean
                              description: Whether returned document text was cut short.
                        - required:
                          - texts
                          properties:
                            texts:
                              type: array
                              items:
                                type:
                                - string
                                - 'null'
                                description: Source text.
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - detected_type: image
                        text: Example visible text
                        texts:
                        - Example visible text
                        truncated: false
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 2
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/web/scrape:
    get:
      operationId: web_scrape
      tags:
      - Web Scraping
      summary: Scrape a web page
      description: 'Fetch a public web page and return its content as markdown, text, raw HTML, links, and/or page metadata. Fetch modes: direct by default; browser, enhanced and rendered are deployment-gated and off by default. Requested output shapes are unchanged. An unavailable non-direct mode returns 424 rather than silently ignoring the requested mode. Costs 1 credit per successful live response.'
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
        example: https://example.com
        description: Page URL to scrape (http/https, public hosts only)
      - name: formats
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - markdown
            - html
            - text
            - links
            - metadata
        style: form
        explode: false
        example:
        - markdown
        - metadata
        description: 'Comma-separated subset of markdown,html,text,links,metadata (default markdown,metadata) Accepted values (comma-separated): markdown, html, text, links, metadata. Case, spaces, hyphens and underscores are interchangeable.'
      - name: only_main_content
        in: query
        required: false
        schema:
          type: string
        example: 'true'
        description: Strip page chrome (nav/header/footer/aside) and return the main content region (default true)
      - name: timeout
        in: query
        required: false
        schema:
          type: string
        example: '10000'
        description: Fetch budget in milliseconds, clamped to 1000-15000
      - name: fetch_mode
        in: query
        required: false
        schema:
          type: string
          enum:
          - direct
          - browser
          - enhanced
          - rendered
        example: direct
        description: 'Fetch mode: direct (default) reads static HTML; browser explicitly runs JavaScript in an owned, isolated browser. Enhanced and rendered try direct first and permit configured fallbacks. Non-direct modes require deployment enablement, an approved target and applicable resource or spending limits; otherwise the request is refused. Output formats are unchanged. Accepted values: direct, browser, enhanced, rendered. Case, spaces, hyphens and underscores are interchangeable.'
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
[...]
