openapi: 3.2.0
info:
  title: Monocrawl Rightmove API
  version: 0.1.0
  description: One key, one envelope, one credit meter across social, search, commerce and web data.
  contact:
    name: Monocrawl support
    url: https://www.monocrawl.com/contact
  termsOfService: https://www.monocrawl.com/legal/terms-and-conditions
servers:
- url: https://www.monocrawl.com
security:
- ApiKeyHeader: []
tags:
- name: Rightmove
paths:
  /v1/rightmove/agents:
    get:
      operationId: rightmove_agents
      tags:
      - Rightmove
      summary: Rightmove estate agents
      description: 'The estate-agent branches in an area: brand, branch, summary, whether they sell or let, logo and telephone numbers. Costs 2 credits per successful live response.'
      parameters:
      - name: location
        in: query
        required: false
        schema:
          type: string
        example: Birmingham
        description: A postcode, town or area name; resolved once and remembered (or pass identifier)
      - name: identifier
        in: query
        required: false
        schema:
          type: string
        example: REGION^1036
        description: An area identifier from rightmove/locations
      - name: page
        in: query
        required: false
        schema:
          type: string
        example: '1'
        description: Page number (default 1). Use page or the returned cursor, not both.
      - name: radius
        in: query
        required: false
        schema:
          type: string
          enum:
          - '0'
          - '0.25'
          - '0.5'
          - '1'
          - '3'
          - '5'
          - '10'
          - '15'
          - '20'
          - '30'
          - '40'
        example: ''
        description: 'Miles around the area: 0, 0.25, 0.5, 1, 3, 5, 10, 15, 20, 30 or 40 Accepted values: 0, 0.25, 0.5, 1, 3, 5, 10, 15, 20, 30, 40. Case, spaces, hyphens and underscores are interchangeable.'
      - name: name
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Only branches whose name contains this
      - name: branch_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - sales
          - lettings
        example: ''
        description: 'The portal''s branch type filter Accepted values: sales, lettings. Case, spaces, hyphens and underscores are interchangeable.'
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Return the previous response cursor unchanged to continue with the same source. Keep the same location or identifier, radius, name and branch_type; omit page. Each fetched page costs the normal two credits.
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/rightmove/agents.json
                      title: rightmove/agents data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        cursor:
                          description: Opaque next-page token; pass it back unchanged. Null does not prove complete history.
                          type:
                          - string
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              branch:
                                description: Optional branch supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              description:
                                description: Source description; null or absent means not supplied.
                                type:
                                - string
                                - 'null'
                              display_name:
                                description: Optional display name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              estate_agent:
                                description: Optional estate agent supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              lettings:
                                description: Optional lettings supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              logo_url:
                                description: Optional logo url supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              phones:
                                description: Optional phones supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - object
                                  - 'null'
                                  properties: {}
                                  additionalProperties: true
                              platform:
                                description: Optional platform supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              sales:
                                description: Optional sales supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              summary:
                                description: Optional summary supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              type:
                                description: Optional type supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - branch
                                properties:
                                  branch:
                                    description: Optional branch supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - description
                                properties:
                                  description:
                                    description: Source description; null or absent means not supplied.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - display_name
                                properties:
                                  display_name:
                                    description: Optional display name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - estate_agent
                                properties:
                                  estate_agent:
                                    description: Optional estate agent supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - lettings
                                properties:
                                  lettings:
                                    description: Optional lettings supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                              - required:
                                - logo_url
                                properties:
                                  logo_url:
                                    description: Optional logo url supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - name
                                properties:
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - phones
                                properties:
                                  phones:
                                    description: Optional phones supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - object
                                      - 'null'
                                      properties: {}
                                      additionalProperties: true
                              - required:
                                - sales
                                properties:
                                  sales:
                                    description: Optional sales supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                              - required:
                                - summary
                                properties:
                                  summary:
                                    description: Optional summary supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    minLength: 1
                        location:
                          description: Optional location supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            identifier:
                              description: Optional identifier supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            name:
                              description: Optional name supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            type:
                              description: Optional type supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                          additionalProperties: true
                        page:
                          description: Optional page supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        total:
                          description: Source-reported total; null is unknown.
                          type:
                          - number
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - count: 0
                        cursor: null
                        has_more: false
                        items:
                        - branch: example
                          description: example
                          display_name: example
                          estate_agent: false
                          id: example
                          lettings: false
                          logo_url: https://example.com/example
                          name: example
                          phones:
                          - {}
                          platform: example
                          sales: false
                          summary: example
                          type: example
                          url: https://example.com/example
                        location:
                          identifier: example
                          name: example
                          type: example
                        page: 0
                        total: 0
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 2
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/rightmove/locations:
    get:
      operationId: rightmove_locations
      tags:
      - Rightmove
      summary: Rightmove area lookup
      description: The areas the portal knows for a name, each with the identifier the searches and the agents route take (REGION^…, OUTCODE^…, STATION^…). Costs 1 credit per successful live response.
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        example: SW3
        description: A postcode, town or area name
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/rightmove/locations.json
                      title: rightmove/locations data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              identifier:
                                description: Optional identifier supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              type:
                                description: Optional type supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - identifier
                                properties:
                                  identifier:
                                    description: Optional identifier supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - name
                                properties:
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                        query:
                          description: Optional query supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - count: 0
                        has_more: false
                        items:
                        - identifier: example
                          name: example
                          type: example
                        query: example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/rightmove/property:
    get:
      operationId: rightmove_property
      tags:
      - Rightmove
      summary: Rightmove property
      description: 'One listing''s page: title, address, price and qualifier, tenure and charges, council tax, description and key features, the utilities and risks the agent declared, nearest stations, photos, floorplans, EPC, brochures and the agent branch. Costs 3 credits per successful live response.'
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        example: '90874980'
        description: The listing number (or pass url, the listing's page)
      - name: url
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: The listing's page URL instead of an id
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/rightmove/property.json
                      title: rightmove/property data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        _warnings:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        added_on:
                          description: Optional added on supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        address:
                          description: Optional address supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        agent:
                          description: Optional agent supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            address:
                              description: Optional address supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            branch:
                              description: Optional branch supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            developer:
                              description: Optional developer supplied by this operation. Null means unknown.
                              type:
                              - boolean
                              - 'null'
                            display_name:
                              description: Optional display name supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            id:
                              description: Source identifier. Preserve the supplied type and exact value.
                              type:
                              - string
                              - 'null'
                            logo_url:
                              description: Optional logo url supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            name:
                              description: Optional name supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            phone:
                              description: Optional phone supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                          additionalProperties: true
                        available:
                          description: Optional available supplied by this operation. Null means unknown.
                          type:
                          - boolean
                          - 'null'
                        bathrooms:
                          description: Optional bathrooms supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        bedrooms:
                          description: Optional bedrooms supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        brochures:
                          description: Optional brochures supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              caption:
                                description: Optional caption supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        channel:
                          description: Optional channel supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        council_tax:
                          description: Optional council tax supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        description:
                          description: Source description; null or absent means not supplied.
                          type:
                          - string
                          - 'null'
                        epcs:
                          description: Optional epcs supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              caption:
                                description: Optional caption supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        features:
                          description: Optional features supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            accessibility:
                              description: Optional accessibility supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            broadband:
                              description: Optional broadband supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            electricity:
                              description: Optional electricity supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            garden:
                              description: Optional garden supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            heating:
                              description: Optional heating supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            parking:
                              description: Optional parking supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            sewerage:
                              description: Optional sewerage supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            water:
                              description: Optional water supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                          additionalProperties: true
                        floorplans:
                          description: Optional floorplans supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              caption:
                                description: Optional caption supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              thumbnail_url:
                                description: Optional thumbnail url supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        ground_rent:
                          description: Optional ground rent supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        id:
                          description: Source identifier. Preserve the supplied type and exact value.
                          type:
                          - string
                          - 'null'
                        key_features:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        latitude:
                          description: Optional latitude supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        lease_length:
                          description: Optional lease length supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        listing_update:
                          description: Optional listing update supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        longitude:
                          description: Optional longitude supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        map_url:
                          description: Optional map url supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        market_info_url:
                          description: Optional market info url supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        obligations:
                          description: Optional obligations supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            listed:
                              description: Optional listed supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            privateAccess:
                              description: Optional privateAccess supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            publicAccess:
                              description: Optional publicAccess supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            restrictions:
                              description: Optional restrictions supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                          additionalProperties: true
                        photos:
                          description: Optional photos supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              caption:
                                description: Optional caption supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              thumbnail_url:
                                description: Optional thumbnail url supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        pin:
                          description: Optional pin supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        platform:
                          description: Optional platform supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        postcode:
                          description: Optional postcode supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        price:
                          description: Source price. Currency, taxes and availability depend on the listing.
                          type:
                          - number
                          - 'null'
                        price_label:
                          description: Optional price label supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        property_category:
                          description: Optional property category supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        property_type:
                          description: Optional property type supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        risks:
                          description: Optional risks supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            floodDefences:
                              description: Optional floodDefences supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            floodHistory:
                              description: Optional floodHistory supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            floodRisk:
                              description: Optional floodRisk supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                          additionalProperties: true
                        school_checker_url:
                          description: Optional school checker url supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        service_charge:
                          description: Optional service charge supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        size:
                          description: Optional size supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        size_secondary:
                          description: Optional size secondary supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        sold_prices_url:
                          description: Optional sold prices url supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        stamp_duty:
                          description: Optional stamp duty supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            country:
                              description: Optional country supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            price:
                              description: Source price. Currency, taxes and availability depend on the listing.
                              type:
                              - number
                              - 'null'
                          additionalProperties: true
                        stations:
                          description: Optional stations supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              distance_miles:
                                description: Optional distance miles supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              type:
                                description: Optional type supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        street_view_url:
                          description: Optional street view url supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        tags:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        tenure:
                          description: Optional tenure supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        title:
                          description: Source title when supplied.
                          type:
                          - string
                          - 'null'
                        transaction:
                          description: Optional transaction supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        type:
                          description: Optional type supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        url:
                          description: Original source URL when supplied.
                          type:
                          - string
                          - 'null'
                        virtual_tours:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - added_on
                          properties:
                            added_on:
                              description: Optional added on supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - address
                          properties:
                            address:
                              description: Optional address supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - agent
                          properties:
                            agent:
                              description: Optional agent supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties:
                                address:
                                  description: Optional address supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                branch:
                                  description: Optional branch supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                developer:
                                  description: Optional developer supplied by this operation. Null means unknown.
                                  type:
                                  - boolean
                                  - 'null'
                                display_name:
                                  description: Optional display name supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                id:
                                  description: Source identifier. Preserve the supplied type and exact value.
                                  type:
                                  - string
                                  - 'null'
                                logo_url:
                                  description: Optional logo url supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                name:
                                  description: Optional name supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                phone:
                                  description: Optional phone supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              additionalProperties: true
                        - required:
                          - available
                          properties:
                            available:
                              description: Optional available supplied by this operation. Null means unknown.
                              type:
                              - boolean
                        - required:
                          - bathrooms
                          properties:
                            bathrooms:
                              description: Optional bathrooms supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - bedrooms
                          properties:
                            bedrooms:
                              description: Optional bedrooms supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - brochures
                          properties:
                            brochures:
                              description: Optional brochures supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  caption:
                                    description: Optional caption supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                        - required:
                          - channel
                          properties:
                            channel:
                              description: Optional channel supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - council_tax
                          properties:
                            council_tax:
                              description: Optional council tax supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - description
                          properties:
                            description:
                              description: Source description; null or absent means not supplied.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - epcs
                          properties:
                            epcs:
                              description: Optional epcs supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  caption:
                                    description: Optional caption supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                        - required:
                          - features
                          properties:
                            features:
                              description: Optional features supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties:
                                accessibility:
                                  description: Optional accessibility supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                broadband:
                                  description: Optional broadband supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                electricity:
                                  description: Optional electricity supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                garden:
                                  description: Optional garden supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                heating:
                                  description: Optional heating supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                parking:
                                  description: Optional parking supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                sewerage:
                                  description: Optional sewerage supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                water:
                                  description: Optional water supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              additionalProperties: true
                        - required:
                          - floorplans
                          properties:
                            floorplans:
                              description: Optional floorplans supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  caption:
                                    description: Optional caption supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  thumbnail_url:
                                    description: Optional thumbnail url supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                        - required:
                          - ground_rent
                          properties:
                            ground_rent:
                              description: Optional ground rent supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - id
                          properties:
                            id:
                              description: Source identifier. Preserve the supplied type and exact value.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - key_features
                          properties:
                            key_features:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              items: {}
                        - required:
                          - latitude
                          properties:
                            latitude:
                              description: Optional latitude supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - lease_length
                          properties:
                            lease_length:
                              description: Optional lease length supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - listing_update
                          properties:
                            listing_update:
                              description: Optional listing update supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - longitude
                          properties:
                            longitude:
                              description: Optional longitude supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - map_url
                          properties:
                            map_url:
                              description: Optional map url supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - market_info_url
                          properties:
                            market_info_url:
                              description: Optional market info url supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - obligations
                          properties:
                            obligations:
                              description: Optional obligations supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties:
                                listed:
                                  description: Optional listed supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                privateAccess:
                                  description: Optional privateAccess supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                publicAccess:
                                  description: Optional publicAccess supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                restrictions:
                                  description: Optional restrictions supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              additionalProperties: true
                        - required:
                          - photos
                          properties:
                            photos:
                              description: Optional photos supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  caption:
                                    description: Optional caption supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  thumbnail_url:
                                    description: Optional thumbnail url supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                        - required:
                          - pin
                          properties:
                            pin:
                              description: Optional pin supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - postcode
                          properties:
                            postcode:
                              description: Optional postcode supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - price
                          properties:
                            price:
                              description: Source price. Currency, taxes and availability depend on the listing.
                              type:
                              - number
                        - required:
                          - price_label
                          properties:
                            price_label:
                              description: Optional price label supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - property_category
                          properties:
                            property_category:
                              description: Optional property category supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - property_type
                          properties:
                            property_type:
                              description: Optional property type supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - risks
                          properties:
                            risks:
                              description: Optional risks supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties:
                                floodDefences:
                                  description: Optional floodDefences supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                floodHistory:
                                  description: Optional floodHistory supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                floodRisk:
                                  description: Optional floodRisk supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              additionalProperties: true
                        - required:
                          - school_checker_url
                          properties:
                            school_checker_url:
                              description: Optional school checker url supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - service_charge
                          properties:
                            service_charge:
                              description: Optional service charge supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - size
                          properties:
                            size:
                              description: Optional size supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - size_secondary
                          properties:
                            size_secondary:
                              description: Optional size secondary supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - sold_prices_url
                          properties:
                            sold_prices_url:
                              description: Optional sold prices url supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - stamp_duty
                          properties:
                            stamp_duty:
                              description: Optional stamp duty supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties:
                                country:
                                  description: Optional country supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                price:
                                  description: Source price. Currency, taxes and availability depend on the listing.
                                  type:
                                  - number
                                  - 'null'
                              additionalProperties: true
                        - required:
                          - stations
                          properties:
                            stations:
                              description: Optional stations supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  distance_miles:
                                    description: Optional distance miles supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  type:
                                    description: Optional type supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                        - required:
                          - street_view_url
                          properties:
                            street_view_url:
                              description: Optional street view url supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - tags
                          properties:
                            tags:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              items: {}
                        - required:
                          - tenure
                          properties:
                            tenure:
                              description: Optional tenure supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - title
                          properties:
                            title:
                              description: Source title when supplied.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - transaction
                          properties:
                            transaction:
                              description: Optional transaction supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - url
                          properties:
                            url:
                              description: Original source URL when supplied.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - virtual_tours
                          properties:
                            virtual_tours:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              items: {}
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - _warnings: []
                        added_on: example
                        address: example
                        agent:
                          address: example
                          branch: example
                          developer: false
                          display_name: example
                          id: example
                          logo_url: https://example.com/example
                          name: example
                          phone: example
                        available: false
                        bathrooms: 0
                        bedrooms: 0
                        brochures:
                        - caption: example
                          url: https://example.com/example
                        channel: example
                        council_tax: example
                        description: example
                        epcs:
                        - caption: example
                          url: https://example.com/example
                        features:
                          accessibility: example
                          broadband: example
                          electricity: example
                          garden: example
                          heating: example
                          parking: example
                          sewerage: example
                          water: example
                        floorplans:
                        - caption: example
                          thumbnail_url: https://example.com/example
                          url: https://example.com/example
                        ground_rent: example
                        id: example
                        key_features: []
                        latitude: 0
                        lease_length: example
                        listing_update: '2026-09-01T12:00:00Z'
                        longitude: 0
                        map_url: https://example.com/example
                        market_info_url: https://example.com/example
                        obligations:
                          listed: example
                          privateAccess: example
                          publicAccess: example
                          restrictions: example
                        photos:
                        - caption: example
                          thumbnail_url: https://example.com/example
                          url: https://example.com/example
                        pin: example
                        platform: example
                        postcode: example
                        price: 0
                        price_label: example
                        property_category: example
                        property_type: example
                        risks:
                          floodDefences: example
                          floodHistory: example
                          floodRisk: example
                        school_checker_url: https://example.com/example
                        service_charge: example
                        size: example
                        size_secondary: example
                        sold_prices_url: https://example.com/example
                        stamp_duty:
                          country: example
                          price: 0
                        stations:
                        - distance_miles: 0
                          name: example
                          type: example
                        street_view_url: https://example.com/example
                        tags: []
                        tenure: example
                        title: example
                        transaction: example
                        type: example
                        url: https://example.com/example
                        virtual_tours: []
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 3
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/rightmove/search-rent:
    get:
      operationId: rightmove_search_rent
      tags:
      - Rightmove
      summary: Rightmove homes to rent
      description: 'Homes to rent in an area: address, type, bedrooms, monthly rent and its labels, agent, photos, position and when it was listed; the portal''s featured homes beside them. Costs 3 credits per successful live response.'
      parameters:
      - name: location
        in: query
        required: false
        schema:
          type: string
        example: Manchester
        description: A postcode, town or area name; resolved to the portal's identifier once and remembered (or pass identifier)
      - name: identifier
        in: query
        required: false
        schema:
          type: string
        example: REGION^87490
        description: An area identifier from rightmove/locations
      - name: page
        in: query
        required: false
        schema:
          type: string
        example: '1'
        description: Page number
      - name: limit
        in: query
        required: false
        schema:
          type: string
        example: '25'
        description: Results per page, 1 to 100
      - name: radius
        in: query
        required: false
        schema:
          type: string
          enum:
          - '0'
          - '0.25'
          - '0.5'
          - '1'
          - '3'
          - '5'
          - '10'
          - '15'
          - '20'
          - '30'
          - '40'
        example: '1'
        description: 'Miles around the area: 0, 0.25, 0.5, 1, 3, 5, 10, 15, 20, 30 or 40 Accepted values: 0, 0.25, 0.5, 1, 3, 5, 10, 15, 20, 30, 40. Case, spaces, hyphens and underscores are interchangeable.'
      - name: min_price
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Minimum monthly rent in pounds
      - name: max_price
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Maximum monthly rent in pounds
      - name: min_bedrooms
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Minimum bedrooms
      - name: max_bedrooms
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Maximum bedrooms
      - name: property_type
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - detached
            - semi-detached
            - terraced
            - flat
            - bungalow
        style: form
        explode: false
        example:
        - flat
        description: 'detached, semi-detached, terraced, flat, bungalow; several separated by commas Accepted values (comma-separated): detached, semi-detached, terraced, flat, bungalow. Case, spaces, hyphens and underscores are interchangeable.'
      - name: sort
        in: query
        required: false
        schema:
          type: string
          enum:
          - newest
          - oldest
          - highest_price
          - lowest_price
        example: newest
        description: 'newest, oldest, highest_price or lowest_price Accepted values: newest, oldest, highest_price, lowest_price. Case, spaces, hyphens and underscores are interchangeable.'
      - name: keywords
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Words to prioritise, separated by commas
      - name: must_have
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - garden
            - parking
            - houseShare
            - retirement
            - student
        style: form
        explode: false
        example:
        - ''
        description: 'garden, parking, houseShare, retirement, student; separated by commas Accepted values (comma-separated): garden, parking, houseShare, retirement, student. Case, spaces, hyphens and underscores are interchangeable.'
      - name: dont_show
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - houseShare
            - retirement
            - student
        style: form
        explode: false
        example:
        - ''
        description: 'houseShare, retirement, student; separated by commas Accepted values (comma-separated): houseShare, retirement, student. Case, spaces, hyphens and underscores are interchangeable.'
      - name: furnished
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - furnished
            - partFurnished
            - unfurnished
        style: form
        explode: false
        example:
        - ''
        description: 'furnished, partFurnished, unfurnished; separated by commas Accepted values (comma-separated): furnished, partFurnished, unfurnished. Case, spaces, hyphens and underscores are interchangeable.'
      - name: let_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - longTerm
          - shortTerm
        example: ''
        description: 'longTerm or shortTerm Accepted values: longTerm, shortTerm. Case, spaces, hyphens and underscores are interchangeable.'
      - name: include_let_agreed
        in: query
        required: false
        schema:
          type: string
        example: 'false'
        description: Include homes already let agreed
      - name: added
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '3'
          - '7'
          - '14'
        example: ''
        description: 'Only homes added in the last 1, 3, 7 or 14 days Accepted values: 1, 3, 7, 14. Case, spaces, hyphens and underscores are interchangeable.'
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/rightmove/search-rent.json
                      title: rightmove/search-rent data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        channel:
                          description: Optional channel supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        cursor:
                          description: Opaque next-page token; pass it back unchanged. Null does not prove complete history.
                          type:
                          - string
                          - 'null'
                        featured:
                          description: Optional featured supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              address:
                                description: Optional address supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              agent:
                                description: Optional agent supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  branch:
                                    description: Optional branch supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  development:
                                    description: Optional development supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                                    - 'null'
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    - 'null'
                                  logo_url:
                                    description: Optional logo url supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
[...]
