openapi: 3.2.0
info:
  title: Monocrawl Kwai API
  version: 0.1.0
  description: One key, one envelope, one credit meter across social, search, commerce and web data.
  contact:
    name: Monocrawl support
    url: https://www.monocrawl.com/contact
  termsOfService: https://www.monocrawl.com/legal/terms-and-conditions
servers:
- url: https://www.monocrawl.com
security:
- ApiKeyHeader: []
tags:
- name: Kwai
paths:
  /v1/kwai/post:
    get:
      operationId: kwai_post
      tags:
      - Kwai
      summary: Kwai post
      description: One post with its counts, author and music. Costs 2 credits per successful live response.
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
        example: https://www.kwai.com/@KwaiBrasilOficial/photo/5222073878527655516
        description: Post URL
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/kwai/post.json
                      title: kwai/post data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        author:
                          description: Public author information supplied with this record.
                          type:
                          - object
                          - 'null'
                          properties:
                            handle:
                              description: Optional handle supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            name:
                              description: Optional name supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            verified:
                              description: Optional verified supplied by this operation. Null means unknown.
                              type:
                              - boolean
                              - 'null'
                          additionalProperties: true
                        caption:
                          description: Optional caption supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        cover_url:
                          description: Optional cover url supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        created_at:
                          description: Source creation time, not the API retrieval time.
                          type:
                          - string
                          - 'null'
                        id:
                          description: Source identifier. Preserve the supplied type and exact value.
                          type:
                          - string
                          - 'null'
                        music:
                          description: Optional music supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            artist:
                              description: Optional artist supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                          additionalProperties: true
                        platform:
                          description: Optional platform supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        stats:
                          description: Optional stats supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            comments:
                              description: Optional comments supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            likes:
                              description: Optional likes supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            shares:
                              description: Optional shares supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            views:
                              description: Optional views supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                          additionalProperties: true
                        url:
                          description: Original source URL when supplied.
                          type:
                          - string
                          - 'null'
                        video_url:
                          description: Optional video url supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - author
                          properties:
                            author:
                              description: Public author information supplied with this record.
                              type:
                              - object
                              properties:
                                handle:
                                  description: Optional handle supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                name:
                                  description: Optional name supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                verified:
                                  description: Optional verified supplied by this operation. Null means unknown.
                                  type:
                                  - boolean
                                  - 'null'
                              additionalProperties: true
                        - required:
                          - caption
                          properties:
                            caption:
                              description: Optional caption supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - cover_url
                          properties:
                            cover_url:
                              description: Optional cover url supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - created_at
                          properties:
                            created_at:
                              description: Source creation time, not the API retrieval time.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - id
                          properties:
                            id:
                              description: Source identifier. Preserve the supplied type and exact value.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - music
                          properties:
                            music:
                              description: Optional music supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties:
                                artist:
                                  description: Optional artist supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              additionalProperties: true
                        - required:
                          - stats
                          properties:
                            stats:
                              description: Optional stats supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties:
                                comments:
                                  description: Optional comments supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                likes:
                                  description: Optional likes supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                shares:
                                  description: Optional shares supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                views:
                                  description: Optional views supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                              additionalProperties: true
                        - required:
                          - url
                          properties:
                            url:
                              description: Original source URL when supplied.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - video_url
                          properties:
                            video_url:
                              description: Optional video url supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - author:
                          handle: example
                          name: example
                          verified: false
                        caption: example
                        cover_url: https://example.com/example
                        created_at: '2026-09-01T12:00:00Z'
                        id: example
                        music:
                          artist: example
                        platform: example
                        stats:
                          comments: 0
                          likes: 0
                          shares: 0
                          views: 0
                        url: https://example.com/example
                        video_url: https://example.com/example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 2
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/kwai/posts:
    get:
      operationId: kwai_posts
      tags:
      - Kwai
      summary: Kwai posts
      description: 'A user''s posts, one page at a time: caption, time, video and cover URLs, and view, like, comment and share counts. Costs 2 credits per successful live response.'
      parameters:
      - name: handle
        in: query
        required: true
        schema:
          type: string
        example: KwaiBrasilOficial
        description: Kwai handle (or pass url)
      - name: url
        in: query
        required: false
        schema:
          type: string
        example: https://www.kwai.com/@KwaiBrasilOficial
        description: Profile URL, instead of handle
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Opaque cursor from the previous page
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/kwai/posts.json
                      title: kwai/posts data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        cursor:
                          description: Opaque next-page token; pass it back unchanged. Null does not prove complete history.
                          type:
                          - string
                          - 'null'
                        dropped:
                          description: Optional dropped supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              author:
                                description: Public author information supplied with this record.
                                type:
                                - object
                                - 'null'
                                properties:
                                  handle:
                                    description: Optional handle supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  verified:
                                    description: Optional verified supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                                    - 'null'
                                additionalProperties: true
                              caption:
                                description: Optional caption supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              cover_url:
                                description: Optional cover url supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              created_at:
                                description: Source creation time, not the API retrieval time.
                                type:
                                - string
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              music:
                                description: Optional music supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  artist:
                                    description: Optional artist supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                              platform:
                                description: Optional platform supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              stats:
                                description: Optional stats supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  comments:
                                    description: Optional comments supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  likes:
                                    description: Optional likes supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  shares:
                                    description: Optional shares supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  views:
                                    description: Optional views supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                additionalProperties: true
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                              video_url:
                                description: Optional video url supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - author
                                properties:
                                  author:
                                    description: Public author information supplied with this record.
                                    type:
                                    - object
                                    properties:
                                      handle:
                                        description: Optional handle supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      name:
                                        description: Optional name supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      verified:
                                        description: Optional verified supplied by this operation. Null means unknown.
                                        type:
                                        - boolean
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - caption
                                properties:
                                  caption:
                                    description: Optional caption supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - cover_url
                                properties:
                                  cover_url:
                                    description: Optional cover url supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - created_at
                                properties:
                                  created_at:
                                    description: Source creation time, not the API retrieval time.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - music
                                properties:
                                  music:
                                    description: Optional music supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    properties:
                                      artist:
                                        description: Optional artist supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - stats
                                properties:
                                  stats:
                                    description: Optional stats supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    properties:
                                      comments:
                                        description: Optional comments supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      likes:
                                        description: Optional likes supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      shares:
                                        description: Optional shares supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      views:
                                        description: Optional views supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - url
                                properties:
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - video_url
                                properties:
                                  video_url:
                                    description: Optional video url supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - cursor: null
                        dropped: 0
                        has_more: false
                        items:
                        - author:
                            handle: example
                            name: example
                            verified: false
                          caption: example
                          cover_url: https://example.com/example
                          created_at: '2026-09-01T12:00:00Z'
                          id: example
                          music:
                            artist: example
                          platform: example
                          stats:
                            comments: 0
                            likes: 0
                            shares: 0
                            views: 0
                          url: https://example.com/example
                          video_url: https://example.com/example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 2
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/kwai/profile:
    get:
      operationId: kwai_profile
      tags:
      - Kwai
      summary: Kwai profile
      description: 'A public Kwai profile: handle, name, bio, verification, follower, following, like and post counts. Costs 2 credits per successful live response.'
      parameters:
      - name: handle
        in: query
        required: true
        schema:
          type: string
        example: KwaiBrasilOficial
        description: Kwai handle (or pass url)
      - name: url
        in: query
        required: false
        schema:
          type: string
        example: https://www.kwai.com/@KwaiBrasilOficial
        description: Profile URL, instead of handle
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/kwai/profile.json
                      title: kwai/profile data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        avatar_url:
                          description: Optional avatar url supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        bio:
                          description: Optional bio supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        followers:
                          description: Optional followers supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        following:
                          description: Optional following supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        handle:
                          description: Optional handle supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        id:
                          description: Source identifier. Preserve the supplied type and exact value.
                          type:
                          - string
                          - 'null'
                        likes:
                          description: Optional likes supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        name:
                          description: Optional name supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        platform:
                          description: Optional platform supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        posts:
                          description: Optional posts supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        private:
                          description: Optional private supplied by this operation. Null means unknown.
                          type:
                          - boolean
                          - 'null'
                        url:
                          description: Original source URL when supplied.
                          type:
                          - string
                          - 'null'
                        verified:
                          description: Optional verified supplied by this operation. Null means unknown.
                          type:
                          - boolean
                          - 'null'
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - avatar_url
                          properties:
                            avatar_url:
                              description: Optional avatar url supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - bio
                          properties:
                            bio:
                              description: Optional bio supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - followers
                          properties:
                            followers:
                              description: Optional followers supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - following
                          properties:
                            following:
                              description: Optional following supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - handle
                          properties:
                            handle:
                              description: Optional handle supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - id
                          properties:
                            id:
                              description: Source identifier. Preserve the supplied type and exact value.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - likes
                          properties:
                            likes:
                              description: Optional likes supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - name
                          properties:
                            name:
                              description: Optional name supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - posts
                          properties:
                            posts:
                              description: Optional posts supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - private
                          properties:
                            private:
                              description: Optional private supplied by this operation. Null means unknown.
                              type:
                              - boolean
                        - required:
                          - url
                          properties:
                            url:
                              description: Original source URL when supplied.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - verified
                          properties:
                            verified:
                              description: Optional verified supplied by this operation. Null means unknown.
                              type:
                              - boolean
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - avatar_url: https://example.com/example
                        bio: example
                        followers: 0
                        following: 0
                        handle: example
                        id: example
                        likes: 0
                        name: example
                        platform: example
                        posts: 0
                        private: false
                        url: https://example.com/example
                        verified: false
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 2
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
components:
  schemas:
    Success:
      type: object
      required:
      - success
      - platform
      - endpoint
      - data
      - credits_used
      - credits_remaining
      - request_id
      properties:
        _completeness:
          type: object
          description: Reported response completeness, not a guarantee of complete platform history. Missing source assertions remain unknown.
          properties:
            state:
              type: string
              enum:
              - complete
              - partial
              - unknown
            scope:
              type: string
            inspection_limited:
              type: boolean
        success:
          const: true
        platform:
          type: string
        endpoint:
          type: string
          description: The resolved path, e.g. `/v1/github/profile`.
        data:
          description: Amazon responses include marketplace.country and marketplace.domain (resolved request marketplace, UK by default). X profiles preserve location, bio_link and cover_url when supplied. TikTok profiles preserve commerce_user, seller, region, location and business_category when supplied; region identifies the account region rather than personal residence. TikTok comments use platform_default selection, which can change between fetches; keep the same video and options when following cursors. Amazon review variant is readable text. Facebook profiles preserve cover_url, following and created_at when supplied; likes_count and followers are distinct and follower totals may be rounded. Endpoint-specific normalized payload, not one universal post/profile schema. Many lists use items/count/cursor; a null cursor means no usable next cursor was supplied, not proof that all history was retrieved. Check has_more and warnings where present. Social full-profile bundles use posts_cursor and posts_pagination.next_params; retain all returned next parameters. YouTube channel bundles instead use recent_videos, cursor and recent_videos_pagination. Inspect complete/partial/legs where supplied for bounded or failed components. Optional model-derived fields are labelled, not source facts.
        credits_used:
          type: integer
        credits_remaining:
          type: integer
        request_id:
          type: string
        cached:
          type: boolean
        stale:
          type: boolean
          description: True only for an explicitly labelled, zero-credit reference snapshot served after a temporary upstream failure.
        age_seconds:
          type: integer
          minimum: 0
          description: Age of a stale snapshot since its original retrieval; not reset by outage recovery.
        fetched_at:
          type: string
          format: date-time
          description: Original retrieval time of a stale snapshot, in UTC.
        synthetic:
          type: boolean
          description: Present and true only on the explicitly requested /sandbox surface. Synthetic responses are representative and charged 0 credits; production /v1 never returns them.
        degraded:
          type: boolean
          description: Reserved for sandbox compatibility. Production /v1 reports upstream failure as an error and never serves a representative fallback.
    Error:
      type: object
      required:
      - success
      - error
      - credits_used
      - request_id
      properties:
        success:
          const: false
        error:
          type: object
          required:
          - type
          - message
          - status
          properties:
            type:
              type: string
              enum:
              - UNAUTHORIZED
              - KEY_REVOKED
              - KEY_LIMIT_EXCEEDED
              - RATE_LIMITED
              - INSUFFICIENT_CREDITS
              - RESOURCE_NOT_FOUND
              - INVALID_PARAMETERS
              - TARGET_ACCESS_DENIED
              - UPSTREAM_ERROR
              - UPSTREAM_TIMEOUT
              - FREE_CAPACITY_UNAVAILABLE
              - CAPACITY_UNAVAILABLE
              - ENDPOINT_NOT_FOUND
              - ENDPOINT_NOT_AVAILABLE
              - FAIR_USE_EXCEEDED
              - INTERNAL_ERROR
            message:
              type: string
            status:
              type: integer
            doc_url:
              type: string
              description: Deep link to the exact section of the errors guide for this type.
            details:
              type: object
        credits_used:
          type:
          - integer
          - 'null'
          description: Confirmed net charge; null when billing is pending reconciliation. Inspect error.details.billing_status and retain request_id.
        credits_remaining:
          type: integer
        request_id:
          type: string
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
      description: Your API key (`mn_…`), from the console. The recommended style.
    BearerKey:
      type: http
      scheme: bearer
      description: The same key as a Bearer token, for clients that only expose an Authorization field. Keys are never accepted in the query string — URLs leak into logs and referrers.
