openapi: 3.2.0
info:
  title: Monocrawl Telegram API
  version: 0.1.0
  description: One key, one envelope, one credit meter across social, search, commerce and web data.
  contact:
    name: Monocrawl support
    url: https://www.monocrawl.com/contact
  termsOfService: https://www.monocrawl.com/legal/terms-and-conditions
servers:
- url: https://www.monocrawl.com
security:
- ApiKeyHeader: []
tags:
- name: Telegram
paths:
  /v1/telegram/channel:
    get:
      operationId: telegram_channel
      tags:
      - Telegram
      summary: Telegram channel
      description: 'A public channel: name, description, avatar, verification, subscriber and member counts, and photo, video and link counts. Costs 2 credits per successful live response.'
      parameters:
      - name: handle
        in: query
        required: true
        schema:
          type: string
        example: telegram
        description: Public channel handle without the @
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/telegram/channel.json
                      title: telegram/channel data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        avatar_url:
                          description: Optional avatar url supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        description:
                          description: Source description; null or absent means not supplied.
                          type:
                          - string
                          - 'null'
                        handle:
                          description: Optional handle supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        link_count:
                          description: Optional link count supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        name:
                          description: Optional name supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        photo_count:
                          description: Optional photo count supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        platform:
                          description: Optional platform supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        subscribers:
                          description: Optional subscribers supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        url:
                          description: Original source URL when supplied.
                          type:
                          - string
                          - 'null'
                        verified:
                          description: Optional verified supplied by this operation. Null means unknown.
                          type:
                          - boolean
                          - 'null'
                        video_count:
                          description: Optional video count supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - avatar_url
                          properties:
                            avatar_url:
                              description: Optional avatar url supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - description
                          properties:
                            description:
                              description: Source description; null or absent means not supplied.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - handle
                          properties:
                            handle:
                              description: Optional handle supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - link_count
                          properties:
                            link_count:
                              description: Optional link count supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - name
                          properties:
                            name:
                              description: Optional name supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - photo_count
                          properties:
                            photo_count:
                              description: Optional photo count supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - subscribers
                          properties:
                            subscribers:
                              description: Optional subscribers supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - url
                          properties:
                            url:
                              description: Original source URL when supplied.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - verified
                          properties:
                            verified:
                              description: Optional verified supplied by this operation. Null means unknown.
                              type:
                              - boolean
                        - required:
                          - video_count
                          properties:
                            video_count:
                              description: Optional video count supplied by this operation. Null means unknown.
                              type:
                              - number
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - avatar_url: https://example.com/example
                        description: example
                        handle: example
                        link_count: 0
                        name: example
                        photo_count: 0
                        platform: example
                        subscribers: 0
                        url: https://example.com/example
                        verified: false
                        video_count: 0
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 2
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/telegram/channel-posts:
    get:
      operationId: telegram_channel_posts
      tags:
      - Telegram
      summary: Telegram channel posts
      description: A channel's posts, one page at a time, with text, time, views, reactions and forwards, plus the channel summary. Costs 2 credits per successful live response.
      parameters:
      - name: handle
        in: query
        required: true
        schema:
          type: string
        example: telegram
        description: Public channel handle without the @
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Opaque cursor from the previous page
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/telegram/channel-posts.json
                      title: telegram/channel-posts data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        channel:
                          description: Optional channel supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            avatar_url:
                              description: Optional avatar url supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            description:
                              description: Source description; null or absent means not supplied.
                              type:
                              - string
                              - 'null'
                            handle:
                              description: Optional handle supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            link_count:
                              description: Optional link count supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            name:
                              description: Optional name supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            photo_count:
                              description: Optional photo count supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            platform:
                              description: Optional platform supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            subscribers:
                              description: Optional subscribers supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            url:
                              description: Original source URL when supplied.
                              type:
                              - string
                              - 'null'
                            verified:
                              description: Optional verified supplied by this operation. Null means unknown.
                              type:
                              - boolean
                              - 'null'
                            video_count:
                              description: Optional video count supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                          additionalProperties: true
                        cursor:
                          description: Opaque next-page token; pass it back unchanged. Null does not prove complete history.
                          type:
                          - string
                          - 'null'
                        dropped:
                          description: Optional dropped supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              author_name:
                                description: Optional author name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              author_url:
                                description: Optional author url supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              channel:
                                description: Optional channel supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              media_count:
                                description: Optional media count supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              platform:
                                description: Optional platform supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              published_at:
                                description: Source publication time when available.
                                type:
                                - string
                                - 'null'
                              reaction_count:
                                description: Optional reaction count supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              reactions:
                                description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                type:
                                - array
                                - 'null'
                                items: {}
                              text:
                                description: Source text when supplied.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                              views:
                                description: Optional views supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - author_name
                                properties:
                                  author_name:
                                    description: Optional author name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - author_url
                                properties:
                                  author_url:
                                    description: Optional author url supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - channel
                                properties:
                                  channel:
                                    description: Optional channel supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - media_count
                                properties:
                                  media_count:
                                    description: Optional media count supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - published_at
                                properties:
                                  published_at:
                                    description: Source publication time when available.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - reaction_count
                                properties:
                                  reaction_count:
                                    description: Optional reaction count supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - reactions
                                properties:
                                  reactions:
                                    description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                    type:
                                    - array
                                    items: {}
                              - required:
                                - text
                                properties:
                                  text:
                                    description: Source text when supplied.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - views
                                properties:
                                  views:
                                    description: Optional views supplied by this operation. Null means unknown.
                                    type:
                                    - number
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - channel:
                          avatar_url: https://example.com/example
                          description: example
                          handle: example
                          link_count: 0
                          name: example
                          photo_count: 0
                          platform: example
                          subscribers: 0
                          url: https://example.com/example
                          verified: false
                          video_count: 0
                        cursor: null
                        dropped: 0
                        has_more: false
                        items:
                        - author_name: example
                          author_url: https://example.com/example
                          channel: example
                          id: example
                          media_count: 0
                          platform: example
                          published_at: '2026-09-01T12:00:00Z'
                          reaction_count: 0
                          reactions: []
                          text: example
                          url: https://example.com/example
                          views: 0
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 2
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/telegram/post:
    get:
      operationId: telegram_post
      tags:
      - Telegram
      summary: Telegram post
      description: 'One channel post: text, time, views, reactions, forward origin and media count. Costs 2 credits per successful live response.'
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
        example: https://t.me/telegram/100
        description: Post URL
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/telegram/post.json
                      title: telegram/post data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        author_name:
                          description: Optional author name supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        author_url:
                          description: Optional author url supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        channel:
                          description: Optional channel supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        id:
                          description: Source identifier. Preserve the supplied type and exact value.
                          type:
                          - string
                          - 'null'
                        media_count:
                          description: Optional media count supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        platform:
                          description: Optional platform supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        published_at:
                          description: Source publication time when available.
                          type:
                          - string
                          - 'null'
                        reaction_count:
                          description: Optional reaction count supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        reactions:
                          description: Optional reactions supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              count:
                                description: Number of records in this response, not lifetime or total matches.
                                type:
                                - number
                                - 'null'
                              count_text:
                                description: Optional count text supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              emoji:
                                description: Optional emoji supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              emoji_id:
                                description: Optional emoji id supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        text:
                          description: Source text when supplied.
                          type:
                          - string
                          - 'null'
                        url:
                          description: Original source URL when supplied.
                          type:
                          - string
                          - 'null'
                        views:
                          description: Optional views supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - author_name
                          properties:
                            author_name:
                              description: Optional author name supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - author_url
                          properties:
                            author_url:
                              description: Optional author url supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - channel
                          properties:
                            channel:
                              description: Optional channel supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - id
                          properties:
                            id:
                              description: Source identifier. Preserve the supplied type and exact value.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - media_count
                          properties:
                            media_count:
                              description: Optional media count supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - published_at
                          properties:
                            published_at:
                              description: Source publication time when available.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - reaction_count
                          properties:
                            reaction_count:
                              description: Optional reaction count supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - reactions
                          properties:
                            reactions:
                              description: Optional reactions supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  count:
                                    description: Number of records in this response, not lifetime or total matches.
                                    type:
                                    - number
                                    - 'null'
                                  count_text:
                                    description: Optional count text supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  emoji:
                                    description: Optional emoji supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  emoji_id:
                                    description: Optional emoji id supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                        - required:
                          - text
                          properties:
                            text:
                              description: Source text when supplied.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - url
                          properties:
                            url:
                              description: Original source URL when supplied.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - views
                          properties:
                            views:
                              description: Optional views supplied by this operation. Null means unknown.
                              type:
                              - number
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - author_name: example
                        author_url: https://example.com/example
                        channel: example
                        id: example
                        media_count: 0
                        platform: example
                        published_at: '2026-09-01T12:00:00Z'
                        reaction_count: 0
                        reactions:
                        - count: 0
                          count_text: example
                          emoji: example
                          emoji_id: example
                        text: example
                        url: https://example.com/example
                        views: 0
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 2
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
components:
  schemas:
    Error:
      type: object
      required:
      - success
      - error
      - credits_used
      - request_id
      properties:
        success:
          const: false
        error:
          type: object
          required:
          - type
          - message
          - status
          properties:
            type:
              type: string
              enum:
              - UNAUTHORIZED
              - KEY_REVOKED
              - KEY_LIMIT_EXCEEDED
              - RATE_LIMITED
              - INSUFFICIENT_CREDITS
              - RESOURCE_NOT_FOUND
              - INVALID_PARAMETERS
              - TARGET_ACCESS_DENIED
              - UPSTREAM_ERROR
              - UPSTREAM_TIMEOUT
              - FREE_CAPACITY_UNAVAILABLE
              - CAPACITY_UNAVAILABLE
              - ENDPOINT_NOT_FOUND
              - ENDPOINT_NOT_AVAILABLE
              - FAIR_USE_EXCEEDED
              - INTERNAL_ERROR
            message:
              type: string
            status:
              type: integer
            doc_url:
              type: string
              description: Deep link to the exact section of the errors guide for this type.
            details:
              type: object
        credits_used:
          type:
          - integer
          - 'null'
          description: Confirmed net charge; null when billing is pending reconciliation. Inspect error.details.billing_status and retain request_id.
        credits_remaining:
          type: integer
        request_id:
          type: string
    Success:
      type: object
      required:
      - success
      - platform
      - endpoint
      - data
      - credits_used
      - credits_remaining
      - request_id
      properties:
        _completeness:
          type: object
          description: Reported response completeness, not a guarantee of complete platform history. Missing source assertions remain unknown.
          properties:
            state:
              type: string
              enum:
              - complete
              - partial
              - unknown
            scope:
              type: string
            inspection_limited:
              type: boolean
        success:
          const: true
        platform:
          type: string
        endpoint:
          type: string
          description: The resolved path, e.g. `/v1/github/profile`.
        data:
          description: Amazon responses include marketplace.country and marketplace.domain (resolved request marketplace, UK by default). X profiles preserve location, bio_link and cover_url when supplied. TikTok profiles preserve commerce_user, seller, region, location and business_category when supplied; region identifies the account region rather than personal residence. TikTok comments use platform_default selection, which can change between fetches; keep the same video and options when following cursors. Amazon review variant is readable text. Facebook profiles preserve cover_url, following and created_at when supplied; likes_count and followers are distinct and follower totals may be rounded. Endpoint-specific normalized payload, not one universal post/profile schema. Many lists use items/count/cursor; a null cursor means no usable next cursor was supplied, not proof that all history was retrieved. Check has_more and warnings where present. Social full-profile bundles use posts_cursor and posts_pagination.next_params; retain all returned next parameters. YouTube channel bundles instead use recent_videos, cursor and recent_videos_pagination. Inspect complete/partial/legs where supplied for bounded or failed components. Optional model-derived fields are labelled, not source facts.
        credits_used:
          type: integer
        credits_remaining:
          type: integer
        request_id:
          type: string
        cached:
          type: boolean
        stale:
          type: boolean
          description: True only for an explicitly labelled, zero-credit reference snapshot served after a temporary upstream failure.
        age_seconds:
          type: integer
          minimum: 0
          description: Age of a stale snapshot since its original retrieval; not reset by outage recovery.
        fetched_at:
          type: string
          format: date-time
          description: Original retrieval time of a stale snapshot, in UTC.
        synthetic:
          type: boolean
          description: Present and true only on the explicitly requested /sandbox surface. Synthetic responses are representative and charged 0 credits; production /v1 never returns them.
        degraded:
          type: boolean
          description: Reserved for sandbox compatibility. Production /v1 reports upstream failure as an error and never serves a representative fallback.
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
      description: Your API key (`mn_…`), from the console. The recommended style.
    BearerKey:
      type: http
      scheme: bearer
      description: The same key as a Bearer token, for clients that only expose an Authorization field. Keys are never accepted in the query string — URLs leak into logs and referrers.
