openapi: 3.2.0
info:
  title: Monocrawl Tik Tok API
  version: 0.1.0
  description: One key, one envelope, one credit meter across social, search, commerce and web data.
  contact:
    name: Monocrawl support
    url: https://www.monocrawl.com/contact
  termsOfService: https://www.monocrawl.com/legal/terms-and-conditions
servers:
- url: https://www.monocrawl.com
security:
- ApiKeyHeader: []
tags:
- name: tiktok
paths:
  /v1/tiktok/ads-top:
    get:
      operationId: tiktok_ads_top
      tags:
      - tiktok
      summary: Popular TikTok ads
      description: Creative Center popular ad selection. Includes public creative assets and source metrics. Cost bucket is not currency or spend; CTR is returned as supplied. Costs 1 credit per successful live response.
      parameters:
      - name: country
        in: query
        required: false
        schema:
          type: string
        example: US
        description: Two-letter uppercase country.
      - name: period
        in: query
        required: false
        schema:
          type: string
          enum:
          - '7'
          - '30'
          - '180'
        example: '7'
        description: 'Source window: 7, 30 or 180 days. Accepted values: 7, 30, 180. Case, spaces, hyphens and underscores are interchangeable.'
      - name: page
        in: query
        required: false
        schema:
          type: string
        example: '1'
        description: Page number, 1-100.
      - name: limit
        in: query
        required: false
        schema:
          type: string
        example: '20'
        description: Requested page size, 1–20 (default 20); the source may return fewer.
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/tiktok/ads-top.json
                      title: tiktok/ads-top data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        _warnings:
                          description: Optional  warnings supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        country:
                          description: Optional country supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              brand_name:
                                description: Optional brand name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              cost_bucket:
                                description: Optional cost bucket supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              ctr:
                                description: Optional ctr supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              duration_seconds:
                                description: Optional duration seconds supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              industry_key:
                                description: Optional industry key supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              likes:
                                description: Optional likes supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              objective_key:
                                description: Optional objective key supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              platform:
                                description: Optional platform supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              text:
                                description: Source text when supplied.
                                type:
                                - string
                                - 'null'
                              thumbnail_url:
                                description: Optional thumbnail url supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              video_urls:
                                description: Optional video urls supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties: {}
                                additionalProperties: true
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - brand_name
                                properties:
                                  brand_name:
                                    description: Optional brand name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - cost_bucket
                                properties:
                                  cost_bucket:
                                    description: Optional cost bucket supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - ctr
                                properties:
                                  ctr:
                                    description: Optional ctr supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - duration_seconds
                                properties:
                                  duration_seconds:
                                    description: Optional duration seconds supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - industry_key
                                properties:
                                  industry_key:
                                    description: Optional industry key supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - likes
                                properties:
                                  likes:
                                    description: Optional likes supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - objective_key
                                properties:
                                  objective_key:
                                    description: Optional objective key supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - text
                                properties:
                                  text:
                                    description: Source text when supplied.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - thumbnail_url
                                properties:
                                  thumbnail_url:
                                    description: Optional thumbnail url supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - video_urls
                                properties:
                                  video_urls:
                                    description: Optional video urls supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    properties: {}
                                    additionalProperties: true
                        next_page:
                          description: Optional next page supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        page:
                          description: Optional page supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        period:
                          description: Optional period supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - _warnings:
                        - example
                        count: 0
                        country: example
                        has_more: false
                        items:
                        - brand_name: example
                          cost_bucket: 0
                          ctr: 0
                          duration_seconds: 0
                          id: example
                          industry_key: example
                          likes: 0
                          objective_key: example
                          platform: example
                          text: example
                          thumbnail_url: https://example.com/example
                          video_urls: {}
                        next_page: 0
                        page: 0
                        period: 0
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/tiktok/collection-videos:
    get:
      operationId: tiktok_collection_videos
      tags:
      - tiktok
      summary: TikTok collection videos
      description: The videos saved to a public collection, one page at a time, with the same video shape as the rest of the TikTok routes. Costs 1 credit per successful live response.
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
        example: https://www.tiktok.com/@tiktok/collection/favorites-7442134949027351314
        description: Collection URL
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Opaque cursor from the previous page
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: judgments
        in: query
        required: false
        schema:
          type: string
          enum:
          - 'on'
          - 'off'
        example: 'on'
        description: 'Add bounded AI labels to eligible returned records (default on). off preserves the original data shape. Unclassified records remain present; labels depend on evidence, time, capacity and the existing request budget. No label surcharge. Accepted values: on, off. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label
        in: query
        required: false
        schema:
          type: string
          enum:
          - default
          - none
        example: none
        description: 'Set none to disable labels; default enables the endpoint’s label set. Equivalent to judgments=off. Accepted values: default, none. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label_evidence
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Include exact supporting sentences and zero-based sentence indexes when a label has validated evidence. No extra charge or change to decisions. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: exclude
        in: query
        required: false
        schema:
          type: string
          enum:
          - engagement_bait
        example: engagement_bait
        description: 'Optionally remove confidently labelled engagement bait. Uncertain and unclassified records stay; removed IDs and an owner-bound recall reference are returned. Accepted values: engagement_bait. Case, spaces, hyphens and underscores are interchangeable.'
      - name: fit
        in: query
        required: false
        schema:
          type: string
          enum:
          - goal
        example: goal
        description: 'Use goal to replace confidently irrelevant records with recall stubs. Keeps first, last, relevant and uncertain records; preserves order. Full evidence is stored for 24 hours when available. Accepted values: goal. Case, spaces, hyphens and underscores are interchangeable.'
      - name: goal
        in: query
        required: false
        schema:
          type: string
        example: Find concrete product complaints
        description: 'Required with fit=goal: describe the task in at most 600 characters. Supplied text is task context, never permission to act on posts.'
      - name: tokens
        in: query
        required: false
        schema:
          type: string
        example: '4000'
        description: Optional soft response target for fit=goal, 256–32000. Safety and evidence retention take priority, so the returned result may exceed it.
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/tiktok/collection-videos.json
                      title: tiktok/collection-videos data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        collection_id:
                          description: Optional collection id supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        dropped:
                          description: Optional dropped supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              author:
                                description: Public author information supplied with this record.
                                type:
                                - object
                                - 'null'
                                properties:
                                  avatar_url:
                                    description: Optional avatar url supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  followers:
                                    description: Optional followers supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  handle:
                                    description: Optional handle supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    - 'null'
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  private:
                                    description: Optional private supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                                    - 'null'
                                  verified:
                                    description: Optional verified supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                                    - 'null'
                                additionalProperties: true
                              caption:
                                description: Optional caption supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              created_at:
                                description: Source creation time, not the API retrieval time.
                                type:
                                - string
                                - 'null'
                              duration_s:
                                description: Optional duration s supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              hashtags:
                                description: Optional hashtags supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - object
                                  - 'null'
                                  properties: {}
                                  additionalProperties: true
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              images:
                                description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                type:
                                - array
                                - 'null'
                                items: {}
                              is_ad:
                                description: Optional is ad supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              media_urls:
                                description: Optional media urls supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              music:
                                description: Optional music supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  author:
                                    description: Public author information supplied with this record.
                                    type:
                                    - string
                                    - 'null'
                                  cover_url:
                                    description: Optional cover url supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  duration_s:
                                    description: Optional duration s supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    - 'null'
                                  is_original:
                                    description: Optional is original supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                                    - 'null'
                                  play_url:
                                    description: Optional play url supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  title:
                                    description: Source title when supplied.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                              platform:
                                description: Optional platform supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              stats:
                                description: Optional stats supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  comments:
                                    description: Optional comments supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  likes:
                                    description: Optional likes supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  plays:
                                    description: Optional plays supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  saves:
                                    description: Optional saves supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  shares:
                                    description: Optional shares supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                additionalProperties: true
                              thumbnail_url:
                                description: Optional thumbnail url supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                              video_url:
                                description: Optional video url supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - author
                                properties:
                                  author:
                                    description: Public author information supplied with this record.
                                    type:
                                    - object
                                    properties:
                                      avatar_url:
                                        description: Optional avatar url supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      followers:
                                        description: Optional followers supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      handle:
                                        description: Optional handle supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      id:
                                        description: Source identifier. Preserve the supplied type and exact value.
                                        type:
                                        - string
                                        - 'null'
                                      name:
                                        description: Optional name supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      private:
                                        description: Optional private supplied by this operation. Null means unknown.
                                        type:
                                        - boolean
                                        - 'null'
                                      verified:
                                        description: Optional verified supplied by this operation. Null means unknown.
                                        type:
                                        - boolean
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - caption
                                properties:
                                  caption:
                                    description: Optional caption supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - created_at
                                properties:
                                  created_at:
                                    description: Source creation time, not the API retrieval time.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - duration_s
                                properties:
                                  duration_s:
                                    description: Optional duration s supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - hashtags
                                properties:
                                  hashtags:
                                    description: Optional hashtags supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - object
                                      - 'null'
                                      properties: {}
                                      additionalProperties: true
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - images
                                properties:
                                  images:
                                    description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                    type:
                                    - array
                                    items: {}
                              - required:
                                - is_ad
                                properties:
                                  is_ad:
                                    description: Optional is ad supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                              - required:
                                - media_urls
                                properties:
                                  media_urls:
                                    description: Optional media urls supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - string
                                      - 'null'
                              - required:
                                - music
                                properties:
                                  music:
                                    description: Optional music supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    properties:
                                      author:
                                        description: Public author information supplied with this record.
                                        type:
                                        - string
                                        - 'null'
                                      cover_url:
                                        description: Optional cover url supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      duration_s:
                                        description: Optional duration s supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      id:
                                        description: Source identifier. Preserve the supplied type and exact value.
                                        type:
                                        - string
                                        - 'null'
                                      is_original:
                                        description: Optional is original supplied by this operation. Null means unknown.
                                        type:
                                        - boolean
                                        - 'null'
                                      play_url:
                                        description: Optional play url supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      title:
                                        description: Source title when supplied.
                                        type:
                                        - string
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - stats
                                properties:
                                  stats:
                                    description: Optional stats supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    properties:
                                      comments:
                                        description: Optional comments supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      likes:
                                        description: Optional likes supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      plays:
                                        description: Optional plays supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      saves:
                                        description: Optional saves supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      shares:
                                        description: Optional shares supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - thumbnail_url
                                properties:
                                  thumbnail_url:
                                    description: Optional thumbnail url supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - video_url
                                properties:
                                  video_url:
                                    description: Optional video url supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - collection_id: example
                        count: 0
                        dropped: 0
                        has_more: false
                        items:
                        - author:
                            avatar_url: https://example.com/example
                            followers: 0
                            handle: example
                            id: example
                            name: example
                            private: false
                            verified: false
                          caption: example
                          created_at: '2026-09-01T12:00:00Z'
                          duration_s: 0
                          hashtags:
                          - {}
                          id: example
                          images: []
                          is_ad: false
                          media_urls:
                          - example
                          music:
                            author: example
                            cover_url: https://example.com/example
                            duration_s: 0
                            id: example
                            is_original: false
                            play_url: https://example.com/example
                            title: example
                          platform: example
                          stats:
                            comments: 0
                            likes: 0
                            plays: 0
                            saves: 0
                            shares: 0
                          thumbnail_url: https://example.com/example
                          url: https://example.com/example
                          video_url: https://example.com/example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/tiktok/comment:
    get:
      operationId: tiktok_comment
      tags:
      - tiktok
      summary: Find a tiktok comment
      description: Bounded comment lookup within a specified post or parent thread. Returns found, comment, comments_scanned, search_complete and next_params. A completed paid scan may return found=false; this does not establish deletion. Each successful fresh scanned page costs at least 5 credits (or the underlying price if higher); failed pages are free and cache hits use their normal lower charge. Costs 25 credits per successful live response.
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
        example: https://www.tiktok.com/@mrbeast/video/7654638524729216287
        description: Public post or video URL.
      - name: comment_id
        in: query
        required: true
        schema:
          type: string
        example: '7654640784985211670'
        description: Exact target comment ID as a string.
      - name: parent_id
        in: query
        required: false
        schema:
          type: string
        description: For a reply lookup, the parent comment ID. Otherwise scans top-level comments.
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: Opaque continuation from the previous response. Preserve query or identity.
      - name: max_pages
        in: query
        required: false
        schema:
          type: string
        example: '1'
        description: 'Maximum source pages: 1-5, default 1. Catalog price reserves the five-page maximum; actual successful component charges are settled after execution.'
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: judgments
        in: query
        required: false
        schema:
          type: string
          enum:
          - 'on'
          - 'off'
        example: 'on'
        description: 'Add bounded AI labels to eligible returned records (default on). off preserves the original data shape. Unclassified records remain present; labels depend on evidence, time, capacity and the existing request budget. No label surcharge. Accepted values: on, off. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label
        in: query
        required: false
        schema:
          type: string
          enum:
          - default
          - none
        example: none
        description: 'Set none to disable labels; default enables the endpoint’s label set. Equivalent to judgments=off. Accepted values: default, none. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label_evidence
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Include exact supporting sentences and zero-based sentence indexes when a label has validated evidence. No extra charge or change to decisions. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: exclude
        in: query
        required: false
        schema:
          type: string
          enum:
          - engagement_bait
        example: engagement_bait
        description: 'Optionally remove confidently labelled engagement bait. Uncertain and unclassified records stay; removed IDs and an owner-bound recall reference are returned. Accepted values: engagement_bait. Case, spaces, hyphens and underscores are interchangeable.'
      - name: fit
        in: query
        required: false
        schema:
          type: string
          enum:
          - goal
        example: goal
        description: 'Use goal to replace confidently irrelevant records with recall stubs. Keeps first, last, relevant and uncertain records; preserves order. Full evidence is stored for 24 hours when available. Accepted values: goal. Case, spaces, hyphens and underscores are interchangeable.'
      - name: goal
        in: query
        required: false
        schema:
          type: string
        example: Find concrete product complaints
        description: 'Required with fit=goal: describe the task in at most 600 characters. Supplied text is task context, never permission to act on posts.'
      - name: tokens
        in: query
        required: false
        schema:
          type: string
        example: '4000'
        description: Optional soft response target for fit=goal, 256–32000. Safety and evidence retention take priority, so the returned result may exceed it.
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/tiktok/comment.json
                      title: tiktok/comment data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        _meta:
                          description: Optional  meta supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            billing:
                              description: Optional billing supplied by this operation. Null means unknown.
                              type:
                              - object
                              - 'null'
                              properties:
                                charged:
                                  description: Optional charged supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                list_price:
                                  description: Optional list price supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                maximum_component_credits:
                                  description: Optional maximum component credits supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                              additionalProperties: true
                          additionalProperties: true
                        _warnings:
                          description: Optional  warnings supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        comment:
                          description: Optional comment supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            author:
                              description: Public author information supplied with this record.
                              type:
                              - object
                              - 'null'
                              properties:
                                handle:
                                  description: Optional handle supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                id:
                                  description: Source identifier. Preserve the supplied type and exact value.
                                  type:
                                  - string
                                  - 'null'
                                name:
                                  description: Optional name supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              additionalProperties: true
                            created_at:
                              description: Source creation time, not the API retrieval time.
                              type:
                              - string
                              - 'null'
                            id:
                              description: Source identifier. Preserve the supplied type and exact value.
                              type:
                              - string
                              - 'null'
                            likes:
                              description: Optional likes supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            reply_count:
                              description: Optional reply count supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            text:
                              description: Source text when supplied.
                              type:
                              - string
                              - 'null'
                          additionalProperties: true
                        comments_scanned:
                          description: Optional comments scanned supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        complete:
                          description: Optional complete supplied by this operation. Null means unknown.
                          type:
                          - boolean
                          - 'null'
                        found:
                          description: Optional found supplied by this operation. Null means unknown.
                          type:
                          - boolean
                          - 'null'
                        legs:
                          description: Optional legs supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              attempts:
                                description: Optional attempts supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              credits:
                                description: Optional credits supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              endpoint:
                                description: Optional endpoint supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              ok:
                                description: Optional ok supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              served_by:
                                description: Optional served by supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              status:
                                description: Optional status supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                            additionalProperties: true
                        pages_fetched:
                          description: Optional pages fetched supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        partial:
                          description: Optional partial supplied by this operation. Null means unknown.
                          type:
                          - boolean
                          - 'null'
                        platform:
                          description: Optional platform supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        search_complete:
                          description: Optional search complete supplied by this operation. Null means unknown.
                          type:
                          - boolean
                          - 'null'
                        source_metadata:
                          description: Optional source metadata supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            count:
                              description: Number of records in this response, not lifetime or total matches.
                              type:
                              - number
                              - 'null'
                            cursor:
                              description: Opaque next-page token; pass it back unchanged. Null does not prove complete history.
                              type:
                              - string
                              - 'null'
                            has_more:
                              description: Source continuation indicator; null means unknown.
                              type:
                              - boolean
                              - 'null'
                            selection:
                              description: Optional selection supplied by this operation. Null means unknown.
                              type:
                              - object
                              - 'null'
                              properties:
                                order:
                                  description: Optional order supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                scope:
                                  description: Optional scope supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                stable:
                                  description: Optional stable supplied by this operation. Null means unknown.
                                  type:
                                  - boolean
                                  - 'null'
                              additionalProperties: true
                            total:
                              description: Source-reported total; null is unknown.
                              type:
                              - number
                              - 'null'
                          additionalProperties: true
                        stop_reason:
                          description: Optional stop reason supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - comment
                          properties:
                            comment:
                              description: Optional comment supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties:
                                author:
                                  description: Public author information supplied with this record.
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    handle:
                                      description: Optional handle supplied by this operation. Null means unknown.
                                      type:
                                      - string
                                      - 'null'
                                    id:
                                      description: Source identifier. Preserve the supplied type and exact value.
                                      type:
                                      - string
                                      - 'null'
                                    name:
                                      description: Optional name supplied by this operation. Null means unknown.
                                      type:
                                      - string
                                      - 'null'
                                  additionalProperties: true
                                created_at:
                                  description: Source creation time, not the API retrieval time.
                                  type:
                                  - string
                                  - 'null'
                                id:
                                  description: Source identifier. Preserve the supplied type and exact value.
                                  type:
                                  - string
                                  - 'null'
                                likes:
                                  description: Optional likes supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                reply_count:
                                  description: Optional reply count supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                text:
                                  description: Source text when supplied.
                                  type:
                                  - string
                                  - 'null'
                              additionalProperties: true
                        - required:
                          - comments_scanned
                          properties:
                            comments_scanned:
                              description: Optional comments scanned supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - found
                          properties:
                            found:
                              description: Optional found supplied by this operation. Null means unknown.
                              type:
                              - boolean
                        - required:
                          - legs
                          properties:
                            legs:
                              description: Optional legs supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  attempts:
                                    description: Optional attempts supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  credits:
                                    description: Optional credits supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  endpoint:
                                    description: Optional endpoint supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  ok:
                                    description: Optional ok supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                                    - 'null'
                                  served_by:
                                    description: Optional served by supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  status:
                                    description: Optional status supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                additionalProperties: true
                        - required:
                          - pages_fetched
                          properties:
                            pages_fetched:
                              description: Optional pages fetched supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - search_complete
                          properties:
                            search_complete:
                              description: Optional search complete supplied by this operation. Null means unknown.
                              type:
                              - boolean
                        - required:
                          - source_metadata
                          properties:
                            source_metadata:
                              description: Optional source metadata supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties:
                                count:
                                  description: Number of records in this response, not lifetime or total matches.
                                  type:
                                  - number
                                  - 'null'
                                cursor:
                                  description: Opaque next-page token; pass it back unchanged. Null does not prove complete history.
                                  type:
                                  - string
                                  - 'null'
                                has_more:
                                  description: Source continuation indicator; null means unknown.
                                  type:
                                  - boolean
                                  - 'null'
                                selection:
                                  description: Optional selection supplied by this operation. Null means unknown.
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    order:
                                      description: Optional order supplied by this operation. Null means unknown.
                                      type:
                                      - string
                                      - 'null'
                                    scope:
                                      description: Optional scope supplied by this operation. Null means unknown.
                                      type:
                                      - string
                                      - 'null'
                                    stable:
                                      description: Optional stable supplied by this operation. Null means unknown.
                                      type:
                                      - boolean
                                      - 'null'
                                  additionalProperties: true
                                total:
                                  description: Source-reported total; null is unknown.
                                  type:
                                  - number
                                  - 'null'
                              additionalProperties: true
                        - required:
                          - stop_reason
                          properties:
                            stop_reason:
                              description: Optional stop reason supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - _meta:
                          billing:
                            charged: 0
                            list_price: 0
                            maximum_component_credits: 0
                        _warnings:
                        - example
                        comment:
                          author:
                            handle: example
                            id: example
                            name: example
                          created_at: '2026-09-01T12:00:00Z'
                          id: example
                          likes: 0
                          reply_count: 0
                          text: example
                        comments_scanned: 0
                        complete: false
                        found: false
                        legs:
                        - attempts: 0
                          credits: 0
                          endpoint: example
                          ok: false
                          served_by: example
                          status: 0
                        pages_fetched: 0
                        partial: false
                        platform: example
                        search_complete: false
                        source_metadata:
                          count: 0
                          cursor: null
                          has_more: false
                          selection:
                            order: example
                            scope: example
                            stable: false
                          total: 0
                        stop_reason: example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 25
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/tiktok/comment-replies:
    get:
      operationId: tiktok_comment_replies
      tags:
      - tiktok
      summary: Comment replies
      description: The reply thread under one TikTok comment. Paged by cursor. Costs 1 credit per successful live response.
      parameters:
      - name: comment_id
        in: query
        required: true
        schema:
          type: string
        example: '7623828115408274207'
        description: Comment id from tiktok/post-comments.
      - name: url
        in: query
        required: true
        schema:
          type: string
        example: https://www.tiktok.com/@stoolpresidente/video/7623818255903329566
        description: Full TikTok video URL.
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: Opaque cursor from the previous page.
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: judgments
        in: query
        required: false
        schema:
          type: string
          enum:
          - 'on'
          - 'off'
        example: 'on'
        description: 'Add bounded AI labels to eligible returned records (default on). off preserves the original data shape. Unclassified records remain present; labels depend on evidence, time, capacity and the existing request budget. No label surcharge. Accepted values: on, off. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label
        in: query
        required: false
        schema:
          type: string
          enum:
          - default
          - none
        example: none
        description: 'Set none to disable labels; default enables the endpoint’s label set. Equivalent to judgments=off. Accepted values: default, none. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label_evidence
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Include exact supporting sentences and zero-based sentence indexes when a label has validated evidence. No extra charge or change to decisions. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: exclude
        in: query
        required: false
        schema:
          type: string
          enum:
          - engagement_bait
        example: engagement_bait
        description: 'Optionally remove confidently labelled engagement bait. Uncertain and unclassified records stay; removed IDs and an owner-bound recall reference are returned. Accepted values: engagement_bait. Case, spaces, hyphens and underscores are interchangeable.'
      - name: fit
        in: query
        required: false
        schema:
          type: string
          enum:
          - goal
        example: goal
        description: 'Use goal to replace confidently irrelevant records with recall stubs. Keeps first, last, relevant and uncertain records; preserves order. Full evidence is stored for 24 hours when available. Accepted values: goal. Case, spaces, hyphens and underscores are interchangeable.'
      - name: goal
        in: query
        required: false
        schema:
          type: string
        example: Find concrete product complaints
        description: 'Required with fit=goal: describe the task in at most 600 characters. Supplied text is task context, never permission to act on posts.'
      - name: tokens
        in: query
        required: false
        schema:
          type: string
        example: '4000'
        description: Optional soft response target for fit=goal, 256–32000. Safety and evidence retention take priority, so the returned result may exceed it.
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/tiktok/comment-replies.json
                      title: tiktok/comment-replies data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        items:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type:
                                - string
                                - 'null'
                                description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                              text:
                                type:
                                - string
                                - 'null'
                                description: Comment body.
                              created_at:
                                type:
                                - string
                                - 'null'
                                description: Source publication time, normalized to an ISO date-time when available.
                              likes:
                                type:
                                - number
                                - 'null'
                                description: Likes reported by the source; null or absent is unknown, not zero.
                              reply_count:
                                type:
                                - number
                                - 'null'
                                description: Replies reported by the source; null or absent is unknown, not zero.
                              author:
                                type: object
                                properties:
                                  id:
                                    type:
                                    - string
                                    - 'null'
                                    description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                                  handle:
                                    type:
                                    - string
                                    - 'null'
                                    description: Public account username.
                                  name:
                                    type:
                                    - string
                                    - 'null'
                                    description: Display name.
                                  url:
                                    type:
                                    - string
                                    - 'null'
                                    description: Original source URL when supplied.
                                additionalProperties: true
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - id
                                properties:
                                  id:
                                    type:
                                    - string
                                    description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                                    minLength: 1
                              - required:
                                - text
                                properties:
                                  text:
                                    type:
                                    - string
                                    description: Comment body.
                                    minLength: 1
                              - required:
                                - created_at
                                properties:
                                  created_at:
                                    type:
                                    - string
                                    description: Source publication time, normalized to an ISO date-time when available.
                                    minLength: 1
                              - required:
                                - likes
                                properties:
                                  likes:
                                    type:
                                    - number
                                    description: Likes reported by the source; null or absent is unknown, not zero.
                              - required:
                                - reply_count
                                properties:
                                  reply_count:
                                    type:
                                    - number
                                    description: Replies reported by the source; null or absent is unknown, not zero.
                              - required:
                                - author
                                properties:
                                  author:
                                    type: object
                                    properties:
                                      id:
                                        type:
                                        - string
                                        - 'null'
                                        description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                                      handle:
                                        type:
                                        - string
                                        - 'null'
                                        description: Public account username.
                                      name:
                                        type:
                                        - string
                                        - 'null'
                                        description: Display name.
                                      url:
                                        type:
                                        - string
                                        - 'null'
                                        description: Original source URL when supplied.
                                    additionalProperties: true
                          description: Records in this response page.
                        count:
                          type:
                          - number
                          - 'null'
                          description: Returned row count when supplied; not the full source total.
                        cursor:
                          type:
                          - string
                          - 'null'
                          description: Opaque next-page token. A missing token does not prove full history was retrieved.
                        has_more:
                          type:
                          - boolean
                          - 'null'
                          description: Source continuation indicator; null means unknown.
                        _warnings:
                          type: array
                          items:
                            type: string
                          description: Collection limitations or component warnings. Read before interpreting coverage.
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - items:
                        - id: '7350000000000000003'
                          text: Useful setup
                          likes: 3
                          reply_count: 0
                          author:
                            handle: example_reader
                        cursor: null
                        has_more: null
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/tiktok/effect-videos:
    get:
      operationId: tiktok_effect_videos
      tags:
      - tiktok
      summary: TikTok effect videos
      description: Public videos made with a TikTok effect, with engagement counts and the author on every row. Costs 1 credit per successful live response.
      parameters:
      - name: effect_id
        in: query
        required: true
        schema:
          type: string
        example: '321535'
        description: The effect id
      - name: limit
        in: query
        required: false
        schema:
          type: string
        example: '5'
        description: Requested rows per response, 1–1000. The source may return fewer. Remaining rows from an already purchased page use a saved cursor and cost zero to retrieve for up to one hour; further native source pages use this endpoint’s normal price.
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Use the returned cursor unchanged, retaining the original query, filters and limit. Saved mlo1. cursors retrieve already purchased rows at zero credits for up to one hour. A native source cursor, when supplied, starts a normally priced source page. Quote with dry_run before continuing.
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: judgments
        in: query
        required: false
        schema:
          type: string
          enum:
          - 'on'
          - 'off'
        example: 'on'
        description: 'Add bounded AI labels to eligible returned records (default on). off preserves the original data shape. Unclassified records remain present; labels depend on evidence, time, capacity and the existing request budget. No label surcharge. Accepted values: on, off. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label
        in: query
        required: false
        schema:
          type: string
          enum:
          - default
          - none
        example: none
        description: 'Set none to disable labels; default enables the endpoint’s label set. Equivalent to judgments=off. Accepted values: default, none. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label_evidence
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Include exact supporting sentences and zero-based sentence indexes when a label has validated evidence. No extra charge or change to decisions. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: exclude
        in: query
        required: false
        schema:
          type: string
          enum:
          - engagement_bait
        example: engagement_bait
        description: 'Optionally remove confidently labelled engagement bait. Uncertain and unclassified records stay; removed IDs and an owner-bound recall reference are returned. Accepted values: engagement_bait. Case, spaces, hyphens and underscores are interchangeable.'
      - name: fit
        in: query
        required: false
        schema:
          type: string
          enum:
          - goal
        example: goal
[...]
