openapi: 3.2.0
info:
  title: Monocrawl Cohorts API
  version: 0.1.0
  description: One key, one envelope, one credit meter across social, search, commerce and web data.
  contact:
    name: Monocrawl support
    url: https://www.monocrawl.com/contact
  termsOfService: https://www.monocrawl.com/legal/terms-and-conditions
servers:
- url: https://www.monocrawl.com
security:
- ApiKeyHeader: []
tags:
- name: Cohorts
paths:
  /v1/cohorts/create:
    get:
      operationId: cohorts_create
      tags:
      - Cohorts
      summary: Create a cohort
      description: Save a set of up to 100 accounts, subreddits or handles as a cohort you can sweep with one keyword. Costs 1 credit per successful live response.
      parameters:
      - name: name
        in: query
        required: true
        schema:
          type: string
        example: Rust ecosystem
        description: Human label for this cohort (max 200 characters)
      - name: members
        in: query
        required: true
        schema:
          type: string
        example: reddit:rust,hackernews:steveklabnik,github:rust-lang/rust,bluesky:rust-lang.bsky.social
        description: 'The accounts to sweep: a comma-separated platform:identifier list, or a JSON array of {"platform","identifier"} objects. 1-100 members; every platform must exist in the catalogue.'
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/cohorts/create.json
                      title: cohorts/create data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          description: Exact source identifier; preserve it as a string.
                        name:
                          type:
                          - string
                          - 'null'
                          description: name
                        created_at:
                          type:
                          - string
                          - 'null'
                          description: created at
                        members:
                          type: array
                          items:
                            type:
                            - object
                            - 'null'
                            properties:
                              platform:
                                type:
                                - string
                                - 'null'
                                description: platform
                              identifier:
                                type:
                                - string
                                - 'null'
                                description: identifier
                            additionalProperties: true
                        member_count:
                          type:
                          - number
                          - 'null'
                          description: member count; null is unknown.
                        sweepable_count:
                          type:
                          - number
                          - 'null'
                          description: sweepable count; null is unknown.
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - id
                          properties:
                            id:
                              type:
                              - string
                              description: Exact source identifier; preserve it as a string.
                              minLength: 1
                        - required:
                          - name
                          properties:
                            name:
                              type:
                              - string
                              description: name
                              minLength: 1
                        - required:
                          - created_at
                          properties:
                            created_at:
                              type:
                              - string
                              description: created at
                              minLength: 1
                        - required:
                          - members
                          properties:
                            members:
                              type: array
                              items:
                                type:
                                - object
                                - 'null'
                                properties:
                                  platform:
                                    type:
                                    - string
                                    - 'null'
                                    description: platform
                                  identifier:
                                    type:
                                    - string
                                    - 'null'
                                    description: identifier
                                additionalProperties: true
                        - required:
                          - member_count
                          properties:
                            member_count:
                              type:
                              - number
                              description: member count; null is unknown.
                        - required:
                          - sweepable_count
                          properties:
                            sweepable_count:
                              type:
                              - number
                              description: sweepable count; null is unknown.
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - id: cohort_example
                        name: Example cohort
                        members: []
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/cohorts/delete:
    get:
      operationId: cohorts_delete
      tags:
      - Cohorts
      summary: Delete a cohort
      description: Delete one of your cohorts and every query it ran. A running sweep is cancelled first; its charge is refunded only if it had not started. Free — costs 0 credits.
      parameters:
      - name: cohort_id
        in: query
        required: true
        schema:
          type: string
        example: coh_0f2c8b1d4e6a7c9b0d1e2f3a
        description: Cohort id (the {cohortId} path segment)
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/cohorts/delete.json
                      title: cohorts/delete data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                        deleted:
                          type:
                          - boolean
                          - 'null'
                        queries_cancelled:
                          type:
                          - number
                          - 'null'
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - id
                          properties:
                            id:
                              type:
                              - string
                              minLength: 1
                        - required:
                          - deleted
                          properties:
                            deleted:
                              type:
                              - boolean
                        - required:
                          - queries_cancelled
                          properties:
                            queries_cancelled:
                              type:
                              - number
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - id: null
                        deleted: false
                        queries_cancelled: 0
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 0
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/cohorts/get:
    get:
      operationId: cohorts_get
      tags:
      - Cohorts
      summary: Get a cohort
      description: One cohort with its members and the most recent keyword queries run against it. Free — costs 0 credits.
      parameters:
      - name: cohort_id
        in: query
        required: true
        schema:
          type: string
        example: coh_0f2c8b1d4e6a7c9b0d1e2f3a
        description: Cohort id (the {cohortId} path segment)
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/cohorts/get.json
                      title: cohorts/get data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          description: id
                        name:
                          type:
                          - string
                          - 'null'
                          description: name
                        created_at:
                          type:
                          - string
                          - 'null'
                          description: created at
                        member_count:
                          type:
                          - number
                          - 'null'
                          description: member count
                        sweepable_count:
                          type:
                          - number
                          - 'null'
                          description: sweepable count
                        members:
                          type:
                          - array
                          - 'null'
                          items:
                            type:
                            - object
                            - 'null'
                            properties:
                              platform:
                                type:
                                - string
                                - 'null'
                                description: platform
                              identifier:
                                type:
                                - string
                                - 'null'
                                description: identifier
                              label:
                                type:
                                - string
                                - 'null'
                                description: label
                            additionalProperties: true
                        replaced:
                          type:
                          - boolean
                          - 'null'
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - id
                          properties:
                            id:
                              type:
                              - string
                              description: id
                              minLength: 1
                        - required:
                          - name
                          properties:
                            name:
                              type:
                              - string
                              description: name
                              minLength: 1
                        - required:
                          - created_at
                          properties:
                            created_at:
                              type:
                              - string
                              description: created at
                              minLength: 1
                        - required:
                          - member_count
                          properties:
                            member_count:
                              type:
                              - number
                              description: member count
                        - required:
                          - sweepable_count
                          properties:
                            sweepable_count:
                              type:
                              - number
                              description: sweepable count
                        - required:
                          - members
                          properties:
                            members:
                              type:
                              - array
                              items:
                                type:
                                - object
                                - 'null'
                                properties:
                                  platform:
                                    type:
                                    - string
                                    - 'null'
                                    description: platform
                                  identifier:
                                    type:
                                    - string
                                    - 'null'
                                    description: identifier
                                  label:
                                    type:
                                    - string
                                    - 'null'
                                    description: label
                                additionalProperties: true
                        - required:
                          - replaced
                          properties:
                            replaced:
                              type:
                              - boolean
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - id: null
                        name: null
                        created_at: null
                        member_count: 0
                        sweepable_count: 0
                        members: []
                        replaced: false
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 0
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/cohorts/members:
    get:
      operationId: cohorts_members
      tags:
      - Cohorts
      summary: Replace a cohort's members
      description: Replace a cohort's member list in one call. Sweeps already completed keep the results they produced. Free — costs 0 credits.
      parameters:
      - name: cohort_id
        in: query
        required: true
        schema:
          type: string
        example: coh_0f2c8b1d4e6a7c9b0d1e2f3a
        description: Cohort id (the {cohortId} path segment)
      - name: members
        in: query
        required: true
        schema:
          type: string
        example: reddit:rust,hackernews:steveklabnik,github:rust-lang/rust
        description: 'The new member list, replacing the old one entirely: a comma-separated platform:identifier list, or a JSON array of {"platform","identifier"} objects. 1-100 members; every platform must exist in the catalogue.'
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/cohorts/members.json
                      title: cohorts/members data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          description: id
                        name:
                          type:
                          - string
                          - 'null'
                          description: name
                        created_at:
                          type:
                          - string
                          - 'null'
                          description: created at
                        member_count:
                          type:
                          - number
                          - 'null'
                          description: member count
                        sweepable_count:
                          type:
                          - number
                          - 'null'
                          description: sweepable count
                        members:
                          type:
                          - array
                          - 'null'
                          items:
                            type:
                            - object
                            - 'null'
                            properties:
                              platform:
                                type:
                                - string
                                - 'null'
                                description: platform
                              identifier:
                                type:
                                - string
                                - 'null'
                                description: identifier
                              label:
                                type:
                                - string
                                - 'null'
                                description: label
                            additionalProperties: true
                        replaced:
                          type:
                          - boolean
                          - 'null'
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - id
                          properties:
                            id:
                              type:
                              - string
                              description: id
                              minLength: 1
                        - required:
                          - name
                          properties:
                            name:
                              type:
                              - string
                              description: name
                              minLength: 1
                        - required:
                          - created_at
                          properties:
                            created_at:
                              type:
                              - string
                              description: created at
                              minLength: 1
                        - required:
                          - member_count
                          properties:
                            member_count:
                              type:
                              - number
                              description: member count
                        - required:
                          - sweepable_count
                          properties:
                            sweepable_count:
                              type:
                              - number
                              description: sweepable count
                        - required:
                          - members
                          properties:
                            members:
                              type:
                              - array
                              items:
                                type:
                                - object
                                - 'null'
                                properties:
                                  platform:
                                    type:
                                    - string
                                    - 'null'
                                    description: platform
                                  identifier:
                                    type:
                                    - string
                                    - 'null'
                                    description: identifier
                                  label:
                                    type:
                                    - string
                                    - 'null'
                                    description: label
                                additionalProperties: true
                        - required:
                          - replaced
                          properties:
                            replaced:
                              type:
                              - boolean
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - id: null
                        name: null
                        created_at: null
                        member_count: 0
                        sweepable_count: 0
                        members: []
                        replaced: false
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 0
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/cohorts/queries:
    get:
      operationId: cohorts_queries
      tags:
      - Cohorts
      summary: Submit a cohort query
      description: 'Run one keyword across every member of a cohort. Asynchronous: returns a query id to poll. Costs 10 credits per successful live response.'
      parameters:
      - name: cohort_id
        in: query
        required: true
        schema:
          type: string
        example: coh_0f2c8b1d4e6a7c9b0d1e2f3a
        description: Cohort id (the {cohortId} path segment)
      - name: keyword
        in: query
        required: true
        schema:
          type: string
        example: async runtime
        description: The keyword swept across every member of the cohort (max 200 characters)
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/cohorts/queries.json
                      title: cohorts/queries data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          description: Exact source identifier; preserve it as a string.
                        cohort_id:
                          type:
                          - string
                          - 'null'
                          description: cohort id
                        keyword:
                          type:
                          - string
                          - 'null'
                          description: keyword
                        status:
                          type:
                          - string
                          - 'null'
                          description: status
                        job_id:
                          type:
                          - string
                          - 'null'
                          description: job id
                        check:
                          type:
                          - string
                          - 'null'
                          description: check
                        results_path:
                          type:
                          - string
                          - 'null'
                          description: results path
                        member_count:
                          type:
                          - number
                          - 'null'
                          description: Members in the requested sweep.
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - id
                          properties:
                            id:
                              type:
                              - string
                              description: Exact source identifier; preserve it as a string.
                              minLength: 1
                        - required:
                          - cohort_id
                          properties:
                            cohort_id:
                              type:
                              - string
                              description: cohort id
                              minLength: 1
                        - required:
                          - job_id
                          properties:
                            job_id:
                              type:
                              - string
                              description: job id
                              minLength: 1
                        - required:
                          - check
                          properties:
                            check:
                              type:
                              - string
                              description: check
                              minLength: 1
                        - required:
                          - results_path
                          properties:
                            results_path:
                              type:
                              - string
                              description: results path
                              minLength: 1
                        - required:
                          - member_count
                          properties:
                            member_count:
                              type:
                              - number
                              description: Members in the requested sweep.
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - id: query_example
                        status: queued
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 10
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
components:
  schemas:
    Success:
      type: object
      required:
      - success
      - platform
      - endpoint
      - data
      - credits_used
      - credits_remaining
      - request_id
      properties:
        _completeness:
          type: object
          description: Reported response completeness, not a guarantee of complete platform history. Missing source assertions remain unknown.
          properties:
            state:
              type: string
              enum:
              - complete
              - partial
              - unknown
            scope:
              type: string
            inspection_limited:
              type: boolean
        success:
          const: true
        platform:
          type: string
        endpoint:
          type: string
          description: The resolved path, e.g. `/v1/github/profile`.
        data:
          description: Amazon responses include marketplace.country and marketplace.domain (resolved request marketplace, UK by default). X profiles preserve location, bio_link and cover_url when supplied. TikTok profiles preserve commerce_user, seller, region, location and business_category when supplied; region identifies the account region rather than personal residence. TikTok comments use platform_default selection, which can change between fetches; keep the same video and options when following cursors. Amazon review variant is readable text. Facebook profiles preserve cover_url, following and created_at when supplied; likes_count and followers are distinct and follower totals may be rounded. Endpoint-specific normalized payload, not one universal post/profile schema. Many lists use items/count/cursor; a null cursor means no usable next cursor was supplied, not proof that all history was retrieved. Check has_more and warnings where present. Social full-profile bundles use posts_cursor and posts_pagination.next_params; retain all returned next parameters. YouTube channel bundles instead use recent_videos, cursor and recent_videos_pagination. Inspect complete/partial/legs where supplied for bounded or failed components. Optional model-derived fields are labelled, not source facts.
        credits_used:
          type: integer
        credits_remaining:
          type: integer
        request_id:
          type: string
        cached:
          type: boolean
        stale:
          type: boolean
          description: True only for an explicitly labelled, zero-credit reference snapshot served after a temporary upstream failure.
        age_seconds:
          type: integer
          minimum: 0
          description: Age of a stale snapshot since its original retrieval; not reset by outage recovery.
        fetched_at:
          type: string
          format: date-time
          description: Original retrieval time of a stale snapshot, in UTC.
        synthetic:
          type: boolean
          description: Present and true only on the explicitly requested /sandbox surface. Synthetic responses are representative and charged 0 credits; production /v1 never returns them.
        degraded:
          type: boolean
          description: Reserved for sandbox compatibility. Production /v1 reports upstream failure as an error and never serves a representative fallback.
    Error:
      type: object
      required:
      - success
      - error
      - credits_used
      - request_id
      properties:
        success:
          const: false
        error:
          type: object
          required:
          - type
          - message
          - status
          properties:
            type:
              type: string
              enum:
              - UNAUTHORIZED
              - KEY_REVOKED
              - KEY_LIMIT_EXCEEDED
              - RATE_LIMITED
              - INSUFFICIENT_CREDITS
              - RESOURCE_NOT_FOUND
              - INVALID_PARAMETERS
              - TARGET_ACCESS_DENIED
              - UPSTREAM_ERROR
              - UPSTREAM_TIMEOUT
              - FREE_CAPACITY_UNAVAILABLE
              - CAPACITY_UNAVAILABLE
              - ENDPOINT_NOT_FOUND
              - ENDPOINT_NOT_AVAILABLE
              - FAIR_USE_EXCEEDED
              - INTERNAL_ERROR
            message:
              type: string
            status:
              type: integer
            doc_url:
              type: string
              description: Deep link to the exact section of the errors guide for this type.
            details:
              type: object
        credits_used:
          type:
          - integer
          - 'null'
          description: Confirmed net charge; null when billing is pending reconciliation. Inspect error.details.billing_status and retain request_id.
        credits_remaining:
          type: integer
        request_id:
          type: string
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
      description: Your API key (`mn_…`), from the console. The recommended style.
    BearerKey:
      type: http
      scheme: bearer
      description: The same key as a Bearer token, for clients that only expose an Authorization field. Keys are never accepted in the query string — URLs leak into logs and referrers.
