openapi: 3.2.0
info:
  title: Monocrawl Airbnb API
  version: 0.1.0
  description: One key, one envelope, one credit meter across social, search, commerce and web data.
  contact:
    name: Monocrawl support
    url: https://www.monocrawl.com/contact
  termsOfService: https://www.monocrawl.com/legal/terms-and-conditions
servers:
- url: https://www.monocrawl.com
security:
- ApiKeyHeader: []
tags:
- name: Airbnb
paths:
  /v1/airbnb/locations:
    get:
      operationId: airbnb_locations
      tags:
      - Airbnb
      summary: Airbnb place lookup
      description: The places the site knows for a name, each with the place id the searches take, its Google place id, country and bounds. Costs 6 credits per successful live response.
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        example: Lisbon
        description: A city, area or address
      - name: limit
        in: query
        required: false
        schema:
          type: string
        example: '5'
        description: Suggestions, 1 to 20
      - name: language
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Language code for the site's text
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/airbnb/locations.json
                      title: airbnb/locations data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              country_code:
                                description: Optional country code supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              display_name:
                                description: Optional display name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              google_place_id:
                                description: Optional google place id supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - country_code
                                properties:
                                  country_code:
                                    description: Optional country code supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - display_name
                                properties:
                                  display_name:
                                    description: Optional display name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - google_place_id
                                properties:
                                  google_place_id:
                                    description: Optional google place id supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - name
                                properties:
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                        query:
                          description: Optional query supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - count: 0
                        has_more: false
                        items:
                        - country_code: example
                          display_name: example
                          google_place_id: example
                          id: example
                          name: example
                        query: example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 6
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/airbnb/search-stays:
    get:
      operationId: airbnb_search_stays
      tags:
      - Airbnb
      summary: Airbnb stay search
      description: 'Stays in a place for a trip: name, city, room type, rating and review count, position, the nightly price and the trip total as the site shows them, photos, instant booking and the host with their rating and years hosting. Pages by cursor. Costs 11 credits per successful live response.'
      parameters:
      - name: location
        in: query
        required: false
        schema:
          type: string
        example: Lisbon
        description: A city, area or address; resolved to a place once and remembered (or pass place_id)
      - name: place_id
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: A place id from airbnb/locations
      - name: checkin
        in: query
        required: false
        schema:
          type: string
        example: '2026-10-10'
        description: Check-in date, YYYY-MM-DD (with checkout)
      - name: checkout
        in: query
        required: false
        schema:
          type: string
        example: '2026-10-14'
        description: Check-out date, YYYY-MM-DD (with checkin)
      - name: adults
        in: query
        required: false
        schema:
          type: string
        example: '2'
        description: Adults, up to 16
      - name: children
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Children, up to 15
      - name: infants
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Infants, up to 5
      - name: pets
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Pets, up to 5
      - name: min_price
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Minimum price per night in the currency
      - name: max_price
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Maximum price per night in the currency
      - name: type_of_place
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: The site's type-of-place filter
      - name: property_type
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: The site's property-type filter
      - name: bedrooms
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Minimum bedrooms
      - name: beds
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Minimum beds
      - name: bathrooms
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Minimum bathrooms
      - name: amenities
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: The site's amenity ids, separated by commas
      - name: booking_options
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: The site's booking-option filters
      - name: host_language
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: The site's host-language filter
      - name: top_tier
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: The site's top-tier-stays filter
      - name: total_price
        in: query
        required: false
        schema:
          type: string
        example: 'false'
        description: Show the trip total instead of the nightly price
      - name: limit
        in: query
        required: false
        schema:
          type: string
        example: '16'
        description: Results per page, 1 to 50
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: The cursor from the previous page
      - name: currency
        in: query
        required: false
        schema:
          type: string
        example: GBP
        description: Three-letter currency code
      - name: language
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Language code for the site's text
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/airbnb/search-stays.json
                      title: airbnb/search-stays data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        cursor:
                          description: Opaque next-page token; pass it back unchanged. Null does not prove complete history.
                          type:
                          - string
                          - 'null'
                        dropped:
                          description: Optional dropped supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              badges:
                                description: Optional badges supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              city:
                                description: Optional city supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              image_url:
                                description: Optional image url supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              images:
                                description: Optional images supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              latitude:
                                description: Optional latitude supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              longitude:
                                description: Optional longitude supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              notes:
                                description: Optional notes supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              platform:
                                description: Optional platform supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              price:
                                description: Source price. Currency, taxes and availability depend on the listing.
                                type:
                                - object
                                - 'null'
                                properties:
                                  accessibility_label:
                                    description: Optional accessibility label supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  amount:
                                    description: Optional amount supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  label:
                                    description: Optional label supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  original_amount:
                                    description: Optional original amount supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  original_label:
                                    description: Optional original label supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  qualifier:
                                    description: Optional qualifier supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                              price_breakdown:
                                description: Optional price breakdown supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - object
                                  - 'null'
                                  properties: {}
                                  additionalProperties: true
                              rating:
                                description: Source rating; read its accompanying scale and vote count.
                                type:
                                - number
                                - 'null'
                              reviews:
                                description: Optional reviews supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              subtitle:
                                description: Optional subtitle supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              title:
                                description: Source title when supplied.
                                type:
                                - string
                                - 'null'
                              type:
                                description: Optional type supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - badges
                                properties:
                                  badges:
                                    description: Optional badges supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - string
                                      - 'null'
                              - required:
                                - city
                                properties:
                                  city:
                                    description: Optional city supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - image_url
                                properties:
                                  image_url:
                                    description: Optional image url supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - images
                                properties:
                                  images:
                                    description: Optional images supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - string
                                      - 'null'
                              - required:
                                - latitude
                                properties:
                                  latitude:
                                    description: Optional latitude supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - longitude
                                properties:
                                  longitude:
                                    description: Optional longitude supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - name
                                properties:
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - notes
                                properties:
                                  notes:
                                    description: Optional notes supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - string
                                      - 'null'
                              - required:
                                - price
                                properties:
                                  price:
                                    description: Source price. Currency, taxes and availability depend on the listing.
                                    type:
                                    - object
                                    properties:
                                      accessibility_label:
                                        description: Optional accessibility label supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      amount:
                                        description: Optional amount supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      label:
                                        description: Optional label supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      original_amount:
                                        description: Optional original amount supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      original_label:
                                        description: Optional original label supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      qualifier:
                                        description: Optional qualifier supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - price_breakdown
                                properties:
                                  price_breakdown:
                                    description: Optional price breakdown supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - object
                                      - 'null'
                                      properties: {}
                                      additionalProperties: true
                              - required:
                                - rating
                                properties:
                                  rating:
                                    description: Source rating; read its accompanying scale and vote count.
                                    type:
                                    - number
                              - required:
                                - reviews
                                properties:
                                  reviews:
                                    description: Optional reviews supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - subtitle
                                properties:
                                  subtitle:
                                    description: Optional subtitle supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - title
                                properties:
                                  title:
                                    description: Source title when supplied.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    minLength: 1
                        place:
                          description: Optional place supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              description: Source identifier. Preserve the supplied type and exact value.
                              type:
                              - string
                              - 'null'
                            name:
                              description: Optional name supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                          additionalProperties: true
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - count: 0
                        cursor: null
                        dropped: 0
                        has_more: false
                        items:
                        - badges:
                          - example
                          city: example
                          id: example
                          image_url: https://example.com/example
                          images:
                          - example
                          latitude: 0
                          longitude: 0
                          name: example
                          notes:
                          - example
                          platform: example
                          price:
                            accessibility_label: example
                            amount: 0
                            label: example
                            original_amount: 0
                            original_label: example
                            qualifier: example
                          price_breakdown:
                          - {}
                          rating: 0
                          reviews: 0
                          subtitle: example
                          title: example
                          type: example
                          url: https://example.com/example
                        place:
                          id: example
                          name: example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 11
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/airbnb/stay:
    get:
      operationId: airbnb_stay
      tags:
      - Airbnb
      summary: Airbnb stay
      description: 'One stay''s page: name and headline, property type, location and position, capacity, rating and reviews, description, highlights, amenities by group, house rules, safety, cancellation policies, instant booking, the host with their tags and response figures, and the photos. Sections the page carried beyond this are named in _warnings. Costs 6 credits per successful live response.'
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        example: '6332745'
        description: The listing number (or pass url, the stay's page)
      - name: url
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: The stay's page URL instead of an id
      - name: checkin
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Check-in date, YYYY-MM-DD (with checkout), for dated pricing
      - name: checkout
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Check-out date, YYYY-MM-DD (with checkin)
      - name: adults
        in: query
        required: false
        schema:
          type: string
        example: '2'
        description: Adults, up to 16
      - name: children
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Children, up to 15
      - name: infants
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Infants, up to 5
      - name: pets
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Pets, up to 5
      - name: currency
        in: query
        required: false
        schema:
          type: string
        example: GBP
        description: Three-letter currency code
      - name: language
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Language code for the site's text
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/airbnb/stay.json
                      title: airbnb/stay data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        _warnings:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        amenities:
                          description: Optional amenities supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              group:
                                description: Optional group supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              items:
                                description: Returned records. Source coverage and completeness vary.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - object
                                  - 'null'
                                  properties: {}
                                  additionalProperties: true
                            additionalProperties: true
                        amenities_count:
                          description: Optional amenities count supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        cancellation_policies:
                          description: Optional cancellation policies supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              summary:
                                description: Optional summary supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        category_ratings:
                          description: Optional category ratings supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              label:
                                description: Optional label supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              rating:
                                description: Source rating; read its accompanying scale and vote count.
                                type:
                                - number
                                - 'null'
                              share:
                                description: Optional share supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                            additionalProperties: true
                        description:
                          description: Source description; null or absent means not supplied.
                          type:
                          - string
                          - 'null'
                        details:
                          description: Optional details supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        guests:
                          description: Optional guests supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        headline:
                          description: Optional headline supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        highlights:
                          description: Optional highlights supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              subtitle:
                                description: Optional subtitle supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              title:
                                description: Source title when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        house_rule_sections:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        house_rules:
                          description: Optional house rules supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        id:
                          description: Source identifier. Preserve the supplied type and exact value.
                          type:
                          - string
                          - 'null'
                        image_url:
                          description: Optional image url supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        latitude:
                          description: Optional latitude supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        location:
                          description: Optional location supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        location_radius_m:
                          description: Optional location radius m supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        longitude:
                          description: Optional longitude supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        name:
                          description: Optional name supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        photos:
                          description: Optional photos supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              caption:
                                description: Optional caption supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        platform:
                          description: Optional platform supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        property_type:
                          description: Optional property type supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        rating:
                          description: Source rating; read its accompanying scale and vote count.
                          type:
                          - number
                          - 'null'
                        rating_distribution:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        reviews:
                          description: Optional reviews supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        reviews_note:
                          description: Optional reviews note supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        safety:
                          description: Optional safety supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        type:
                          description: Optional type supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        url:
                          description: Original source URL when supplied.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - amenities
                          properties:
                            amenities:
                              description: Optional amenities supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  group:
                                    description: Optional group supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  items:
                                    description: Returned records. Source coverage and completeness vary.
                                    type:
                                    - array
                                    - 'null'
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - object
                                      - 'null'
                                      properties: {}
                                      additionalProperties: true
                                additionalProperties: true
                        - required:
                          - amenities_count
                          properties:
                            amenities_count:
                              description: Optional amenities count supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - cancellation_policies
                          properties:
                            cancellation_policies:
                              description: Optional cancellation policies supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    - 'null'
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  summary:
                                    description: Optional summary supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                        - required:
                          - category_ratings
                          properties:
                            category_ratings:
                              description: Optional category ratings supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  label:
                                    description: Optional label supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  rating:
                                    description: Source rating; read its accompanying scale and vote count.
                                    type:
                                    - number
                                    - 'null'
                                  share:
                                    description: Optional share supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                additionalProperties: true
                        - required:
                          - description
                          properties:
                            description:
                              description: Source description; null or absent means not supplied.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - details
                          properties:
                            details:
                              description: Optional details supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                        - required:
                          - guests
                          properties:
                            guests:
                              description: Optional guests supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - headline
                          properties:
                            headline:
                              description: Optional headline supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - highlights
                          properties:
                            highlights:
                              description: Optional highlights supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  subtitle:
                                    description: Optional subtitle supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  title:
                                    description: Source title when supplied.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                        - required:
                          - house_rule_sections
                          properties:
                            house_rule_sections:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              items: {}
                        - required:
                          - house_rules
                          properties:
                            house_rules:
                              description: Optional house rules supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                        - required:
                          - id
                          properties:
                            id:
                              description: Source identifier. Preserve the supplied type and exact value.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - image_url
                          properties:
                            image_url:
                              description: Optional image url supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - latitude
                          properties:
                            latitude:
                              description: Optional latitude supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - location
                          properties:
                            location:
                              description: Optional location supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - location_radius_m
                          properties:
                            location_radius_m:
                              description: Optional location radius m supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - longitude
                          properties:
                            longitude:
                              description: Optional longitude supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - name
                          properties:
                            name:
                              description: Optional name supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - photos
                          properties:
                            photos:
                              description: Optional photos supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  caption:
                                    description: Optional caption supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                        - required:
                          - property_type
                          properties:
                            property_type:
                              description: Optional property type supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - rating
                          properties:
                            rating:
                              description: Source rating; read its accompanying scale and vote count.
                              type:
                              - number
                        - required:
                          - rating_distribution
                          properties:
                            rating_distribution:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              items: {}
                        - required:
                          - reviews
                          properties:
                            reviews:
                              description: Optional reviews supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - reviews_note
                          properties:
                            reviews_note:
                              description: Optional reviews note supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - safety
                          properties:
                            safety:
                              description: Optional safety supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                        - required:
                          - url
                          properties:
                            url:
                              description: Original source URL when supplied.
                              type:
                              - string
                              minLength: 1
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - _warnings: []
                        amenities:
                        - group: example
                          items:
                          - {}
                        amenities_count: 0
                        cancellation_policies:
                        - id: example
                          name: example
                          summary: example
                        category_ratings:
                        - label: example
                          rating: 0
                          share: 0
                        description: example
                        details:
                        - example
                        guests: 0
                        headline: example
                        highlights:
                        - subtitle: example
                          title: example
                        house_rule_sections: []
                        house_rules:
                        - example
                        id: example
                        image_url: https://example.com/example
                        latitude: 0
                        location: example
                        location_radius_m: 0
                        longitude: 0
                        name: example
                        photos:
                        - caption: example
                          url: https://example.com/example
                        platform: example
                        property_type: example
                        rating: 0
                        rating_distribution: []
                        reviews: 0
                        reviews_note: example
                        safety:
                        - example
                        type: example
                        url: https://example.com/example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 6
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/airbnb/stay-availability:
    get:
      operationId: airbnb_stay_availability
      tags:
      - Airbnb
      summary: Airbnb stay calendar
      description: 'One stay''s calendar month by month: each day''s availability, whether check-in and check-out are allowed, the minimum and maximum nights and the price where the site shows one. Costs 6 credits per successful live response.'
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        example: '6332745'
        description: The listing number (or pass url, the stay's page)
      - name: url
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: The stay's page URL instead of an id
      - name: month
        in: query
        required: false
        schema:
          type: string
        example: '10'
        description: First month, 1 to 12
      - name: year
        in: query
        required: false
        schema:
          type: string
        example: '2026'
        description: First year
      - name: months
        in: query
        required: false
        schema:
          type: string
        example: '2'
        description: How many months, 1 to 12
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/airbnb/stay-availability.json
                      title: airbnb/stay-availability data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        _warnings:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        available_days:
                          description: Optional available days supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        id:
                          description: Source identifier. Preserve the supplied type and exact value.
                          type:
                          - string
                          - 'null'
                        months:
                          description: Optional months supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              days:
                                description: Optional days supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - object
                                  - 'null'
                                  properties: {}
                                  additionalProperties: true
                              month:
                                description: Optional month supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              year:
                                description: Optional year supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                            additionalProperties: true
                        platform:
                          description: Optional platform supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        type:
                          description: Optional type supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        url:
                          description: Original source URL when supplied.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - available_days
                          properties:
                            available_days:
                              description: Optional available days supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - id
                          properties:
                            id:
                              description: Source identifier. Preserve the supplied type and exact value.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - months
                          properties:
                            months:
                              description: Optional months supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  days:
                                    description: Optional days supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    - 'null'
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - object
                                      - 'null'
                                      properties: {}
                                      additionalProperties: true
                                  month:
                                    description: Optional month supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  year:
                                    description: Optional year supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                additionalProperties: true
                        - required:
                          - url
                          properties:
                            url:
                              description: Original source URL when supplied.
                              type:
                              - string
                              minLength: 1
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - _warnings: []
                        available_days: 0
                        count: 0
                        id: example
                        months:
                        - days:
                          - {}
                          month: 0
                          year: 0
                        platform: example
                        type: example
                        url: https://example.com/example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 6
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/airbnb/stay-price:
    get:
      operationId: airbnb_stay_price
      tags:
      - Airbnb
      summary: Airbnb stay price
      description: Accommodation price for the requested dates and guests. Taxes and service fees are not included in this response. Costs 6 credits per successful live response.
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        example: '6332745'
        description: The listing number (or pass url, the stay's page)
      - name: url
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: The stay's page URL instead of an id
      - name: checkin
        in: query
        required: true
        schema:
          type: string
        example: '2026-10-10'
        description: Check-in date, YYYY-MM-DD
      - name: checkout
        in: query
        required: true
        schema:
          type: string
        example: '2026-10-12'
        description: Check-out date, YYYY-MM-DD
      - name: adults
        in: query
        required: false
        schema:
          type: string
        example: '2'
        description: Adults, up to 16
      - name: children
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Children, up to 15
      - name: infants
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Infants, up to 5
      - name: pets
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Pets, up to 5
      - name: total_price
        in: query
        required: false
        schema:
          type: string
        example: 'false'
        description: Show the trip total instead of the nightly price
      - name: currency
        in: query
        required: false
        schema:
          type: string
        example: GBP
        description: Three-letter currency code
      - name: language
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Language code for the site's text
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/airbnb/stay-price.json
                      title: airbnb/stay-price data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        _warnings:
                          description: Optional  warnings supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        breakdown:
                          description: Optional breakdown supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              amount:
                                description: Optional amount supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              description:
                                description: Source description; null or absent means not supplied.
                                type:
                                - string
                                - 'null'
                              price_label:
                                description: Optional price label supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        cancellation_policies:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        checkin:
                          description: Optional checkin supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        checkout:
                          description: Optional checkout supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        id:
                          description: Source identifier. Preserve the supplied type and exact value.
                          type:
                          - string
                          - 'null'
                        nights:
                          description: Optional nights supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        platform:
                          description: Optional platform supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        price:
                          description: Source price. Currency, taxes and availability depend on the listing.
                          type:
                          - object
                          - 'null'
                          properties:
                            amount:
                              description: Optional amount supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            label:
                              description: Optional label supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            qualifier:
                              description: Optional qualifier supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                          additionalProperties: true
                        type:
                          description: Optional type supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        url:
                          description: Original source URL when supplied.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - breakdown
                          properties:
                            breakdown:
                              description: Optional breakdown supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  amount:
                                    description: Optional amount supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  description:
                                    description: Source description; null or absent means not supplied.
                                    type:
                                    - string
                                    - 'null'
                                  price_label:
                                    description: Optional price label supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                        - required:
                          - cancellation_policies
                          properties:
                            cancellation_policies:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              items: {}
                        - required:
                          - checkin
                          properties:
                            checkin:
                              description: Optional checkin supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - checkout
                          properties:
                            checkout:
                              description: Optional checkout supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - id
                          properties:
                            id:
[...]
