openapi: 3.2.0
info:
  title: Monocrawl Google Ads Transparency API
  version: 0.1.0
  description: One key, one envelope, one credit meter across social, search, commerce and web data.
  contact:
    name: Monocrawl support
    url: https://www.monocrawl.com/contact
  termsOfService: https://www.monocrawl.com/legal/terms-and-conditions
servers:
- url: https://www.monocrawl.com
security:
- ApiKeyHeader: []
tags:
- name: Google Ads Transparency
paths:
  /v1/google_ads/ad:
    get:
      operationId: google_ads_ad
      tags:
      - Google Ads Transparency
      summary: Ad details
      description: 'One Google ad creative: impression band, regions shown, and the creative variations (headline, description, destination). Costs 4 credits per successful live response.'
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
        example: https://adstransparency.google.com/advertiser/AR02903092099014459393/creative/CR09470540953698697217
        description: adstransparency.google.com creative URL from google_ads/company-ads.
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/google_ads/ad.json
                      title: google_ads/ad data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        ad_url:
                          description: Optional ad url supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        advertiser_id:
                          description: Optional advertiser id supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        creative_id:
                          description: Optional creative id supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        format:
                          description: Optional format supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        impressions:
                          description: Optional impressions supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties: {}
                          additionalProperties: true
                        last_shown:
                          description: Optional last shown supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        platform:
                          description: Optional platform supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        regions:
                          description: Optional regions supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        variations:
                          description: Optional variations supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              description:
                                description: Source description; null or absent means not supplied.
                                type:
                                - string
                                - 'null'
                              destination_url:
                                description: Optional destination url supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              headline:
                                description: Optional headline supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - ad_url
                          properties:
                            ad_url:
                              description: Optional ad url supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - advertiser_id
                          properties:
                            advertiser_id:
                              description: Optional advertiser id supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - creative_id
                          properties:
                            creative_id:
                              description: Optional creative id supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - format
                          properties:
                            format:
                              description: Optional format supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - impressions
                          properties:
                            impressions:
                              description: Optional impressions supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties: {}
                              additionalProperties: true
                        - required:
                          - last_shown
                          properties:
                            last_shown:
                              description: Optional last shown supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - regions
                          properties:
                            regions:
                              description: Optional regions supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                        - required:
                          - variations
                          properties:
                            variations:
                              description: Optional variations supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  description:
                                    description: Source description; null or absent means not supplied.
                                    type:
                                    - string
                                    - 'null'
                                  destination_url:
                                    description: Optional destination url supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  headline:
                                    description: Optional headline supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - ad_url: https://example.com/example
                        advertiser_id: example
                        creative_id: example
                        format: example
                        impressions: {}
                        last_shown: example
                        platform: example
                        regions:
                        - example
                        variations:
                        - description: example
                          destination_url: https://example.com/example
                          headline: example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 4
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/google_ads/company-ads:
    get:
      operationId: google_ads_company_ads
      tags:
      - Google Ads Transparency
      summary: Company ads
      description: 'Ads a company runs across Google surfaces: creative ids, formats and transparency-page links. Listing mode by design — drill into one ad with google_ads/ad. Paged by cursor. Costs 4 credits per successful live response.'
      parameters:
      - name: advertiser_id
        in: query
        required: true
        schema:
          type: string
        example: AR02903092099014459393
        description: Advertiser id from google_ads/search-advertisers (or pass domain instead).
      - name: domain
        in: query
        required: false
        schema:
          type: string
        example: lululemon.com
        description: Company domain — alternative to advertiser_id.
      - name: region
        in: query
        required: false
        schema:
          type: string
        description: Two-letter region code.
      - name: platform
        in: query
        required: false
        schema:
          type: string
          enum:
          - youtube
          - search
          - shopping
          - maps
          - play
        description: 'youtube, search, shopping, maps or play. Accepted values: youtube, search, shopping, maps, play. Case, spaces, hyphens and underscores are interchangeable.'
      - name: format
        in: query
        required: false
        schema:
          type: string
          enum:
          - text
          - image
          - video
        description: 'text, image or video. Accepted values: text, image, video. Case, spaces, hyphens and underscores are interchangeable.'
      - name: topic
        in: query
        required: false
        schema:
          type: string
        description: Topic filter.
      - name: start_date
        in: query
        required: false
        schema:
          type: string
        description: YYYY-MM-DD.
      - name: end_date
        in: query
        required: false
        schema:
          type: string
        description: YYYY-MM-DD.
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: Opaque cursor from the previous page.
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/google_ads/company-ads.json
                      title: google_ads/company-ads data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        dropped:
                          description: Optional dropped supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              ad_url:
                                description: Optional ad url supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              advertiser_id:
                                description: Optional advertiser id supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              advertiser_name:
                                description: Optional advertiser name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              creative_id:
                                description: Optional creative id supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              first_shown:
                                description: Optional first shown supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              format:
                                description: Optional format supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              last_shown:
                                description: Optional last shown supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              platform:
                                description: Optional platform supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - ad_url
                                properties:
                                  ad_url:
                                    description: Optional ad url supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - advertiser_id
                                properties:
                                  advertiser_id:
                                    description: Optional advertiser id supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - advertiser_name
                                properties:
                                  advertiser_name:
                                    description: Optional advertiser name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - creative_id
                                properties:
                                  creative_id:
                                    description: Optional creative id supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - first_shown
                                properties:
                                  first_shown:
                                    description: Optional first shown supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - format
                                properties:
                                  format:
                                    description: Optional format supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - last_shown
                                properties:
                                  last_shown:
                                    description: Optional last shown supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - dropped: 0
                        items:
                        - ad_url: https://example.com/example
                          advertiser_id: example
                          advertiser_name: example
                          creative_id: example
                          first_shown: example
                          format: example
                          last_shown: example
                          platform: example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 4
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/google_ads/search-advertisers:
    get:
      operationId: google_ads_search_advertisers
      tags:
      - Google Ads Transparency
      summary: Advertiser search
      description: 'Search Google Ads Transparency advertisers: verified advertiser ids, names and regions. The advertiser id feeds google_ads/company-ads. Costs 4 credits per successful live response.'
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        example: lululemon
        description: Advertiser or brand name.
      - name: region
        in: query
        required: false
        schema:
          type: string
        example: US
        description: Two-letter region code.
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/google_ads/search-advertisers.json
                      title: google_ads/search-advertisers data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              advertiser_id:
                                description: Optional advertiser id supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              platform:
                                description: Optional platform supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              region:
                                description: Optional region supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - advertiser_id
                                properties:
                                  advertiser_id:
                                    description: Optional advertiser id supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - name
                                properties:
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - region
                                properties:
                                  region:
                                    description: Optional region supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - items:
                        - advertiser_id: example
                          name: example
                          platform: example
                          region: example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 4
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
components:
  schemas:
    Success:
      type: object
      required:
      - success
      - platform
      - endpoint
      - data
      - credits_used
      - credits_remaining
      - request_id
      properties:
        _completeness:
          type: object
          description: Reported response completeness, not a guarantee of complete platform history. Missing source assertions remain unknown.
          properties:
            state:
              type: string
              enum:
              - complete
              - partial
              - unknown
            scope:
              type: string
            inspection_limited:
              type: boolean
        success:
          const: true
        platform:
          type: string
        endpoint:
          type: string
          description: The resolved path, e.g. `/v1/github/profile`.
        data:
          description: Amazon responses include marketplace.country and marketplace.domain (resolved request marketplace, UK by default). X profiles preserve location, bio_link and cover_url when supplied. TikTok profiles preserve commerce_user, seller, region, location and business_category when supplied; region identifies the account region rather than personal residence. TikTok comments use platform_default selection, which can change between fetches; keep the same video and options when following cursors. Amazon review variant is readable text. Facebook profiles preserve cover_url, following and created_at when supplied; likes_count and followers are distinct and follower totals may be rounded. Endpoint-specific normalized payload, not one universal post/profile schema. Many lists use items/count/cursor; a null cursor means no usable next cursor was supplied, not proof that all history was retrieved. Check has_more and warnings where present. Social full-profile bundles use posts_cursor and posts_pagination.next_params; retain all returned next parameters. YouTube channel bundles instead use recent_videos, cursor and recent_videos_pagination. Inspect complete/partial/legs where supplied for bounded or failed components. Optional model-derived fields are labelled, not source facts.
        credits_used:
          type: integer
        credits_remaining:
          type: integer
        request_id:
          type: string
        cached:
          type: boolean
        stale:
          type: boolean
          description: True only for an explicitly labelled, zero-credit reference snapshot served after a temporary upstream failure.
        age_seconds:
          type: integer
          minimum: 0
          description: Age of a stale snapshot since its original retrieval; not reset by outage recovery.
        fetched_at:
          type: string
          format: date-time
          description: Original retrieval time of a stale snapshot, in UTC.
        synthetic:
          type: boolean
          description: Present and true only on the explicitly requested /sandbox surface. Synthetic responses are representative and charged 0 credits; production /v1 never returns them.
        degraded:
          type: boolean
          description: Reserved for sandbox compatibility. Production /v1 reports upstream failure as an error and never serves a representative fallback.
    Error:
      type: object
      required:
      - success
      - error
      - credits_used
      - request_id
      properties:
        success:
          const: false
        error:
          type: object
          required:
          - type
          - message
          - status
          properties:
            type:
              type: string
              enum:
              - UNAUTHORIZED
              - KEY_REVOKED
              - KEY_LIMIT_EXCEEDED
              - RATE_LIMITED
              - INSUFFICIENT_CREDITS
              - RESOURCE_NOT_FOUND
              - INVALID_PARAMETERS
              - TARGET_ACCESS_DENIED
              - UPSTREAM_ERROR
              - UPSTREAM_TIMEOUT
              - FREE_CAPACITY_UNAVAILABLE
              - CAPACITY_UNAVAILABLE
              - ENDPOINT_NOT_FOUND
              - ENDPOINT_NOT_AVAILABLE
              - FAIR_USE_EXCEEDED
              - INTERNAL_ERROR
            message:
              type: string
            status:
              type: integer
            doc_url:
              type: string
              description: Deep link to the exact section of the errors guide for this type.
            details:
              type: object
        credits_used:
          type:
          - integer
          - 'null'
          description: Confirmed net charge; null when billing is pending reconciliation. Inspect error.details.billing_status and retain request_id.
        credits_remaining:
          type: integer
        request_id:
          type: string
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
      description: Your API key (`mn_…`), from the console. The recommended style.
    BearerKey:
      type: http
      scheme: bearer
      description: The same key as a Bearer token, for clients that only expose an Authorization field. Keys are never accepted in the query string — URLs leak into logs and referrers.
