openapi: 3.2.0
info:
  title: Monocrawl Kohl's API
  version: 0.1.0
  description: One key, one envelope, one credit meter across social, search, commerce and web data.
  contact:
    name: Monocrawl support
    url: https://www.monocrawl.com/contact
  termsOfService: https://www.monocrawl.com/legal/terms-and-conditions
servers:
- url: https://www.monocrawl.com
security:
- ApiKeyHeader: []
tags:
- name: Kohl's
paths:
  /v1/kohls/categories:
    get:
      operationId: kohls_categories
      tags:
      - Kohl's
      summary: Kohl's categories
      description: The category tree of the store. Costs 1 credit per successful live response.
      parameters:
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/kohls/categories.json
                      title: kohls/categories data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        _warnings:
                          description: Optional  warnings supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              children:
                                description: Optional children supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - object
                                  - 'null'
                                  properties: {}
                                  additionalProperties: true
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              kind:
                                description: Optional kind supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - children
                                properties:
                                  children:
                                    description: Optional children supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - object
                                      - 'null'
                                      properties: {}
                                      additionalProperties: true
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - name
                                properties:
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    minLength: 1
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - _warnings:
                        - example
                        count: 0
                        has_more: false
                        items:
                        - children:
                          - {}
                          id: example
                          kind: example
                          name: example
                          url: https://example.com/example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/kohls/questions:
    get:
      operationId: kohls_questions
      tags:
      - Kohl's
      summary: Kohl's product questions
      description: Customer questions on a product with their answer counts. Costs 2 credits per successful live response.
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        example: '3910467'
        description: Product id
      - name: page
        in: query
        required: false
        schema:
          type: string
        example: '1'
        description: Page number
      - name: limit
        in: query
        required: false
        schema:
          type: string
        example: '10'
        description: Questions per page, at most 50
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/kohls/questions.json
                      title: kohls/questions data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        cursor:
                          description: Opaque next-page token; pass it back unchanged. Null does not prove complete history.
                          type:
                          - string
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              answer_ids:
                                description: Optional answer ids supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              answers:
                                description: Optional answers supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - object
                                  - 'null'
                                  properties: {}
                                  additionalProperties: true
                              answers_count:
                                description: Optional answers count supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              author:
                                description: Public author information supplied with this record.
                                type:
                                - string
                                - 'null'
                              has_best_answer:
                                description: Optional has best answer supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              helpful:
                                description: Optional helpful supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              location:
                                description: Optional location supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              product_id:
                                description: Optional product id supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              question:
                                description: Optional question supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              submitted_at:
                                description: Optional submitted at supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - answer_ids
                                properties:
                                  answer_ids:
                                    description: Optional answer ids supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - string
                                      - 'null'
                              - required:
                                - answers
                                properties:
                                  answers:
                                    description: Optional answers supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - object
                                      - 'null'
                                      properties: {}
                                      additionalProperties: true
                              - required:
                                - answers_count
                                properties:
                                  answers_count:
                                    description: Optional answers count supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - author
                                properties:
                                  author:
                                    description: Public author information supplied with this record.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - has_best_answer
                                properties:
                                  has_best_answer:
                                    description: Optional has best answer supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                              - required:
                                - helpful
                                properties:
                                  helpful:
                                    description: Optional helpful supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - location
                                properties:
                                  location:
                                    description: Optional location supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - product_id
                                properties:
                                  product_id:
                                    description: Optional product id supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - question
                                properties:
                                  question:
                                    description: Optional question supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - submitted_at
                                properties:
                                  submitted_at:
                                    description: Optional submitted at supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                        page:
                          description: Optional page supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        product:
                          description: Optional product supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            brand:
                              description: Optional brand supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            category_id:
                              description: Optional category id supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            description:
                              description: Source description; null or absent means not supplied.
                              type:
                              - string
                              - 'null'
                            id:
                              description: Source identifier. Preserve the supplied type and exact value.
                              type:
                              - string
                              - 'null'
                            image_url:
                              description: Optional image url supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            title:
                              description: Source title when supplied.
                              type:
                              - string
                              - 'null'
                          additionalProperties: true
                        product_id:
                          description: Optional product id supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        total:
                          description: Source-reported total; null is unknown.
                          type:
                          - number
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - count: 0
                        cursor: null
                        has_more: false
                        items:
                        - answer_ids:
                          - example
                          answers:
                          - {}
                          answers_count: 0
                          author: example
                          has_best_answer: false
                          helpful: 0
                          id: example
                          location: example
                          product_id: example
                          question: example
                          submitted_at: '2026-09-01T12:00:00Z'
                        page: 0
                        product:
                          brand: example
                          category_id: example
                          description: example
                          id: example
                          image_url: https://example.com/example
                          title: example
                        product_id: example
                        total: 0
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 2
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/kohls/reviews:
    get:
      operationId: kohls_reviews
      tags:
      - Kohl's
      summary: Kohl's product reviews
      description: 'Shopper reviews of a product: rating, title, text, author, location, verified purchase, recommendation and secondary ratings such as fit and comfort. Costs 3 credits per successful live response.'
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        example: '3910467'
        description: Product id, the number after prd- in the product URL
      - name: page
        in: query
        required: false
        schema:
          type: string
        example: '1'
        description: Page number
      - name: limit
        in: query
        required: false
        schema:
          type: string
        example: '8'
        description: Reviews per page, at most 50
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/kohls/reviews.json
                      title: kohls/reviews data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        cursor:
                          description: Opaque next-page token; pass it back unchanged. Null does not prove complete history.
                          type:
                          - string
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              author:
                                description: Public author information supplied with this record.
                                type:
                                - string
                                - 'null'
                              comments_count:
                                description: Optional comments count supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              context:
                                description: Optional context supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  age:
                                    description: Optional age supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  bodytype:
                                    description: Optional bodytype supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  lengthofownership:
                                    description: Optional lengthofownership supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                              helpful:
                                description: Optional helpful supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              location:
                                description: Optional location supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              not_helpful:
                                description: Optional not helpful supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              photos:
                                description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                type:
                                - array
                                - 'null'
                                items: {}
                              product_id:
                                description: Optional product id supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              rating:
                                description: Source rating; read its accompanying scale and vote count.
                                type:
                                - number
                                - 'null'
                              recommended:
                                description: Optional recommended supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              secondary_ratings:
                                description: Optional secondary ratings supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  comfort:
                                    description: Optional comfort supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  durability:
                                    description: Optional durability supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  fit:
                                    description: Optional fit supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  quality:
                                    description: Optional quality supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  style:
                                    description: Optional style supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  value:
                                    description: Optional value supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                additionalProperties: true
                              submitted_at:
                                description: Optional submitted at supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              text:
                                description: Source text when supplied.
                                type:
                                - string
                                - 'null'
                              title:
                                description: Source title when supplied.
                                type:
                                - string
                                - 'null'
                              verified_purchaser:
                                description: Optional verified purchaser supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - author
                                properties:
                                  author:
                                    description: Public author information supplied with this record.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - comments_count
                                properties:
                                  comments_count:
                                    description: Optional comments count supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - context
                                properties:
                                  context:
                                    description: Optional context supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    properties:
                                      age:
                                        description: Optional age supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      bodytype:
                                        description: Optional bodytype supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      lengthofownership:
                                        description: Optional lengthofownership supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - helpful
                                properties:
                                  helpful:
                                    description: Optional helpful supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - location
                                properties:
                                  location:
                                    description: Optional location supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - not_helpful
                                properties:
                                  not_helpful:
                                    description: Optional not helpful supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - photos
                                properties:
                                  photos:
                                    description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                    type:
                                    - array
                                    items: {}
                              - required:
                                - product_id
                                properties:
                                  product_id:
                                    description: Optional product id supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - rating
                                properties:
                                  rating:
                                    description: Source rating; read its accompanying scale and vote count.
                                    type:
                                    - number
                              - required:
                                - recommended
                                properties:
                                  recommended:
                                    description: Optional recommended supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                              - required:
                                - secondary_ratings
                                properties:
                                  secondary_ratings:
                                    description: Optional secondary ratings supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    properties:
                                      comfort:
                                        description: Optional comfort supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      durability:
                                        description: Optional durability supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      fit:
                                        description: Optional fit supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      quality:
                                        description: Optional quality supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      style:
                                        description: Optional style supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      value:
                                        description: Optional value supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - submitted_at
                                properties:
                                  submitted_at:
                                    description: Optional submitted at supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - text
                                properties:
                                  text:
                                    description: Source text when supplied.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - title
                                properties:
                                  title:
                                    description: Source title when supplied.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - verified_purchaser
                                properties:
                                  verified_purchaser:
                                    description: Optional verified purchaser supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                        page:
                          description: Optional page supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        product:
                          description: Optional product supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            brand:
                              description: Optional brand supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            category_id:
                              description: Optional category id supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            description:
                              description: Source description; null or absent means not supplied.
                              type:
                              - string
                              - 'null'
                            id:
                              description: Source identifier. Preserve the supplied type and exact value.
                              type:
                              - string
                              - 'null'
                            image_url:
                              description: Optional image url supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            title:
                              description: Source title when supplied.
                              type:
                              - string
                              - 'null'
                          additionalProperties: true
                        product_id:
                          description: Optional product id supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        total:
                          description: Source-reported total; null is unknown.
                          type:
                          - number
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - count: 0
                        cursor: null
                        has_more: false
                        items:
                        - author: example
                          comments_count: 0
                          context:
                            age: example
                            bodytype: example
                            lengthofownership: example
                          helpful: 0
                          id: example
                          location: example
                          not_helpful: 0
                          photos: []
                          product_id: example
                          rating: 0
                          recommended: false
                          secondary_ratings:
                            comfort: 0
                            durability: 0
                            fit: 0
                            quality: 0
                            style: 0
                            value: 0
                          submitted_at: '2026-09-01T12:00:00Z'
                          text: example
                          title: example
                          verified_purchaser: false
                        page: 0
                        product:
                          brand: example
                          category_id: example
                          description: example
                          id: example
                          image_url: https://example.com/example
                          title: example
                        product_id: example
                        total: 0
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 3
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/kohls/search:
    get:
      operationId: kohls_search
      tags:
      - Kohl's
      summary: Kohl's product search
      description: 'Products matching a keyword: price band, rating, colours, shipping and pickup availability. Costs 3 credits per successful live response.'
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        example: tshirt
        description: Search keyword
      - name: page
        in: query
        required: false
        schema:
          type: string
        example: '1'
        description: Page number
      - name: limit
        in: query
        required: false
        schema:
          type: string
        example: '120'
        description: Requested results per page, 1–120 (default 120); the source may return fewer.
      - name: sort
        in: query
        required: false
        schema:
          type: string
        x-values-from: data.sorts
        example: ''
        description: Sort id from a previous answer's sorts list
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/kohls/search.json
                      title: kohls/search data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        cursor:
                          description: Opaque next-page token; pass it back unchanged. Null does not prove complete history.
                          type:
                          - string
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              colors:
                                description: Optional colors supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              colors_count:
                                description: Optional colors count supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              coupon_eligible:
                                description: Optional coupon eligible supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              currency:
                                description: Optional currency supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              image_url:
                                description: Optional image url supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              pickup:
                                description: Optional pickup supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              platform:
                                description: Optional platform supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              price:
                                description: Source price. Currency, taxes and availability depend on the listing.
                                type:
                                - number
                                - 'null'
                              price_max:
                                description: Optional price max supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              price_type:
                                description: Optional price type supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              rating:
                                description: Source rating; read its accompanying scale and vote count.
                                type:
                                - object
                                - 'null'
                                properties:
                                  max:
                                    description: Optional max supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  value:
                                    description: Optional value supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  votes:
                                    description: Optional votes supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                additionalProperties: true
                              regular_price:
                                description: Optional regular price supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              ships:
                                description: Optional ships supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              sku_ids:
                                description: Optional sku ids supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              sponsored:
                                description: Optional sponsored supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              title:
                                description: Source title when supplied.
                                type:
                                - string
                                - 'null'
                              type:
                                description: Optional type supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                              variations:
                                description: Optional variations supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - colors
                                properties:
                                  colors:
                                    description: Optional colors supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - string
                                      - 'null'
                              - required:
                                - colors_count
                                properties:
                                  colors_count:
                                    description: Optional colors count supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - coupon_eligible
                                properties:
                                  coupon_eligible:
                                    description: Optional coupon eligible supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                              - required:
                                - currency
                                properties:
                                  currency:
                                    description: Optional currency supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - image_url
                                properties:
                                  image_url:
                                    description: Optional image url supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - pickup
                                properties:
                                  pickup:
                                    description: Optional pickup supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                              - required:
                                - price
                                properties:
                                  price:
                                    description: Source price. Currency, taxes and availability depend on the listing.
                                    type:
                                    - number
                              - required:
                                - price_max
                                properties:
                                  price_max:
                                    description: Optional price max supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - price_type
                                properties:
                                  price_type:
                                    description: Optional price type supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - rating
                                properties:
                                  rating:
                                    description: Source rating; read its accompanying scale and vote count.
                                    type:
                                    - object
                                    properties:
                                      max:
                                        description: Optional max supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      value:
                                        description: Optional value supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      votes:
                                        description: Optional votes supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - regular_price
                                properties:
                                  regular_price:
                                    description: Optional regular price supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - ships
                                properties:
                                  ships:
                                    description: Optional ships supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                              - required:
                                - sku_ids
                                properties:
                                  sku_ids:
                                    description: Optional sku ids supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - string
                                      - 'null'
                              - required:
                                - sponsored
                                properties:
                                  sponsored:
                                    description: Optional sponsored supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                              - required:
                                - title
                                properties:
                                  title:
                                    description: Source title when supplied.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - variations
                                properties:
                                  variations:
                                    description: Optional variations supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                        page:
                          description: Optional page supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        query:
                          description: Optional query supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        related_searches:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        sorts:
                          description: Optional sorts supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              active:
                                description: Optional active supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        total:
                          description: Source-reported total; null is unknown.
                          type:
                          - number
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - count: 0
                        cursor: null
                        has_more: false
                        items:
                        - colors:
                          - example
                          colors_count: 0
                          coupon_eligible: false
                          currency: example
                          id: example
                          image_url: https://example.com/example
                          pickup: false
                          platform: example
                          price: 0
                          price_max: 0
                          price_type: example
                          rating:
                            max: 0
                            value: 0
                            votes: 0
                          regular_price: 0
                          ships: false
                          sku_ids:
                          - example
                          sponsored: false
                          title: example
                          type: example
                          url: https://example.com/example
                          variations: example
                        page: 0
                        query: example
                        related_searches: []
                        sorts:
                        - active: false
                          id: example
                          name: example
                        total: 0
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 3
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/kohls/stores:
    get:
      operationId: kohls_stores
      tags:
      - Kohl's
      summary: Kohl's store locator
      description: 'Stores near a point: name, address, coordinates, page and specialties. Costs 1 credit per successful live response.'
      parameters:
      - name: latitude
        in: query
        required: true
        schema:
          type: string
        example: '40.941111'
        description: Latitude
      - name: longitude
        in: query
        required: true
        schema:
          type: string
        example: '-73.982308'
        description: Longitude
      - name: radius
        in: query
        required: false
        schema:
          type: string
        example: '25'
        description: Search radius in miles
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/kohls/stores.json
                      title: kohls/stores data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              address:
                                description: Optional address supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              city:
                                description: Optional city supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              country:
                                description: Optional country supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              latitude:
                                description: Optional latitude supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              longitude:
                                description: Optional longitude supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              platform:
                                description: Optional platform supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              postcode:
                                description: Optional postcode supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              region:
                                description: Optional region supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              specialties:
                                description: Optional specialties supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              store_number:
                                description: Optional store number supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              type:
                                description: Optional type supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - address
                                properties:
                                  address:
                                    description: Optional address supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - city
                                properties:
                                  city:
                                    description: Optional city supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - country
                                properties:
                                  country:
                                    description: Optional country supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - latitude
                                properties:
                                  latitude:
                                    description: Optional latitude supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - longitude
                                properties:
                                  longitude:
                                    description: Optional longitude supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - name
                                properties:
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - postcode
                                properties:
                                  postcode:
                                    description: Optional postcode supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - region
                                properties:
                                  region:
                                    description: Optional region supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - specialties
                                properties:
                                  specialties:
                                    description: Optional specialties supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - string
                                      - 'null'
                              - required:
                                - store_number
                                properties:
                                  store_number:
                                    description: Optional store number supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    minLength: 1
                        latitude:
                          description: Optional latitude supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        longitude:
                          description: Optional longitude supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        radius_miles:
                          description: Optional radius miles supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - count: 0
                        has_more: false
                        items:
                        - address: example
                          city: example
                          country: example
                          id: example
                          latitude: 0
                          longitude: 0
                          name: example
                          platform: example
                          postcode: example
                          region: example
                          specialties:
                          - example
                          store_number: example
                          type: example
                          url: https://example.com/example
                        latitude: 0
                        longitude: 0
                        radius_miles: 0
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
components:
  schemas:
    Error:
      type: object
      required:
      - success
      - error
      - credits_used
      - request_id
      properties:
        success:
          const: false
        error:
          type: object
          required:
          - type
          - message
          - status
          properties:
            type:
              type: string
              enum:
              - UNAUTHORIZED
              - KEY_REVOKED
              - KEY_LIMIT_EXCEEDED
              - RATE_LIMITED
              - INSUFFICIENT_CREDITS
              - RESOURCE_NOT_FOUND
              - INVALID_PARAMETERS
              - TARGET_ACCESS_DENIED
              - UPSTREAM_ERROR
              - UPSTREAM_TIMEOUT
              - FREE_CAPACITY_UNAVAILABLE
              - CAPACITY_UNAVAILABLE
              - ENDPOINT_NOT_FOUND
              - ENDPOINT_NOT_AVAILABLE
              - FAIR_USE_EXCEEDED
              - INTERNAL_ERROR
            message:
              type: string
            status:
              type: integer
            doc_url:
              type: string
              description: Deep link to the exact section of the errors guide for this type.
            details:
              type: object
        credits_used:
          type:
          - integer
          - 'null'
          description: Confirmed net charge; null when billing is pending reconciliation. Inspect error.details.billing_status and retain request_id.
        credits_remaining:
          type: integer
        request_id:
          type: string
    Success:
      type: object
      required:
      - success
      - platform
      - endpoint
      - data
      - credits_used
      - credits_remaining
      - request_id
      properties:
        _completeness:
          type: object
          description: Reported response completeness, not a guarantee of complete platform history. Missing source assertions remain unknown.
          properties:
            state:
              type: string
              enum:
              - complete
              - partial
              - unknown
            scope:
              type: string
            inspection_limited:
              type: boolean
        success:
          const: true
        platform:
          type: string
        endpoint:
          type: string
          description: The resolved path, e.g. `/v1/github/profile`.
        data:
          description: Amazon responses include marketplace.country and marketplace.domain (resolved request marketplace, UK by default). X profiles preserve location, bio_link and cover_url when supplied. TikTok profiles preserve commerce_user, seller, region, location and business_category when supplied; region identifies the account region rather than personal residence. TikTok comments use platform_default selection, which can change between fetches; keep the same video and options when following cursors. Amazon review variant is readable text. Facebook profiles preserve cover_url, following and created_at when supplied; likes_count and followers are distinct and follower totals may be rounded. Endpoint-specific normalized payload, not one universal post/profile schema. Many lists use items/count/cursor; a null cursor means no usable next cursor was supplied, not proof that all history was retrieved. Check has_more and warnings where present. Social full-profile bundles use posts_cursor and posts_pagination.next_params; retain all returned next parameters. YouTube channel bundles instead use recent_videos, cursor and recent_videos_pagination. Inspect complete/partial/legs where supplied for bounded or failed components. Optional model-derived fields are labelled, not source facts.
        credits_used:
          type: integer
        credits_remaining:
          type: integer
        request_id:
          type: string
        cached:
          type: boolean
        stale:
          type: boolean
          description: True only for an explicitly labelled, zero-credit reference snapshot served after a temporary upstream failure.
        age_seconds:
          type: integer
          minimum: 0
          description: Age of a stale snapshot since its original retrieval; not reset by outage recovery.
        fetched_at:
          type: string
          format: date-time
          description: Original retrieval time of a stale snapshot, in UTC.
        synthetic:
          type: boolean
[...]
