openapi: 3.2.0
info:
  title: Monocrawl Cohort Queries API
  version: 0.1.0
  description: One key, one envelope, one credit meter across social, search, commerce and web data.
  contact:
    name: Monocrawl support
    url: https://www.monocrawl.com/contact
  termsOfService: https://www.monocrawl.com/legal/terms-and-conditions
servers:
- url: https://www.monocrawl.com
security:
- ApiKeyHeader: []
tags:
- name: Cohort Queries
paths:
  /v1/cohort-queries/delete:
    get:
      operationId: cohort_queries_delete
      tags:
      - Cohort Queries
      summary: Delete a cohort query
      description: Delete one of your cohort sweeps and its results. A sweep still queued is cancelled and refunded; one already running is cancelled and its charge stands. Free — costs 0 credits.
      parameters:
      - name: query_id
        in: query
        required: true
        schema:
          type: string
        example: cq_0f2c8b1d4e6a7c9b0d1e2f3a
        description: Cohort query id (the {queryId} path segment)
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/cohort-queries/delete.json
                      title: cohort-queries/delete data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                        deleted:
                          type:
                          - boolean
                          - 'null'
                        cancelled:
                          type:
                          - object
                          - 'null'
                          properties:
                            credits_refunded:
                              type:
                              - number
                              - 'null'
                            refund_status:
                              type:
                              - string
                              - 'null'
                          additionalProperties: true
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - id
                          properties:
                            id:
                              type:
                              - string
                              minLength: 1
                        - required:
                          - deleted
                          properties:
                            deleted:
                              type:
                              - boolean
                        - required:
                          - cancelled
                          properties:
                            cancelled:
                              type:
                              - object
                              properties:
                                credits_refunded:
                                  type:
                                  - number
                                  - 'null'
                                refund_status:
                                  type:
                                  - string
                                  - 'null'
                              additionalProperties: true
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - id: null
                        deleted: false
                        cancelled:
                          credits_refunded: 0
                          refund_status: null
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 0
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/cohort-queries/get:
    get:
      operationId: cohort_queries_get
      tags:
      - Cohort Queries
      summary: Check cohort query status
      description: The status of one cohort keyword sweep, with per-member progress while it runs. Free — costs 0 credits.
      parameters:
      - name: query_id
        in: query
        required: true
        schema:
          type: string
        example: cq_0f2c8b1d4e6a7c9b0d1e2f3a
        description: Cohort query id (the {queryId} path segment)
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/cohort-queries/get.json
                      title: cohort-queries/get data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          description: id
                        cohort_id:
                          type:
                          - string
                          - 'null'
                          description: cohort id
                        keyword:
                          type:
                          - string
                          - 'null'
                          description: keyword
                        status:
                          type:
                          - string
                          - 'null'
                          description: status
                        job_id:
                          type:
                          - string
                          - 'null'
                          description: job id
                        error:
                          type:
                          - string
                          - 'null'
                          description: error
                        created_at:
                          type:
                          - string
                          - 'null'
                          description: created at
                        completed_at:
                          type:
                          - string
                          - 'null'
                          description: completed at
                        counts:
                          type:
                          - object
                          - 'null'
                          properties: {}
                          additionalProperties: true
                        per_member:
                          type:
                          - array
                          - 'null'
                          items:
                            type:
                            - object
                            - 'null'
                            properties: {}
                            additionalProperties: true
                        matches:
                          type:
                          - array
                          - 'null'
                          items:
                            type:
                            - object
                            - 'null'
                            properties: {}
                            additionalProperties: true
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - id
                          properties:
                            id:
                              type:
                              - string
                              description: id
                              minLength: 1
                        - required:
                          - cohort_id
                          properties:
                            cohort_id:
                              type:
                              - string
                              description: cohort id
                              minLength: 1
                        - required:
                          - job_id
                          properties:
                            job_id:
                              type:
                              - string
                              description: job id
                              minLength: 1
                        - required:
                          - error
                          properties:
                            error:
                              type:
                              - string
                              description: error
                              minLength: 1
                        - required:
                          - created_at
                          properties:
                            created_at:
                              type:
                              - string
                              description: created at
                              minLength: 1
                        - required:
                          - completed_at
                          properties:
                            completed_at:
                              type:
                              - string
                              description: completed at
                              minLength: 1
                        - required:
                          - counts
                          properties:
                            counts:
                              type:
                              - object
                              properties: {}
                              additionalProperties: true
                        - required:
                          - per_member
                          properties:
                            per_member:
                              type:
                              - array
                              items:
                                type:
                                - object
                                - 'null'
                                properties: {}
                                additionalProperties: true
                        - required:
                          - matches
                          properties:
                            matches:
                              type:
                              - array
                              items:
                                type:
                                - object
                                - 'null'
                                properties: {}
                                additionalProperties: true
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - id: null
                        cohort_id: null
                        keyword: null
                        status: null
                        job_id: null
                        error: null
                        created_at: null
                        completed_at: null
                        counts: {}
                        per_member: []
                        matches: []
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 0
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/cohort-queries/results:
    get:
      operationId: cohort_queries_results
      tags:
      - Cohort Queries
      summary: Read cohort query results
      description: The keyword matches a finished cohort sweep found, per member, newest page first. Free — costs 0 credits.
      parameters:
      - name: query_id
        in: query
        required: true
        schema:
          type: string
        example: cq_0f2c8b1d4e6a7c9b0d1e2f3a
        description: Cohort query id (the {queryId} path segment)
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Opaque cursor from the previous page of matches
      - name: limit
        in: query
        required: false
        schema:
          type: string
        example: '25'
        description: Matches per page, 1-100 (default 25)
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/cohort-queries/results.json
                      title: cohort-queries/results data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        items:
                          type:
                          - array
                          items:
                            type: object
                            properties:
                              platform:
                                type:
                                - string
                                - 'null'
                                description: platform
                              member:
                                type:
                                - string
                                - 'null'
                                description: member
                              url:
                                type:
                                - string
                                - 'null'
                                description: url
                              title:
                                type:
                                - string
                                - 'null'
                                description: title
                              text:
                                type:
                                - string
                                - 'null'
                                description: text
                              data:
                                description: Operation-specific JSON value; inspect the status and requested operation before reading it.
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - member
                                properties:
                                  member:
                                    type:
                                    - string
                                    description: member
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    type:
                                    - string
                                    description: url
                                    minLength: 1
                              - required:
                                - title
                                properties:
                                  title:
                                    type:
                                    - string
                                    description: title
                                    minLength: 1
                              - required:
                                - text
                                properties:
                                  text:
                                    type:
                                    - string
                                    description: text
                                    minLength: 1
                              - required:
                                - data
                                properties:
                                  data:
                                    description: Operation-specific JSON value; inspect the status and requested operation before reading it.
                        count:
                          type:
                          - number
                          - 'null'
                        cursor:
                          type:
                          - string
                          - 'null'
                        has_more:
                          type:
                          - boolean
                          - 'null'
                        query_id:
                          type:
                          - string
                          - 'null'
                          description: query id
                        cohort_id:
                          type:
                          - string
                          - 'null'
                          description: cohort id
                        keyword:
                          type:
                          - string
                          - 'null'
                          description: keyword
                        status:
                          type:
                          - string
                          - 'null'
                          description: status
                        error:
                          type:
                          - string
                          - 'null'
                          description: error
                        completed_at:
                          type:
                          - string
                          - 'null'
                          description: completed at
                        ready:
                          type:
                          - boolean
                          - 'null'
                        total:
                          type:
                          - number
                          - 'null'
                        counts:
                          type:
                          - object
                          - 'null'
                          properties: {}
                          additionalProperties: true
                        per_member:
                          type:
                          - array
                          - 'null'
                          items:
                            type:
                            - object
                            - 'null'
                            properties: {}
                            additionalProperties: true
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - items: []
                        count: 0
                        cursor: null
                        has_more: false
                        query_id: null
                        cohort_id: null
                        keyword: null
                        status: null
                        error: null
                        completed_at: null
                        ready: false
                        total: 0
                        counts: {}
                        per_member: []
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 0
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
components:
  schemas:
    Success:
      type: object
      required:
      - success
      - platform
      - endpoint
      - data
      - credits_used
      - credits_remaining
      - request_id
      properties:
        _completeness:
          type: object
          description: Reported response completeness, not a guarantee of complete platform history. Missing source assertions remain unknown.
          properties:
            state:
              type: string
              enum:
              - complete
              - partial
              - unknown
            scope:
              type: string
            inspection_limited:
              type: boolean
        success:
          const: true
        platform:
          type: string
        endpoint:
          type: string
          description: The resolved path, e.g. `/v1/github/profile`.
        data:
          description: Amazon responses include marketplace.country and marketplace.domain (resolved request marketplace, UK by default). X profiles preserve location, bio_link and cover_url when supplied. TikTok profiles preserve commerce_user, seller, region, location and business_category when supplied; region identifies the account region rather than personal residence. TikTok comments use platform_default selection, which can change between fetches; keep the same video and options when following cursors. Amazon review variant is readable text. Facebook profiles preserve cover_url, following and created_at when supplied; likes_count and followers are distinct and follower totals may be rounded. Endpoint-specific normalized payload, not one universal post/profile schema. Many lists use items/count/cursor; a null cursor means no usable next cursor was supplied, not proof that all history was retrieved. Check has_more and warnings where present. Social full-profile bundles use posts_cursor and posts_pagination.next_params; retain all returned next parameters. YouTube channel bundles instead use recent_videos, cursor and recent_videos_pagination. Inspect complete/partial/legs where supplied for bounded or failed components. Optional model-derived fields are labelled, not source facts.
        credits_used:
          type: integer
        credits_remaining:
          type: integer
        request_id:
          type: string
        cached:
          type: boolean
        stale:
          type: boolean
          description: True only for an explicitly labelled, zero-credit reference snapshot served after a temporary upstream failure.
        age_seconds:
          type: integer
          minimum: 0
          description: Age of a stale snapshot since its original retrieval; not reset by outage recovery.
        fetched_at:
          type: string
          format: date-time
          description: Original retrieval time of a stale snapshot, in UTC.
        synthetic:
          type: boolean
          description: Present and true only on the explicitly requested /sandbox surface. Synthetic responses are representative and charged 0 credits; production /v1 never returns them.
        degraded:
          type: boolean
          description: Reserved for sandbox compatibility. Production /v1 reports upstream failure as an error and never serves a representative fallback.
    Error:
      type: object
      required:
      - success
      - error
      - credits_used
      - request_id
      properties:
        success:
          const: false
        error:
          type: object
          required:
          - type
          - message
          - status
          properties:
            type:
              type: string
              enum:
              - UNAUTHORIZED
              - KEY_REVOKED
              - KEY_LIMIT_EXCEEDED
              - RATE_LIMITED
              - INSUFFICIENT_CREDITS
              - RESOURCE_NOT_FOUND
              - INVALID_PARAMETERS
              - TARGET_ACCESS_DENIED
              - UPSTREAM_ERROR
              - UPSTREAM_TIMEOUT
              - FREE_CAPACITY_UNAVAILABLE
              - CAPACITY_UNAVAILABLE
              - ENDPOINT_NOT_FOUND
              - ENDPOINT_NOT_AVAILABLE
              - FAIR_USE_EXCEEDED
              - INTERNAL_ERROR
            message:
              type: string
            status:
              type: integer
            doc_url:
              type: string
              description: Deep link to the exact section of the errors guide for this type.
            details:
              type: object
        credits_used:
          type:
          - integer
          - 'null'
          description: Confirmed net charge; null when billing is pending reconciliation. Inspect error.details.billing_status and retain request_id.
        credits_remaining:
          type: integer
        request_id:
          type: string
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
      description: Your API key (`mn_…`), from the console. The recommended style.
    BearerKey:
      type: http
      scheme: bearer
      description: The same key as a Bearer token, for clients that only expose an Authorization field. Keys are never accepted in the query string — URLs leak into logs and referrers.
