openapi: 3.2.0
info:
  title: Monocrawl Apple Music API
  version: 0.1.0
  description: One key, one envelope, one credit meter across social, search, commerce and web data.
  contact:
    name: Monocrawl support
    url: https://www.monocrawl.com/contact
  termsOfService: https://www.monocrawl.com/legal/terms-and-conditions
servers:
- url: https://www.monocrawl.com
security:
- ApiKeyHeader: []
tags:
- name: Apple Music
paths:
  /v1/apple_music/album:
    get:
      operationId: apple_music_album
      tags:
      - Apple Music
      summary: Get an Apple Music album
      description: Look up one Apple Music album by id or music.apple.com URL, including its full track listing. Costs 1 credit per successful live response.
      parameters:
      - name: id
        in: query
        required: false
        schema:
          type: string
        example: '697194953'
        description: Apple Music album id (this or url)
      - name: url
        in: query
        required: false
        schema:
          type: string
        example: https://music.apple.com/us/album/discovery/697194953
        description: music.apple.com album URL (this or id)
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/apple_music/album.json
                      title: apple_music/album data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        artist:
                          description: Optional artist supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              description: Source identifier. Preserve the supplied type and exact value.
                              type:
                              - string
                              - 'null'
                            name:
                              description: Optional name supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            url:
                              description: Original source URL when supplied.
                              type:
                              - string
                              - 'null'
                          additionalProperties: true
                        artwork_url:
                          description: Optional artwork url supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        copyright:
                          description: Optional copyright supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        currency:
                          description: Optional currency supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        explicit:
                          description: Optional explicit supplied by this operation. Null means unknown.
                          type:
                          - boolean
                          - 'null'
                        genre:
                          description: Optional genre supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        id:
                          description: Source identifier. Preserve the supplied type and exact value.
                          type:
                          - string
                          - 'null'
                        kind:
                          description: Optional kind supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        price:
                          description: Source price. Currency, taxes and availability depend on the listing.
                          type:
                          - number
                          - 'null'
                        release_date:
                          description: Optional release date supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        title:
                          description: Source title when supplied.
                          type:
                          - string
                          - 'null'
                        track_count:
                          description: Optional track count supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        tracks:
                          description: Optional tracks supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              album:
                                description: Optional album supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    - 'null'
                                  title:
                                    description: Source title when supplied.
                                    type:
                                    - string
                                    - 'null'
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                              artist:
                                description: Optional artist supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    - 'null'
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                              artwork_url:
                                description: Optional artwork url supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              currency:
                                description: Optional currency supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              disc_number:
                                description: Optional disc number supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              duration_ms:
                                description: Optional duration ms supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              explicit:
                                description: Optional explicit supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              genre:
                                description: Optional genre supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              kind:
                                description: Optional kind supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              media_kind:
                                description: Optional media kind supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              preview_url:
                                description: Optional preview url supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              price:
                                description: Source price. Currency, taxes and availability depend on the listing.
                                type:
                                - number
                                - 'null'
                              release_date:
                                description: Optional release date supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              title:
                                description: Source title when supplied.
                                type:
                                - string
                                - 'null'
                              track_number:
                                description: Optional track number supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        url:
                          description: Original source URL when supplied.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - artist
                          properties:
                            artist:
                              description: Optional artist supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties:
                                id:
                                  description: Source identifier. Preserve the supplied type and exact value.
                                  type:
                                  - string
                                  - 'null'
                                name:
                                  description: Optional name supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                url:
                                  description: Original source URL when supplied.
                                  type:
                                  - string
                                  - 'null'
                              additionalProperties: true
                        - required:
                          - artwork_url
                          properties:
                            artwork_url:
                              description: Optional artwork url supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - copyright
                          properties:
                            copyright:
                              description: Optional copyright supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - currency
                          properties:
                            currency:
                              description: Optional currency supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - explicit
                          properties:
                            explicit:
                              description: Optional explicit supplied by this operation. Null means unknown.
                              type:
                              - boolean
                        - required:
                          - genre
                          properties:
                            genre:
                              description: Optional genre supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - id
                          properties:
                            id:
                              description: Source identifier. Preserve the supplied type and exact value.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - price
                          properties:
                            price:
                              description: Source price. Currency, taxes and availability depend on the listing.
                              type:
                              - number
                        - required:
                          - release_date
                          properties:
                            release_date:
                              description: Optional release date supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - title
                          properties:
                            title:
                              description: Source title when supplied.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - track_count
                          properties:
                            track_count:
                              description: Optional track count supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - tracks
                          properties:
                            tracks:
                              description: Optional tracks supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  album:
                                    description: Optional album supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      id:
                                        description: Source identifier. Preserve the supplied type and exact value.
                                        type:
                                        - string
                                        - 'null'
                                      title:
                                        description: Source title when supplied.
                                        type:
                                        - string
                                        - 'null'
                                      url:
                                        description: Original source URL when supplied.
                                        type:
                                        - string
                                        - 'null'
                                    additionalProperties: true
                                  artist:
                                    description: Optional artist supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      id:
                                        description: Source identifier. Preserve the supplied type and exact value.
                                        type:
                                        - string
                                        - 'null'
                                      name:
                                        description: Optional name supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      url:
                                        description: Original source URL when supplied.
                                        type:
                                        - string
                                        - 'null'
                                    additionalProperties: true
                                  artwork_url:
                                    description: Optional artwork url supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  currency:
                                    description: Optional currency supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  disc_number:
                                    description: Optional disc number supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  duration_ms:
                                    description: Optional duration ms supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  explicit:
                                    description: Optional explicit supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                                    - 'null'
                                  genre:
                                    description: Optional genre supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    - 'null'
                                  kind:
                                    description: Optional kind supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  media_kind:
                                    description: Optional media kind supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  preview_url:
                                    description: Optional preview url supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  price:
                                    description: Source price. Currency, taxes and availability depend on the listing.
                                    type:
                                    - number
                                    - 'null'
                                  release_date:
                                    description: Optional release date supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  title:
                                    description: Source title when supplied.
                                    type:
                                    - string
                                    - 'null'
                                  track_number:
                                    description: Optional track number supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                        - required:
                          - url
                          properties:
                            url:
                              description: Original source URL when supplied.
                              type:
                              - string
                              minLength: 1
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - artist:
                          id: example
                          name: example
                          url: https://example.com/example
                        artwork_url: https://example.com/example
                        copyright: example
                        currency: example
                        explicit: false
                        genre: example
                        id: example
                        kind: example
                        price: 0
                        release_date: '2026-09-01T12:00:00Z'
                        title: example
                        track_count: 0
                        tracks:
                        - album:
                            id: example
                            title: example
                            url: https://example.com/example
                          artist:
                            id: example
                            name: example
                            url: https://example.com/example
                          artwork_url: https://example.com/example
                          currency: example
                          disc_number: 0
                          duration_ms: 0
                          explicit: false
                          genre: example
                          id: example
                          kind: example
                          media_kind: example
                          preview_url: https://example.com/example
                          price: 0
                          release_date: '2026-09-01T12:00:00Z'
                          title: example
                          track_number: 0
                          url: https://example.com/example
                        url: https://example.com/example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/apple_music/artist:
    get:
      operationId: apple_music_artist
      tags:
      - Apple Music
      summary: Get an Apple Music artist
      description: Look up one Apple Music artist by id or music.apple.com URL. Costs 1 credit per successful live response.
      parameters:
      - name: id
        in: query
        required: false
        schema:
          type: string
        example: '5468295'
        description: Apple Music artist id (this or url)
      - name: url
        in: query
        required: false
        schema:
          type: string
        example: https://music.apple.com/us/artist/daft-punk/5468295
        description: music.apple.com artist URL (this or id)
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/apple_music/artist.json
                      title: apple_music/artist data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        artist_type:
                          description: Optional artist type supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        genre:
                          description: Optional genre supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        id:
                          description: Source identifier. Preserve the supplied type and exact value.
                          type:
                          - string
                          - 'null'
                        kind:
                          description: Optional kind supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        name:
                          description: Optional name supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        url:
                          description: Original source URL when supplied.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - artist_type
                          properties:
                            artist_type:
                              description: Optional artist type supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - genre
                          properties:
                            genre:
                              description: Optional genre supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - id
                          properties:
                            id:
                              description: Source identifier. Preserve the supplied type and exact value.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - name
                          properties:
                            name:
                              description: Optional name supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - url
                          properties:
                            url:
                              description: Original source URL when supplied.
                              type:
                              - string
                              minLength: 1
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - artist_type: example
                        genre: example
                        id: example
                        kind: example
                        name: example
                        url: https://example.com/example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/apple_music/search:
    get:
      operationId: apple_music_search
      tags:
      - Apple Music
      summary: Search Apple Music
      description: Search Apple Music artists, albums, and tracks by keyword. Costs 3 credits per successful live response.
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        example: daft punk
        description: Search terms
      - name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - artist
          - album
          - track
        example: artist
        description: 'Restrict results: artist, album, or track (omit for all music) Accepted values: artist, album, track. Case, spaces, hyphens and underscores are interchangeable.'
      - name: limit
        in: query
        required: false
        schema:
          type: string
        example: '25'
        description: Max results, 1-50 (default 25)
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/apple_music/search.json
                      title: apple_music/search data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              album:
                                description: Optional album supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    - 'null'
                                  title:
                                    description: Source title when supplied.
                                    type:
                                    - string
                                    - 'null'
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                              artist:
                                description: Optional artist supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    - 'null'
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                              artwork_url:
                                description: Optional artwork url supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              currency:
                                description: Optional currency supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              disc_number:
                                description: Optional disc number supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              duration_ms:
                                description: Optional duration ms supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              explicit:
                                description: Optional explicit supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              genre:
                                description: Optional genre supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              kind:
                                description: Optional kind supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              media_kind:
                                description: Optional media kind supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              preview_url:
                                description: Optional preview url supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              price:
                                description: Source price. Currency, taxes and availability depend on the listing.
                                type:
                                - number
                                - 'null'
                              release_date:
                                description: Optional release date supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              title:
                                description: Source title when supplied.
                                type:
                                - string
                                - 'null'
                              track_number:
                                description: Optional track number supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - album
                                properties:
                                  album:
                                    description: Optional album supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    properties:
                                      id:
                                        description: Source identifier. Preserve the supplied type and exact value.
                                        type:
                                        - string
                                        - 'null'
                                      title:
                                        description: Source title when supplied.
                                        type:
                                        - string
                                        - 'null'
                                      url:
                                        description: Original source URL when supplied.
                                        type:
                                        - string
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - artist
                                properties:
                                  artist:
                                    description: Optional artist supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    properties:
                                      id:
                                        description: Source identifier. Preserve the supplied type and exact value.
                                        type:
                                        - string
                                        - 'null'
                                      name:
                                        description: Optional name supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      url:
                                        description: Original source URL when supplied.
                                        type:
                                        - string
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - artwork_url
                                properties:
                                  artwork_url:
                                    description: Optional artwork url supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - currency
                                properties:
                                  currency:
                                    description: Optional currency supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - disc_number
                                properties:
                                  disc_number:
                                    description: Optional disc number supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - duration_ms
                                properties:
                                  duration_ms:
                                    description: Optional duration ms supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - explicit
                                properties:
                                  explicit:
                                    description: Optional explicit supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                              - required:
                                - genre
                                properties:
                                  genre:
                                    description: Optional genre supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - media_kind
                                properties:
                                  media_kind:
                                    description: Optional media kind supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - preview_url
                                properties:
                                  preview_url:
                                    description: Optional preview url supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - price
                                properties:
                                  price:
                                    description: Source price. Currency, taxes and availability depend on the listing.
                                    type:
                                    - number
                              - required:
                                - release_date
                                properties:
                                  release_date:
                                    description: Optional release date supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - title
                                properties:
                                  title:
                                    description: Source title when supplied.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - track_number
                                properties:
                                  track_number:
                                    description: Optional track number supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - url
                                properties:
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    minLength: 1
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - count: 0
                        items:
                        - album:
                            id: example
                            title: example
                            url: https://example.com/example
                          artist:
                            id: example
                            name: example
                            url: https://example.com/example
                          artwork_url: https://example.com/example
                          currency: example
                          disc_number: 0
                          duration_ms: 0
                          explicit: false
                          genre: example
                          id: example
                          kind: example
                          media_kind: example
                          preview_url: https://example.com/example
                          price: 0
                          release_date: '2026-09-01T12:00:00Z'
                          title: example
                          track_number: 0
                          url: https://example.com/example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 3
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/apple_music/track:
    get:
      operationId: apple_music_track
      tags:
      - Apple Music
      summary: Get an Apple Music track
      description: Look up one Apple Music track by id or music.apple.com URL, with preview audio and album context. Costs 1 credit per successful live response.
      parameters:
      - name: id
        in: query
        required: false
        schema:
          type: string
        example: '697195462'
        description: Apple Music track id (this or url)
      - name: url
        in: query
        required: false
        schema:
          type: string
        example: https://music.apple.com/us/album/discovery/697194953?i=697195462
        description: music.apple.com track or album?i= URL (this or id)
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/apple_music/track.json
                      title: apple_music/track data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        album:
                          description: Optional album supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              description: Source identifier. Preserve the supplied type and exact value.
                              type:
                              - string
                              - 'null'
                            title:
                              description: Source title when supplied.
                              type:
                              - string
                              - 'null'
                            url:
                              description: Original source URL when supplied.
                              type:
                              - string
                              - 'null'
                          additionalProperties: true
                        artist:
                          description: Optional artist supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              description: Source identifier. Preserve the supplied type and exact value.
                              type:
                              - string
                              - 'null'
                            name:
                              description: Optional name supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            url:
                              description: Original source URL when supplied.
                              type:
                              - string
                              - 'null'
                          additionalProperties: true
                        artwork_url:
                          description: Optional artwork url supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        currency:
                          description: Optional currency supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        disc_number:
                          description: Optional disc number supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        duration_ms:
                          description: Optional duration ms supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        explicit:
                          description: Optional explicit supplied by this operation. Null means unknown.
                          type:
                          - boolean
                          - 'null'
                        genre:
                          description: Optional genre supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        id:
                          description: Source identifier. Preserve the supplied type and exact value.
                          type:
                          - string
                          - 'null'
                        kind:
                          description: Optional kind supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        media_kind:
                          description: Optional media kind supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        preview_url:
                          description: Optional preview url supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        price:
                          description: Source price. Currency, taxes and availability depend on the listing.
                          type:
                          - number
                          - 'null'
                        release_date:
                          description: Optional release date supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        title:
                          description: Source title when supplied.
                          type:
                          - string
                          - 'null'
                        track_number:
                          description: Optional track number supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        url:
                          description: Original source URL when supplied.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - album
                          properties:
                            album:
                              description: Optional album supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties:
                                id:
                                  description: Source identifier. Preserve the supplied type and exact value.
                                  type:
                                  - string
                                  - 'null'
                                title:
                                  description: Source title when supplied.
                                  type:
                                  - string
                                  - 'null'
                                url:
                                  description: Original source URL when supplied.
                                  type:
                                  - string
                                  - 'null'
                              additionalProperties: true
                        - required:
                          - artist
                          properties:
                            artist:
                              description: Optional artist supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties:
                                id:
                                  description: Source identifier. Preserve the supplied type and exact value.
                                  type:
                                  - string
                                  - 'null'
                                name:
                                  description: Optional name supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                url:
                                  description: Original source URL when supplied.
                                  type:
                                  - string
                                  - 'null'
                              additionalProperties: true
                        - required:
                          - artwork_url
                          properties:
                            artwork_url:
                              description: Optional artwork url supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - currency
                          properties:
                            currency:
                              description: Optional currency supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - disc_number
                          properties:
                            disc_number:
                              description: Optional disc number supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - duration_ms
                          properties:
                            duration_ms:
                              description: Optional duration ms supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - explicit
                          properties:
                            explicit:
                              description: Optional explicit supplied by this operation. Null means unknown.
                              type:
                              - boolean
                        - required:
                          - genre
                          properties:
                            genre:
                              description: Optional genre supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - id
                          properties:
                            id:
                              description: Source identifier. Preserve the supplied type and exact value.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - media_kind
                          properties:
                            media_kind:
                              description: Optional media kind supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - preview_url
                          properties:
                            preview_url:
                              description: Optional preview url supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - price
                          properties:
                            price:
                              description: Source price. Currency, taxes and availability depend on the listing.
                              type:
                              - number
                        - required:
                          - release_date
                          properties:
                            release_date:
                              description: Optional release date supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - title
                          properties:
                            title:
                              description: Source title when supplied.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - track_number
                          properties:
                            track_number:
                              description: Optional track number supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - url
                          properties:
                            url:
                              description: Original source URL when supplied.
                              type:
                              - string
                              minLength: 1
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - album:
                          id: example
                          title: example
                          url: https://example.com/example
                        artist:
                          id: example
                          name: example
                          url: https://example.com/example
                        artwork_url: https://example.com/example
                        currency: example
                        disc_number: 0
                        duration_ms: 0
                        explicit: false
                        genre: example
                        id: example
                        kind: example
                        media_kind: example
                        preview_url: https://example.com/example
                        price: 0
                        release_date: '2026-09-01T12:00:00Z'
                        title: example
                        track_number: 0
                        url: https://example.com/example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
components:
  schemas:
    Error:
      type: object
      required:
      - success
      - error
      - credits_used
      - request_id
      properties:
        success:
          const: false
        error:
          type: object
          required:
          - type
          - message
          - status
          properties:
            type:
              type: string
              enum:
              - UNAUTHORIZED
              - KEY_REVOKED
              - KEY_LIMIT_EXCEEDED
              - RATE_LIMITED
              - INSUFFICIENT_CREDITS
              - RESOURCE_NOT_FOUND
              - INVALID_PARAMETERS
              - TARGET_ACCESS_DENIED
              - UPSTREAM_ERROR
              - UPSTREAM_TIMEOUT
              - FREE_CAPACITY_UNAVAILABLE
              - CAPACITY_UNAVAILABLE
              - ENDPOINT_NOT_FOUND
              - ENDPOINT_NOT_AVAILABLE
              - FAIR_USE_EXCEEDED
              - INTERNAL_ERROR
            message:
              type: string
            status:
              type: integer
            doc_url:
              type: string
              description: Deep link to the exact section of the errors guide for this type.
            details:
              type: object
        credits_used:
          type:
          - integer
          - 'null'
          description: Confirmed net charge; null when billing is pending reconciliation. Inspect error.details.billing_status and retain request_id.
        credits_remaining:
          type: integer
        request_id:
          type: string
    Success:
      type: object
      required:
      - success
      - platform
      - endpoint
      - data
      - credits_used
      - credits_remaining
      - request_id
      properties:
        _completeness:
          type: object
          description: Reported response completeness, not a guarantee of complete platform history. Missing source assertions remain unknown.
          properties:
            state:
              type: string
              enum:
              - complete
              - partial
              - unknown
            scope:
              type: string
            inspection_limited:
              type: boolean
        success:
          const: true
        platform:
          type: string
        endpoint:
          type: string
          description: The resolved path, e.g. `/v1/github/profile`.
        data:
          description: Amazon responses include marketplace.country and marketplace.domain (resolved request marketplace, UK by default). X profiles preserve location, bio_link and cover_url when supplied. TikTok profiles preserve commerce_user, seller, region, location and business_category when supplied; region identifies the account region rather than personal residence. TikTok comments use platform_default selection, which can change between fetches; keep the same video and options when following cursors. Amazon review variant is readable text. Facebook profiles preserve cover_url, following and created_at when supplied; likes_count and followers are distinct and follower totals may be rounded. Endpoint-specific normalized payload, not one universal post/profile schema. Many lists use items/count/cursor; a null cursor means no usable next cursor was supplied, not proof that all history was retrieved. Check has_more and warnings where present. Social full-profile bundles use posts_cursor and posts_pagination.next_params; retain all returned next parameters. YouTube channel bundles instead use recent_videos, cursor and recent_videos_pagination. Inspect complete/partial/legs where supplied for bounded or failed components. Optional model-derived fields are labelled, not source facts.
        credits_used:
          type: integer
        credits_remaining:
          type: integer
        request_id:
          type: string
        cached:
          type: boolean
        stale:
          type: boolean
          description: True only for an explicitly labelled, zero-credit reference snapshot served after a temporary upstream failure.
        age_seconds:
          type: integer
          minimum: 0
          description: Age of a stale snapshot since its original retrieval; not reset by outage recovery.
        fetched_at:
          type: string
          format: date-time
          description: Original retrieval time of a stale snapshot, in UTC.
        synthetic:
          type: boolean
          description: Present and true only on the explicitly requested /sandbox surface. Synthetic responses are representative and charged 0 credits; production /v1 never returns them.
        degraded:
          type: boolean
          description: Reserved for sandbox compatibility. Production /v1 reports upstream failure as an error and never serves a representative fallback.
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
      description: Your API key (`mn_…`), from the console. The recommended style.
    BearerKey:
      type: http
      scheme: bearer
      description: The same key as a Bearer token, for clients that only expose an Authorization field. Keys are never accepted in the query string — URLs leak into logs and referrers.
