openapi: 3.2.0
info:
  title: Monocrawl Bluesky API
  version: 0.1.0
  description: One key, one envelope, one credit meter across social, search, commerce and web data.
  contact:
    name: Monocrawl support
    url: https://www.monocrawl.com/contact
  termsOfService: https://www.monocrawl.com/legal/terms-and-conditions
servers:
- url: https://www.monocrawl.com
security:
- ApiKeyHeader: []
tags:
- name: Bluesky
paths:
  /v1/bluesky/post:
    get:
      operationId: bluesky_post
      tags:
      - Bluesky
      summary: Bluesky post
      description: 'Fetch a single Bluesky post from its bsky.app URL: text, author and like/repost/reply/quote counts. Costs 1 credit per successful live response.'
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
        example: https://bsky.app/profile/espn.com/post/3lqdfq7fkvm2g
        description: bsky.app post link or at:// post URI
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: judgments
        in: query
        required: false
        schema:
          type: string
          enum:
          - 'on'
          - 'off'
        example: 'on'
        description: 'Add bounded AI labels to eligible returned records (default on). off preserves the original data shape. Unclassified records remain present; labels depend on evidence, time, capacity and the existing request budget. No label surcharge. Accepted values: on, off. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label
        in: query
        required: false
        schema:
          type: string
          enum:
          - default
          - none
        example: none
        description: 'Set none to disable labels; default enables the endpoint’s label set. Equivalent to judgments=off. Accepted values: default, none. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label_evidence
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Include exact supporting sentences and zero-based sentence indexes when a label has validated evidence. No extra charge or change to decisions. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: exclude
        in: query
        required: false
        schema:
          type: string
          enum:
          - engagement_bait
        example: engagement_bait
        description: 'Optionally remove confidently labelled engagement bait. Uncertain and unclassified records stay; removed IDs and an owner-bound recall reference are returned. Accepted values: engagement_bait. Case, spaces, hyphens and underscores are interchangeable.'
      - name: fit
        in: query
        required: false
        schema:
          type: string
          enum:
          - goal
        example: goal
        description: 'Use goal to replace confidently irrelevant records with recall stubs. Keeps first, last, relevant and uncertain records; preserves order. Full evidence is stored for 24 hours when available. Accepted values: goal. Case, spaces, hyphens and underscores are interchangeable.'
      - name: goal
        in: query
        required: false
        schema:
          type: string
        example: Find concrete product complaints
        description: 'Required with fit=goal: describe the task in at most 600 characters. Supplied text is task context, never permission to act on posts.'
      - name: tokens
        in: query
        required: false
        schema:
          type: string
        example: '4000'
        description: Optional soft response target for fit=goal, 256–32000. Safety and evidence retention take priority, so the returned result may exceed it.
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/bluesky/post.json
                      title: bluesky/post data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          description: Post at:// URI.
                        rkey:
                          type:
                          - string
                          - 'null'
                          description: Record key within the account repository.
                        cid:
                          type:
                          - string
                          - 'null'
                          description: Content identifier.
                        url:
                          type:
                          - string
                          - 'null'
                          description: Original source URL when supplied.
                        text:
                          type:
                          - string
                          - 'null'
                          description: Post text.
                        created_at:
                          type:
                          - string
                          - 'null'
                          description: Source publication time, normalized to an ISO date-time when available.
                        indexed_at:
                          type:
                          - string
                          - 'null'
                          description: Source publication time, normalized to an ISO date-time when available.
                        author:
                          type: object
                          properties:
                            id:
                              type:
                              - string
                              - 'null'
                              description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                            handle:
                              type:
                              - string
                              - 'null'
                              description: Public account username.
                            name:
                              type:
                              - string
                              - 'null'
                              description: Display name.
                            url:
                              type:
                              - string
                              - 'null'
                              description: Original source URL when supplied.
                          additionalProperties: true
                        likes:
                          type:
                          - number
                          - 'null'
                          description: Likes reported by the source; null or absent is unknown, not zero.
                        reposts:
                          type:
                          - number
                          - 'null'
                          description: Reposts reported by the source; null or absent is unknown, not zero.
                        replies:
                          type:
                          - number
                          - 'null'
                          description: Replies reported by the source; null or absent is unknown, not zero.
                        quotes:
                          type:
                          - number
                          - 'null'
                          description: Quotes reported by the source; null or absent is unknown, not zero.
                        is_reply:
                          type:
                          - boolean
                          - 'null'
                          description: Whether the source record references a parent.
                        is_repost:
                          type:
                          - boolean
                          - 'null'
                          description: Whether this feed row is a repost; author remains the original author.
                        _warnings:
                          type: array
                          items:
                            type: string
                          description: Collection limitations or component warnings. Read before interpreting coverage.
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - id
                          properties:
                            id:
                              type:
                              - string
                              description: Post at:// URI.
                              minLength: 1
                        - required:
                          - rkey
                          properties:
                            rkey:
                              type:
                              - string
                              description: Record key within the account repository.
                              minLength: 1
                        - required:
                          - cid
                          properties:
                            cid:
                              type:
                              - string
                              description: Content identifier.
                              minLength: 1
                        - required:
                          - url
                          properties:
                            url:
                              type:
                              - string
                              description: Original source URL when supplied.
                              minLength: 1
                        - required:
                          - text
                          properties:
                            text:
                              type:
                              - string
                              description: Post text.
                              minLength: 1
                        - required:
                          - created_at
                          properties:
                            created_at:
                              type:
                              - string
                              description: Source publication time, normalized to an ISO date-time when available.
                              minLength: 1
                        - required:
                          - indexed_at
                          properties:
                            indexed_at:
                              type:
                              - string
                              description: Source publication time, normalized to an ISO date-time when available.
                              minLength: 1
                        - required:
                          - author
                          properties:
                            author:
                              type: object
                              properties:
                                id:
                                  type:
                                  - string
                                  - 'null'
                                  description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                                handle:
                                  type:
                                  - string
                                  - 'null'
                                  description: Public account username.
                                name:
                                  type:
                                  - string
                                  - 'null'
                                  description: Display name.
                                url:
                                  type:
                                  - string
                                  - 'null'
                                  description: Original source URL when supplied.
                              additionalProperties: true
                        - required:
                          - likes
                          properties:
                            likes:
                              type:
                              - number
                              description: Likes reported by the source; null or absent is unknown, not zero.
                        - required:
                          - reposts
                          properties:
                            reposts:
                              type:
                              - number
                              description: Reposts reported by the source; null or absent is unknown, not zero.
                        - required:
                          - replies
                          properties:
                            replies:
                              type:
                              - number
                              description: Replies reported by the source; null or absent is unknown, not zero.
                        - required:
                          - quotes
                          properties:
                            quotes:
                              type:
                              - number
                              description: Quotes reported by the source; null or absent is unknown, not zero.
                        - required:
                          - is_reply
                          properties:
                            is_reply:
                              type:
                              - boolean
                              description: Whether the source record references a parent.
                        - required:
                          - is_repost
                          properties:
                            is_repost:
                              type:
                              - boolean
                              description: Whether this feed row is a repost; author remains the original author.
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - id: at://did:plc:example/app.bsky.feed.post/example
                        text: Illustrative post
                        likes: 3
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/bluesky/profile:
    get:
      operationId: bluesky_profile
      tags:
      - Bluesky
      summary: Bluesky profile
      description: 'Fetch a Bluesky profile by handle or DID: display name, bio, follower/following/post counts and avatar. Costs 1 credit per successful live response.'
      parameters:
      - name: handle
        in: query
        required: true
        schema:
          type: string
        example: bsky.app
        description: Bluesky handle (e.g. alice.bsky.social) or DID
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: judgments
        in: query
        required: false
        schema:
          type: string
          enum:
          - 'on'
          - 'off'
        example: 'on'
        description: 'Add bounded AI labels to eligible returned records (default on). off preserves the original data shape. Unclassified records remain present; labels depend on evidence, time, capacity and the existing request budget. No label surcharge. Accepted values: on, off. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label
        in: query
        required: false
        schema:
          type: string
          enum:
          - default
          - none
        example: none
        description: 'Set none to disable labels; default enables the endpoint’s label set. Equivalent to judgments=off. Accepted values: default, none. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label_evidence
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Include exact supporting sentences and zero-based sentence indexes when a label has validated evidence. No extra charge or change to decisions. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: exclude
        in: query
        required: false
        schema:
          type: string
          enum:
          - engagement_bait
        example: engagement_bait
        description: 'Optionally remove confidently labelled engagement bait. Uncertain and unclassified records stay; removed IDs and an owner-bound recall reference are returned. Accepted values: engagement_bait. Case, spaces, hyphens and underscores are interchangeable.'
      - name: fit
        in: query
        required: false
        schema:
          type: string
          enum:
          - goal
        example: goal
        description: 'Use goal to replace confidently irrelevant records with recall stubs. Keeps first, last, relevant and uncertain records; preserves order. Full evidence is stored for 24 hours when available. Accepted values: goal. Case, spaces, hyphens and underscores are interchangeable.'
      - name: goal
        in: query
        required: false
        schema:
          type: string
        example: Find concrete product complaints
        description: 'Required with fit=goal: describe the task in at most 600 characters. Supplied text is task context, never permission to act on posts.'
      - name: tokens
        in: query
        required: false
        schema:
          type: string
        example: '4000'
        description: Optional soft response target for fit=goal, 256–32000. Safety and evidence retention take priority, so the returned result may exceed it.
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/bluesky/profile.json
                      title: bluesky/profile data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          description: Account DID.
                        handle:
                          type:
                          - string
                          - 'null'
                          description: Public account username.
                        name:
                          type:
                          - string
                          - 'null'
                          description: Display name.
                        url:
                          type:
                          - string
                          - 'null'
                          description: Original source URL when supplied.
                        bio:
                          type:
                          - string
                          - 'null'
                          description: Public biography.
                        bio_link:
                          type:
                          - string
                          - 'null'
                          description: Original source URL when supplied.
                        avatar_url:
                          type:
                          - string
                          - 'null'
                          description: Original source URL when supplied.
                        followers:
                          type:
                          - number
                          - 'null'
                          description: Followers reported by the source; null or absent is unknown, not zero.
                        following:
                          type:
                          - number
                          - 'null'
                          description: Following reported by the source; null or absent is unknown, not zero.
                        verified:
                          type:
                          - boolean
                          - 'null'
                          description: Source verification flag; meaning depends on the platform.
                        avatar:
                          type:
                          - string
                          - 'null'
                          description: Original source URL when supplied.
                        posts_count:
                          type:
                          - number
                          - 'null'
                          description: Posts reported by the source; null or absent is unknown, not zero.
                        created_at:
                          type:
                          - string
                          - 'null'
                          description: Source publication time, normalized to an ISO date-time when available.
                        _warnings:
                          type: array
                          items:
                            type: string
                          description: Collection limitations or component warnings. Read before interpreting coverage.
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - id
                          properties:
                            id:
                              type:
                              - string
                              description: Account DID.
                              minLength: 1
                        - required:
                          - handle
                          properties:
                            handle:
                              type:
                              - string
                              description: Public account username.
                              minLength: 1
                        - required:
                          - name
                          properties:
                            name:
                              type:
                              - string
                              description: Display name.
                              minLength: 1
                        - required:
                          - url
                          properties:
                            url:
                              type:
                              - string
                              description: Original source URL when supplied.
                              minLength: 1
                        - required:
                          - bio
                          properties:
                            bio:
                              type:
                              - string
                              description: Public biography.
                              minLength: 1
                        - required:
                          - bio_link
                          properties:
                            bio_link:
                              type:
                              - string
                              description: Original source URL when supplied.
                              minLength: 1
                        - required:
                          - avatar_url
                          properties:
                            avatar_url:
                              type:
                              - string
                              description: Original source URL when supplied.
                              minLength: 1
                        - required:
                          - followers
                          properties:
                            followers:
                              type:
                              - number
                              description: Followers reported by the source; null or absent is unknown, not zero.
                        - required:
                          - following
                          properties:
                            following:
                              type:
                              - number
                              description: Following reported by the source; null or absent is unknown, not zero.
                        - required:
                          - verified
                          properties:
                            verified:
                              type:
                              - boolean
                              description: Source verification flag; meaning depends on the platform.
                        - required:
                          - avatar
                          properties:
                            avatar:
                              type:
                              - string
                              description: Original source URL when supplied.
                              minLength: 1
                        - required:
                          - posts_count
                          properties:
                            posts_count:
                              type:
                              - number
                              description: Posts reported by the source; null or absent is unknown, not zero.
                        - required:
                          - created_at
                          properties:
                            created_at:
                              type:
                              - string
                              description: Source publication time, normalized to an ISO date-time when available.
                              minLength: 1
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - id: did:plc:example
                        handle: example.bsky.social
                        followers: 12
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/bluesky/search:
    get:
      operationId: bluesky_search
      tags:
      - Bluesky
      summary: Bluesky post search
      description: Full-text search over public Bluesky posts with engagement counts. Costs 3 credits per successful live response.
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        example: nextjs
        description: Search text
      - name: limit
        in: query
        required: false
        schema:
          type: string
        example: '25'
        description: Max results (1-100)
      - name: sort
        in: query
        required: false
        schema:
          type: string
          enum:
          - top
          - latest
        example: latest
        description: 'top or latest Accepted values: top, latest. Case, spaces, hyphens and underscores are interchangeable.'
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Continue a previous page
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: judgments
        in: query
        required: false
        schema:
          type: string
          enum:
          - 'on'
          - 'off'
        example: 'on'
        description: 'Add bounded AI labels to eligible returned records (default on). off preserves the original data shape. Unclassified records remain present; labels depend on evidence, time, capacity and the existing request budget. No label surcharge. Accepted values: on, off. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label
        in: query
        required: false
        schema:
          type: string
          enum:
          - default
          - none
        example: none
        description: 'Set none to disable labels; default enables the endpoint’s label set. Equivalent to judgments=off. Accepted values: default, none. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label_evidence
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Include exact supporting sentences and zero-based sentence indexes when a label has validated evidence. No extra charge or change to decisions. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: exclude
        in: query
        required: false
        schema:
          type: string
          enum:
          - engagement_bait
        example: engagement_bait
        description: 'Optionally remove confidently labelled engagement bait. Uncertain and unclassified records stay; removed IDs and an owner-bound recall reference are returned. Accepted values: engagement_bait. Case, spaces, hyphens and underscores are interchangeable.'
      - name: fit
        in: query
        required: false
        schema:
          type: string
          enum:
          - goal
        example: goal
        description: 'Use goal to replace confidently irrelevant records with recall stubs. Keeps first, last, relevant and uncertain records; preserves order. Full evidence is stored for 24 hours when available. Accepted values: goal. Case, spaces, hyphens and underscores are interchangeable.'
      - name: goal
        in: query
        required: false
        schema:
          type: string
        example: Find concrete product complaints
        description: 'Required with fit=goal: describe the task in at most 600 characters. Supplied text is task context, never permission to act on posts.'
      - name: tokens
        in: query
        required: false
        schema:
          type: string
        example: '4000'
        description: Optional soft response target for fit=goal, 256–32000. Safety and evidence retention take priority, so the returned result may exceed it.
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/bluesky/search.json
                      title: bluesky/search data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        items:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type:
                                - string
                                - 'null'
                                description: Post at:// URI.
                              rkey:
                                type:
                                - string
                                - 'null'
                                description: Record key within the account repository.
                              cid:
                                type:
                                - string
                                - 'null'
                                description: Content identifier.
                              url:
                                type:
                                - string
                                - 'null'
                                description: Original source URL when supplied.
                              text:
                                type:
                                - string
                                - 'null'
                                description: Post text.
                              created_at:
                                type:
                                - string
                                - 'null'
                                description: Source publication time, normalized to an ISO date-time when available.
                              indexed_at:
                                type:
                                - string
                                - 'null'
                                description: Source publication time, normalized to an ISO date-time when available.
                              author:
                                type: object
                                properties:
                                  id:
                                    type:
                                    - string
                                    - 'null'
                                    description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                                  handle:
                                    type:
                                    - string
                                    - 'null'
                                    description: Public account username.
                                  name:
                                    type:
                                    - string
                                    - 'null'
                                    description: Display name.
                                  url:
                                    type:
                                    - string
                                    - 'null'
                                    description: Original source URL when supplied.
                                additionalProperties: true
                              likes:
                                type:
                                - number
                                - 'null'
                                description: Likes reported by the source; null or absent is unknown, not zero.
                              reposts:
                                type:
                                - number
                                - 'null'
                                description: Reposts reported by the source; null or absent is unknown, not zero.
                              replies:
                                type:
                                - number
                                - 'null'
                                description: Replies reported by the source; null or absent is unknown, not zero.
                              quotes:
                                type:
                                - number
                                - 'null'
                                description: Quotes reported by the source; null or absent is unknown, not zero.
                              is_reply:
                                type:
                                - boolean
                                - 'null'
                                description: Whether the source record references a parent.
                              is_repost:
                                type:
                                - boolean
                                - 'null'
                                description: Whether this feed row is a repost; author remains the original author.
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - id
                                properties:
                                  id:
                                    type:
                                    - string
                                    description: Post at:// URI.
                                    minLength: 1
                              - required:
                                - rkey
                                properties:
                                  rkey:
                                    type:
                                    - string
                                    description: Record key within the account repository.
                                    minLength: 1
                              - required:
                                - cid
                                properties:
                                  cid:
                                    type:
                                    - string
                                    description: Content identifier.
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    type:
                                    - string
                                    description: Original source URL when supplied.
                                    minLength: 1
                              - required:
                                - text
                                properties:
                                  text:
                                    type:
                                    - string
                                    description: Post text.
                                    minLength: 1
                              - required:
                                - created_at
                                properties:
                                  created_at:
                                    type:
                                    - string
                                    description: Source publication time, normalized to an ISO date-time when available.
                                    minLength: 1
                              - required:
                                - indexed_at
                                properties:
                                  indexed_at:
                                    type:
                                    - string
                                    description: Source publication time, normalized to an ISO date-time when available.
                                    minLength: 1
                              - required:
                                - author
                                properties:
                                  author:
                                    type: object
                                    properties:
                                      id:
                                        type:
                                        - string
                                        - 'null'
                                        description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                                      handle:
                                        type:
                                        - string
                                        - 'null'
                                        description: Public account username.
                                      name:
                                        type:
                                        - string
                                        - 'null'
                                        description: Display name.
                                      url:
                                        type:
                                        - string
                                        - 'null'
                                        description: Original source URL when supplied.
                                    additionalProperties: true
                              - required:
                                - likes
                                properties:
                                  likes:
                                    type:
                                    - number
                                    description: Likes reported by the source; null or absent is unknown, not zero.
                              - required:
                                - reposts
                                properties:
                                  reposts:
                                    type:
                                    - number
                                    description: Reposts reported by the source; null or absent is unknown, not zero.
                              - required:
                                - replies
                                properties:
                                  replies:
                                    type:
                                    - number
                                    description: Replies reported by the source; null or absent is unknown, not zero.
                              - required:
                                - quotes
                                properties:
                                  quotes:
                                    type:
                                    - number
                                    description: Quotes reported by the source; null or absent is unknown, not zero.
                              - required:
                                - is_reply
                                properties:
                                  is_reply:
                                    type:
                                    - boolean
                                    description: Whether the source record references a parent.
                              - required:
                                - is_repost
                                properties:
                                  is_repost:
                                    type:
                                    - boolean
                                    description: Whether this feed row is a repost; author remains the original author.
                          description: Records in this response page.
                        count:
                          type:
                          - number
                          - 'null'
                          description: Returned row count when supplied; not the full source total.
                        cursor:
                          type:
                          - string
                          - 'null'
                          description: Opaque next-page token. A missing token does not prove full history was retrieved.
                        has_more:
                          type:
                          - boolean
                          - 'null'
                          description: Source continuation indicator; null means unknown.
                        _warnings:
                          type: array
                          items:
                            type: string
                          description: Collection limitations or component warnings. Read before interpreting coverage.
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - items:
                        - id: at://did:plc:example/app.bsky.feed.post/example
                          text: Illustrative post
                          author:
                            id: did:plc:example
                          is_repost: false
                        cursor: null
                        has_more: null
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 3
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/bluesky/user/posts:
    get:
      operationId: bluesky_user_posts
      tags:
      - Bluesky
      summary: Bluesky user posts
      description: List a Bluesky account's posts (newest first) with like/repost/reply/quote counts; reposts are included and labeled is_repost. Costs 1 credit per successful live response.
      parameters:
      - name: handle
        in: query
        required: false
        schema:
          type: string
        example: bsky.app
        description: Bluesky handle (provide this or user_id)
      - name: user_id
        in: query
        required: false
        schema:
          type: string
        example: did:plc:z72i7hdynmk6r22z27h6tvur
        description: Account DID (provide this or handle)
      - name: limit
        in: query
        required: false
        schema:
          type: string
        example: '25'
        description: Posts per page, 1-100 (default 25)
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Opaque cursor from a previous page
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: judgments
        in: query
        required: false
        schema:
          type: string
          enum:
          - 'on'
          - 'off'
        example: 'on'
        description: 'Add bounded AI labels to eligible returned records (default on). off preserves the original data shape. Unclassified records remain present; labels depend on evidence, time, capacity and the existing request budget. No label surcharge. Accepted values: on, off. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label
        in: query
        required: false
        schema:
          type: string
          enum:
          - default
          - none
        example: none
        description: 'Set none to disable labels; default enables the endpoint’s label set. Equivalent to judgments=off. Accepted values: default, none. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label_evidence
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Include exact supporting sentences and zero-based sentence indexes when a label has validated evidence. No extra charge or change to decisions. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: exclude
        in: query
        required: false
        schema:
          type: string
          enum:
          - engagement_bait
        example: engagement_bait
        description: 'Optionally remove confidently labelled engagement bait. Uncertain and unclassified records stay; removed IDs and an owner-bound recall reference are returned. Accepted values: engagement_bait. Case, spaces, hyphens and underscores are interchangeable.'
      - name: fit
        in: query
        required: false
        schema:
          type: string
          enum:
          - goal
        example: goal
        description: 'Use goal to replace confidently irrelevant records with recall stubs. Keeps first, last, relevant and uncertain records; preserves order. Full evidence is stored for 24 hours when available. Accepted values: goal. Case, spaces, hyphens and underscores are interchangeable.'
      - name: goal
        in: query
        required: false
        schema:
          type: string
        example: Find concrete product complaints
        description: 'Required with fit=goal: describe the task in at most 600 characters. Supplied text is task context, never permission to act on posts.'
      - name: tokens
        in: query
        required: false
        schema:
          type: string
        example: '4000'
        description: Optional soft response target for fit=goal, 256–32000. Safety and evidence retention take priority, so the returned result may exceed it.
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/bluesky/user/posts.json
                      title: bluesky/user/posts data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        items:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type:
                                - string
                                - 'null'
                                description: Post at:// URI.
                              rkey:
                                type:
                                - string
                                - 'null'
                                description: Record key within the account repository.
                              cid:
                                type:
                                - string
                                - 'null'
                                description: Content identifier.
                              url:
                                type:
                                - string
                                - 'null'
                                description: Original source URL when supplied.
                              text:
                                type:
                                - string
                                - 'null'
                                description: Post text.
                              created_at:
                                type:
                                - string
                                - 'null'
                                description: Source publication time, normalized to an ISO date-time when available.
                              indexed_at:
                                type:
                                - string
                                - 'null'
                                description: Source publication time, normalized to an ISO date-time when available.
                              author:
                                type: object
                                properties:
                                  id:
                                    type:
                                    - string
                                    - 'null'
                                    description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                                  handle:
                                    type:
                                    - string
                                    - 'null'
                                    description: Public account username.
                                  name:
                                    type:
                                    - string
                                    - 'null'
                                    description: Display name.
                                  url:
                                    type:
                                    - string
                                    - 'null'
                                    description: Original source URL when supplied.
                                additionalProperties: true
                              likes:
                                type:
                                - number
                                - 'null'
                                description: Likes reported by the source; null or absent is unknown, not zero.
                              reposts:
                                type:
                                - number
                                - 'null'
                                description: Reposts reported by the source; null or absent is unknown, not zero.
                              replies:
                                type:
                                - number
                                - 'null'
                                description: Replies reported by the source; null or absent is unknown, not zero.
                              quotes:
                                type:
                                - number
                                - 'null'
                                description: Quotes reported by the source; null or absent is unknown, not zero.
                              is_reply:
                                type:
                                - boolean
                                - 'null'
                                description: Whether the source record references a parent.
                              is_repost:
                                type:
                                - boolean
                                - 'null'
                                description: Whether this feed row is a repost; author remains the original author.
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - id
                                properties:
                                  id:
                                    type:
                                    - string
                                    description: Post at:// URI.
                                    minLength: 1
                              - required:
                                - rkey
                                properties:
                                  rkey:
                                    type:
                                    - string
                                    description: Record key within the account repository.
                                    minLength: 1
                              - required:
                                - cid
                                properties:
                                  cid:
                                    type:
                                    - string
                                    description: Content identifier.
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    type:
                                    - string
                                    description: Original source URL when supplied.
                                    minLength: 1
                              - required:
                                - text
                                properties:
                                  text:
                                    type:
                                    - string
                                    description: Post text.
                                    minLength: 1
                              - required:
                                - created_at
                                properties:
                                  created_at:
                                    type:
                                    - string
                                    description: Source publication time, normalized to an ISO date-time when available.
                                    minLength: 1
                              - required:
                                - indexed_at
                                properties:
                                  indexed_at:
                                    type:
                                    - string
                                    description: Source publication time, normalized to an ISO date-time when available.
                                    minLength: 1
                              - required:
                                - author
                                properties:
                                  author:
                                    type: object
                                    properties:
                                      id:
                                        type:
                                        - string
                                        - 'null'
                                        description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                                      handle:
                                        type:
                                        - string
                                        - 'null'
                                        description: Public account username.
                                      name:
                                        type:
                                        - string
                                        - 'null'
                                        description: Display name.
                                      url:
                                        type:
                                        - string
                                        - 'null'
                                        description: Original source URL when supplied.
                                    additionalProperties: true
                              - required:
                                - likes
                                properties:
                                  likes:
                                    type:
                                    - number
                                    description: Likes reported by the source; null or absent is unknown, not zero.
                              - required:
                                - reposts
                                properties:
                                  reposts:
                                    type:
                                    - number
                                    description: Reposts reported by the source; null or absent is unknown, not zero.
                              - required:
                                - replies
                                properties:
                                  replies:
                                    type:
                                    - number
                                    description: Replies reported by the source; null or absent is unknown, not zero.
                              - required:
                                - quotes
                                properties:
                                  quotes:
                                    type:
                                    - number
                                    description: Quotes reported by the source; null or absent is unknown, not zero.
                              - required:
                                - is_reply
                                properties:
                                  is_reply:
                                    type:
                                    - boolean
                                    description: Whether the source record references a parent.
                              - required:
                                - is_repost
                                properties:
                                  is_repost:
                                    type:
                                    - boolean
                                    description: Whether this feed row is a repost; author remains the original author.
                          description: Records in this response page.
                        count:
                          type:
                          - number
                          - 'null'
                          description: Returned row count when supplied; not the full source total.
                        cursor:
                          type:
                          - string
                          - 'null'
                          description: Opaque next-page token. A missing token does not prove full history was retrieved.
                        has_more:
                          type:
                          - boolean
                          - 'null'
                          description: Source continuation indicator; null means unknown.
                        _warnings:
                          type: array
                          items:
                            type: string
                          description: Collection limitations or component warnings. Read before interpreting coverage.
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - items:
                        - id: at://did:plc:example/app.bsky.feed.post/example
                          text: Illustrative post
                          author:
                            id: did:plc:example
                          is_repost: false
                        cursor: null
                        has_more: null
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
components:
  schemas:
    Success:
      type: object
      required:
      - success
      - platform
      - endpoint
      - data
      - credits_used
      - credits_remaining
      - request_id
      properties:
        _completeness:
          type: object
          description: Reported response completeness, not a guarantee of complete platform history. Missing source assertions remain unknown.
          properties:
            state:
              type: string
              enum:
              - complete
              - partial
              - unknown
            scope:
              type: string
            inspection_limited:
              type: boolean
        success:
          const: true
        platform:
          type: string
        endpoint:
          type: string
          description: The resolved path, e.g. `/v1/github/profile`.
        data:
          description: Amazon responses include marketplace.country and marketplace.domain (resolved request marketplace, UK by default). X profiles preserve location, bio_link and cover_url when supplied. TikTok profiles preserve commerce_user, seller, region, location and business_category when supplied; region identifies the account region rather than personal residence. TikTok comments use platform_default selection, which can change between fetches; keep the same video and options when following cursors. Amazon review variant is readable text. Facebook profiles preserve cover_url, following and created_at when supplied; likes_count and followers are distinct and follower totals may be rounded. Endpoint-specific normalized payload, not one universal post/profile schema. Many lists use items/count/cursor; a null cursor means no usable next cursor was supplied, not proof that all history was retrieved. Check has_more and warnings where present. Social full-profile bundles use posts_cursor and posts_pagination.next_params; retain all returned next parameters. YouTube channel bundles instead use recent_videos, cursor and recent_videos_pagination. Inspect complete/partial/legs where supplied for bounded or failed components. Optional model-derived fields are labelled, not source facts.
        credits_used:
          type: integer
        credits_remaining:
          type: integer
        request_id:
          type: string
        cached:
          type: boolean
        stale:
          type: boolean
          description: True only for an explicitly labelled, zero-credit reference snapshot served after a temporary upstream failure.
        age_seconds:
          type: integer
          minimum: 0
          description: Age of a stale snapshot since its original retrieval; not reset by outage recovery.
        fetched_at:
          type: string
          format: date-time
          description: Original retrieval time of a stale snapshot, in UTC.
        synthetic:
          type: boolean
          description: Present and true only on the explicitly requested /sandbox surface. Synthetic responses are representative and charged 0 credits; production /v1 never returns them.
        degraded:
          type: boolean
          description: Reserved for sandbox compatibility. Production /v1 reports upstream failure as an error and never serves a representative fallback.
    Error:
      type: object
      required:
      - success
      - error
      - credits_used
      - request_id
      properties:
        success:
          const: false
        error:
          type: object
          required:
          - type
          - message
          - status
          properties:
            type:
              type: string
              enum:
              - UNAUTHORIZED
              - KEY_REVOKED
              - KEY_LIMIT_EXCEEDED
              - RATE_LIMITED
              - INSUFFICIENT_CREDITS
              - RESOURCE_NOT_FOUND
              - INVALID_PARAMETERS
              - TARGET_ACCESS_DENIED
              - UPSTREAM_ERROR
              - UPSTREAM_TIMEOUT
              - FREE_CAPACITY_UNAVAILABLE
              - CAPACITY_UNAVAILABLE
              - ENDPOINT_NOT_FOUND
              - ENDPOINT_NOT_AVAILABLE
              - FAIR_USE_EXCEEDED
              - INTERNAL_ERROR
            message:
              type: string
            status:
              type: integer
            doc_url:
              type: string
              description: Deep link to the exact section of the errors guide for this type.
            details:
              type: object
        credits_used:
          type:
          - integer
          - 'null'
          description: Confirmed net charge; null when billing is pending reconciliation. Inspect error.details.billing_status and retain request_id.
        credits_remaining:
          type: integer
        request_id:
          type: string
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
      description: Your API key (`mn_…`), from the console. The recommended style.
    BearerKey:
      type: http
      scheme: bearer
      description: The same key as a Bearer token, for clients that only expose an Authorization field. Keys are never accepted in the query string — URLs leak into logs and referrers.
