openapi: 3.2.0
info:
  title: Monocrawl Job boards API
  version: 0.1.0
  description: One key, one envelope, one credit meter across social, search, commerce and web data.
  contact:
    name: Monocrawl support
    url: https://www.monocrawl.com/contact
  termsOfService: https://www.monocrawl.com/legal/terms-and-conditions
servers:
- url: https://www.monocrawl.com
security:
- ApiKeyHeader: []
tags:
- name: Job boards
paths:
  /v1/jobs/bing/job:
    get:
      operationId: jobs_bing_job
      tags:
      - Job boards
      summary: Bing job posting
      description: One aggregated job posting from Bing with its description and apply link. Costs 1 credit per successful live response. Bing job-detail lookup is unsupported. Use jobs/bing/search for available job summaries. No credits were charged. Returns 501 ENDPOINT_NOT_AVAILABLE.
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        example: MTE5OTc2NjYxOS5SZXRybw==
        description: Job id from a search result
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/jobs/bing/job.json
                      title: jobs/bing/job data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        apply_url:
                          description: Optional apply url supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        benefits:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        board:
                          description: Optional board supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        company:
                          description: Optional company supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            addresses:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              - 'null'
                              items: {}
                            name:
                              description: Optional name supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                          additionalProperties: true
                        description:
                          description: Source description; null or absent means not supplied.
                          type:
                          - string
                          - 'null'
                        description_html:
                          description: Optional description html supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        employment_type:
                          description: Optional employment type supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        id:
                          description: Source identifier. Preserve the supplied type and exact value.
                          type:
                          - string
                          - 'null'
                        industries:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        location:
                          description: Optional location supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        platform:
                          description: Optional platform supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        posted:
                          description: Optional posted supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        skills:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        title:
                          description: Source title when supplied.
                          type:
                          - string
                          - 'null'
                        url:
                          description: Original source URL when supplied.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - apply_url
                          properties:
                            apply_url:
                              description: Optional apply url supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - benefits
                          properties:
                            benefits:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              items: {}
                        - required:
                          - board
                          properties:
                            board:
                              description: Optional board supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - company
                          properties:
                            company:
                              description: Optional company supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties:
                                addresses:
                                  description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                  type:
                                  - array
                                  - 'null'
                                  items: {}
                                name:
                                  description: Optional name supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              additionalProperties: true
                        - required:
                          - description
                          properties:
                            description:
                              description: Source description; null or absent means not supplied.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - description_html
                          properties:
                            description_html:
                              description: Optional description html supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - employment_type
                          properties:
                            employment_type:
                              description: Optional employment type supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - id
                          properties:
                            id:
                              description: Source identifier. Preserve the supplied type and exact value.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - industries
                          properties:
                            industries:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              items: {}
                        - required:
                          - location
                          properties:
                            location:
                              description: Optional location supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - posted
                          properties:
                            posted:
                              description: Optional posted supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - skills
                          properties:
                            skills:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              items: {}
                        - required:
                          - title
                          properties:
                            title:
                              description: Source title when supplied.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - url
                          properties:
                            url:
                              description: Original source URL when supplied.
                              type:
                              - string
                              minLength: 1
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - apply_url: https://example.com/example
                        benefits: []
                        board: example
                        company:
                          addresses: []
                          name: example
                        description: example
                        description_html: example
                        employment_type: example
                        id: example
                        industries: []
                        location: example
                        platform: example
                        posted: example
                        skills: []
                        title: example
                        url: https://example.com/example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: false
      x-capacity:
        status: unavailable
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/jobs/bing/search:
    get:
      operationId: jobs_bing_search
      tags:
      - Job boards
      summary: Bing job search
      description: Search Bing's aggregated job postings by location and keywords. Costs 3 credits per successful live response.
      parameters:
      - name: location
        in: query
        required: true
        schema:
          type: string
        example: Switzerland
        description: Country or city
      - name: query
        in: query
        required: false
        schema:
          type: string
        example: java
        description: Keywords, title, company or position
      - name: date_posted
        in: query
        required: false
        schema:
          type: string
          enum:
          - week
          - day
        example: week
        description: 'week or day Accepted values: week, day. Case, spaces, hyphens and underscores are interchangeable.'
      - name: employment_types
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - contractor
            - fulltime
            - parttime
            - temporary
        style: form
        explode: false
        example:
        - fulltime
        description: 'contractor, fulltime, parttime or temporary Accepted values (comma-separated): contractor, fulltime, parttime, temporary. Case, spaces, hyphens and underscores are interchangeable.'
      - name: remote_only
        in: query
        required: false
        schema:
          type: string
        example: 'true'
        description: true to keep remote roles only
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Cursor from the previous page
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/jobs/bing/search.json
                      title: jobs/bing/search data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        cursor:
                          description: Opaque next-page token; pass it back unchanged. Null does not prove complete history.
                          type:
                          - string
                          - 'null'
                        dropped:
                          description: Optional dropped supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              benefits:
                                description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                type:
                                - array
                                - 'null'
                                items: {}
                              board:
                                description: Optional board supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              company:
                                description: Optional company supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  addresses:
                                    description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                    type:
                                    - array
                                    - 'null'
                                    items: {}
                                  image:
                                    description: Optional image supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                              employment_type:
                                description: Optional employment type supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              industries:
                                description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                type:
                                - array
                                - 'null'
                                items: {}
                              location:
                                description: Optional location supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              platform:
                                description: Optional platform supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              posted:
                                description: Optional posted supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              skills:
                                description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                type:
                                - array
                                - 'null'
                                items: {}
                              source:
                                description: Optional source supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              title:
                                description: Source title when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - benefits
                                properties:
                                  benefits:
                                    description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                    type:
                                    - array
                                    items: {}
                              - required:
                                - board
                                properties:
                                  board:
                                    description: Optional board supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - company
                                properties:
                                  company:
                                    description: Optional company supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    properties:
                                      addresses:
                                        description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                        type:
                                        - array
                                        - 'null'
                                        items: {}
                                      image:
                                        description: Optional image supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      name:
                                        description: Optional name supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - employment_type
                                properties:
                                  employment_type:
                                    description: Optional employment type supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - industries
                                properties:
                                  industries:
                                    description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                    type:
                                    - array
                                    items: {}
                              - required:
                                - location
                                properties:
                                  location:
                                    description: Optional location supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - posted
                                properties:
                                  posted:
                                    description: Optional posted supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - skills
                                properties:
                                  skills:
                                    description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                    type:
                                    - array
                                    items: {}
                              - required:
                                - source
                                properties:
                                  source:
                                    description: Optional source supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - title
                                properties:
                                  title:
                                    description: Source title when supplied.
                                    type:
                                    - string
                                    minLength: 1
                        total:
                          description: Source-reported total; null is unknown.
                          type:
                          - number
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - count: 0
                        cursor: null
                        dropped: 0
                        has_more: false
                        items:
                        - benefits: []
                          board: example
                          company:
                            addresses: []
                            image: https://example.com/example
                            name: example
                          employment_type: example
                          id: example
                          industries: []
                          location: example
                          platform: example
                          posted: example
                          skills: []
                          source: example
                          title: example
                        total: 0
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 3
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/jobs/indeed/job:
    get:
      operationId: jobs_indeed_job
      tags:
      - Job boards
      summary: Indeed job posting
      description: One Indeed job posting with its description, employer and apply link. Costs 1 credit per successful live response.
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        example: aWQ9NWExYzEwM2YzOTEzODljNDtjYz11cw==
        description: Job id from a search result
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/jobs/indeed/job.json
                      title: jobs/indeed/job data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        apply_url:
                          description: Optional apply url supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        benefits:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        board:
                          description: Optional board supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        company:
                          description: Optional company supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            addresses:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              - 'null'
                              items: {}
                            image:
                              description: Optional image supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            name:
                              description: Optional name supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                          additionalProperties: true
                        description:
                          description: Source description; null or absent means not supplied.
                          type:
                          - string
                          - 'null'
                        id:
                          description: Source identifier. Preserve the supplied type and exact value.
                          type:
                          - string
                          - 'null'
                        industries:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        location:
                          description: Optional location supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        platform:
                          description: Optional platform supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        skills:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        title:
                          description: Source title when supplied.
                          type:
                          - string
                          - 'null'
                        url:
                          description: Original source URL when supplied.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - apply_url
                          properties:
                            apply_url:
                              description: Optional apply url supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - benefits
                          properties:
                            benefits:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              items: {}
                        - required:
                          - board
                          properties:
                            board:
                              description: Optional board supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - company
                          properties:
                            company:
                              description: Optional company supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties:
                                addresses:
                                  description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                  type:
                                  - array
                                  - 'null'
                                  items: {}
                                image:
                                  description: Optional image supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                name:
                                  description: Optional name supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              additionalProperties: true
                        - required:
                          - description
                          properties:
                            description:
                              description: Source description; null or absent means not supplied.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - id
                          properties:
                            id:
                              description: Source identifier. Preserve the supplied type and exact value.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - industries
                          properties:
                            industries:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              items: {}
                        - required:
                          - location
                          properties:
                            location:
                              description: Optional location supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - skills
                          properties:
                            skills:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              items: {}
                        - required:
                          - title
                          properties:
                            title:
                              description: Source title when supplied.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - url
                          properties:
                            url:
                              description: Original source URL when supplied.
                              type:
                              - string
                              minLength: 1
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - apply_url: https://example.com/example
                        benefits: []
                        board: example
                        company:
                          addresses: []
                          image: https://example.com/example
                          name: example
                        description: example
                        id: example
                        industries: []
                        location: example
                        platform: example
                        skills: []
                        title: example
                        url: https://example.com/example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/jobs/indeed/search:
    get:
      operationId: jobs_indeed_search
      tags:
      - Job boards
      summary: Indeed job search
      description: Search Indeed job postings in a country by keywords, location and radius. Costs 3 credits per successful live response.
      parameters:
      - name: country_code
        in: query
        required: true
        schema:
          type: string
        example: gb
        description: Two-letter country code
      - name: query
        in: query
        required: false
        schema:
          type: string
        example: nurse
        description: Keywords, title, company or position
      - name: location
        in: query
        required: false
        schema:
          type: string
        example: Manchester
        description: City, town or province
      - name: sort
        in: query
        required: false
        schema:
          type: string
          enum:
          - relevance
          - date
        example: date
        description: 'relevance or date Accepted values: relevance, date. Case, spaces, hyphens and underscores are interchangeable.'
      - name: radius
        in: query
        required: false
        schema:
          type: string
        example: '20'
        description: Search radius
      - name: radius_unit
        in: query
        required: false
        schema:
          type: string
          enum:
          - km
          - miles
        example: km
        description: 'km or miles Accepted values: km, miles. Case, spaces, hyphens and underscores are interchangeable.'
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Cursor from the previous page
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/jobs/indeed/search.json
                      title: jobs/indeed/search data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        cursor:
                          description: Opaque next-page token; pass it back unchanged. Null does not prove complete history.
                          type:
                          - string
                          - 'null'
                        dropped:
                          description: Optional dropped supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              apply_url:
                                description: Optional apply url supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              benefits:
                                description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                type:
                                - array
                                - 'null'
                                items: {}
                              board:
                                description: Optional board supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              company:
                                description: Optional company supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  addresses:
                                    description: Optional addresses supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    - 'null'
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - string
                                      - 'null'
                                  image:
                                    description: Optional image supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                              description:
                                description: Source description; null or absent means not supplied.
                                type:
                                - string
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              industries:
                                description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                type:
                                - array
                                - 'null'
                                items: {}
                              location:
                                description: Optional location supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              platform:
                                description: Optional platform supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              skills:
                                description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                type:
                                - array
                                - 'null'
                                items: {}
                              title:
                                description: Source title when supplied.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - apply_url
                                properties:
                                  apply_url:
                                    description: Optional apply url supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - benefits
                                properties:
                                  benefits:
                                    description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                    type:
                                    - array
                                    items: {}
                              - required:
                                - board
                                properties:
                                  board:
                                    description: Optional board supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - company
                                properties:
                                  company:
                                    description: Optional company supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    properties:
                                      addresses:
                                        description: Optional addresses supplied by this operation. Null means unknown.
                                        type:
                                        - array
                                        - 'null'
                                        items:
                                          description: Optional record supplied by this operation. Null means unknown.
                                          type:
                                          - string
                                          - 'null'
                                      image:
                                        description: Optional image supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      name:
                                        description: Optional name supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - description
                                properties:
                                  description:
                                    description: Source description; null or absent means not supplied.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - industries
                                properties:
                                  industries:
                                    description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                    type:
                                    - array
                                    items: {}
                              - required:
                                - location
                                properties:
                                  location:
                                    description: Optional location supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - skills
                                properties:
                                  skills:
                                    description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                    type:
                                    - array
                                    items: {}
                              - required:
                                - title
                                properties:
                                  title:
                                    description: Source title when supplied.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    minLength: 1
                        total:
                          description: Source-reported total; null is unknown.
                          type:
                          - number
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - count: 0
                        cursor: null
                        dropped: 0
                        has_more: false
                        items:
                        - apply_url: https://example.com/example
                          benefits: []
                          board: example
                          company:
                            addresses:
                            - example
                            image: https://example.com/example
                            name: example
                          description: example
                          id: example
                          industries: []
                          location: example
                          platform: example
                          skills: []
                          title: example
                          url: https://example.com/example
                        total: 0
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 3
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/jobs/linkedin/job:
    get:
      operationId: jobs_linkedin_job
      tags:
      - Job boards
      summary: LinkedIn job posting
      description: One LinkedIn job posting with its description, seniority, function, industries and applicant count. Costs 1 credit per successful live response.
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        example: '4344456572'
        description: Job id from a search result
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/jobs/linkedin/job.json
                      title: jobs/linkedin/job data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          description: Exact source identifier; preserve it as a string.
                        title:
                          type:
                          - string
                          - 'null'
                          description: title
                        location:
                          type:
                          - string
                          - 'null'
                          description: location
                        country:
                          type:
                          - string
                          - 'null'
                          description: country
                        country_code:
                          type:
                          - string
                          - 'null'
                          description: country code
                        description:
                          type:
                          - string
                          - 'null'
                          description: description
                        description_html:
                          type:
                          - string
                          - 'null'
                          description: description html
                        date_posted:
                          type:
                          - string
                          - 'null'
                          description: date posted
                        employment_type:
                          type:
                          - string
                          - 'null'
                          description: employment type
                        apply_url:
                          type:
                          - string
                          - 'null'
                          description: apply url
                        url:
                          type:
                          - string
                          - 'null'
                          description: url
                        company:
                          type:
                          - object
                          - 'null'
                          properties:
                            name:
                              type:
                              - string
                              - 'null'
                              description: name
                            image:
                              type:
                              - string
                              - 'null'
                              description: image
                          additionalProperties: true
                        salary:
                          type:
                          - object
                          - 'null'
                          properties:
                            min:
                              type:
                              - number
                              - 'null'
                              description: Lower salary amount.
                            max:
                              type:
                              - number
                              - 'null'
                              description: Upper salary amount.
                            currency:
                              type:
                              - string
                              - 'null'
                              description: Source currency code.
                          additionalProperties: true
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - id
                          properties:
                            id:
                              type:
                              - string
                              description: Exact source identifier; preserve it as a string.
                              minLength: 1
                        - required:
                          - title
                          properties:
                            title:
                              type:
                              - string
                              description: title
                              minLength: 1
                        - required:
                          - location
                          properties:
                            location:
                              type:
                              - string
                              description: location
                              minLength: 1
                        - required:
                          - country
                          properties:
                            country:
                              type:
                              - string
                              description: country
                              minLength: 1
                        - required:
                          - country_code
                          properties:
                            country_code:
                              type:
                              - string
                              description: country code
                              minLength: 1
                        - required:
                          - description
                          properties:
                            description:
                              type:
                              - string
                              description: description
                              minLength: 1
                        - required:
                          - description_html
                          properties:
                            description_html:
                              type:
                              - string
                              description: description html
                              minLength: 1
                        - required:
                          - date_posted
                          properties:
                            date_posted:
                              type:
                              - string
                              description: date posted
                              minLength: 1
                        - required:
                          - employment_type
                          properties:
                            employment_type:
                              type:
                              - string
                              description: employment type
                              minLength: 1
                        - required:
                          - apply_url
                          properties:
                            apply_url:
                              type:
                              - string
                              description: apply url
                              minLength: 1
                        - required:
                          - url
                          properties:
                            url:
                              type:
                              - string
                              description: url
                              minLength: 1
                        - required:
                          - company
                          properties:
                            company:
                              type:
                              - object
                              properties:
                                name:
                                  type:
                                  - string
                                  - 'null'
                                  description: name
                                image:
                                  type:
                                  - string
                                  - 'null'
                                  description: image
                              additionalProperties: true
                        - required:
                          - salary
                          properties:
                            salary:
                              type:
                              - object
                              properties:
                                min:
                                  type:
                                  - number
                                  - 'null'
                                  description: Lower salary amount.
                                max:
                                  type:
                                  - number
                                  - 'null'
                                  description: Upper salary amount.
                                currency:
                                  type:
                                  - string
                                  - 'null'
                                  description: Source currency code.
                              additionalProperties: true
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - id: '123'
                        title: Example role
                        description: Illustrative job description.
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/jobs/linkedin/organizations:
    get:
      operationId: jobs_linkedin_organizations
      tags:
      - Job boards
      summary: LinkedIn organisation lookup
      description: Organisation ids for a name, to filter LinkedIn job searches by employer. Costs 1 credit per successful live response.
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        example: google
        description: Organisation or school name
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/jobs/linkedin/organizations.json
                      title: jobs/linkedin/organizations data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - name
                                properties:
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                        total:
                          description: Source-reported total; null is unknown.
                          type:
                          - number
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - count: 0
                        has_more: false
                        items:
                        - id: example
                          name: example
                        total: 0
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/jobs/linkedin/search:
    get:
      operationId: jobs_linkedin_search
      tags:
      - Job boards
      summary: LinkedIn job search
      description: Search LinkedIn job postings by keywords, location, organisation, date, employment type, experience level and workplace type. Costs 3 credits per successful live response.
      parameters:
      - name: query
        in: query
        required: false
        schema:
          type: string
        example: data engineer
        description: Keywords, title, company or position
      - name: location
        in: query
        required: false
        schema:
          type: string
        example: London
        description: Country or city; worldwide when empty
      - name: organization_ids
        in: query
        required: false
        schema:
          type: string
        example: '1441'
        description: Organisation ids from jobs/linkedin/organizations, semicolon-separated
      - name: date_posted
        in: query
        required: false
        schema:
          type: string
          enum:
          - month
          - week
          - day
        example: week
        description: 'month, week or day Accepted values: month, week, day. Case, spaces, hyphens and underscores are interchangeable.'
      - name: employment_types
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - contractor
            - fulltime
            - parttime
            - intern
            - temporary
        style: form
        explode: false
        example:
        - fulltime
        - parttime
        description: 'contractor, fulltime, parttime, intern or temporary Accepted values (comma-separated): contractor, fulltime, parttime, intern, temporary. Case, spaces, hyphens and underscores are interchangeable.'
      - name: experience_levels
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - intern
            - entry
            - associate
            - midSenior
            - director
        style: form
        explode: false
        example:
        - midSenior
        description: 'intern, entry, associate, midSenior or director Accepted values (comma-separated): intern, entry, associate, midSenior, director. Case, spaces, hyphens and underscores are interchangeable.'
      - name: workplace_types
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - remote
            - hybrid
            - onSite
        style: form
        explode: false
        example:
        - remote
        description: 'remote, hybrid or onSite Accepted values (comma-separated): remote, hybrid, onSite. Case, spaces, hyphens and underscores are interchangeable.'
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Cursor from the previous page
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/jobs/linkedin/search.json
                      title: jobs/linkedin/search data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        items:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type:
                                - string
                                - 'null'
                                description: Exact source identifier; preserve it as a string.
                              title:
                                type:
                                - string
                                - 'null'
                                description: title
                              location:
                                type:
                                - string
                                - 'null'
                                description: location
                              country:
                                type:
                                - string
                                - 'null'
                                description: country
                              country_code:
                                type:
                                - string
                                - 'null'
                                description: country code
                              description:
                                type:
                                - string
                                - 'null'
                                description: description
                              description_html:
                                type:
                                - string
                                - 'null'
                                description: description html
                              date_posted:
                                type:
                                - string
                                - 'null'
                                description: date posted
                              employment_type:
                                type:
                                - string
                                - 'null'
                                description: employment type
                              apply_url:
                                type:
                                - string
                                - 'null'
                                description: apply url
                              url:
                                type:
                                - string
                                - 'null'
                                description: url
                              company:
                                type:
                                - object
                                - 'null'
                                properties:
                                  name:
                                    type:
                                    - string
                                    - 'null'
                                    description: name
                                  image:
                                    type:
                                    - string
                                    - 'null'
                                    description: image
                                additionalProperties: true
                              salary:
                                type:
                                - object
                                - 'null'
                                properties:
                                  min:
                                    type:
                                    - number
                                    - 'null'
                                    description: Lower salary amount.
                                  max:
                                    type:
                                    - number
                                    - 'null'
                                    description: Upper salary amount.
                                  currency:
                                    type:
                                    - string
                                    - 'null'
                                    description: Source currency code.
                                additionalProperties: true
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - id
                                properties:
                                  id:
                                    type:
                                    - string
                                    description: Exact source identifier; preserve it as a string.
                                    minLength: 1
                              - required:
                                - title
                                properties:
                                  title:
                                    type:
                                    - string
                                    description: title
                                    minLength: 1
                              - required:
                                - location
                                properties:
                                  location:
                                    type:
                                    - string
                                    description: location
                                    minLength: 1
                              - required:
                                - country
                                properties:
                                  country:
                                    type:
                                    - string
                                    description: country
                                    minLength: 1
                              - required:
                                - country_code
                                properties:
                                  country_code:
                                    type:
                                    - string
                                    description: country code
                                    minLength: 1
                              - required:
                                - description
                                properties:
                                  description:
                                    type:
                                    - string
                                    description: description
                                    minLength: 1
                              - required:
                                - description_html
                                properties:
                                  description_html:
                                    type:
                                    - string
                                    description: description html
                                    minLength: 1
                              - required:
                                - date_posted
                                properties:
                                  date_posted:
                                    type:
                                    - string
                                    description: date posted
                                    minLength: 1
                              - required:
                                - employment_type
                                properties:
                                  employment_type:
                                    type:
                                    - string
                                    description: employment type
                                    minLength: 1
                              - required:
                                - apply_url
                                properties:
                                  apply_url:
                                    type:
                                    - string
                                    description: apply url
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    type:
                                    - string
                                    description: url
                                    minLength: 1
                              - required:
                                - company
                                properties:
                                  company:
                                    type:
                                    - object
                                    properties:
                                      name:
                                        type:
                                        - string
                                        - 'null'
[...]
