openapi: 3.2.0
info:
  title: Monocrawl Booking.com API
  version: 0.1.0
  description: One key, one envelope, one credit meter across social, search, commerce and web data.
  contact:
    name: Monocrawl support
    url: https://www.monocrawl.com/contact
  termsOfService: https://www.monocrawl.com/legal/terms-and-conditions
servers:
- url: https://www.monocrawl.com
security:
- ApiKeyHeader: []
tags:
- name: Booking.com
paths:
  /v1/booking/attraction:
    get:
      operationId: booking_attraction
      tags:
      - Booking.com
      summary: Booking.com attraction
      description: 'One attraction''s page: description, price, rating and reviews, cancellation, operator, what is included and not, languages, photos, meeting and departure addresses, offers and the latest reviews. Costs 3 credits per successful live response.'
      parameters:
      - name: slug
        in: query
        required: true
        schema:
          type: string
        example: pr4z1zrjq9hl-skip-the-queue-tickets-into-the-lisbon-oceanarium
        description: The attraction's slug from booking/search-attractions (or pass url, its page)
      - name: url
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: The attraction's page URL instead of a slug
      - name: currency
        in: query
        required: false
        schema:
          type: string
        example: GBP
        description: Three-letter currency code
      - name: language
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Language code for the site's text
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/booking/attraction.json
                      title: booking/attraction data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        _warnings:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        accessibility:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        additional_info:
                          description: Optional additional info supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        addresses:
                          description: Optional addresses supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            attraction:
                              description: Optional attraction supplied by this operation. Null means unknown.
                              type:
                              - array
                              - 'null'
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  address:
                                    description: Optional address supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  city:
                                    description: Optional city supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  country:
                                    description: Optional country supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  latitude:
                                    description: Optional latitude supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  longitude:
                                    description: Optional longitude supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  postcode:
                                    description: Optional postcode supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  type:
                                    description: Optional type supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                          additionalProperties: true
                        audio_languages:
                          description: Optional audio languages supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        bookable:
                          description: Optional bookable supplied by this operation. Null means unknown.
                          type:
                          - boolean
                          - 'null'
                        city:
                          description: Optional city supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        country_code:
                          description: Optional country code supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        description:
                          description: Source description; null or absent means not supplied.
                          type:
                          - string
                          - 'null'
                        destination_id:
                          description: Optional destination id supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        free_cancellation:
                          description: Optional free cancellation supplied by this operation. Null means unknown.
                          type:
                          - boolean
                          - 'null'
                        guide_languages:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        id:
                          description: Source identifier. Preserve the supplied type and exact value.
                          type:
                          - string
                          - 'null'
                        image_url:
                          description: Optional image url supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        labels:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        name:
                          description: Optional name supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        not_included:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        offers:
                          description: Optional offers supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              availability_type:
                                description: Optional availability type supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        operated_by:
                          description: Optional operated by supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        photos:
                          description: Optional photos supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        platform:
                          description: Optional platform supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        positive_share:
                          description: Optional positive share supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        price:
                          description: Source price. Currency, taxes and availability depend on the listing.
                          type:
                          - object
                          - 'null'
                          properties:
                            amount:
                              description: Optional amount supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            currency:
                              description: Optional currency supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                          additionalProperties: true
                        rating:
                          description: Source rating; read its accompanying scale and vote count.
                          type:
                          - number
                          - 'null'
                        ratings_count:
                          description: Optional ratings count supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        restrictions:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        reviews:
                          description: Optional reviews supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              author:
                                description: Public author information supplied with this record.
                                type:
                                - string
                                - 'null'
                              date:
                                description: Optional date supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              language:
                                description: Optional language supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              rating:
                                description: Source rating; read its accompanying scale and vote count.
                                type:
                                - number
                                - 'null'
                              text:
                                description: Source text when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - author
                                properties:
                                  author:
                                    description: Public author information supplied with this record.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - date
                                properties:
                                  date:
                                    description: Optional date supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - language
                                properties:
                                  language:
                                    description: Optional language supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - rating
                                properties:
                                  rating:
                                    description: Source rating; read its accompanying scale and vote count.
                                    type:
                                    - number
                              - required:
                                - text
                                properties:
                                  text:
                                    description: Source text when supplied.
                                    type:
                                    - string
                                    minLength: 1
                        reviews_count:
                          description: Optional reviews count supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        reviews_total:
                          description: Optional reviews total supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        selling_points:
                          description: Optional selling points supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        short_description:
                          description: Optional short description supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        slug:
                          description: Optional slug supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        type:
                          description: Optional type supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        url:
                          description: Original source URL when supplied.
                          type:
                          - string
                          - 'null'
                        whats_included:
                          description: Optional whats included supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - accessibility
                          properties:
                            accessibility:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              items: {}
                        - required:
                          - additional_info
                          properties:
                            additional_info:
                              description: Optional additional info supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - addresses
                          properties:
                            addresses:
                              description: Optional addresses supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties:
                                attraction:
                                  description: Optional attraction supplied by this operation. Null means unknown.
                                  type:
                                  - array
                                  - 'null'
                                  items:
                                    description: Optional record supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      address:
                                        description: Optional address supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      city:
                                        description: Optional city supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      country:
                                        description: Optional country supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      latitude:
                                        description: Optional latitude supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      longitude:
                                        description: Optional longitude supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      postcode:
                                        description: Optional postcode supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      type:
                                        description: Optional type supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                    additionalProperties: true
                              additionalProperties: true
                        - required:
                          - audio_languages
                          properties:
                            audio_languages:
                              description: Optional audio languages supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                        - required:
                          - bookable
                          properties:
                            bookable:
                              description: Optional bookable supplied by this operation. Null means unknown.
                              type:
                              - boolean
                        - required:
                          - city
                          properties:
                            city:
                              description: Optional city supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - country_code
                          properties:
                            country_code:
                              description: Optional country code supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - description
                          properties:
                            description:
                              description: Source description; null or absent means not supplied.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - destination_id
                          properties:
                            destination_id:
                              description: Optional destination id supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - free_cancellation
                          properties:
                            free_cancellation:
                              description: Optional free cancellation supplied by this operation. Null means unknown.
                              type:
                              - boolean
                        - required:
                          - guide_languages
                          properties:
                            guide_languages:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              items: {}
                        - required:
                          - id
                          properties:
                            id:
                              description: Source identifier. Preserve the supplied type and exact value.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - image_url
                          properties:
                            image_url:
                              description: Optional image url supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - labels
                          properties:
                            labels:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              items: {}
                        - required:
                          - name
                          properties:
                            name:
                              description: Optional name supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - not_included
                          properties:
                            not_included:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              items: {}
                        - required:
                          - offers
                          properties:
                            offers:
                              description: Optional offers supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  availability_type:
                                    description: Optional availability type supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                        - required:
                          - operated_by
                          properties:
                            operated_by:
                              description: Optional operated by supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - photos
                          properties:
                            photos:
                              description: Optional photos supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                        - required:
                          - positive_share
                          properties:
                            positive_share:
                              description: Optional positive share supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - price
                          properties:
                            price:
                              description: Source price. Currency, taxes and availability depend on the listing.
                              type:
                              - object
                              properties:
                                amount:
                                  description: Optional amount supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                currency:
                                  description: Optional currency supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              additionalProperties: true
                        - required:
                          - rating
                          properties:
                            rating:
                              description: Source rating; read its accompanying scale and vote count.
                              type:
                              - number
                        - required:
                          - ratings_count
                          properties:
                            ratings_count:
                              description: Optional ratings count supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - restrictions
                          properties:
                            restrictions:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              items: {}
                        - required:
                          - reviews
                          properties:
                            reviews:
                              description: Optional reviews supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type: object
                                properties:
                                  author:
                                    description: Public author information supplied with this record.
                                    type:
                                    - string
                                    - 'null'
                                  date:
                                    description: Optional date supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    - 'null'
                                  language:
                                    description: Optional language supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  rating:
                                    description: Source rating; read its accompanying scale and vote count.
                                    type:
                                    - number
                                    - 'null'
                                  text:
                                    description: Source text when supplied.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                                allOf:
                                - anyOf:
                                  - required:
                                    - author
                                    properties:
                                      author:
                                        description: Public author information supplied with this record.
                                        type:
                                        - string
                                        minLength: 1
                                  - required:
                                    - date
                                    properties:
                                      date:
                                        description: Optional date supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        minLength: 1
                                  - required:
                                    - id
                                    properties:
                                      id:
                                        description: Source identifier. Preserve the supplied type and exact value.
                                        type:
                                        - string
                                        minLength: 1
                                  - required:
                                    - language
                                    properties:
                                      language:
                                        description: Optional language supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        minLength: 1
                                  - required:
                                    - rating
                                    properties:
                                      rating:
                                        description: Source rating; read its accompanying scale and vote count.
                                        type:
                                        - number
                                  - required:
                                    - text
                                    properties:
                                      text:
                                        description: Source text when supplied.
                                        type:
                                        - string
                                        minLength: 1
                        - required:
                          - reviews_count
                          properties:
                            reviews_count:
                              description: Optional reviews count supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - reviews_total
                          properties:
                            reviews_total:
                              description: Optional reviews total supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - selling_points
                          properties:
                            selling_points:
                              description: Optional selling points supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                        - required:
                          - short_description
                          properties:
                            short_description:
                              description: Optional short description supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - slug
                          properties:
                            slug:
                              description: Optional slug supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - url
                          properties:
                            url:
                              description: Original source URL when supplied.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - whats_included
                          properties:
                            whats_included:
                              description: Optional whats included supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - _warnings: []
                        accessibility: []
                        additional_info: example
                        addresses:
                          attraction:
                          - address: example
                            city: example
                            country: example
                            latitude: 0
                            longitude: 0
                            postcode: example
                            type: example
                        audio_languages:
                        - example
                        bookable: false
                        city: example
                        country_code: example
                        description: example
                        destination_id: example
                        free_cancellation: false
                        guide_languages: []
                        id: example
                        image_url: https://example.com/example
                        labels: []
                        name: example
                        not_included: []
                        offers:
                        - availability_type: example
                          id: example
                        operated_by: example
                        photos:
                        - example
                        platform: example
                        positive_share: example
                        price:
                          amount: 0
                          currency: example
                        rating: 0
                        ratings_count: 0
                        restrictions: []
                        reviews:
                        - author: example
                          date: '2026-09-01T12:00:00Z'
                          id: example
                          language: example
                          rating: 0
                          text: example
                        reviews_count: 0
                        reviews_total: 0
                        selling_points:
                        - example
                        short_description: example
                        slug: example
                        type: example
                        url: https://example.com/example
                        whats_included:
                        - example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 3
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/booking/attraction-locations:
    get:
      operationId: booking_attraction_locations
      tags:
      - Booking.com
      summary: Booking.com attractions lookup
      description: The attractions destinations the site knows for a name, each with the id booking/search-attractions takes and how many things to do it holds, plus the named attractions that match. Costs 2 credits per successful live response.
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        example: Lisbon
        description: A city or an attraction name
      - name: language
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Language code for the site's text
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/booking/attraction-locations.json
                      title: booking/attraction-locations data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        attractions:
                          description: Optional attractions supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              category:
                                description: Optional category supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              city:
                                description: Optional city supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              country_code:
                                description: Optional country code supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              destination_id:
                                description: Optional destination id supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              search_id:
                                description: Optional search id supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              slug:
                                description: Optional slug supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              attractions:
                                description: Optional attractions supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              city:
                                description: Optional city supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              country:
                                description: Optional country supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              country_code:
                                description: Optional country code supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              destination_id:
                                description: Optional destination id supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - attractions
                                properties:
                                  attractions:
                                    description: Optional attractions supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - city
                                properties:
                                  city:
                                    description: Optional city supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - country
                                properties:
                                  country:
                                    description: Optional country supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - country_code
                                properties:
                                  country_code:
                                    description: Optional country code supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - destination_id
                                properties:
                                  destination_id:
                                    description: Optional destination id supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                        query:
                          description: Optional query supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - attractions:
                        - category: example
                          city: example
                          country_code: example
                          destination_id: example
                          id: example
                          name: example
                          search_id: example
                          slug: example
                        count: 0
                        has_more: false
                        items:
                        - attractions: 0
                          city: example
                          country: example
                          country_code: example
                          destination_id: example
                          id: example
                        query: example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 2
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/booking/flight-locations:
    get:
      operationId: booking_flight_locations
      tags:
      - Booking.com
      summary: Booking.com airport lookup
      description: The airports and cities the flight search knows for a name, each with the code booking/search-flights takes (LHR.AIRPORT, LON.CITY). Costs 2 credits per successful live response.
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        example: London
        description: A city or airport name
      - name: language
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Language code for the site's text
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/booking/flight-locations.json
                      title: booking/flight-locations data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              city:
                                description: Optional city supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              city_code:
                                description: Optional city code supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              code:
                                description: Optional code supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              country:
                                description: Optional country supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              country_code:
                                description: Optional country code supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              distance_to_city:
                                description: Optional distance to city supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  unit:
                                    description: Optional unit supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  value:
                                    description: Optional value supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                additionalProperties: true
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              image_url:
                                description: Optional image url supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              parent:
                                description: Optional parent supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              region:
                                description: Optional region supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              type:
                                description: Optional type supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - city
                                properties:
                                  city:
                                    description: Optional city supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - city_code
                                properties:
                                  city_code:
                                    description: Optional city code supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - code
                                properties:
                                  code:
                                    description: Optional code supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - country
                                properties:
                                  country:
                                    description: Optional country supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - country_code
                                properties:
                                  country_code:
                                    description: Optional country code supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - distance_to_city
                                properties:
                                  distance_to_city:
                                    description: Optional distance to city supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    properties:
                                      unit:
                                        description: Optional unit supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      value:
                                        description: Optional value supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - image_url
                                properties:
                                  image_url:
                                    description: Optional image url supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - name
                                properties:
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - parent
                                properties:
                                  parent:
                                    description: Optional parent supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - region
                                properties:
                                  region:
                                    description: Optional region supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                        query:
                          description: Optional query supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - count: 0
                        has_more: false
                        items:
                        - city: example
                          city_code: example
                          code: example
                          country: example
                          country_code: example
                          distance_to_city:
                            unit: example
                            value: 0
                          id: example
                          image_url: https://example.com/example
                          name: example
                          parent: example
                          region: example
                          type: example
                        query: example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 2
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/booking/hotel:
    get:
      operationId: booking_hotel
      tags:
      - Booking.com
      summary: Booking.com hotel
      description: 'One hotel''s page for a stay: address and position, type, the price with its per-night and all-inclusive figures, facilities and highlights, breakfast and Wi-Fi scores, sustainability tier, the important information, each room with its beds, facilities and photos, and every bookable offer with its cancellation and prepayment terms. Costs 3 credits per successful live response.'
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        example: '4045490'
        description: The hotel's number, from booking/search-hotels
      - name: checkin
        in: query
        required: true
        schema:
          type: string
        example: '2026-10-10'
        description: Check-in date, YYYY-MM-DD
      - name: checkout
        in: query
        required: true
        schema:
          type: string
        example: '2026-10-12'
        description: Check-out date, YYYY-MM-DD
      - name: adults
        in: query
        required: false
        schema:
          type: string
        example: '2'
        description: Adults, 1 to 30
      - name: children_ages
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Children's ages, separated by commas
      - name: rooms
        in: query
        required: false
        schema:
          type: string
        example: '1'
        description: Rooms, 1 to 30
      - name: currency
        in: query
        required: false
        schema:
          type: string
        example: GBP
        description: Three-letter currency code
      - name: language
        in: query
        required: false
        schema:
          type: string
        example: en-gb
        description: Language code for the site's text
      - name: units
        in: query
        required: false
        schema:
          type: string
          enum:
          - metric
          - imperial
        example: ''
        description: 'metric or imperial Accepted values: metric, imperial. Case, spaces, hyphens and underscores are interchangeable.'
      - name: temperature_unit
        in: query
        required: false
        schema:
          type: string
          enum:
          - c
          - f
        example: ''
        description: 'c or f Accepted values: c, f. Case, spaces, hyphens and underscores are interchangeable.'
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/booking/hotel.json
                      title: booking/hotel data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        _warnings:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        accommodation_type:
                          description: Optional accommodation type supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        address:
                          description: Optional address supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        available_rooms:
                          description: Optional available rooms supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        breakfast_included:
                          description: Optional breakfast included supplied by this operation. Null means unknown.
                          type:
                          - boolean
                          - 'null'
                        breakfast_score:
                          description: Optional breakfast score supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            count:
                              description: Number of records in this response, not lifetime or total matches.
                              type:
                              - number
                              - 'null'
                            rating:
                              description: Source rating; read its accompanying scale and vote count.
                              type:
                              - number
                              - 'null'
                            word:
                              description: Optional word supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                          additionalProperties: true
                        checkin_date:
                          description: Optional checkin date supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        checkout_date:
                          description: Optional checkout date supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        city:
                          description: Optional city supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        closed:
                          description: Optional closed supplied by this operation. Null means unknown.
                          type:
                          - boolean
                          - 'null'
                        country_code:
                          description: Optional country code supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        currency:
                          description: Optional currency supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        destination_id:
                          description: Optional destination id supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        distance_to_centre_km:
                          description: Optional distance to centre km supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        district:
                          description: Optional district supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        facilities:
                          description: Optional facilities supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        family_facilities:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        family_friendly:
                          description: Optional family friendly supplied by this operation. Null means unknown.
                          type:
                          - boolean
                          - 'null'
                        highlights:
                          description: Optional highlights supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        id:
                          description: Source identifier. Preserve the supplied type and exact value.
                          type:
                          - string
                          - 'null'
                        important_information:
                          description: Optional important information supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        languages_spoken:
                          description: Optional languages spoken supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        latitude:
                          description: Optional latitude supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        longitude:
                          description: Optional longitude supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        max_rooms_per_booking:
                          description: Optional max rooms per booking supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        name:
                          description: Optional name supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        offers:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        platform:
                          description: Optional platform supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        postcode:
                          description: Optional postcode supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        review_count:
                          description: Optional review count supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        rooms:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        sold_out:
                          description: Optional sold out supplied by this operation. Null means unknown.
                          type:
                          - boolean
                          - 'null'
                        timezone:
                          description: Optional timezone supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        top_benefits:
                          description: Optional top benefits supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        type:
                          description: Optional type supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        url:
                          description: Original source URL when supplied.
                          type:
                          - string
                          - 'null'
                        wifi_score:
                          description: Optional wifi score supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - accommodation_type
                          properties:
                            accommodation_type:
                              description: Optional accommodation type supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - address
                          properties:
                            address:
                              description: Optional address supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - available_rooms
                          properties:
                            available_rooms:
                              description: Optional available rooms supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - breakfast_included
                          properties:
                            breakfast_included:
                              description: Optional breakfast included supplied by this operation. Null means unknown.
                              type:
                              - boolean
                        - required:
                          - breakfast_score
                          properties:
                            breakfast_score:
                              description: Optional breakfast score supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties:
                                count:
                                  description: Number of records in this response, not lifetime or total matches.
                                  type:
                                  - number
                                  - 'null'
                                rating:
                                  description: Source rating; read its accompanying scale and vote count.
                                  type:
                                  - number
                                  - 'null'
                                word:
                                  description: Optional word supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              additionalProperties: true
                        - required:
                          - checkin_date
                          properties:
                            checkin_date:
                              description: Optional checkin date supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - checkout_date
                          properties:
                            checkout_date:
                              description: Optional checkout date supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - city
                          properties:
                            city:
                              description: Optional city supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - closed
                          properties:
                            closed:
                              description: Optional closed supplied by this operation. Null means unknown.
                              type:
                              - boolean
                        - required:
                          - country_code
                          properties:
                            country_code:
                              description: Optional country code supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - currency
                          properties:
                            currency:
                              description: Optional currency supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - destination_id
                          properties:
                            destination_id:
                              description: Optional destination id supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - distance_to_centre_km
                          properties:
                            distance_to_centre_km:
                              description: Optional distance to centre km supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - district
                          properties:
                            district:
                              description: Optional district supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - facilities
                          properties:
                            facilities:
                              description: Optional facilities supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                        - required:
                          - family_facilities
                          properties:
                            family_facilities:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              items: {}
                        - required:
[...]
