openapi: 3.2.0
info:
  title: Monocrawl Instagram API
  version: 0.1.0
  description: One key, one envelope, one credit meter across social, search, commerce and web data.
  contact:
    name: Monocrawl support
    url: https://www.monocrawl.com/contact
  termsOfService: https://www.monocrawl.com/legal/terms-and-conditions
servers:
- url: https://www.monocrawl.com
security:
- ApiKeyHeader: []
tags:
- name: Instagram
paths:
  /v1/instagram/about:
    get:
      operationId: instagram_about
      tags:
      - Instagram
      summary: Instagram account transparency panel
      description: 'Public account transparency: country, month joined and verification status when supplied. Unknown ads and former-name counts remain null. Handle lookup is included in the credit price. Costs 10 credits per successful live response.'
      parameters:
      - name: handle
        in: query
        required: true
        schema:
          type: string
        example: nasa
        description: Instagram username or profile URL An optional leading @ is accepted and removed before lookup.
      - name: user_id
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: 'The numeric account id, if already known: skips the lookup request'
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/instagram/about.json
                      title: instagram/about data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        handle:
                          type:
                          - string
                          - 'null'
                          description: handle
                        url:
                          type:
                          - string
                          - 'null'
                          description: url
                        date_joined:
                          type:
                          - string
                          - 'null'
                          description: date joined
                        country:
                          type:
                          - string
                          - 'null'
                          description: country
                        verified_on:
                          type:
                          - string
                          - 'null'
                          description: verified on
                        active_ads:
                          type:
                          - string
                          - 'null'
                          description: active ads
                        former_usernames_count:
                          type:
                          - number
                          - 'null'
                          description: former usernames count; null is unknown.
                        accounts_with_shared_followers:
                          type:
                          - number
                          - 'null'
                          description: accounts with shared followers; null is unknown.
                        verified:
                          type:
                          - boolean
                          - 'null'
                          description: Source verification flag.
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - handle
                          properties:
                            handle:
                              type:
                              - string
                              description: handle
                              minLength: 1
                        - required:
                          - url
                          properties:
                            url:
                              type:
                              - string
                              description: url
                              minLength: 1
                        - required:
                          - date_joined
                          properties:
                            date_joined:
                              type:
                              - string
                              description: date joined
                              minLength: 1
                        - required:
                          - country
                          properties:
                            country:
                              type:
                              - string
                              description: country
                              minLength: 1
                        - required:
                          - verified_on
                          properties:
                            verified_on:
                              type:
                              - string
                              description: verified on
                              minLength: 1
                        - required:
                          - active_ads
                          properties:
                            active_ads:
                              type:
                              - string
                              description: active ads
                              minLength: 1
                        - required:
                          - former_usernames_count
                          properties:
                            former_usernames_count:
                              type:
                              - number
                              description: former usernames count; null is unknown.
                        - required:
                          - accounts_with_shared_followers
                          properties:
                            accounts_with_shared_followers:
                              type:
                              - number
                              description: accounts with shared followers; null is unknown.
                        - required:
                          - verified
                          properties:
                            verified:
                              type:
                              - boolean
                              description: Source verification flag.
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - handle: example
                        date_joined: null
                        country: null
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 10
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/instagram/audio-reels:
    get:
      operationId: instagram_audio_reels
      tags:
      - Instagram
      summary: Reels using an audio
      description: Reels that use a specific audio track — sound-trend intelligence for Instagram. Paged by cursor. Costs 1 credit per successful live response.
      parameters:
      - name: audio_id
        in: query
        required: true
        schema:
          type: string
        example: '1392969992841787'
        description: Instagram audio id.
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: Opaque cursor from the previous page.
      - name: include_audio
        in: query
        required: false
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
        x-value-aliases:
          '0': 'false'
          '1': 'true'
        example: 'true'
        description: 'Opt in to a native audio page with sound metadata, supplied reel total and trend flags at the same price. Results can differ from ordinary audio search. Later pages may retain first-page metadata; check scope and observation times. Keep the option with its cursor. Accepted values: true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/instagram/audio-reels.json
                      title: instagram/audio-reels data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        cursor:
                          description: Opaque next-page token; pass it back unchanged. Null does not prove complete history.
                          type:
                          - string
                          - 'null'
                        dropped:
                          description: Optional dropped supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              author:
                                description: Public author information supplied with this record.
                                type:
                                - object
                                - 'null'
                                properties:
                                  avatar_url:
                                    description: Optional avatar url supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  handle:
                                    description: Optional handle supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    - 'null'
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  private:
                                    description: Optional private supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                                    - 'null'
                                  verified:
                                    description: Optional verified supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                                    - 'null'
                                additionalProperties: true
                              caption:
                                description: Optional caption supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              carousel:
                                description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                type:
                                - array
                                - 'null'
                                items: {}
                              coauthors:
                                description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                type:
                                - array
                                - 'null'
                                items: {}
                              code:
                                description: Optional code supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              created_at:
                                description: Source creation time, not the API retrieval time.
                                type:
                                - string
                                - 'null'
                              display_url:
                                description: Optional display url supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              duration_s:
                                description: Optional duration s supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              has_audio:
                                description: Optional has audio supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              is_paid_partnership:
                                description: Optional is paid partnership supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              is_video:
                                description: Optional is video supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              location:
                                description: Optional location supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    - 'null'
                                  latitude:
                                    description: Optional latitude supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  longitude:
                                    description: Optional longitude supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                              media_urls:
                                description: Optional media urls supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              platform:
                                description: Optional platform supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              product_type:
                                description: Optional product type supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              stats:
                                description: Optional stats supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  comments:
                                    description: Optional comments supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  likes:
                                    description: Optional likes supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  plays:
                                    description: Optional plays supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                additionalProperties: true
                              thumbnail_url:
                                description: Optional thumbnail url supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                              video_url:
                                description: Optional video url supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              audio_cluster_id:
                                type:
                                - string
                                - 'null'
                                description: Exact Instagram audio cluster identifier, grouping uploads of a sound. Can feed instagram/audio-reels; unknown remains null.
                              music:
                                type:
                                - object
                                - 'null'
                                properties:
                                  id:
                                    type:
                                    - string
                                    - 'null'
                                    description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                                  title:
                                    type:
                                    - string
                                    - 'null'
                                    description: Source sound title.
                                  author:
                                    type:
                                    - string
                                    - 'null'
                                    description: Source artist display name.
                                  is_original:
                                    type:
                                    - boolean
                                    - 'null'
                                    description: Source original-audio flag; null when absent.
                                  audio_cluster_id:
                                    type:
                                    - string
                                    - 'null'
                                    description: Exact Instagram audio cluster identifier, grouping uploads of a sound. Can feed instagram/audio-reels; unknown remains null.
                                  audio_asset_id:
                                    type:
                                    - string
                                    - 'null'
                                    description: Exact source identifier for this audio asset. Different uploads may share an audio cluster.
                                  duration_s:
                                    type:
                                    - number
                                    - 'null'
                                    description: Audio asset duration in seconds, separate from reel duration.
                                  is_explicit:
                                    type:
                                    - boolean
                                    - 'null'
                                    description: Source explicit-content flag for the audio asset.
                                  is_trending:
                                    type:
                                    - boolean
                                    - 'null'
                                    description: Source trending-in-Reels flag supplied with this reel. Time-sensitive; null or absent is unknown, not false.
                                  canonical_id:
                                    type:
                                    - string
                                    - 'null'
                                    description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                                  artist_id:
                                    type:
                                    - string
                                    - 'null'
                                    description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                                  author_handle:
                                    type:
                                    - string
                                    - 'null'
                                    description: Public artist handle when supplied.
                                  spotify_track_id:
                                    type:
                                    - string
                                    - 'null'
                                    description: Spotify track identifier supplied by the source.
                                  spotify_url:
                                    type:
                                    - string
                                    - 'null'
                                    description: Original source URL when supplied.
                                  is_licensed:
                                    type:
                                    - boolean
                                    - 'null'
                                    description: Explicit source licensed-audio flag; not a licence granted to the caller.
                                  licensed_music_subtype:
                                    type:
                                    - string
                                    - 'null'
                                    description: Source music classification, not a grant of usage rights.
                                  allows_saving:
                                    type:
                                    - boolean
                                    - 'null'
                                    description: Source saving flag.
                                  cover_url:
                                    type:
                                    - string
                                    - 'null'
                                    description: Original source URL when supplied.
                                  audio_url:
                                    type:
                                    - string
                                    - 'null'
                                    description: Original source URL when supplied.
                                  preview_url:
                                    type:
                                    - string
                                    - 'null'
                                    description: Original source URL when supplied.
                                  play_url:
                                    type:
                                    - string
                                    - 'null'
                                    description: Original source URL when supplied.
                                additionalProperties: true
                              facebook_likes:
                                type:
                                - number
                                - 'null'
                                description: Separate Facebook likes reported by the source; null or absent is unknown, not zero.
                              shares:
                                type:
                                - number
                                - 'null'
                                description: Public shares reported by the source; null or absent is unknown, not zero.
                              reposts:
                                type:
                                - number
                                - 'null'
                                description: Public reposts reported by the source; null or absent is unknown, not zero.
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - author
                                properties:
                                  author:
                                    description: Public author information supplied with this record.
                                    type:
                                    - object
                                    properties:
                                      avatar_url:
                                        description: Optional avatar url supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      handle:
                                        description: Optional handle supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      id:
                                        description: Source identifier. Preserve the supplied type and exact value.
                                        type:
                                        - string
                                        - 'null'
                                      name:
                                        description: Optional name supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      private:
                                        description: Optional private supplied by this operation. Null means unknown.
                                        type:
                                        - boolean
                                        - 'null'
                                      verified:
                                        description: Optional verified supplied by this operation. Null means unknown.
                                        type:
                                        - boolean
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - caption
                                properties:
                                  caption:
                                    description: Optional caption supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - carousel
                                properties:
                                  carousel:
                                    description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                    type:
                                    - array
                                    items: {}
                              - required:
                                - coauthors
                                properties:
                                  coauthors:
                                    description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                    type:
                                    - array
                                    items: {}
                              - required:
                                - code
                                properties:
                                  code:
                                    description: Optional code supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - created_at
                                properties:
                                  created_at:
                                    description: Source creation time, not the API retrieval time.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - display_url
                                properties:
                                  display_url:
                                    description: Optional display url supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - duration_s
                                properties:
                                  duration_s:
                                    description: Optional duration s supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - has_audio
                                properties:
                                  has_audio:
                                    description: Optional has audio supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - is_paid_partnership
                                properties:
                                  is_paid_partnership:
                                    description: Optional is paid partnership supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                              - required:
                                - is_video
                                properties:
                                  is_video:
                                    description: Optional is video supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                              - required:
                                - location
                                properties:
                                  location:
                                    description: Optional location supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    properties:
                                      id:
                                        description: Source identifier. Preserve the supplied type and exact value.
                                        type:
                                        - string
                                        - 'null'
                                      latitude:
                                        description: Optional latitude supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      longitude:
                                        description: Optional longitude supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      name:
                                        description: Optional name supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - media_urls
                                properties:
                                  media_urls:
                                    description: Optional media urls supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - string
                                      - 'null'
                              - required:
                                - product_type
                                properties:
                                  product_type:
                                    description: Optional product type supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - stats
                                properties:
                                  stats:
                                    description: Optional stats supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    properties:
                                      comments:
                                        description: Optional comments supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      likes:
                                        description: Optional likes supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      plays:
                                        description: Optional plays supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - thumbnail_url
                                properties:
                                  thumbnail_url:
                                    description: Optional thumbnail url supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - video_url
                                properties:
                                  video_url:
                                    description: Optional video url supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - audio_cluster_id
                                properties:
                                  audio_cluster_id:
                                    type:
                                    - string
                                    description: Exact Instagram audio cluster identifier, grouping uploads of a sound. Can feed instagram/audio-reels; unknown remains null.
                                    minLength: 1
                              - required:
                                - music
                                properties:
                                  music:
                                    type:
                                    - object
                                    properties:
                                      id:
                                        type:
                                        - string
                                        - 'null'
                                        description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                                      title:
                                        type:
                                        - string
                                        - 'null'
                                        description: Source sound title.
                                      author:
                                        type:
                                        - string
                                        - 'null'
                                        description: Source artist display name.
                                      is_original:
                                        type:
                                        - boolean
                                        - 'null'
                                        description: Source original-audio flag; null when absent.
                                      audio_cluster_id:
                                        type:
                                        - string
                                        - 'null'
                                        description: Exact Instagram audio cluster identifier, grouping uploads of a sound. Can feed instagram/audio-reels; unknown remains null.
                                      audio_asset_id:
                                        type:
                                        - string
                                        - 'null'
                                        description: Exact source identifier for this audio asset. Different uploads may share an audio cluster.
                                      duration_s:
                                        type:
                                        - number
                                        - 'null'
                                        description: Audio asset duration in seconds, separate from reel duration.
                                      is_explicit:
                                        type:
                                        - boolean
                                        - 'null'
                                        description: Source explicit-content flag for the audio asset.
                                      is_trending:
                                        type:
                                        - boolean
                                        - 'null'
                                        description: Source trending-in-Reels flag supplied with this reel. Time-sensitive; null or absent is unknown, not false.
                                      canonical_id:
                                        type:
                                        - string
                                        - 'null'
                                        description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                                      artist_id:
                                        type:
                                        - string
                                        - 'null'
                                        description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                                      author_handle:
                                        type:
                                        - string
                                        - 'null'
                                        description: Public artist handle when supplied.
                                      spotify_track_id:
                                        type:
                                        - string
                                        - 'null'
                                        description: Spotify track identifier supplied by the source.
                                      spotify_url:
                                        type:
                                        - string
                                        - 'null'
                                        description: Original source URL when supplied.
                                      is_licensed:
                                        type:
                                        - boolean
                                        - 'null'
                                        description: Explicit source licensed-audio flag; not a licence granted to the caller.
                                      licensed_music_subtype:
                                        type:
                                        - string
                                        - 'null'
                                        description: Source music classification, not a grant of usage rights.
                                      allows_saving:
                                        type:
                                        - boolean
                                        - 'null'
                                        description: Source saving flag.
                                      cover_url:
                                        type:
                                        - string
                                        - 'null'
                                        description: Original source URL when supplied.
                                      audio_url:
                                        type:
                                        - string
                                        - 'null'
                                        description: Original source URL when supplied.
                                      preview_url:
                                        type:
                                        - string
                                        - 'null'
                                        description: Original source URL when supplied.
                                      play_url:
                                        type:
                                        - string
                                        - 'null'
                                        description: Original source URL when supplied.
                                    additionalProperties: true
                              - required:
                                - facebook_likes
                                properties:
                                  facebook_likes:
                                    type:
                                    - number
                                    description: Separate Facebook likes reported by the source; null or absent is unknown, not zero.
                              - required:
                                - shares
                                properties:
                                  shares:
                                    type:
                                    - number
                                    description: Public shares reported by the source; null or absent is unknown, not zero.
                              - required:
                                - reposts
                                properties:
                                  reposts:
                                    type:
                                    - number
                                    description: Public reposts reported by the source; null or absent is unknown, not zero.
                        audio_id:
                          type:
                          - string
                          - 'null'
                          description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                        music:
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              type:
                              - string
                              - 'null'
                              description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                            title:
                              type:
                              - string
                              - 'null'
                              description: Source sound title.
                            author:
                              type:
                              - string
                              - 'null'
                              description: Source artist display name.
                            is_original:
                              type:
                              - boolean
                              - 'null'
                              description: Source original-audio flag; null when absent.
                            audio_cluster_id:
                              type:
                              - string
                              - 'null'
                              description: Exact Instagram audio cluster identifier, grouping uploads of a sound. Can feed instagram/audio-reels; unknown remains null.
                            audio_asset_id:
                              type:
                              - string
                              - 'null'
                              description: Exact source identifier for this audio asset. Different uploads may share an audio cluster.
                            duration_s:
                              type:
                              - number
                              - 'null'
                              description: Audio asset duration in seconds, separate from reel duration.
                            is_explicit:
                              type:
                              - boolean
                              - 'null'
                              description: Source explicit-content flag for the audio asset.
                            is_trending:
                              type:
                              - boolean
                              - 'null'
                              description: Source trending-in-Reels flag supplied with this reel. Time-sensitive; null or absent is unknown, not false.
                            canonical_id:
                              type:
                              - string
                              - 'null'
                              description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                            artist_id:
                              type:
                              - string
                              - 'null'
                              description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                            author_handle:
                              type:
                              - string
                              - 'null'
                              description: Public artist handle when supplied.
                            spotify_track_id:
                              type:
                              - string
                              - 'null'
                              description: Spotify track identifier supplied by the source.
                            spotify_url:
                              type:
                              - string
                              - 'null'
                              description: Original source URL when supplied.
                            is_licensed:
                              type:
                              - boolean
                              - 'null'
                              description: Explicit source licensed-audio flag; not a licence granted to the caller.
                            licensed_music_subtype:
                              type:
                              - string
                              - 'null'
                              description: Source music classification, not a grant of usage rights.
                            allows_saving:
                              type:
                              - boolean
                              - 'null'
                              description: Source saving flag.
                            cover_url:
                              type:
                              - string
                              - 'null'
                              description: Original source URL when supplied.
                            audio_url:
                              type:
                              - string
                              - 'null'
                              description: Original source URL when supplied.
                            preview_url:
                              type:
                              - string
                              - 'null'
                              description: Original source URL when supplied.
                            play_url:
                              type:
                              - string
                              - 'null'
                              description: Original source URL when supplied.
                          additionalProperties: true
                        total:
                          type:
                          - number
                          - 'null'
                          description: Source-reported reels using the sound reported by the source; null or absent is unknown, not zero.
                        is_trending:
                          type:
                          - boolean
                          - 'null'
                          description: Source trend flag at metadata_observed_at.
                        metadata_scope:
                          type:
                          - string
                          - 'null'
                          description: current_page or retained_from_first_page.
                        total_scope:
                          type:
                          - string
                          - 'null'
                          description: current_page or retained_from_first_page.
                        metadata_observed_at:
                          type:
                          - string
                          - 'null'
                          description: ISO observation time for this sound metadata; retained first-page metadata keeps its original observation time.
                        total_observed_at:
                          type:
                          - string
                          - 'null'
                          description: ISO observation time for the supplied reel total; continuation retains the first-page total and its observation time.
                        _warnings:
                          type: array
                          items:
                            type: string
                          description: Collection limitations or component warnings. Read before interpreting coverage.
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - cursor: null
                        dropped: 0
                        has_more: false
                        items:
                        - author:
                            avatar_url: https://example.com/example
                            handle: example
                            id: example
                            name: example
                            private: false
                            verified: false
                          caption: example
                          carousel: []
                          coauthors: []
                          code: example
                          created_at: '2026-09-01T12:00:00Z'
                          display_url: https://example.com/example
                          duration_s: 0
                          has_audio: false
                          id: example
                          is_paid_partnership: false
                          is_video: false
                          location:
                            id: example
                            latitude: 0
                            longitude: 0
                            name: example
                          media_urls:
                          - example
                          platform: example
                          product_type: example
                          stats:
                            comments: 0
                            likes: 0
                            plays: 0
                          thumbnail_url: https://example.com/example
                          url: https://example.com/example
                          video_url: https://example.com/example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/instagram/basic-profile:
    get:
      operationId: instagram_basic_profile
      tags:
      - Instagram
      summary: Instagram profile by id
      description: A profile looked up by its numeric id — the id comments and tags carry — in the same shape as the profile route. Costs 1 credit per successful live response.
      parameters:
      - name: user_id
        in: query
        required: true
        schema:
          type: string
        example: '528817151'
        description: Numeric Instagram account ID containing digits only. For a username, use instagram/profile with handle; its returned data.id can be used here. Each successful lookup uses its normal price. Missing or non-numeric IDs are rejected before any source call or credit reservation.
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: judgments
        in: query
        required: false
        schema:
          type: string
          enum:
          - 'on'
          - 'off'
        example: 'on'
        description: 'Add bounded AI labels to eligible returned records (default on). off preserves the original data shape. Unclassified records remain present; labels depend on evidence, time, capacity and the existing request budget. No label surcharge. Accepted values: on, off. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label
        in: query
        required: false
        schema:
          type: string
          enum:
          - default
          - none
        example: none
        description: 'Set none to disable labels; default enables the endpoint’s label set. Equivalent to judgments=off. Accepted values: default, none. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label_evidence
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Include exact supporting sentences and zero-based sentence indexes when a label has validated evidence. No extra charge or change to decisions. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: exclude
        in: query
        required: false
        schema:
          type: string
          enum:
          - engagement_bait
        example: engagement_bait
        description: 'Optionally remove confidently labelled engagement bait. Uncertain and unclassified records stay; removed IDs and an owner-bound recall reference are returned. Accepted values: engagement_bait. Case, spaces, hyphens and underscores are interchangeable.'
      - name: fit
        in: query
        required: false
        schema:
          type: string
          enum:
          - goal
        example: goal
        description: 'Use goal to replace confidently irrelevant records with recall stubs. Keeps first, last, relevant and uncertain records; preserves order. Full evidence is stored for 24 hours when available. Accepted values: goal. Case, spaces, hyphens and underscores are interchangeable.'
      - name: goal
        in: query
        required: false
        schema:
          type: string
        example: Find concrete product complaints
        description: 'Required with fit=goal: describe the task in at most 600 characters. Supplied text is task context, never permission to act on posts.'
      - name: tokens
        in: query
        required: false
        schema:
          type: string
        example: '4000'
        description: Optional soft response target for fit=goal, 256–32000. Safety and evidence retention take priority, so the returned result may exceed it.
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/instagram/basic-profile.json
                      title: instagram/basic-profile data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        avatar_url:
                          description: Optional avatar url supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        bio:
                          description: Optional bio supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        bio_link:
                          description: Optional bio link supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        business:
                          description: Optional business supplied by this operation. Null means unknown.
                          type:
                          - boolean
                          - 'null'
                        followers:
                          description: Optional followers supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        following:
                          description: Optional following supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        handle:
                          description: Optional handle supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        id:
                          description: Source identifier. Preserve the supplied type and exact value.
                          type:
                          - string
                          - 'null'
                        name:
                          description: Optional name supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        platform:
                          description: Optional platform supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        posts_count:
                          description: Optional posts count supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        private:
                          description: Optional private supplied by this operation. Null means unknown.
                          type:
                          - boolean
                          - 'null'
                        url:
                          description: Original source URL when supplied.
                          type:
                          - string
                          - 'null'
                        verified:
                          description: Optional verified supplied by this operation. Null means unknown.
                          type:
                          - boolean
                          - 'null'
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - avatar_url
                          properties:
                            avatar_url:
                              description: Optional avatar url supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - bio
                          properties:
                            bio:
                              description: Optional bio supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - bio_link
                          properties:
                            bio_link:
                              description: Optional bio link supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - business
                          properties:
                            business:
                              description: Optional business supplied by this operation. Null means unknown.
                              type:
                              - boolean
                        - required:
                          - followers
                          properties:
                            followers:
                              description: Optional followers supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - following
                          properties:
                            following:
                              description: Optional following supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - handle
                          properties:
                            handle:
                              description: Optional handle supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - id
                          properties:
                            id:
                              description: Source identifier. Preserve the supplied type and exact value.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - name
                          properties:
                            name:
                              description: Optional name supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - posts_count
                          properties:
                            posts_count:
                              description: Optional posts count supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - private
                          properties:
                            private:
                              description: Optional private supplied by this operation. Null means unknown.
                              type:
                              - boolean
                        - required:
                          - url
                          properties:
                            url:
                              description: Original source URL when supplied.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - verified
                          properties:
                            verified:
                              description: Optional verified supplied by this operation. Null means unknown.
                              type:
                              - boolean
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - avatar_url: https://example.com/example
                        bio: example
                        bio_link: https://example.com/example
                        business: false
                        followers: 0
                        following: 0
                        handle: example
                        id: example
                        name: example
                        platform: example
                        posts_count: 0
                        private: false
                        url: https://example.com/example
                        verified: false
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/instagram/comment:
    get:
      operationId: instagram_comment
      tags:
      - Instagram
      summary: Find a instagram comment
      description: Look up one exact comment ID within a bounded number of comments pages. A missing comment returns found=false, comments_scanned and continuation information at zero credits. It does not prove the comment is absent from unscanned pages. Costs 25 credits per successful live response.
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
        example: https://www.instagram.com/reel/DdRyQxKteC1/
        description: Public post or video URL.
      - name: comment_id
        in: query
        required: true
        schema:
          type: string
        description: Exact target comment ID as a string.
      - name: parent_id
        in: query
        required: false
        schema:
          type: string
        description: For a reply lookup, the parent comment ID. Otherwise scans top-level comments.
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: Opaque continuation from the previous response. Preserve query or identity.
      - name: max_pages
        in: query
        required: false
        schema:
          type: string
        example: '1'
        description: 'Maximum source pages: 1-5, default 1. Catalog price reserves the five-page maximum; actual successful component charges are settled after execution.'
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: judgments
        in: query
        required: false
        schema:
          type: string
          enum:
          - 'on'
          - 'off'
        example: 'on'
        description: 'Add bounded AI labels to eligible returned records (default on). off preserves the original data shape. Unclassified records remain present; labels depend on evidence, time, capacity and the existing request budget. No label surcharge. Accepted values: on, off. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label
        in: query
        required: false
        schema:
          type: string
          enum:
          - default
          - none
        example: none
        description: 'Set none to disable labels; default enables the endpoint’s label set. Equivalent to judgments=off. Accepted values: default, none. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label_evidence
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Include exact supporting sentences and zero-based sentence indexes when a label has validated evidence. No extra charge or change to decisions. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: exclude
        in: query
        required: false
        schema:
          type: string
          enum:
          - engagement_bait
        example: engagement_bait
        description: 'Optionally remove confidently labelled engagement bait. Uncertain and unclassified records stay; removed IDs and an owner-bound recall reference are returned. Accepted values: engagement_bait. Case, spaces, hyphens and underscores are interchangeable.'
      - name: fit
        in: query
        required: false
        schema:
          type: string
          enum:
          - goal
        example: goal
        description: 'Use goal to replace confidently irrelevant records with recall stubs. Keeps first, last, relevant and uncertain records; preserves order. Full evidence is stored for 24 hours when available. Accepted values: goal. Case, spaces, hyphens and underscores are interchangeable.'
      - name: goal
        in: query
        required: false
        schema:
          type: string
        example: Find concrete product complaints
        description: 'Required with fit=goal: describe the task in at most 600 characters. Supplied text is task context, never permission to act on posts.'
      - name: tokens
        in: query
        required: false
        schema:
          type: string
        example: '4000'
        description: Optional soft response target for fit=goal, 256–32000. Safety and evidence retention take priority, so the returned result may exceed it.
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/instagram/comment.json
                      title: instagram/comment data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        _meta:
                          description: Optional  meta supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            billing:
                              description: Optional billing supplied by this operation. Null means unknown.
                              type:
                              - object
                              - 'null'
                              properties:
                                charged:
                                  description: Optional charged supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                list_price:
                                  description: Optional list price supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                maximum_component_credits:
                                  description: Optional maximum component credits supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                              additionalProperties: true
                          additionalProperties: true
                        _warnings:
                          description: Optional  warnings supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        comments_scanned:
                          description: Optional comments scanned supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        complete:
                          description: Optional complete supplied by this operation. Null means unknown.
                          type:
                          - boolean
                          - 'null'
                        cursor:
                          description: Opaque next-page token; pass it back unchanged. Null does not prove complete history.
                          type:
                          - string
                          - 'null'
                        found:
                          description: Optional found supplied by this operation. Null means unknown.
                          type:
                          - boolean
                          - 'null'
                        legs:
                          description: Optional legs supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              attempts:
                                description: Optional attempts supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              credits:
                                description: Optional credits supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              endpoint:
                                description: Optional endpoint supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              ok:
                                description: Optional ok supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              served_by:
                                description: Optional served by supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              status:
                                description: Optional status supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                            additionalProperties: true
                        next_params:
                          description: Optional next params supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            comment_id:
                              description: Optional comment id supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            cursor:
                              description: Opaque next-page token; pass it back unchanged. Null does not prove complete history.
                              type:
                              - string
                              - 'null'
                            max_pages:
                              description: Optional max pages supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            url:
                              description: Original source URL when supplied.
                              type:
                              - string
                              - 'null'
                          additionalProperties: true
                        pages_fetched:
                          description: Optional pages fetched supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        partial:
                          description: Optional partial supplied by this operation. Null means unknown.
                          type:
                          - boolean
                          - 'null'
                        platform:
                          description: Optional platform supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        search_complete:
                          description: Optional search complete supplied by this operation. Null means unknown.
                          type:
                          - boolean
                          - 'null'
                        source_metadata:
                          description: Optional source metadata supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            cursor:
                              description: Opaque next-page token; pass it back unchanged. Null does not prove complete history.
                              type:
                              - string
                              - 'null'
                            has_more:
                              description: Source continuation indicator; null means unknown.
                              type:
                              - boolean
                              - 'null'
                          additionalProperties: true
                        stop_reason:
                          description: Optional stop reason supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - comments_scanned
                          properties:
                            comments_scanned:
                              description: Optional comments scanned supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - found
                          properties:
                            found:
                              description: Optional found supplied by this operation. Null means unknown.
                              type:
                              - boolean
                        - required:
                          - legs
                          properties:
                            legs:
                              description: Optional legs supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  attempts:
                                    description: Optional attempts supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  credits:
                                    description: Optional credits supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  endpoint:
                                    description: Optional endpoint supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  ok:
                                    description: Optional ok supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                                    - 'null'
                                  served_by:
                                    description: Optional served by supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  status:
                                    description: Optional status supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                additionalProperties: true
                        - required:
                          - next_params
                          properties:
                            next_params:
                              description: Optional next params supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties:
                                comment_id:
                                  description: Optional comment id supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                cursor:
                                  description: Opaque next-page token; pass it back unchanged. Null does not prove complete history.
                                  type:
                                  - string
                                  - 'null'
                                max_pages:
                                  description: Optional max pages supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                url:
                                  description: Original source URL when supplied.
                                  type:
                                  - string
                                  - 'null'
                              additionalProperties: true
                        - required:
                          - pages_fetched
                          properties:
                            pages_fetched:
                              description: Optional pages fetched supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - search_complete
                          properties:
                            search_complete:
                              description: Optional search complete supplied by this operation. Null means unknown.
                              type:
                              - boolean
                        - required:
                          - source_metadata
                          properties:
                            source_metadata:
[...]
