openapi: 3.2.0
info:
  title: Monocrawl X API
  version: 0.1.0
  description: One key, one envelope, one credit meter across social, search, commerce and web data.
  contact:
    name: Monocrawl support
    url: https://www.monocrawl.com/contact
  termsOfService: https://www.monocrawl.com/legal/terms-and-conditions
servers:
- url: https://www.monocrawl.com
security:
- ApiKeyHeader: []
tags:
- name: X
paths:
  /v1/x/community:
    get:
      operationId: x_community
      tags:
      - X
      summary: Community
      description: 'One X community: name, description, member count and rules. Costs 3 credits per successful live response.'
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
        example: https://x.com/i/communities/1926186499399139650
        description: Full x.com community URL.
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/x/community.json
                      title: x/community data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        banner:
                          description: Optional banner supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        created_at:
                          description: Source creation time, not the API retrieval time.
                          type:
                          - string
                          - 'null'
                        description:
                          description: Source description; null or absent means not supplied.
                          type:
                          - string
                          - 'null'
                        id:
                          description: Source identifier. Preserve the supplied type and exact value.
                          type:
                          - string
                          - 'null'
                        is_nsfw:
                          description: Optional is nsfw supplied by this operation. Null means unknown.
                          type:
                          - boolean
                          - 'null'
                        join_policy:
                          description: Optional join policy supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        members:
                          description: Optional members supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        name:
                          description: Optional name supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        platform:
                          description: Optional platform supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        rule_details:
                          description: Optional rule details supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              description:
                                description: Source description; null or absent means not supplied.
                                type:
                                - string
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        rules:
                          description: Optional rules supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - banner
                          properties:
                            banner:
                              description: Optional banner supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - created_at
                          properties:
                            created_at:
                              description: Source creation time, not the API retrieval time.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - description
                          properties:
                            description:
                              description: Source description; null or absent means not supplied.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - id
                          properties:
                            id:
                              description: Source identifier. Preserve the supplied type and exact value.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - is_nsfw
                          properties:
                            is_nsfw:
                              description: Optional is nsfw supplied by this operation. Null means unknown.
                              type:
                              - boolean
                        - required:
                          - join_policy
                          properties:
                            join_policy:
                              description: Optional join policy supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - members
                          properties:
                            members:
                              description: Optional members supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - name
                          properties:
                            name:
                              description: Optional name supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - rule_details
                          properties:
                            rule_details:
                              description: Optional rule details supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  description:
                                    description: Source description; null or absent means not supplied.
                                    type:
                                    - string
                                    - 'null'
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    - 'null'
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                        - required:
                          - rules
                          properties:
                            rules:
                              description: Optional rules supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - banner: example
                        created_at: '2026-09-01T12:00:00Z'
                        description: example
                        id: example
                        is_nsfw: false
                        join_policy: example
                        members: 0
                        name: example
                        platform: example
                        rule_details:
                        - description: example
                          id: example
                          name: example
                        rules:
                        - example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 3
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/x/community-tweets:
    get:
      operationId: x_community_tweets
      tags:
      - X
      summary: Community tweets
      description: Recent tweets inside an X community with authors and engagement counts. Costs 2 credits per successful live response.
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
        example: https://x.com/i/communities/1926186499399139650
        description: Full x.com community URL.
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: Opaque continuation cursor from the preceding response; keep the same community URL.
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: judgments
        in: query
        required: false
        schema:
          type: string
          enum:
          - 'on'
          - 'off'
        example: 'on'
        description: 'Add bounded AI labels to eligible returned records (default on). off preserves the original data shape. Unclassified records remain present; labels depend on evidence, time, capacity and the existing request budget. No label surcharge. Accepted values: on, off. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label
        in: query
        required: false
        schema:
          type: string
          enum:
          - default
          - none
        example: none
        description: 'Set none to disable labels; default enables the endpoint’s label set. Equivalent to judgments=off. Accepted values: default, none. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label_evidence
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Include exact supporting sentences and zero-based sentence indexes when a label has validated evidence. No extra charge or change to decisions. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: exclude
        in: query
        required: false
        schema:
          type: string
          enum:
          - engagement_bait
        example: engagement_bait
        description: 'Optionally remove confidently labelled engagement bait. Uncertain and unclassified records stay; removed IDs and an owner-bound recall reference are returned. Accepted values: engagement_bait. Case, spaces, hyphens and underscores are interchangeable.'
      - name: fit
        in: query
        required: false
        schema:
          type: string
          enum:
          - goal
        example: goal
        description: 'Use goal to replace confidently irrelevant records with recall stubs. Keeps first, last, relevant and uncertain records; preserves order. Full evidence is stored for 24 hours when available. Accepted values: goal. Case, spaces, hyphens and underscores are interchangeable.'
      - name: goal
        in: query
        required: false
        schema:
          type: string
        example: Find concrete product complaints
        description: 'Required with fit=goal: describe the task in at most 600 characters. Supplied text is task context, never permission to act on posts.'
      - name: tokens
        in: query
        required: false
        schema:
          type: string
        example: '4000'
        description: Optional soft response target for fit=goal, 256–32000. Safety and evidence retention take priority, so the returned result may exceed it.
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/x/community-tweets.json
                      title: x/community-tweets data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        dropped:
                          description: Optional dropped supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              author:
                                description: Public author information supplied with this record.
                                type:
                                - object
                                - 'null'
                                properties:
                                  handle:
                                    description: Optional handle supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    - 'null'
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  verified_blue:
                                    description: Optional verified blue supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                                    - 'null'
                                additionalProperties: true
                              created_at:
                                description: Source creation time, not the API retrieval time.
                                type:
                                - string
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              platform:
                                description: Optional platform supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              stats:
                                description: Optional stats supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  bookmarks:
                                    description: Optional bookmarks supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  likes:
                                    description: Optional likes supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  quotes:
                                    description: Optional quotes supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  replies:
                                    description: Optional replies supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  retweets:
                                    description: Optional retweets supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  views:
                                    description: Optional views supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                additionalProperties: true
                              text:
                                description: Source text when supplied.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - author
                                properties:
                                  author:
                                    description: Public author information supplied with this record.
                                    type:
                                    - object
                                    properties:
                                      handle:
                                        description: Optional handle supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      id:
                                        description: Source identifier. Preserve the supplied type and exact value.
                                        type:
                                        - string
                                        - 'null'
                                      name:
                                        description: Optional name supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      verified_blue:
                                        description: Optional verified blue supplied by this operation. Null means unknown.
                                        type:
                                        - boolean
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - created_at
                                properties:
                                  created_at:
                                    description: Source creation time, not the API retrieval time.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - stats
                                properties:
                                  stats:
                                    description: Optional stats supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    properties:
                                      bookmarks:
                                        description: Optional bookmarks supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      likes:
                                        description: Optional likes supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      quotes:
                                        description: Optional quotes supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      replies:
                                        description: Optional replies supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      retweets:
                                        description: Optional retweets supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      views:
                                        description: Optional views supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - text
                                properties:
                                  text:
                                    description: Source text when supplied.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    minLength: 1
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - dropped: 0
                        items:
                        - author:
                            handle: example
                            id: example
                            name: example
                            verified_blue: false
                          created_at: '2026-09-01T12:00:00Z'
                          id: example
                          platform: example
                          stats:
                            bookmarks: 0
                            likes: 0
                            quotes: 0
                            replies: 0
                            retweets: 0
                            views: 0
                          text: example
                          url: https://example.com/example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 2
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/x/following:
    get:
      operationId: x_following
      tags:
      - X
      summary: Following
      description: The accounts an X account follows, as profile cards — handle, name, bio, location, follower/following/post counts, join date, avatar — up to 200 a page with cursor pagination. Costs 3 credits per successful live response.
      parameters:
      - name: handle
        in: query
        required: true
        schema:
          type: string
        example: monzo
        description: X username without the @. An optional leading @ is accepted and removed before lookup.
      - name: limit
        in: query
        required: false
        schema:
          type: string
        example: '5'
        description: Requested rows per response, 1–1000. The source may return fewer. Remaining rows from an already purchased page use a saved cursor and cost zero to retrieve for up to one hour; further native source pages use this endpoint’s normal price.
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Use the returned cursor unchanged, retaining the original query, filters and limit. Saved mlo1. cursors retrieve already purchased rows at zero credits for up to one hour. A native source cursor, when supplied, starts a normally priced source page. Quote with dry_run before continuing.
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/x/following.json
                      title: x/following data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        cursor:
                          description: Opaque next-page token; pass it back unchanged. Null does not prove complete history.
                          type:
                          - string
                          - 'null'
                        dropped:
                          description: Optional dropped supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        handle:
                          description: Optional handle supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              avatar_url:
                                description: Optional avatar url supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              bio:
                                description: Optional bio supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              created_at:
                                description: Source creation time, not the API retrieval time.
                                type:
                                - string
                                - 'null'
                              followers:
                                description: Optional followers supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              following:
                                description: Optional following supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              handle:
                                description: Optional handle supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              likes_count:
                                description: Optional likes count supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              location:
                                description: Optional location supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              platform:
                                description: Optional platform supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              protected:
                                description: Optional protected supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              tweets_count:
                                description: Optional tweets count supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                              verified_legacy:
                                description: Optional verified legacy supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - avatar_url
                                properties:
                                  avatar_url:
                                    description: Optional avatar url supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - bio
                                properties:
                                  bio:
                                    description: Optional bio supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - created_at
                                properties:
                                  created_at:
                                    description: Source creation time, not the API retrieval time.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - followers
                                properties:
                                  followers:
                                    description: Optional followers supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - following
                                properties:
                                  following:
                                    description: Optional following supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - handle
                                properties:
                                  handle:
                                    description: Optional handle supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - likes_count
                                properties:
                                  likes_count:
                                    description: Optional likes count supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - location
                                properties:
                                  location:
                                    description: Optional location supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - name
                                properties:
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - protected
                                properties:
                                  protected:
                                    description: Optional protected supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                              - required:
                                - tweets_count
                                properties:
                                  tweets_count:
                                    description: Optional tweets count supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - url
                                properties:
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - verified_legacy
                                properties:
                                  verified_legacy:
                                    description: Optional verified legacy supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                        page_size:
                          description: Optional page size supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        platform:
                          description: Optional platform supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - count: 0
                        cursor: null
                        dropped: 0
                        handle: example
                        has_more: false
                        items:
                        - avatar_url: https://example.com/example
                          bio: example
                          created_at: '2026-09-01T12:00:00Z'
                          followers: 0
                          following: 0
                          handle: example
                          id: example
                          likes_count: 0
                          location: example
                          name: example
                          platform: example
                          protected: false
                          tweets_count: 0
                          url: https://example.com/example
                          verified_legacy: false
                        page_size: 0
                        platform: example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 3
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/x/mentions:
    get:
      operationId: x_mentions
      tags:
      - X
      summary: Mentions
      description: 'Public X posts that mention an account, newest first, 20 a page: each as a full post card with its author, counts, media and links, with cursor pagination and an optional date window. Costs 3 credits per successful live response.'
      parameters:
      - name: handle
        in: query
        required: true
        schema:
          type: string
        example: monzo
        description: X username without the @. An optional leading @ is accepted and removed before lookup.
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Opaque cursor from the previous page's cursor field.
      - name: from_date
        in: query
        required: false
        schema:
          type: string
        example: '2026-08-01'
        description: ISO date lower bound on post time.
      - name: to_date
        in: query
        required: false
        schema:
          type: string
        example: '2026-09-01'
        description: ISO date upper bound on post time.
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/x/mentions.json
                      title: x/mentions data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        items:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type:
                                - string
                                - 'null'
                                description: Exact source identifier; preserve it as a string.
                              url:
                                type:
                                - string
                                - 'null'
                                description: Original source URL when supplied.
                              platform:
                                type:
                                - string
                                - 'null'
                                description: platform
                              title:
                                type:
                                - string
                                - 'null'
                                description: title
                              text:
                                type:
                                - string
                                - 'null'
                                description: text
                              caption:
                                type:
                                - string
                                - 'null'
                                description: caption
                              created_at:
                                type:
                                - string
                                - 'null'
                                description: created at
                              author:
                                anyOf:
                                - type:
                                  - object
                                  - 'null'
                                  properties:
                                    id:
                                      type:
                                      - string
                                      - 'null'
                                      description: Exact source identifier; preserve it as a string.
                                    handle:
                                      type:
                                      - string
                                      - 'null'
                                      description: handle
                                    name:
                                      type:
                                      - string
                                      - 'null'
                                      description: name
                                    url:
                                      type:
                                      - string
                                      - 'null'
                                      description: url
                                    headline:
                                      type:
                                      - string
                                      - 'null'
                                      description: headline
                                    location:
                                      type:
                                      - string
                                      - 'null'
                                      description: location
                                    avatar_url:
                                      type:
                                      - string
                                      - 'null'
                                      description: avatar url
                                    followers:
                                      type:
                                      - number
                                      - 'null'
                                      description: Public follower count.
                                    verified:
                                      type:
                                      - boolean
                                      - 'null'
                                      description: Explicit verification flag when supplied.
                                  additionalProperties: true
                                - type:
                                  - string
                                  - 'null'
                                  description: Public author handle.
                              stats:
                                type:
                                - object
                                - 'null'
                                properties:
                                  likes:
                                    type:
                                    - number
                                    - 'null'
                                    description: likes; null is unknown.
                                  comments:
                                    type:
                                    - number
                                    - 'null'
                                    description: comments; null is unknown.
                                  replies:
                                    type:
                                    - number
                                    - 'null'
                                    description: replies; null is unknown.
                                  shares:
                                    type:
                                    - number
                                    - 'null'
                                    description: shares; null is unknown.
                                  views:
                                    type:
                                    - number
                                    - 'null'
                                    description: views; null is unknown.
                                additionalProperties: true
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - id
                                properties:
                                  id:
                                    type:
                                    - string
                                    description: Exact source identifier; preserve it as a string.
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    type:
                                    - string
                                    description: Original source URL when supplied.
                                    minLength: 1
                              - required:
                                - title
                                properties:
                                  title:
                                    type:
                                    - string
                                    description: title
                                    minLength: 1
                              - required:
                                - text
                                properties:
                                  text:
                                    type:
                                    - string
                                    description: text
                                    minLength: 1
                              - required:
                                - caption
                                properties:
                                  caption:
                                    type:
                                    - string
                                    description: caption
                                    minLength: 1
                              - required:
                                - created_at
                                properties:
                                  created_at:
                                    type:
                                    - string
                                    description: created at
                                    minLength: 1
                              - required:
                                - author
                                properties:
                                  author:
                                    anyOf:
                                    - type:
                                      - object
                                      - 'null'
                                      properties:
                                        id:
                                          type:
                                          - string
                                          - 'null'
                                          description: Exact source identifier; preserve it as a string.
                                        handle:
                                          type:
                                          - string
                                          - 'null'
                                          description: handle
                                        name:
                                          type:
                                          - string
                                          - 'null'
                                          description: name
                                        url:
                                          type:
                                          - string
                                          - 'null'
                                          description: url
                                        headline:
                                          type:
                                          - string
                                          - 'null'
                                          description: headline
                                        location:
                                          type:
                                          - string
                                          - 'null'
                                          description: location
                                        avatar_url:
                                          type:
                                          - string
                                          - 'null'
                                          description: avatar url
                                        followers:
                                          type:
                                          - number
                                          - 'null'
                                          description: Public follower count.
                                        verified:
                                          type:
                                          - boolean
                                          - 'null'
                                          description: Explicit verification flag when supplied.
                                      additionalProperties: true
                                    - type:
                                      - string
                                      - 'null'
                                      description: Public author handle.
                              - required:
                                - stats
                                properties:
                                  stats:
                                    type:
                                    - object
                                    properties:
                                      likes:
                                        type:
                                        - number
                                        - 'null'
                                        description: likes; null is unknown.
                                      comments:
                                        type:
                                        - number
                                        - 'null'
                                        description: comments; null is unknown.
                                      replies:
                                        type:
                                        - number
                                        - 'null'
                                        description: replies; null is unknown.
                                      shares:
                                        type:
                                        - number
                                        - 'null'
                                        description: shares; null is unknown.
                                      views:
                                        type:
                                        - number
                                        - 'null'
                                        description: views; null is unknown.
                                    additionalProperties: true
                        count:
                          type:
                          - number
                          - 'null'
                          description: Returned rows, not the total population.
                        cursor:
                          type:
                          - string
                          - 'null'
                          description: Opaque continuation; pass unchanged.
                        has_more:
                          type:
                          - boolean
                          - 'null'
                          description: Source continuation indicator.
                        total:
                          type:
                          - number
                          - 'null'
                          description: Source-reported total; null means unknown.
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - items: []
                        cursor: null
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 3
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/x/profile:
    get:
      operationId: x_profile
      tags:
      - X
      summary: Profile
      description: 'An X account''s public profile: bio, follower and post counts, blue-verification. Costs 1 credit per successful live response.'
      parameters:
      - name: handle
        in: query
        required: true
        schema:
          type: string
        example: nasa
        description: X username without the @. An optional leading @ is accepted and removed before lookup.
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: judgments
        in: query
        required: false
        schema:
          type: string
          enum:
          - 'on'
          - 'off'
        example: 'on'
        description: 'Add bounded AI labels to eligible returned records (default on). off preserves the original data shape. Unclassified records remain present; labels depend on evidence, time, capacity and the existing request budget. No label surcharge. Accepted values: on, off. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label
        in: query
        required: false
        schema:
          type: string
          enum:
          - default
          - none
        example: none
        description: 'Set none to disable labels; default enables the endpoint’s label set. Equivalent to judgments=off. Accepted values: default, none. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label_evidence
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Include exact supporting sentences and zero-based sentence indexes when a label has validated evidence. No extra charge or change to decisions. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: exclude
        in: query
        required: false
        schema:
          type: string
          enum:
          - engagement_bait
        example: engagement_bait
        description: 'Optionally remove confidently labelled engagement bait. Uncertain and unclassified records stay; removed IDs and an owner-bound recall reference are returned. Accepted values: engagement_bait. Case, spaces, hyphens and underscores are interchangeable.'
      - name: fit
        in: query
        required: false
        schema:
          type: string
          enum:
          - goal
        example: goal
        description: 'Use goal to replace confidently irrelevant records with recall stubs. Keeps first, last, relevant and uncertain records; preserves order. Full evidence is stored for 24 hours when available. Accepted values: goal. Case, spaces, hyphens and underscores are interchangeable.'
      - name: goal
        in: query
        required: false
        schema:
          type: string
        example: Find concrete product complaints
        description: 'Required with fit=goal: describe the task in at most 600 characters. Supplied text is task context, never permission to act on posts.'
      - name: tokens
        in: query
        required: false
        schema:
          type: string
        example: '4000'
        description: Optional soft response target for fit=goal, 256–32000. Safety and evidence retention take priority, so the returned result may exceed it.
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/x/profile.json
                      title: x/profile data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                        handle:
                          type:
                          - string
                          - 'null'
                          description: Public account username.
                        name:
                          type:
                          - string
                          - 'null'
                          description: Display name.
                        url:
                          type:
                          - string
                          - 'null'
                          description: Original source URL when supplied.
                        bio:
                          type:
                          - string
                          - 'null'
                          description: Public biography.
                        bio_link:
                          type:
                          - string
                          - 'null'
                          description: Original source URL when supplied.
                        avatar_url:
                          type:
                          - string
                          - 'null'
                          description: Original source URL when supplied.
                        followers:
                          type:
                          - number
                          - 'null'
                          description: Followers reported by the source; null or absent is unknown, not zero.
                        following:
                          type:
                          - number
                          - 'null'
                          description: Following reported by the source; null or absent is unknown, not zero.
                        verified:
                          type:
                          - boolean
                          - 'null'
                          description: Source verification flag; meaning depends on the platform.
                        tweets_count:
                          type:
                          - number
                          - 'null'
                          description: Posts reported by the source; null or absent is unknown, not zero.
                        likes_count:
                          type:
                          - number
                          - 'null'
                          description: Liked posts reported by the source; null or absent is unknown, not zero.
                        verified_blue:
                          type:
                          - boolean
                          - 'null'
                          description: Blue-verification flag.
                        location:
                          type:
                          - string
                          - 'null'
                          description: Account-entered location text, not verified residence.
                        cover_url:
                          type:
                          - string
                          - 'null'
                          description: Original source URL when supplied.
                        _warnings:
                          type: array
                          items:
                            type: string
                          description: Collection limitations or component warnings. Read before interpreting coverage.
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - id
                          properties:
                            id:
                              type:
                              - string
                              description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                              minLength: 1
                        - required:
                          - handle
                          properties:
                            handle:
                              type:
                              - string
                              description: Public account username.
                              minLength: 1
                        - required:
                          - name
                          properties:
                            name:
                              type:
                              - string
                              description: Display name.
                              minLength: 1
                        - required:
                          - url
                          properties:
                            url:
                              type:
                              - string
                              description: Original source URL when supplied.
                              minLength: 1
                        - required:
                          - bio
                          properties:
                            bio:
                              type:
                              - string
                              description: Public biography.
                              minLength: 1
                        - required:
                          - bio_link
                          properties:
                            bio_link:
                              type:
                              - string
                              description: Original source URL when supplied.
                              minLength: 1
                        - required:
                          - avatar_url
                          properties:
                            avatar_url:
                              type:
                              - string
                              description: Original source URL when supplied.
                              minLength: 1
                        - required:
                          - followers
                          properties:
                            followers:
                              type:
                              - number
                              description: Followers reported by the source; null or absent is unknown, not zero.
                        - required:
                          - following
                          properties:
                            following:
                              type:
                              - number
                              description: Following reported by the source; null or absent is unknown, not zero.
                        - required:
                          - verified
                          properties:
                            verified:
                              type:
                              - boolean
                              description: Source verification flag; meaning depends on the platform.
                        - required:
                          - tweets_count
                          properties:
                            tweets_count:
                              type:
                              - number
                              description: Posts reported by the source; null or absent is unknown, not zero.
                        - required:
                          - likes_count
                          properties:
                            likes_count:
                              type:
                              - number
                              description: Liked posts reported by the source; null or absent is unknown, not zero.
                        - required:
                          - verified_blue
                          properties:
                            verified_blue:
                              type:
                              - boolean
                              description: Blue-verification flag.
                        - required:
                          - location
                          properties:
                            location:
                              type:
                              - string
                              description: Account-entered location text, not verified residence.
                              minLength: 1
                        - required:
                          - cover_url
                          properties:
                            cover_url:
                              type:
                              - string
                              description: Original source URL when supplied.
                              minLength: 1
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - id: '7350000000000000001'
                        handle: example_creator
                        name: Example Creator
                        followers: 12000
                        following: 180
                        bio: null
                        verified: false
                        tweets_count: 96
                        verified_blue: false
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/x/profile/full:
    get:
      operationId: x_profile_full
      tags:
      - X
      summary: X profile with posts (one page)
      description: 'A real public profile plus one page of posts/videos, preserving original normalized component fields and source order. HTTP 200 may be partial: inspect complete, partial and legs. Failed profile: no posts requested, zero charge. Failed posts: profile retained and only that successful component charged. Cached components use the public cache-hit price. Computed fields summarize the returned page, including available engagement averages and observed posting frequency. Missing metrics remain unknown. Costs 5 credits per successful live response.'
      parameters:
      - name: handle
        in: query
        required: true
        schema:
          type: string
        example: NASA
        description: Public profile identifier. LinkedIn accepts /company/name or /in/name URLs. An optional leading @ is accepted and removed before lookup.
      - name: posts
        in: query
        required: false
        schema:
          type: string
        example: '25'
        description: Desired page size, 1-100. Existing components choose their own page size; the entire single source page is preserved, even if longer or shorter, so no records are skipped between cursors. No automatic extra pages.
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: Opaque posts_cursor from the previous response; use posts_pagination.next_params to retain all required context. Unsupported component continuation is refused before calls.
      - name: include
        in: query
        required: false
        schema:
          type: string
        example: posts,computed
        description: 'CSV: posts and/or computed (default both), or profile alone. Profile is always returned. Computed is arithmetic over this page only, not an AI summary.'
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: judgments
        in: query
        required: false
        schema:
          type: string
          enum:
          - 'on'
          - 'off'
        example: 'on'
        description: 'Add bounded AI labels to eligible returned records (default on). off preserves the original data shape. Unclassified records remain present; labels depend on evidence, time, capacity and the existing request budget. No label surcharge. Accepted values: on, off. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label
        in: query
        required: false
        schema:
          type: string
          enum:
          - default
          - none
        example: none
        description: 'Set none to disable labels; default enables the endpoint’s label set. Equivalent to judgments=off. Accepted values: default, none. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label_evidence
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Include exact supporting sentences and zero-based sentence indexes when a label has validated evidence. No extra charge or change to decisions. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: exclude
        in: query
        required: false
        schema:
          type: string
          enum:
          - engagement_bait
        example: engagement_bait
        description: 'Optionally remove confidently labelled engagement bait. Uncertain and unclassified records stay; removed IDs and an owner-bound recall reference are returned. Accepted values: engagement_bait. Case, spaces, hyphens and underscores are interchangeable.'
      - name: fit
        in: query
        required: false
        schema:
          type: string
          enum:
          - goal
        example: goal
        description: 'Use goal to replace confidently irrelevant records with recall stubs. Keeps first, last, relevant and uncertain records; preserves order. Full evidence is stored for 24 hours when available. Accepted values: goal. Case, spaces, hyphens and underscores are interchangeable.'
      - name: goal
        in: query
        required: false
        schema:
          type: string
        example: Find concrete product complaints
        description: 'Required with fit=goal: describe the task in at most 600 characters. Supplied text is task context, never permission to act on posts.'
      - name: tokens
        in: query
        required: false
        schema:
          type: string
        example: '4000'
        description: Optional soft response target for fit=goal, 256–32000. Safety and evidence retention take priority, so the returned result may exceed it.
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/x/profile/full.json
                      title: x/profile/full data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        profile:
                          type: object
                          properties:
                            id:
                              type:
                              - string
                              - 'null'
                              description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                            handle:
                              type:
                              - string
                              - 'null'
                              description: Public account username.
                            name:
                              type:
                              - string
                              - 'null'
                              description: Display name.
                            url:
                              type:
                              - string
                              - 'null'
                              description: Original source URL when supplied.
                            bio:
                              type:
                              - string
                              - 'null'
                              description: Public biography.
                            bio_link:
                              type:
                              - string
                              - 'null'
                              description: Original source URL when supplied.
                            avatar_url:
                              type:
                              - string
                              - 'null'
                              description: Original source URL when supplied.
                            followers:
                              type:
                              - number
                              - 'null'
                              description: Followers reported by the source; null or absent is unknown, not zero.
                            following:
                              type:
                              - number
                              - 'null'
                              description: Following reported by the source; null or absent is unknown, not zero.
                            verified:
                              type:
                              - boolean
                              - 'null'
                              description: Source verification flag; meaning depends on the platform.
                            tweets_count:
                              type:
                              - number
                              - 'null'
                              description: Posts reported by the source; null or absent is unknown, not zero.
                            likes_count:
                              type:
                              - number
                              - 'null'
                              description: Liked posts reported by the source; null or absent is unknown, not zero.
                            verified_blue:
                              type:
                              - boolean
                              - 'null'
                              description: Blue-verification flag.
                            location:
                              type:
                              - string
                              - 'null'
                              description: Account-entered location text, not verified residence.
                            cover_url:
                              type:
                              - string
                              - 'null'
                              description: Original source URL when supplied.
                          additionalProperties: true
                        posts:
                          type:
                          - array
                          - 'null'
                          items:
                            type: object
                            properties:
                              id:
                                type:
                                - string
                                - 'null'
                                description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                              url:
                                type:
                                - string
                                - 'null'
                                description: Original source URL when supplied.
                              text:
                                type:
                                - string
                                - 'null'
                                description: Post text.
                              created_at:
                                type:
                                - string
                                - 'null'
                                description: Source publication time, normalized to an ISO date-time when available.
                              author:
                                type:
                                - object
                                - 'null'
                                properties:
                                  id:
                                    type:
                                    - string
                                    - 'null'
                                    description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                                  handle:
                                    type:
                                    - string
                                    - 'null'
                                    description: Public account username.
                                  name:
                                    type:
                                    - string
                                    - 'null'
                                    description: Display name.
                                  url:
                                    type:
                                    - string
                                    - 'null'
                                    description: Original source URL when supplied.
                                additionalProperties: true
                              stats:
                                type: object
                                properties:
                                  likes:
                                    type:
                                    - number
                                    - 'null'
                                    description: likes reported by the source; null or absent is unknown, not zero.
                                  retweets:
                                    type:
[...]
