openapi: 3.2.0
info:
  title: Monocrawl Zoopla API
  version: 0.1.0
  description: One key, one envelope, one credit meter across social, search, commerce and web data.
  contact:
    name: Monocrawl support
    url: https://www.monocrawl.com/contact
  termsOfService: https://www.monocrawl.com/legal/terms-and-conditions
servers:
- url: https://www.monocrawl.com
security:
- ApiKeyHeader: []
tags:
- name: Zoopla
paths:
  /v1/zoopla/agent:
    get:
      operationId: zoopla_agent
      tags:
      - Zoopla
      summary: Zoopla agent
      description: 'One agent branch''s page: address, telephone, website and social links, memberships, description, photos and position. Costs 2 credits per successful live response.'
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        example: '55447'
        description: The branch id from zoopla/agents (or pass url, the branch's page)
      - name: url
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: The branch's page URL instead of an id
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/zoopla/agent.json
                      title: zoopla/agent data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        _warnings:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        about:
                          description: Optional about supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        address:
                          description: Optional address supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        commercial:
                          description: Optional commercial supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties: {}
                          additionalProperties: true
                        for_sale:
                          description: Optional for sale supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            available:
                              description: Optional available supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            average_asking_price:
                              description: Optional average asking price supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            average_weeks_on_market:
                              description: Optional average weeks on market supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                          additionalProperties: true
                        id:
                          description: Source identifier. Preserve the supplied type and exact value.
                          type:
                          - string
                          - 'null'
                        images:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        latitude:
                          description: Optional latitude supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        logo_url:
                          description: Optional logo url supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        longitude:
                          description: Optional longitude supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        memberships:
                          description: Optional memberships supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        name:
                          description: Optional name supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        outcode:
                          description: Optional outcode supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        phone:
                          description: Optional phone supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        platform:
                          description: Optional platform supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        postcode:
                          description: Optional postcode supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        social:
                          description: Optional social supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            facebook:
                              description: Optional facebook supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                          additionalProperties: true
                        staff:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        to_rent:
                          description: Optional to rent supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            available:
                              description: Optional available supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            average_asking_price:
                              description: Optional average asking price supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            average_weeks_on_market:
                              description: Optional average weeks on market supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                          additionalProperties: true
                        type:
                          description: Optional type supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        url:
                          description: Original source URL when supplied.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - about
                          properties:
                            about:
                              description: Optional about supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - address
                          properties:
                            address:
                              description: Optional address supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - commercial
                          properties:
                            commercial:
                              description: Optional commercial supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties: {}
                              additionalProperties: true
                        - required:
                          - for_sale
                          properties:
                            for_sale:
                              description: Optional for sale supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties:
                                available:
                                  description: Optional available supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                average_asking_price:
                                  description: Optional average asking price supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                average_weeks_on_market:
                                  description: Optional average weeks on market supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                              additionalProperties: true
                        - required:
                          - id
                          properties:
                            id:
                              description: Source identifier. Preserve the supplied type and exact value.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - images
                          properties:
                            images:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              items: {}
                        - required:
                          - latitude
                          properties:
                            latitude:
                              description: Optional latitude supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - logo_url
                          properties:
                            logo_url:
                              description: Optional logo url supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - longitude
                          properties:
                            longitude:
                              description: Optional longitude supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - memberships
                          properties:
                            memberships:
                              description: Optional memberships supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                        - required:
                          - name
                          properties:
                            name:
                              description: Optional name supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - outcode
                          properties:
                            outcode:
                              description: Optional outcode supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - phone
                          properties:
                            phone:
                              description: Optional phone supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - postcode
                          properties:
                            postcode:
                              description: Optional postcode supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - social
                          properties:
                            social:
                              description: Optional social supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties:
                                facebook:
                                  description: Optional facebook supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              additionalProperties: true
                        - required:
                          - staff
                          properties:
                            staff:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              items: {}
                        - required:
                          - to_rent
                          properties:
                            to_rent:
                              description: Optional to rent supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties:
                                available:
                                  description: Optional available supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                average_asking_price:
                                  description: Optional average asking price supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                average_weeks_on_market:
                                  description: Optional average weeks on market supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                              additionalProperties: true
                        - required:
                          - url
                          properties:
                            url:
                              description: Original source URL when supplied.
                              type:
                              - string
                              minLength: 1
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - _warnings: []
                        about: example
                        address: example
                        commercial: {}
                        for_sale:
                          available: 0
                          average_asking_price: 0
                          average_weeks_on_market: 0
                        id: example
                        images: []
                        latitude: 0
                        logo_url: https://example.com/example
                        longitude: 0
                        memberships:
                        - name: example
                          url: https://example.com/example
                        name: example
                        outcode: example
                        phone: example
                        platform: example
                        postcode: example
                        social:
                          facebook: example
                        staff: []
                        to_rent:
                          available: 0
                          average_asking_price: 0
                          average_weeks_on_market: 0
                        type: example
                        url: https://example.com/example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 2
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/zoopla/agents:
    get:
      operationId: zoopla_agents
      tags:
      - Zoopla
      summary: Zoopla agents
      description: 'The agent branches in an area with each one''s market figures: homes available, average asking price and weeks on the market, for sale and to rent. Costs 2 credits per successful live response.'
      parameters:
      - name: location
        in: query
        required: false
        schema:
          type: string
        example: Oxford
        description: A postcode, town or area name; resolved once and remembered (or pass identifier)
      - name: identifier
        in: query
        required: false
        schema:
          type: string
        example: oxford
        description: An area identifier from zoopla/locations or a path from zoopla/area
      - name: page
        in: query
        required: false
        schema:
          type: string
        example: '1'
        description: Page number (25 a page)
      - name: radius
        in: query
        required: false
        schema:
          type: string
          enum:
          - '0'
          - '0.25'
          - '0.5'
          - '1'
          - '3'
          - '5'
          - '10'
          - '15'
          - '20'
          - '30'
          - '40'
        example: ''
        description: 'Miles around the area: 0, 0.25, 0.5, 1, 3, 5, 10, 15, 20, 30 or 40 Accepted values: 0, 0.25, 0.5, 1, 3, 5, 10, 15, 20, 30, 40. Case, spaces, hyphens and underscores are interchangeable.'
      - name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - sales
          - lettings
          - commercial
          - estate-agents
          - letting-agents
          - commercial-agents
        example: ''
        description: 'sales, lettings or commercial Accepted values: sales, lettings, commercial, estate-agents, letting-agents, commercial-agents. Case, spaces, hyphens and underscores are interchangeable.'
      - name: name
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Only agents whose name contains this
      - name: sort
        in: query
        required: false
        schema:
          type: string
          enum:
          - a_z
          - shortest_avg_age
          - highest_avg_price
          - lowest_avg_price
        example: a_z
        description: 'a_z, shortest_avg_age, highest_avg_price or lowest_avg_price Accepted values: a_z, shortest_avg_age, highest_avg_price, lowest_avg_price. Case, spaces, hyphens and underscores are interchangeable.'
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/zoopla/agents.json
                      title: zoopla/agents data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        cursor:
                          description: Opaque next-page token; pass it back unchanged. Null does not prove complete history.
                          type:
                          - string
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              about:
                                description: Optional about supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              address:
                                description: Optional address supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              featured:
                                description: Optional featured supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              for_sale:
                                description: Optional for sale supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  available:
                                    description: Optional available supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  average_asking_price:
                                    description: Optional average asking price supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  average_weeks_on_market:
                                    description: Optional average weeks on market supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                additionalProperties: true
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              logo_url:
                                description: Optional logo url supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              phone:
                                description: Optional phone supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              platform:
                                description: Optional platform supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              to_rent:
                                description: Optional to rent supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  available:
                                    description: Optional available supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  average_asking_price:
                                    description: Optional average asking price supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  average_weeks_on_market:
                                    description: Optional average weeks on market supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                additionalProperties: true
                              type:
                                description: Optional type supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - about
                                properties:
                                  about:
                                    description: Optional about supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - address
                                properties:
                                  address:
                                    description: Optional address supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - featured
                                properties:
                                  featured:
                                    description: Optional featured supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                              - required:
                                - for_sale
                                properties:
                                  for_sale:
                                    description: Optional for sale supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    properties:
                                      available:
                                        description: Optional available supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      average_asking_price:
                                        description: Optional average asking price supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      average_weeks_on_market:
                                        description: Optional average weeks on market supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - logo_url
                                properties:
                                  logo_url:
                                    description: Optional logo url supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - name
                                properties:
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - phone
                                properties:
                                  phone:
                                    description: Optional phone supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - to_rent
                                properties:
                                  to_rent:
                                    description: Optional to rent supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    properties:
                                      available:
                                        description: Optional available supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      average_asking_price:
                                        description: Optional average asking price supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      average_weeks_on_market:
                                        description: Optional average weeks on market supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - url
                                properties:
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    minLength: 1
                        location:
                          description: Optional location supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            identifier:
                              description: Optional identifier supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            name:
                              description: Optional name supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                          additionalProperties: true
                        page:
                          description: Optional page supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        pages:
                          description: Optional pages supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        total:
                          description: Source-reported total; null is unknown.
                          type:
                          - number
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - count: 0
                        cursor: null
                        has_more: false
                        items:
                        - about: example
                          address: example
                          featured: false
                          for_sale:
                            available: 0
                            average_asking_price: 0
                            average_weeks_on_market: 0
                          id: example
                          logo_url: https://example.com/example
                          name: example
                          phone: example
                          platform: example
                          to_rent:
                            available: 0
                            average_asking_price: 0
                            average_weeks_on_market: 0
                          type: example
                          url: https://example.com/example
                        location:
                          identifier: example
                          name: example
                        page: 0
                        pages: 0
                        total: 0
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 2
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/zoopla/area:
    get:
      operationId: zoopla_area
      tags:
      - Zoopla
      summary: Zoopla postcode area
      description: 'The house-prices area for a postcode: its path (for zoopla/estimates and zoopla/agents), name and kind. Costs 1 credit per successful live response.'
      parameters:
      - name: postcode
        in: query
        required: true
        schema:
          type: string
        example: SW2 1AH
        description: A full postcode, or an area name
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/zoopla/area.json
                      title: zoopla/area data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        kind:
                          description: Optional kind supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        name:
                          description: Optional name supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        path:
                          description: Optional path supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        platform:
                          description: Optional platform supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        query:
                          description: Optional query supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        short_name:
                          description: Optional short name supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        type:
                          description: Optional type supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - name
                          properties:
                            name:
                              description: Optional name supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - path
                          properties:
                            path:
                              description: Optional path supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - short_name
                          properties:
                            short_name:
                              description: Optional short name supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - kind: example
                        name: example
                        path: example
                        platform: example
                        query: example
                        short_name: example
                        type: example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/zoopla/estimates:
    get:
      operationId: zoopla_estimates
      tags:
      - Zoopla
      summary: Zoopla street estimates
      description: Every address along one street with the portal's sale estimate, its attributes and its recorded sales, plus the street's market line (average price paid, properties sold). Costs 3 credits per successful live response.
      parameters:
      - name: path
        in: query
        required: true
        schema:
          type: string
        example: london/oxford-road-se19
        description: A street path from zoopla/streets or zoopla/area
      - name: page
        in: query
        required: false
        schema:
          type: string
        example: '1'
        description: Page number
      - name: limit
        in: query
        required: false
        schema:
          type: string
        example: '12'
        description: Addresses per page, 1 to 50
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/zoopla/estimates.json
                      title: zoopla/estimates data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        cursor:
                          description: Opaque next-page token; pass it back unchanged. Null does not prove complete history.
                          type:
                          - string
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              address:
                                description: Optional address supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              attributes:
                                description: Optional attributes supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  bathrooms:
                                    description: Optional bathrooms supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  bedrooms:
                                    description: Optional bedrooms supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  living_rooms:
                                    description: Optional living rooms supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  property_type:
                                    description: Optional property type supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  tenure:
                                    description: Optional tenure supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                              historic_listings:
                                description: Optional historic listings supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - object
                                  - 'null'
                                  properties: {}
                                  additionalProperties: true
                              last_sale:
                                description: Optional last sale supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  date:
                                    description: Optional date supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  price:
                                    description: Source price. Currency, taxes and availability depend on the listing.
                                    type:
                                    - number
                                    - 'null'
                                additionalProperties: true
                              latitude:
                                description: Optional latitude supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              longitude:
                                description: Optional longitude supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              platform:
                                description: Optional platform supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              sale_estimate:
                                description: Optional sale estimate supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  confidence:
                                    description: Optional confidence supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  value:
                                    description: Optional value supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                additionalProperties: true
                              sales:
                                description: Optional sales supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - object
                                  - 'null'
                                  properties: {}
                                  additionalProperties: true
                              type:
                                description: Optional type supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              uprn:
                                description: Optional uprn supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - address
                                properties:
                                  address:
                                    description: Optional address supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - attributes
                                properties:
                                  attributes:
                                    description: Optional attributes supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    properties:
                                      bathrooms:
                                        description: Optional bathrooms supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      bedrooms:
                                        description: Optional bedrooms supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      living_rooms:
                                        description: Optional living rooms supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      property_type:
                                        description: Optional property type supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      tenure:
                                        description: Optional tenure supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - historic_listings
                                properties:
                                  historic_listings:
                                    description: Optional historic listings supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - object
                                      - 'null'
                                      properties: {}
                                      additionalProperties: true
                              - required:
                                - last_sale
                                properties:
                                  last_sale:
                                    description: Optional last sale supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    properties:
                                      date:
                                        description: Optional date supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      price:
                                        description: Source price. Currency, taxes and availability depend on the listing.
                                        type:
                                        - number
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - latitude
                                properties:
                                  latitude:
                                    description: Optional latitude supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - longitude
                                properties:
                                  longitude:
                                    description: Optional longitude supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - sale_estimate
                                properties:
                                  sale_estimate:
                                    description: Optional sale estimate supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    properties:
                                      confidence:
                                        description: Optional confidence supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      value:
                                        description: Optional value supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - sales
                                properties:
                                  sales:
                                    description: Optional sales supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - object
                                      - 'null'
                                      properties: {}
                                      additionalProperties: true
                              - required:
                                - uprn
                                properties:
                                  uprn:
                                    description: Optional uprn supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                        page:
                          description: Optional page supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        street:
                          description: Optional street supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            kind:
                              description: Optional kind supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            name:
                              description: Optional name supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            path:
                              description: Optional path supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            short_name:
                              description: Optional short name supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                          additionalProperties: true
                        total:
                          description: Source-reported total; null is unknown.
                          type:
                          - number
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - count: 0
                        cursor: null
                        has_more: false
                        items:
                        - address: example
                          attributes:
                            bathrooms: 0
                            bedrooms: 0
                            living_rooms: 0
                            property_type: example
                            tenure: example
                          historic_listings:
                          - {}
                          last_sale:
                            date: '2026-09-01T12:00:00Z'
                            price: 0
                          latitude: 0
                          longitude: 0
                          platform: example
                          sale_estimate:
                            confidence: example
                            value: 0
                          sales:
                          - {}
                          type: example
                          uprn: example
                        page: 0
                        street:
                          kind: example
                          name: example
                          path: example
                          short_name: example
                        total: 0
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 3
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/zoopla/locations:
    get:
      operationId: zoopla_locations
      tags:
      - Zoopla
      summary: Zoopla area lookup
      description: The areas the portal knows for a name, each with the identifier and label the searches take. Costs 1 credit per successful live response.
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        example: Oxford
        description: A postcode, town or area name
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/zoopla/locations.json
                      title: zoopla/locations data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              identifier:
                                description: Optional identifier supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - identifier
                                properties:
                                  identifier:
                                    description: Optional identifier supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - name
                                properties:
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                        query:
                          description: Optional query supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - count: 0
                        has_more: false
                        items:
                        - identifier: example
                          name: example
                        query: example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/zoopla/property:
    get:
      operationId: zoopla_property
      tags:
      - Zoopla
      summary: Zoopla property
      description: 'One listing''s page: title, address and UPRN, rooms and floor area, price with its qualifier and price per square foot, tenure, the portal''s key facts (service charge, council tax, water…), EPC rating, description and features, photos, floorplans, transport and schools nearby, price history and the agent branch. Costs 3 credits per successful live response.'
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        example: '69200045'
        description: The listing number (or pass url, the listing's page)
      - name: url
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: The listing's page URL instead of an id
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/zoopla/property.json
                      title: zoopla/property data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        _warnings:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        address:
                          description: Optional address supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        agent:
                          description: Optional agent supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              description: Source identifier. Preserve the supplied type and exact value.
                              type:
                              - string
                              - 'null'
                            logo_url:
                              description: Optional logo url supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            member_type:
                              description: Optional member type supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            name:
                              description: Optional name supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            phone:
                              description: Optional phone supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            url:
                              description: Original source URL when supplied.
                              type:
                              - string
                              - 'null'
                          additionalProperties: true
                        auction:
                          description: Optional auction supplied by this operation. Null means unknown.
                          type:
                          - boolean
                          - 'null'
                        bathrooms:
                          description: Optional bathrooms supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        bedrooms:
                          description: Optional bedrooms supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        brochures:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        category:
                          description: Optional category supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        chain_free:
                          description: Optional chain free supplied by this operation. Null means unknown.
                          type:
                          - boolean
                          - 'null'
                        condition:
                          description: Optional condition supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        currency:
                          description: Optional currency supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        description:
                          description: Source description; null or absent means not supplied.
                          type:
                          - string
                          - 'null'
                        details:
                          description: Optional details supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              key:
                                description: Optional key supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              title:
                                description: Source title when supplied.
                                type:
                                - string
                                - 'null'
                              value:
                                description: Optional value supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        epc_rating:
                          description: Optional epc rating supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        epcs:
                          description: Optional epcs supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        floor_area:
                          description: Optional floor area supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            label:
                              description: Optional label supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            source:
                              description: Optional source supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            units:
                              description: Optional units supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            value:
                              description: Optional value supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                          additionalProperties: true
                        floorplans:
                          description: Optional floorplans supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        highlights:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        id:
                          description: Source identifier. Preserve the supplied type and exact value.
                          type:
                          - string
                          - 'null'
                        image_count:
                          description: Optional image count supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        key_features:
                          description: Optional key features supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        latitude:
                          description: Optional latitude supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        living_rooms:
                          description: Optional living rooms supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        longitude:
                          description: Optional longitude supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        outcode:
                          description: Optional outcode supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        photos:
                          description: Optional photos supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              caption:
                                description: Optional caption supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        platform:
                          description: Optional platform supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        points_of_interest:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        postcode:
                          description: Optional postcode supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        price:
                          description: Source price. Currency, taxes and availability depend on the listing.
                          type:
                          - number
                          - 'null'
                        price_history:
                          description: Optional price history supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            changes:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              - 'null'
                              items: {}
                          additionalProperties: true
                        price_label:
                          description: Optional price label supplied by this operation. Null means unknown.
[...]
