openapi: 3.2.0
info:
  title: Monocrawl Google Search API
  version: 0.1.0
  description: One key, one envelope, one credit meter across social, search, commerce and web data.
  contact:
    name: Monocrawl support
    url: https://www.monocrawl.com/contact
  termsOfService: https://www.monocrawl.com/legal/terms-and-conditions
servers:
- url: https://www.monocrawl.com
security:
- ApiKeyHeader: []
tags:
- name: Google Search
paths:
  /v1/google_search/images:
    get:
      operationId: google_search_images
      tags:
      - Google Search
      summary: Google image search
      description: Image results for a query with the image and the page it appears on. Costs 4 credits per successful live response.
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        example: aurora borealis
        description: Search terms
      - name: location
        in: query
        required: false
        schema:
          type: string
        example: United Kingdom
        description: Location name
      - name: language
        in: query
        required: false
        schema:
          type: string
        example: en
        description: Language code
      - name: limit
        in: query
        required: false
        schema:
          type: string
        example: '5'
        description: Requested rows per response, 1–1000. The source may return fewer. Remaining rows from an already purchased page use a saved cursor and cost zero to retrieve for up to one hour; further native source pages use this endpoint’s normal price.
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Use the returned cursor unchanged, retaining the original query, filters and limit. Saved mlo1. cursors retrieve already purchased rows at zero credits for up to one hour. A native source cursor, when supplied, starts a normally priced source page. Quote with dry_run before continuing.
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/google_search/images.json
                      title: google_search/images data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        checked_at:
                          description: Optional checked at supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              alt:
                                description: Optional alt supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              image_url:
                                description: Optional image url supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              page_url:
                                description: Optional page url supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              rank:
                                description: Optional rank supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              title:
                                description: Source title when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - alt
                                properties:
                                  alt:
                                    description: Optional alt supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - image_url
                                properties:
                                  image_url:
                                    description: Optional image url supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - page_url
                                properties:
                                  page_url:
                                    description: Optional page url supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - rank
                                properties:
                                  rank:
                                    description: Optional rank supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - title
                                properties:
                                  title:
                                    description: Source title when supplied.
                                    type:
                                    - string
                                    minLength: 1
                        query:
                          description: Optional query supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        total_results:
                          description: Optional total results supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - checked_at: '2026-09-01T12:00:00Z'
                        count: 0
                        has_more: false
                        items:
                        - alt: example
                          image_url: https://example.com/example
                          page_url: https://example.com/example
                          rank: 0
                          title: example
                        query: example
                        total_results: 0
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 4
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/google_search/maps:
    get:
      operationId: google_search_maps
      tags:
      - Google Search
      summary: Google Maps search
      description: Places matching a query on Google Maps with rating, address, phone, website and coordinates. Costs 4 credits per successful live response.
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        example: coffee near Shoreditch
        description: Search terms
      - name: location
        in: query
        required: false
        schema:
          type: string
        example: London,England,United Kingdom
        description: Supported location name, for example London,England,United Kingdom. A short city name may be ambiguous; use the location guidance when the source rejects it.
      - name: language
        in: query
        required: false
        schema:
          type: string
        example: en
        description: Language code
      - name: limit
        in: query
        required: false
        schema:
          type: string
        example: '20'
        description: Results, up to 100
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/google_search/maps.json
                      title: google_search/maps data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        checked_at:
                          description: Optional checked at supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              address:
                                description: Optional address supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              category:
                                description: Optional category supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              cid:
                                description: Optional cid supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              domain:
                                description: Optional domain supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              hotel_rating:
                                description: Optional hotel rating supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              latitude:
                                description: Optional latitude supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              longitude:
                                description: Optional longitude supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              phone:
                                description: Optional phone supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              place_id:
                                description: Optional place id supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              price_level:
                                description: Optional price level supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              rank:
                                description: Optional rank supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              rating:
                                description: Source rating; read its accompanying scale and vote count.
                                type:
                                - object
                                - 'null'
                                properties:
                                  max:
                                    description: Optional max supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  value:
                                    description: Optional value supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  votes:
                                    description: Optional votes supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                additionalProperties: true
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - address
                                properties:
                                  address:
                                    description: Optional address supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - category
                                properties:
                                  category:
                                    description: Optional category supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - cid
                                properties:
                                  cid:
                                    description: Optional cid supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - domain
                                properties:
                                  domain:
                                    description: Optional domain supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - hotel_rating
                                properties:
                                  hotel_rating:
                                    description: Optional hotel rating supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - latitude
                                properties:
                                  latitude:
                                    description: Optional latitude supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - longitude
                                properties:
                                  longitude:
                                    description: Optional longitude supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - name
                                properties:
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - phone
                                properties:
                                  phone:
                                    description: Optional phone supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - place_id
                                properties:
                                  place_id:
                                    description: Optional place id supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - price_level
                                properties:
                                  price_level:
                                    description: Optional price level supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - rank
                                properties:
                                  rank:
                                    description: Optional rank supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - rating
                                properties:
                                  rating:
                                    description: Source rating; read its accompanying scale and vote count.
                                    type:
                                    - object
                                    properties:
                                      max:
                                        description: Optional max supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      value:
                                        description: Optional value supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      votes:
                                        description: Optional votes supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - url
                                properties:
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    minLength: 1
                        query:
                          description: Optional query supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        total_results:
                          description: Optional total results supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - checked_at: '2026-09-01T12:00:00Z'
                        count: 0
                        has_more: false
                        items:
                        - address: example
                          category: example
                          cid: example
                          domain: example
                          hotel_rating: 0
                          latitude: 0
                          longitude: 0
                          name: example
                          phone: example
                          place_id: example
                          price_level: example
                          rank: 0
                          rating:
                            max: 0
                            value: 0
                            votes: 0
                          url: https://example.com/example
                        query: example
                        total_results: 0
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 4
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/google_search/news:
    get:
      operationId: google_search_news
      tags:
      - Google Search
      summary: Google news search
      description: News results for a query with source, snippet and publication time. Costs 4 credits per successful live response.
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        example: semiconductors
        description: Search terms
      - name: location
        in: query
        required: false
        schema:
          type: string
        example: United Kingdom
        description: Location name
      - name: language
        in: query
        required: false
        schema:
          type: string
        example: en
        description: Language code
      - name: limit
        in: query
        required: false
        schema:
          type: string
        example: '20'
        description: Results, up to 100
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/google_search/news.json
                      title: google_search/news data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        checked_at:
                          description: Optional checked at supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              image:
                                description: Article image URL, optionally served through a signed Monocrawl media reference. Availability depends on the source image; null means unavailable.
                                type:
                                - string
                                - 'null'
                              published:
                                description: Optional published supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              published_at_estimated:
                                description: Optional published at estimated supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              published_estimated:
                                description: Optional published estimated supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              published_precision:
                                description: Optional published precision supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              published_source:
                                description: Optional published source supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              rank:
                                description: Optional rank supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              snippet:
                                description: Optional snippet supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              source:
                                description: Optional source supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              title:
                                description: Source title when supplied.
                                type:
                                - string
                                - 'null'
                              type:
                                description: Optional type supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - image
                                properties:
                                  image:
                                    description: Article image URL, optionally served through a signed Monocrawl media reference. Availability depends on the source image; null means unavailable.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - published
                                properties:
                                  published:
                                    description: Optional published supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - published_at_estimated
                                properties:
                                  published_at_estimated:
                                    description: Optional published at estimated supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - published_estimated
                                properties:
                                  published_estimated:
                                    description: Optional published estimated supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                              - required:
                                - published_precision
                                properties:
                                  published_precision:
                                    description: Optional published precision supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - published_source
                                properties:
                                  published_source:
                                    description: Optional published source supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - rank
                                properties:
                                  rank:
                                    description: Optional rank supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - snippet
                                properties:
                                  snippet:
                                    description: Optional snippet supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - source
                                properties:
                                  source:
                                    description: Optional source supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - title
                                properties:
                                  title:
                                    description: Source title when supplied.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    minLength: 1
                        query:
                          description: Optional query supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        total_results:
                          description: Optional total results supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - checked_at: '2026-09-01T12:00:00Z'
                        count: 0
                        has_more: false
                        items:
                        - image: https://example.com/example
                          published: example
                          published_at_estimated: example
                          published_estimated: false
                          published_precision: example
                          published_source: example
                          rank: 0
                          snippet: example
                          source: example
                          title: example
                          type: example
                          url: https://example.com/example
                        query: example
                        total_results: 0
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 4
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/google_search/search:
    get:
      operationId: google_search_search
      tags:
      - Google Search
      summary: Google web search
      description: Organic web results for a query in a chosen location and language, with rank, domain, title and description. Costs 4 credits per successful live response.
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        example: open source llm
        description: Search terms
      - name: location
        in: query
        required: false
        schema:
          type: string
        example: London,England,United Kingdom
        description: Location name; defaults to the United Kingdom
      - name: language
        in: query
        required: false
        schema:
          type: string
        example: en
        description: Language code
      - name: limit
        in: query
        required: false
        schema:
          type: string
        example: '20'
        description: Results, up to 100
      - name: device
        in: query
        required: false
        schema:
          type: string
          enum:
          - desktop
          - mobile
        example: desktop
        description: 'desktop or mobile Accepted values: desktop, mobile. Case, spaces, hyphens and underscores are interchangeable.'
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/google_search/search.json
                      title: google_search/search data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        checked_at:
                          description: Optional checked at supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              breadcrumb:
                                description: Optional breadcrumb supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              description:
                                description: Source description; null or absent means not supplied.
                                type:
                                - string
                                - 'null'
                              domain:
                                description: Optional domain supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              rank:
                                description: Optional rank supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              title:
                                description: Source title when supplied.
                                type:
                                - string
                                - 'null'
                              type:
                                description: Optional type supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - breadcrumb
                                properties:
                                  breadcrumb:
                                    description: Optional breadcrumb supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - description
                                properties:
                                  description:
                                    description: Source description; null or absent means not supplied.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - domain
                                properties:
                                  domain:
                                    description: Optional domain supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - rank
                                properties:
                                  rank:
                                    description: Optional rank supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - title
                                properties:
                                  title:
                                    description: Source title when supplied.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    minLength: 1
                        query:
                          description: Optional query supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        total_results:
                          description: Optional total results supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - checked_at: '2026-09-01T12:00:00Z'
                        count: 0
                        has_more: false
                        items:
                        - breadcrumb: example
                          description: example
                          domain: example
                          rank: 0
                          title: example
                          type: example
                          url: https://example.com/example
                        query: example
                        total_results: 0
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 4
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
components:
  schemas:
    Error:
      type: object
      required:
      - success
      - error
      - credits_used
      - request_id
      properties:
        success:
          const: false
        error:
          type: object
          required:
          - type
          - message
          - status
          properties:
            type:
              type: string
              enum:
              - UNAUTHORIZED
              - KEY_REVOKED
              - KEY_LIMIT_EXCEEDED
              - RATE_LIMITED
              - INSUFFICIENT_CREDITS
              - RESOURCE_NOT_FOUND
              - INVALID_PARAMETERS
              - TARGET_ACCESS_DENIED
              - UPSTREAM_ERROR
              - UPSTREAM_TIMEOUT
              - FREE_CAPACITY_UNAVAILABLE
              - CAPACITY_UNAVAILABLE
              - ENDPOINT_NOT_FOUND
              - ENDPOINT_NOT_AVAILABLE
              - FAIR_USE_EXCEEDED
              - INTERNAL_ERROR
            message:
              type: string
            status:
              type: integer
            doc_url:
              type: string
              description: Deep link to the exact section of the errors guide for this type.
            details:
              type: object
        credits_used:
          type:
          - integer
          - 'null'
          description: Confirmed net charge; null when billing is pending reconciliation. Inspect error.details.billing_status and retain request_id.
        credits_remaining:
          type: integer
        request_id:
          type: string
    Success:
      type: object
      required:
      - success
      - platform
      - endpoint
      - data
      - credits_used
      - credits_remaining
      - request_id
      properties:
        _completeness:
          type: object
          description: Reported response completeness, not a guarantee of complete platform history. Missing source assertions remain unknown.
          properties:
            state:
              type: string
              enum:
              - complete
              - partial
              - unknown
            scope:
              type: string
            inspection_limited:
              type: boolean
        success:
          const: true
        platform:
          type: string
        endpoint:
          type: string
          description: The resolved path, e.g. `/v1/github/profile`.
        data:
          description: Amazon responses include marketplace.country and marketplace.domain (resolved request marketplace, UK by default). X profiles preserve location, bio_link and cover_url when supplied. TikTok profiles preserve commerce_user, seller, region, location and business_category when supplied; region identifies the account region rather than personal residence. TikTok comments use platform_default selection, which can change between fetches; keep the same video and options when following cursors. Amazon review variant is readable text. Facebook profiles preserve cover_url, following and created_at when supplied; likes_count and followers are distinct and follower totals may be rounded. Endpoint-specific normalized payload, not one universal post/profile schema. Many lists use items/count/cursor; a null cursor means no usable next cursor was supplied, not proof that all history was retrieved. Check has_more and warnings where present. Social full-profile bundles use posts_cursor and posts_pagination.next_params; retain all returned next parameters. YouTube channel bundles instead use recent_videos, cursor and recent_videos_pagination. Inspect complete/partial/legs where supplied for bounded or failed components. Optional model-derived fields are labelled, not source facts.
        credits_used:
          type: integer
        credits_remaining:
          type: integer
        request_id:
          type: string
        cached:
          type: boolean
        stale:
          type: boolean
          description: True only for an explicitly labelled, zero-credit reference snapshot served after a temporary upstream failure.
        age_seconds:
          type: integer
          minimum: 0
          description: Age of a stale snapshot since its original retrieval; not reset by outage recovery.
        fetched_at:
          type: string
          format: date-time
          description: Original retrieval time of a stale snapshot, in UTC.
        synthetic:
          type: boolean
          description: Present and true only on the explicitly requested /sandbox surface. Synthetic responses are representative and charged 0 credits; production /v1 never returns them.
        degraded:
          type: boolean
          description: Reserved for sandbox compatibility. Production /v1 reports upstream failure as an error and never serves a representative fallback.
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
      description: Your API key (`mn_…`), from the console. The recommended style.
    BearerKey:
      type: http
      scheme: bearer
      description: The same key as a Bearer token, for clients that only expose an Authorization field. Keys are never accepted in the query string — URLs leak into logs and referrers.
