openapi: 3.2.0
info:
  title: Monocrawl Klarna API
  version: 0.1.0
  description: One key, one envelope, one credit meter across social, search, commerce and web data.
  contact:
    name: Monocrawl support
    url: https://www.monocrawl.com/contact
  termsOfService: https://www.monocrawl.com/legal/terms-and-conditions
servers:
- url: https://www.monocrawl.com
security:
- ApiKeyHeader: []
tags:
- name: Klarna
paths:
  /v1/klarna/categories:
    get:
      operationId: klarna_categories
      tags:
      - Klarna
      summary: Klarna categories
      description: The top-level category tree with each department's children. Costs 1 credit per successful live response.
      parameters:
      - name: region
        in: query
        required: false
        schema:
          type: string
          enum:
          - usa
          - uk
          - united kingdom
          - germany
          - france
          - italy
          - spain
          - netherlands
          - sweden
          - norway
          - denmark
          - finland
          - austria
          - ireland
          - poland
          - belgium
        x-value-aliases:
          us: usa
          gb: uk
          de: germany
          at: austria
          dk: denmark
          fi: finland
          fr: france
          ie: ireland
          it: italy
          nl: netherlands
          'no': norway
          pl: poland
          es: spain
          se: sweden
          be: belgium
        example: usa
        description: 'Catalogue region Accepted values: usa, uk, united kingdom, germany, france, italy, spain, netherlands, sweden, norway, denmark, finland, austria, ireland, poland, belgium. Case, spaces, hyphens and underscores are interchangeable.'
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/klarna/categories.json
                      title: klarna/categories data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        _warnings:
                          description: Optional  warnings supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              children:
                                description: Optional children supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - object
                                  - 'null'
                                  properties: {}
                                  additionalProperties: true
                              icon:
                                description: Optional icon supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              image_url:
                                description: Optional image url supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              ordinal:
                                description: Optional ordinal supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              short_name:
                                description: Optional short name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - children
                                properties:
                                  children:
                                    description: Optional children supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - object
                                      - 'null'
                                      properties: {}
                                      additionalProperties: true
                              - required:
                                - icon
                                properties:
                                  icon:
                                    description: Optional icon supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - image_url
                                properties:
                                  image_url:
                                    description: Optional image url supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - name
                                properties:
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - ordinal
                                properties:
                                  ordinal:
                                    description: Optional ordinal supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - short_name
                                properties:
                                  short_name:
                                    description: Optional short name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    minLength: 1
                        region:
                          description: Optional region supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - _warnings:
                        - example
                        count: 0
                        has_more: false
                        items:
                        - children:
                          - {}
                          icon: example
                          id: example
                          image_url: https://example.com/example
                          name: example
                          ordinal: 0
                          short_name: example
                          url: https://example.com/example
                        region: example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/klarna/categories-children:
    get:
      operationId: klarna_categories_children
      tags:
      - Klarna
      summary: Klarna sub-categories
      description: The children of one category, with their images and their own children. Costs 1 credit per successful live response.
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        example: t1
        description: Category id, e.g. t1
      - name: region
        in: query
        required: false
        schema:
          type: string
          enum:
          - usa
          - uk
          - united kingdom
          - germany
          - france
          - italy
          - spain
          - netherlands
          - sweden
          - norway
          - denmark
          - finland
          - austria
          - ireland
          - poland
          - belgium
        x-value-aliases:
          us: usa
          gb: uk
          de: germany
          at: austria
          dk: denmark
          fi: finland
          fr: france
          ie: ireland
          it: italy
          nl: netherlands
          'no': norway
          pl: poland
          es: spain
          se: sweden
          be: belgium
        example: usa
        description: 'Catalogue region Accepted values: usa, uk, united kingdom, germany, france, italy, spain, netherlands, sweden, norway, denmark, finland, austria, ireland, poland, belgium. Case, spaces, hyphens and underscores are interchangeable.'
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/klarna/categories-children.json
                      title: klarna/categories-children data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        children:
                          description: Optional children supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              children:
                                description: Optional children supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - object
                                  - 'null'
                                  properties: {}
                                  additionalProperties: true
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              image_url:
                                description: Optional image url supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        id:
                          description: Source identifier. Preserve the supplied type and exact value.
                          type:
                          - string
                          - 'null'
                        image_url:
                          description: Optional image url supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        name:
                          description: Optional name supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        region:
                          description: Optional region supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        short_name:
                          description: Optional short name supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        url:
                          description: Original source URL when supplied.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - children
                          properties:
                            children:
                              description: Optional children supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  children:
                                    description: Optional children supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    - 'null'
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - object
                                      - 'null'
                                      properties: {}
                                      additionalProperties: true
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    - 'null'
                                  image_url:
                                    description: Optional image url supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                        - required:
                          - id
                          properties:
                            id:
                              description: Source identifier. Preserve the supplied type and exact value.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - image_url
                          properties:
                            image_url:
                              description: Optional image url supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - name
                          properties:
                            name:
                              description: Optional name supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - region
                          properties:
                            region:
                              description: Optional region supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - short_name
                          properties:
                            short_name:
                              description: Optional short name supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - url
                          properties:
                            url:
                              description: Original source URL when supplied.
                              type:
                              - string
                              minLength: 1
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - children:
                        - children:
                          - {}
                          id: example
                          image_url: https://example.com/example
                          name: example
                          url: https://example.com/example
                        count: 0
                        id: example
                        image_url: https://example.com/example
                        name: example
                        region: example
                        short_name: example
                        url: https://example.com/example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/klarna/category:
    get:
      operationId: klarna_category
      tags:
      - Klarna
      summary: Klarna category products
      description: Products in a category, sorted and filtered, with the sub-categories and brands the page offers. Costs 3 credits per successful live response.
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        example: cl94
        description: Category id, e.g. cl94
      - name: sort
        in: query
        required: false
        schema:
          type: string
          enum:
          - popularity
          - price_asc
          - price_desc
          - trend
          - name
          - rating
          - price_drop
        example: popularity
        description: 'popularity, price_asc, price_desc, trend, name, rating or price_drop Accepted values: popularity, price_asc, price_desc, trend, name, rating, price_drop. Case, spaces, hyphens and underscores are interchangeable.'
      - name: price_range
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Price band such as 50-500
      - name: limit
        in: query
        required: false
        schema:
          type: string
        example: '48'
        description: Products per page, at most 48
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Offset from the previous page
      - name: region
        in: query
        required: false
        schema:
          type: string
          enum:
          - usa
          - uk
          - united kingdom
          - germany
          - france
          - italy
          - spain
          - netherlands
          - sweden
          - norway
          - denmark
          - finland
          - austria
          - ireland
          - poland
          - belgium
        x-value-aliases:
          us: usa
          gb: uk
          de: germany
          at: austria
          dk: denmark
          fi: finland
          fr: france
          ie: ireland
          it: italy
          nl: netherlands
          'no': norway
          pl: poland
          es: spain
          se: sweden
          be: belgium
        example: usa
        description: 'Catalogue region Accepted values: usa, uk, united kingdom, germany, france, italy, spain, netherlands, sweden, norway, denmark, finland, austria, ireland, poland, belgium. Case, spaces, hyphens and underscores are interchangeable.'
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/klarna/category.json
                      title: klarna/category data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        brands:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        categories:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        category_id:
                          description: Optional category id supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        cursor:
                          description: Opaque next-page token; pass it back unchanged. Null does not prove complete history.
                          type:
                          - string
                          - 'null'
                        dropped:
                          description: Optional dropped supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              brand:
                                description: Optional brand supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              cheapest_offer:
                                description: Optional cheapest offer supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  currency:
                                    description: Optional currency supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  merchant_id:
                                    description: Optional merchant id supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  price:
                                    description: Source price. Currency, taxes and availability depend on the listing.
                                    type:
                                    - number
                                    - 'null'
                                additionalProperties: true
                              condition:
                                description: Optional condition supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              currency:
                                description: Optional currency supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              description:
                                description: Source description; null or absent means not supplied.
                                type:
                                - string
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              image_url:
                                description: Optional image url supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              installment:
                                description: Optional installment supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  currency:
                                    description: Optional currency supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  interval:
                                    description: Optional interval supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  price:
                                    description: Source price. Currency, taxes and availability depend on the listing.
                                    type:
                                    - number
                                    - 'null'
                                  term_length:
                                    description: Optional term length supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                additionalProperties: true
                              out_of_stock:
                                description: Optional out of stock supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              platform:
                                description: Optional platform supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              price:
                                description: Source price. Currency, taxes and availability depend on the listing.
                                type:
                                - number
                                - 'null'
                              price_drop:
                                description: Optional price drop supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  oldPrice:
                                    description: Optional oldPrice supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    - 'null'
                                    properties: {}
                                    additionalProperties: true
                                  percent:
                                    description: Optional percent supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                              rank:
                                description: Optional rank supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              rating:
                                description: Source rating; read its accompanying scale and vote count.
                                type:
                                - object
                                - 'null'
                                properties:
                                  max:
                                    description: Optional max supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  value:
                                    description: Optional value supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  votes:
                                    description: Optional votes supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                additionalProperties: true
                              retailers_count:
                                description: Optional retailers count supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              title:
                                description: Source title when supplied.
                                type:
                                - string
                                - 'null'
                              type:
                                description: Optional type supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - brand
                                properties:
                                  brand:
                                    description: Optional brand supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - cheapest_offer
                                properties:
                                  cheapest_offer:
                                    description: Optional cheapest offer supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    properties:
                                      currency:
                                        description: Optional currency supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      merchant_id:
                                        description: Optional merchant id supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      price:
                                        description: Source price. Currency, taxes and availability depend on the listing.
                                        type:
                                        - number
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - condition
                                properties:
                                  condition:
                                    description: Optional condition supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - currency
                                properties:
                                  currency:
                                    description: Optional currency supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - description
                                properties:
                                  description:
                                    description: Source description; null or absent means not supplied.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - image_url
                                properties:
                                  image_url:
                                    description: Optional image url supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - installment
                                properties:
                                  installment:
                                    description: Optional installment supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    properties:
                                      currency:
                                        description: Optional currency supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      interval:
                                        description: Optional interval supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      price:
                                        description: Source price. Currency, taxes and availability depend on the listing.
                                        type:
                                        - number
                                        - 'null'
                                      term_length:
                                        description: Optional term length supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - out_of_stock
                                properties:
                                  out_of_stock:
                                    description: Optional out of stock supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                              - required:
                                - price
                                properties:
                                  price:
                                    description: Source price. Currency, taxes and availability depend on the listing.
                                    type:
                                    - number
                              - required:
                                - price_drop
                                properties:
                                  price_drop:
                                    description: Optional price drop supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    properties:
                                      oldPrice:
                                        description: Optional oldPrice supplied by this operation. Null means unknown.
                                        type:
                                        - object
                                        - 'null'
                                        properties: {}
                                        additionalProperties: true
                                      percent:
                                        description: Optional percent supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - rank
                                properties:
                                  rank:
                                    description: Optional rank supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - rating
                                properties:
                                  rating:
                                    description: Source rating; read its accompanying scale and vote count.
                                    type:
                                    - object
                                    properties:
                                      max:
                                        description: Optional max supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      value:
                                        description: Optional value supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      votes:
                                        description: Optional votes supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - retailers_count
                                properties:
                                  retailers_count:
                                    description: Optional retailers count supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - title
                                properties:
                                  title:
                                    description: Source title when supplied.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    minLength: 1
                        region:
                          description: Optional region supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - brands: []
                        categories: []
                        category_id: example
                        count: 0
                        cursor: null
                        dropped: 0
                        has_more: false
                        items:
                        - brand: example
                          cheapest_offer:
                            currency: example
                            merchant_id: example
                            price: 0
                          condition: example
                          currency: example
                          description: example
                          id: example
                          image_url: https://example.com/example
                          installment:
                            currency: example
                            interval: example
                            price: 0
                            term_length: 0
                          out_of_stock: false
                          platform: example
                          price: 0
                          price_drop:
                            oldPrice: {}
                            percent: example
                          rank: 0
                          rating:
                            max: 0
                            value: 0
                            votes: 0
                          retailers_count: 0
                          title: example
                          type: example
                          url: https://example.com/example
                        region: example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 3
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/klarna/category-filters:
    get:
      operationId: klarna_category_filters
      tags:
      - Klarna
      summary: Klarna category filters
      description: The filters a category page offers, grouped, with their types and units. Costs 1 credit per successful live response.
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        example: cl94
        description: Category id
      - name: region
        in: query
        required: false
        schema:
          type: string
          enum:
          - usa
          - uk
          - united kingdom
          - germany
          - france
          - italy
          - spain
          - netherlands
          - sweden
          - norway
          - denmark
          - finland
          - austria
          - ireland
          - poland
          - belgium
        x-value-aliases:
          us: usa
          gb: uk
          de: germany
          at: austria
          dk: denmark
          fi: finland
          fr: france
          ie: ireland
          it: italy
          nl: netherlands
          'no': norway
          pl: poland
          es: spain
          se: sweden
          be: belgium
        example: usa
        description: 'Catalogue region Accepted values: usa, uk, united kingdom, germany, france, italy, spain, netherlands, sweden, norway, denmark, finland, austria, ireland, poland, belgium. Case, spaces, hyphens and underscores are interchangeable.'
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/klarna/category-filters.json
                      title: klarna/category-filters data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        category_id:
                          description: Optional category id supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        groups:
                          description: Optional groups supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              filters:
                                description: Optional filters supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - object
                                  - 'null'
                                  properties: {}
                                  additionalProperties: true
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        platform:
                          description: Optional platform supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        region:
                          description: Optional region supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - category_id
                          properties:
                            category_id:
                              description: Optional category id supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - groups
                          properties:
                            groups:
                              description: Optional groups supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  filters:
                                    description: Optional filters supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    - 'null'
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - object
                                      - 'null'
                                      properties: {}
                                      additionalProperties: true
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                        - required:
                          - region
                          properties:
                            region:
                              description: Optional region supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - category_id: example
                        count: 0
                        groups:
                        - filters:
                          - {}
                          name: example
                        platform: example
                        region: example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/klarna/category-guide:
    get:
      operationId: klarna_category_guide
      tags:
      - Klarna
      summary: Klarna category buying guide
      description: 'The buying guide of a category: frequently asked questions and shopping tips. Costs 1 credit per successful live response.'
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        example: cl94
        description: Category id
      - name: region
        in: query
        required: false
        schema:
          type: string
          enum:
          - usa
          - uk
          - united kingdom
          - germany
          - france
          - italy
          - spain
          - netherlands
          - sweden
          - norway
          - denmark
          - finland
          - austria
          - ireland
          - poland
          - belgium
        x-value-aliases:
          us: usa
          gb: uk
          de: germany
          at: austria
          dk: denmark
          fi: finland
          fr: france
          ie: ireland
          it: italy
          nl: netherlands
          'no': norway
          pl: poland
          es: spain
          se: sweden
          be: belgium
        example: usa
        description: 'Catalogue region Accepted values: usa, uk, united kingdom, germany, france, italy, spain, netherlands, sweden, norway, denmark, finland, austria, ireland, poland, belgium. Case, spaces, hyphens and underscores are interchangeable.'
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/klarna/category-guide.json
                      title: klarna/category-guide data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        category_id:
                          description: Optional category id supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        faq:
                          description: Optional faq supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            questions:
                              description: Optional questions supplied by this operation. Null means unknown.
                              type:
                              - array
                              - 'null'
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  answer:
                                    description: Optional answer supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  question:
                                    description: Optional question supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                            title:
                              description: Source title when supplied.
                              type:
                              - string
                              - 'null'
                          additionalProperties: true
                        platform:
                          description: Optional platform supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        region:
                          description: Optional region supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        shopping_tips:
                          description: Optional shopping tips supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            tips:
                              description: Optional tips supplied by this operation. Null means unknown.
                              type:
                              - array
                              - 'null'
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  answer:
                                    description: Optional answer supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  question:
                                    description: Optional question supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                            title:
                              description: Source title when supplied.
                              type:
                              - string
                              - 'null'
                          additionalProperties: true
                        sponsored_products:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - category_id
                          properties:
                            category_id:
                              description: Optional category id supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - faq
                          properties:
                            faq:
                              description: Optional faq supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties:
                                questions:
                                  description: Optional questions supplied by this operation. Null means unknown.
                                  type:
                                  - array
                                  - 'null'
                                  items:
                                    description: Optional record supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      answer:
                                        description: Optional answer supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      question:
                                        description: Optional question supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                    additionalProperties: true
                                title:
                                  description: Source title when supplied.
                                  type:
                                  - string
                                  - 'null'
                              additionalProperties: true
                        - required:
                          - region
                          properties:
                            region:
                              description: Optional region supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - shopping_tips
                          properties:
                            shopping_tips:
                              description: Optional shopping tips supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties:
                                tips:
                                  description: Optional tips supplied by this operation. Null means unknown.
                                  type:
                                  - array
                                  - 'null'
                                  items:
                                    description: Optional record supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      answer:
                                        description: Optional answer supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      question:
                                        description: Optional question supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                    additionalProperties: true
                                title:
                                  description: Source title when supplied.
                                  type:
                                  - string
                                  - 'null'
                              additionalProperties: true
                        - required:
                          - sponsored_products
                          properties:
                            sponsored_products:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              items: {}
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - category_id: example
                        faq:
                          questions:
                          - answer: example
                            question: example
                          title: example
                        platform: example
                        region: example
                        shopping_tips:
                          tips:
                          - answer: example
                            question: example
                          title: example
                        sponsored_products: []
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/klarna/category-keywords:
    get:
      operationId: klarna_category_keywords
      tags:
      - Klarna
      summary: Klarna category keywords
      description: The popular search keywords of a category. Costs 1 credit per successful live response.
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        example: t1
        description: Category id
      - name: region
        in: query
        required: false
        schema:
          type: string
          enum:
          - usa
          - uk
          - united kingdom
          - germany
          - france
          - italy
          - spain
          - netherlands
          - sweden
          - norway
          - denmark
          - finland
          - austria
          - ireland
          - poland
          - belgium
        x-value-aliases:
          us: usa
          gb: uk
          de: germany
          at: austria
          dk: denmark
          fi: finland
          fr: france
          ie: ireland
          it: italy
          nl: netherlands
          'no': norway
          pl: poland
          es: spain
          se: sweden
          be: belgium
        example: usa
        description: 'Catalogue region Accepted values: usa, uk, united kingdom, germany, france, italy, spain, netherlands, sweden, norway, denmark, finland, austria, ireland, poland, belgium. Case, spaces, hyphens and underscores are interchangeable.'
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/klarna/category-keywords.json
                      title: klarna/category-keywords data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        category_id:
                          description: Optional category id supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - name
                                properties:
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    minLength: 1
                        region:
                          description: Optional region supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - category_id: example
                        count: 0
                        has_more: false
                        items:
                        - name: example
                          url: https://example.com/example
                        region: example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/klarna/compare:
    get:
      operationId: klarna_compare
      tags:
      - Klarna
      summary: Klarna product comparison
      description: 'Two products side by side: prices, ratings and the category''s attribute groups. Costs 3 credits per successful live response.'
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        example: '3331931645'
        description: First product id
      - name: id2
        in: query
        required: true
        schema:
          type: string
        example: '3216399795'
        description: Second product id
      - name: region
        in: query
        required: false
        schema:
          type: string
          enum:
          - usa
          - uk
          - united kingdom
          - germany
          - france
          - italy
          - spain
          - netherlands
          - sweden
          - norway
          - denmark
          - finland
          - austria
          - ireland
          - poland
          - belgium
        x-value-aliases:
          us: usa
          gb: uk
          de: germany
          at: austria
          dk: denmark
          fi: finland
          fr: france
          ie: ireland
          it: italy
          nl: netherlands
          'no': norway
          pl: poland
          es: spain
          se: sweden
          be: belgium
        example: usa
        description: 'Catalogue region Accepted values: usa, uk, united kingdom, germany, france, italy, spain, netherlands, sweden, norway, denmark, finland, austria, ireland, poland, belgium. Case, spaces, hyphens and underscores are interchangeable.'
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/klarna/compare.json
                      title: klarna/compare data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        categories:
                          description: Optional categories supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              attribute_groups:
                                description: Optional attribute groups supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - object
                                  - 'null'
                                  properties: {}
                                  additionalProperties: true
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        platform:
                          description: Optional platform supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        products:
                          description: Optional products supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              brand:
                                description: Optional brand supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              category:
                                description: Optional category supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    - 'null'
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                              cheapest_offer:
                                description: Optional cheapest offer supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  currency:
                                    description: Optional currency supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
[...]
