openapi: 3.2.0
info:
  title: Monocrawl Walmart API
  version: 0.1.0
  description: One key, one envelope, one credit meter across social, search, commerce and web data.
  contact:
    name: Monocrawl support
    url: https://www.monocrawl.com/contact
  termsOfService: https://www.monocrawl.com/legal/terms-and-conditions
servers:
- url: https://www.monocrawl.com
security:
- ApiKeyHeader: []
tags:
- name: Walmart
paths:
  /v1/walmart/category:
    get:
      operationId: walmart_category
      tags:
      - Walmart
      summary: Walmart category products
      description: Products listed in a Walmart category with price, rating, review count, image, availability and seller, paged. Costs 3 credits per successful live response.
      parameters:
      - name: category_id
        in: query
        required: true
        schema:
          type: string
        example: '3944'
        description: A Walmart category id
      - name: page
        in: query
        required: false
        schema:
          type: string
        example: '1'
        description: Page number
      - name: sort_by
        in: query
        required: false
        schema:
          type: string
          enum:
          - best_match
          - price_low
          - price_asc
          - price_high
          - price_desc
          - best_seller
          - top_rated
        example: best_match
        description: 'best_match, price_low, price_high, best_seller or top_rated Accepted values: best_match, price_low, price_asc, price_high, price_desc, best_seller, top_rated. Case, spaces, hyphens and underscores are interchangeable.'
      - name: min_price
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Minimum price
      - name: max_price
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Maximum price
      - name: zip_code
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: ZIP code for local availability
      - name: store_id
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Store id
      - name: country
        in: query
        required: false
        schema:
          type: string
          enum:
          - us
          - ca
        example: us
        description: 'us or ca Accepted values: us, ca. Case, spaces, hyphens and underscores are interchangeable.'
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/walmart/category.json
                      title: walmart/category data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        category_id:
                          description: Optional category id supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        cursor:
                          description: Opaque next-page token; pass it back unchanged. Null does not prove complete history.
                          type:
                          - string
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              availability:
                                description: Optional availability supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              best_seller:
                                description: Optional best seller supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              currency:
                                description: Optional currency supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              description:
                                description: Source description; null or absent means not supplied.
                                type:
                                - string
                                - 'null'
                              free_shipping:
                                description: Optional free shipping supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              image:
                                description: Optional image supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              original_price:
                                description: Optional original price supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              out_of_stock:
                                description: Optional out of stock supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              platform:
                                description: Optional platform supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              price:
                                description: Source price. Currency, taxes and availability depend on the listing.
                                type:
                                - number
                                - 'null'
                              rating:
                                description: Source rating; read its accompanying scale and vote count.
                                type:
                                - object
                                - 'null'
                                properties:
                                  max:
                                    description: Optional max supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  value:
                                    description: Optional value supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  votes:
                                    description: Optional votes supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                additionalProperties: true
                              reviews_count:
                                description: Optional reviews count supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              savings:
                                description: Optional savings supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              seller:
                                description: Optional seller supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              seller_id:
                                description: Optional seller id supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              sponsored:
                                description: Optional sponsored supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              title:
                                description: Source title when supplied.
                                type:
                                - string
                                - 'null'
                              type:
                                description: Optional type supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - availability
                                properties:
                                  availability:
                                    description: Optional availability supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - best_seller
                                properties:
                                  best_seller:
                                    description: Optional best seller supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                              - required:
                                - currency
                                properties:
                                  currency:
                                    description: Optional currency supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - description
                                properties:
                                  description:
                                    description: Source description; null or absent means not supplied.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - free_shipping
                                properties:
                                  free_shipping:
                                    description: Optional free shipping supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - image
                                properties:
                                  image:
                                    description: Optional image supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - original_price
                                properties:
                                  original_price:
                                    description: Optional original price supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - out_of_stock
                                properties:
                                  out_of_stock:
                                    description: Optional out of stock supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                              - required:
                                - price
                                properties:
                                  price:
                                    description: Source price. Currency, taxes and availability depend on the listing.
                                    type:
                                    - number
                              - required:
                                - rating
                                properties:
                                  rating:
                                    description: Source rating; read its accompanying scale and vote count.
                                    type:
                                    - object
                                    properties:
                                      max:
                                        description: Optional max supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      value:
                                        description: Optional value supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      votes:
                                        description: Optional votes supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - reviews_count
                                properties:
                                  reviews_count:
                                    description: Optional reviews count supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - savings
                                properties:
                                  savings:
                                    description: Optional savings supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - seller
                                properties:
                                  seller:
                                    description: Optional seller supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - seller_id
                                properties:
                                  seller_id:
                                    description: Optional seller id supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - sponsored
                                properties:
                                  sponsored:
                                    description: Optional sponsored supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                              - required:
                                - title
                                properties:
                                  title:
                                    description: Source title when supplied.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    minLength: 1
                        page:
                          description: Optional page supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        total_pages:
                          description: Optional total pages supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - category_id: example
                        count: 0
                        cursor: null
                        has_more: false
                        items:
                        - availability: example
                          best_seller: false
                          currency: example
                          description: example
                          free_shipping: false
                          id: example
                          image: https://example.com/example
                          original_price: 0
                          out_of_stock: false
                          platform: example
                          price: 0
                          rating:
                            max: 0
                            value: 0
                            votes: 0
                          reviews_count: 0
                          savings: 0
                          seller: example
                          seller_id: example
                          sponsored: false
                          title: example
                          type: example
                          url: https://example.com/example
                        page: 0
                        total_pages: 0
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 3
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/walmart/offers:
    get:
      operationId: walmart_offers
      tags:
      - Walmart
      summary: Walmart offers
      description: 'Every seller offering a Walmart item: seller, price, stock, condition, shipping and pickup, return policy. Costs 2 credits per successful live response.'
      parameters:
      - name: product_id
        in: query
        required: true
        schema:
          type: string
        example: '609040889'
        description: A Walmart item id or product URL
      - name: country
        in: query
        required: false
        schema:
          type: string
          enum:
          - us
          - ca
        example: us
        description: 'us or ca Accepted values: us, ca. Case, spaces, hyphens and underscores are interchangeable.'
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/walmart/offers.json
                      title: walmart/offers data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              availability:
                                description: Optional availability supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              condition:
                                description: Optional condition supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              currency:
                                description: Optional currency supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              free_shipping:
                                description: Optional free shipping supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              fulfilled_by_walmart:
                                description: Optional fulfilled by walmart supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              in_stock:
                                description: Optional in stock supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              offer_id:
                                description: Optional offer id supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              offer_type:
                                description: Optional offer type supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              pickup_available:
                                description: Optional pickup available supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              position:
                                description: Optional position supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              price:
                                description: Source price. Currency, taxes and availability depend on the listing.
                                type:
                                - number
                                - 'null'
                              price_display:
                                description: Optional price display supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              return_policy:
                                description: Optional return policy supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              seller:
                                description: Optional seller supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              seller_id:
                                description: Optional seller id supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              seller_type:
                                description: Optional seller type supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              storefront_url:
                                description: Optional storefront url supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - availability
                                properties:
                                  availability:
                                    description: Optional availability supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - condition
                                properties:
                                  condition:
                                    description: Optional condition supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - currency
                                properties:
                                  currency:
                                    description: Optional currency supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - free_shipping
                                properties:
                                  free_shipping:
                                    description: Optional free shipping supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                              - required:
                                - fulfilled_by_walmart
                                properties:
                                  fulfilled_by_walmart:
                                    description: Optional fulfilled by walmart supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                              - required:
                                - in_stock
                                properties:
                                  in_stock:
                                    description: Optional in stock supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                              - required:
                                - offer_id
                                properties:
                                  offer_id:
                                    description: Optional offer id supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - offer_type
                                properties:
                                  offer_type:
                                    description: Optional offer type supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - pickup_available
                                properties:
                                  pickup_available:
                                    description: Optional pickup available supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                              - required:
                                - position
                                properties:
                                  position:
                                    description: Optional position supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - price
                                properties:
                                  price:
                                    description: Source price. Currency, taxes and availability depend on the listing.
                                    type:
                                    - number
                              - required:
                                - price_display
                                properties:
                                  price_display:
                                    description: Optional price display supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - return_policy
                                properties:
                                  return_policy:
                                    description: Optional return policy supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - seller
                                properties:
                                  seller:
                                    description: Optional seller supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - seller_id
                                properties:
                                  seller_id:
                                    description: Optional seller id supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - seller_type
                                properties:
                                  seller_type:
                                    description: Optional seller type supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - storefront_url
                                properties:
                                  storefront_url:
                                    description: Optional storefront url supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                        product_id:
                          description: Optional product id supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        title:
                          description: Source title when supplied.
                          type:
                          - string
                          - 'null'
                        total_offers:
                          description: Optional total offers supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        url:
                          description: Original source URL when supplied.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - count: 0
                        has_more: false
                        items:
                        - availability: example
                          condition: example
                          currency: example
                          free_shipping: false
                          fulfilled_by_walmart: false
                          in_stock: false
                          offer_id: example
                          offer_type: example
                          pickup_available: false
                          position: 0
                          price: 0
                          price_display: example
                          return_policy: example
                          seller: example
                          seller_id: example
                          seller_type: example
                          storefront_url: https://example.com/example
                        product_id: example
                        title: example
                        total_offers: 0
                        url: https://example.com/example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 2
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/walmart/product:
    get:
      operationId: walmart_product
      tags:
      - Walmart
      summary: Walmart product
      description: 'One Walmart product: title, brand, price and savings, rating and review counts, seller, category path, description, highlights, specifications and images. Costs 3 credits per successful live response.'
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        example: '6138924168'
        description: Walmart item id (the number after /ip/ in its URL), or the URL
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/walmart/product.json
                      title: walmart/product data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        availability:
                          description: Optional availability supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        brand:
                          description: Optional brand supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        categories:
                          description: Optional categories supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        category:
                          description: Optional category supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        condition:
                          description: Optional condition supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        currency:
                          description: Optional currency supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        description:
                          description: Source description; null or absent means not supplied.
                          type:
                          - string
                          - 'null'
                        highlights:
                          description: Optional highlights supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        id:
                          description: Source identifier. Preserve the supplied type and exact value.
                          type:
                          - string
                          - 'null'
                        image:
                          description: Optional image supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        images:
                          description: Optional images supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        model:
                          description: Optional model supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        original_price:
                          description: Optional original price supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        out_of_stock:
                          description: Optional out of stock supplied by this operation. Null means unknown.
                          type:
                          - boolean
                          - 'null'
                        platform:
                          description: Optional platform supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        price:
                          description: Source price. Currency, taxes and availability depend on the listing.
                          type:
                          - number
                          - 'null'
                        rating:
                          description: Source rating; read its accompanying scale and vote count.
                          type:
                          - object
                          - 'null'
                          properties:
                            max:
                              description: Optional max supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            value:
                              description: Optional value supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            votes:
                              description: Optional votes supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                          additionalProperties: true
                        rating_breakdown:
                          description: Optional rating breakdown supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            five:
                              description: Optional five supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            four:
                              description: Optional four supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            one:
                              description: Optional one supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            three:
                              description: Optional three supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            two:
                              description: Optional two supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                          additionalProperties: true
                        recommended_percentage:
                          description: Optional recommended percentage supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        return_window_days:
                          description: Optional return window days supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        reviews_count:
                          description: Optional reviews count supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        savings:
                          description: Optional savings supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        seller:
                          description: Optional seller supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        seller_id:
                          description: Optional seller id supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        seller_type:
                          description: Optional seller type supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        specifications:
                          description: Optional specifications supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              value:
                                description: Optional value supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        title:
                          description: Source title when supplied.
                          type:
                          - string
                          - 'null'
                        type:
                          description: Optional type supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        upc:
                          description: Optional upc supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        url:
                          description: Original source URL when supplied.
                          type:
                          - string
                          - 'null'
                        variants_count:
                          description: Optional variants count supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - availability
                          properties:
                            availability:
                              description: Optional availability supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - brand
                          properties:
                            brand:
                              description: Optional brand supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - categories
                          properties:
                            categories:
                              description: Optional categories supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                        - required:
                          - category
                          properties:
                            category:
                              description: Optional category supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - condition
                          properties:
                            condition:
                              description: Optional condition supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - currency
                          properties:
                            currency:
                              description: Optional currency supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - description
                          properties:
                            description:
                              description: Source description; null or absent means not supplied.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - highlights
                          properties:
                            highlights:
                              description: Optional highlights supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                        - required:
                          - id
                          properties:
                            id:
                              description: Source identifier. Preserve the supplied type and exact value.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - image
                          properties:
                            image:
                              description: Optional image supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - images
                          properties:
                            images:
                              description: Optional images supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                        - required:
                          - model
                          properties:
                            model:
                              description: Optional model supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - original_price
                          properties:
                            original_price:
                              description: Optional original price supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - out_of_stock
                          properties:
                            out_of_stock:
                              description: Optional out of stock supplied by this operation. Null means unknown.
                              type:
                              - boolean
                        - required:
                          - price
                          properties:
                            price:
                              description: Source price. Currency, taxes and availability depend on the listing.
                              type:
                              - number
                        - required:
                          - rating
                          properties:
                            rating:
                              description: Source rating; read its accompanying scale and vote count.
                              type:
                              - object
                              properties:
                                max:
                                  description: Optional max supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                value:
                                  description: Optional value supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                votes:
                                  description: Optional votes supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                              additionalProperties: true
                        - required:
                          - rating_breakdown
                          properties:
                            rating_breakdown:
                              description: Optional rating breakdown supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties:
                                five:
                                  description: Optional five supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                four:
                                  description: Optional four supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                one:
                                  description: Optional one supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                three:
                                  description: Optional three supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                two:
                                  description: Optional two supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                              additionalProperties: true
                        - required:
                          - recommended_percentage
                          properties:
                            recommended_percentage:
                              description: Optional recommended percentage supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - return_window_days
                          properties:
                            return_window_days:
                              description: Optional return window days supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - reviews_count
                          properties:
                            reviews_count:
                              description: Optional reviews count supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - savings
                          properties:
                            savings:
                              description: Optional savings supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - seller
                          properties:
                            seller:
                              description: Optional seller supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - seller_id
                          properties:
                            seller_id:
                              description: Optional seller id supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - seller_type
                          properties:
                            seller_type:
                              description: Optional seller type supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - specifications
                          properties:
                            specifications:
                              description: Optional specifications supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  value:
                                    description: Optional value supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                        - required:
                          - title
                          properties:
                            title:
                              description: Source title when supplied.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - upc
                          properties:
                            upc:
                              description: Optional upc supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - url
                          properties:
                            url:
                              description: Original source URL when supplied.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - variants_count
                          properties:
                            variants_count:
                              description: Optional variants count supplied by this operation. Null means unknown.
                              type:
                              - number
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - availability: example
                        brand: example
                        categories:
                        - example
                        category: example
                        condition: example
                        currency: example
                        description: example
                        highlights:
                        - example
                        id: example
                        image: https://example.com/example
                        images:
                        - example
                        model: example
                        original_price: 0
                        out_of_stock: false
                        platform: example
                        price: 0
                        rating:
                          max: 0
                          value: 0
                          votes: 0
                        rating_breakdown:
                          five: 0
                          four: 0
                          one: 0
                          three: 0
                          two: 0
                        recommended_percentage: 0
                        return_window_days: 0
                        reviews_count: 0
                        savings: 0
                        seller: example
                        seller_id: example
                        seller_type: example
                        specifications:
                        - name: example
                          value: example
                        title: example
                        type: example
                        upc: example
                        url: https://example.com/example
                        variants_count: 0
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 3
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/walmart/reviews:
    get:
      operationId: walmart_reviews
      tags:
      - Walmart
      summary: Walmart product reviews
      description: Reviews of a Walmart product, ten per page, with the rating distribution. Costs 3 credits per successful live response.
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        example: '265952442'
        description: Walmart item id
      - name: page
        in: query
        required: false
        schema:
          type: string
        example: '1'
        description: Page number (10 per page)
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/walmart/reviews.json
                      title: walmart/reviews data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        items:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type:
                                - string
                                - 'null'
                                description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                              text:
                                type:
                                - string
                                - 'null'
                                description: Review text.
                              rating:
                                type:
                                - number
                                - 'null'
                                description: Source rating.
                              verified_purchase:
                                type:
                                - boolean
                                - 'null'
                                description: Explicit purchase-verification evidence; null is unknown.
                              verified:
                                type:
                                - boolean
                                - 'null'
                                description: Alternative source verification field; null is unknown.
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - id
                                properties:
                                  id:
                                    type:
                                    - string
                                    description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                                    minLength: 1
                              - required:
                                - text
                                properties:
                                  text:
                                    type:
                                    - string
                                    description: Review text.
                                    minLength: 1
                              - required:
                                - rating
                                properties:
                                  rating:
                                    type:
                                    - number
                                    description: Source rating.
                              - required:
                                - verified_purchase
                                properties:
                                  verified_purchase:
                                    type:
                                    - boolean
                                    description: Explicit purchase-verification evidence; null is unknown.
                              - required:
                                - verified
                                properties:
                                  verified:
                                    type:
                                    - boolean
                                    description: Alternative source verification field; null is unknown.
                          description: Records in this response page.
                        count:
                          type:
                          - number
                          - 'null'
                          description: Returned row count when supplied; not the full source total.
                        cursor:
                          type:
                          - string
                          - 'null'
                          description: Opaque next-page token. A missing token does not prove full history was retrieved.
                        has_more:
                          type:
                          - boolean
                          - 'null'
                          description: Source continuation indicator; null means unknown.
                        _warnings:
                          type: array
                          items:
                            type: string
                          description: Collection limitations or component warnings. Read before interpreting coverage.
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - items:
                        - id: null
                          text: Illustrative review.
                          rating: 4
                          verified_purchase: null
                        cursor: null
                        has_more: null
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 3
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/walmart/rollbacks:
    get:
      operationId: walmart_rollbacks
      tags:
      - Walmart
      summary: Walmart rollbacks
      description: Products currently on rollback (marked-down) at Walmart, with the old and new prices. Costs 2 credits per successful live response.
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: string
        example: '1'
        description: Page number (about 40 per page)
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Return the previous response cursor unchanged to continue with its original source; omit page. An empty filtered Rollback page can still have a continuation. Each request retains the normal price.
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/walmart/rollbacks.json
                      title: walmart/rollbacks data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        items:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type:
                                - string
                                - 'null'
                                description: Exact source identifier; preserve it as a string.
                              title:
                                type:
                                - string
                                - 'null'
                                description: title
                              url:
                                type:
                                - string
                                - 'null'
                                description: url
                              brand:
                                type:
                                - string
                                - 'null'
                                description: brand
                              image:
                                type:
                                - string
                                - 'null'
                                description: image
                              currency:
                                type:
                                - string
                                - 'null'
                                description: currency
                              price:
                                type:
                                - number
                                - 'null'
                                description: price; null is unknown.
                              original_price:
                                type:
                                - number
                                - 'null'
                                description: original price; null is unknown.
                              savings:
                                type:
                                - number
                                - 'null'
                                description: savings; null is unknown.
                              reviews_count:
                                type:
                                - number
                                - 'null'
                                description: reviews count; null is unknown.
                              rating:
                                anyOf:
                                - type:
                                  - number
                                  - 'null'
                                  description: Source rating.
                                - type:
                                  - object
                                  - 'null'
                                  properties:
                                    value:
                                      type:
                                      - number
                                      - 'null'
                                      description: value; null is unknown.
                                    votes:
                                      type:
                                      - number
                                      - 'null'
                                      description: votes; null is unknown.
                                    max:
                                      type:
                                      - number
                                      - 'null'
                                      description: max; null is unknown.
                                  additionalProperties: true
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - id
                                properties:
                                  id:
                                    type:
                                    - string
                                    description: Exact source identifier; preserve it as a string.
                                    minLength: 1
                              - required:
                                - title
                                properties:
                                  title:
                                    type:
                                    - string
                                    description: title
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    type:
                                    - string
                                    description: url
                                    minLength: 1
                              - required:
                                - brand
                                properties:
                                  brand:
                                    type:
                                    - string
                                    description: brand
                                    minLength: 1
                              - required:
                                - image
                                properties:
                                  image:
                                    type:
                                    - string
                                    description: image
                                    minLength: 1
                              - required:
                                - currency
                                properties:
                                  currency:
                                    type:
                                    - string
                                    description: currency
                                    minLength: 1
                              - required:
                                - price
                                properties:
                                  price:
                                    type:
                                    - number
                                    description: price; null is unknown.
                              - required:
                                - original_price
                                properties:
                                  original_price:
                                    type:
                                    - number
                                    description: original price; null is unknown.
                              - required:
                                - savings
                                properties:
                                  savings:
                                    type:
                                    - number
                                    description: savings; null is unknown.
                              - required:
                                - reviews_count
                                properties:
                                  reviews_count:
                                    type:
                                    - number
                                    description: reviews count; null is unknown.
                              - required:
                                - rating
                                properties:
                                  rating:
                                    anyOf:
                                    - type:
                                      - number
                                      - 'null'
                                      description: Source rating.
                                    - type:
                                      - object
                                      - 'null'
                                      properties:
                                        value:
                                          type:
                                          - number
                                          - 'null'
                                          description: value; null is unknown.
                                        votes:
                                          type:
                                          - number
                                          - 'null'
                                          description: votes; null is unknown.
                                        max:
                                          type:
                                          - number
                                          - 'null'
                                          description: max; null is unknown.
                                      additionalProperties: true
                        count:
                          type:
                          - number
                          - 'null'
                          description: Returned rows, not the total population.
                        cursor:
                          type:
                          - string
                          - 'null'
                          description: Opaque continuation; pass unchanged.
                        has_more:
                          type:
                          - boolean
                          - 'null'
                          description: Source continuation indicator.
                        total:
                          type:
                          - number
                          - 'null'
                          description: Source-reported total; null means unknown.
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - items: []
                        count: 0
                        cursor: null
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 2
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/walmart/search:
    get:
      operationId: walmart_search
      tags:
      - Walmart
      summary: Walmart product search
      description: Products matching a keyword, forty per page, with price, rating, seller and availability. Costs 3 credits per successful live response.
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        example: mobile
        description: Search keyword
      - name: page
        in: query
        required: false
        schema:
          type: string
        example: '1'
        description: Page number (40 per page)
      - name: sort
        in: query
        required: false
        schema:
          type: string
          enum:
          - best_match
          - price_low
          - price_asc
          - price_high
          - price_desc
          - best_seller
          - top_rated
        example: best_match
        description: 'best_match, price_low, price_high or best_seller Accepted values: best_match, price_low, price_asc, price_high, price_desc, best_seller, top_rated. Case, spaces, hyphens and underscores are interchangeable.'
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
[...]
