openapi: 3.2.0
info:
  title: Monocrawl LinkedIn API
  version: 0.1.0
  description: One key, one envelope, one credit meter across social, search, commerce and web data.
  contact:
    name: Monocrawl support
    url: https://www.monocrawl.com/contact
  termsOfService: https://www.monocrawl.com/legal/terms-and-conditions
servers:
- url: https://www.monocrawl.com
security:
- ApiKeyHeader: []
tags:
- name: Linked In
paths:
  /v1/linkedin/comment-replies:
    get:
      operationId: linkedin_comment_replies
      tags:
      - Linked In
      summary: LinkedIn comment replies
      description: 'Available replies to a LinkedIn comment, with text, likes and author. Completeness is not guaranteed: sources can return fewer replies than a parent count reports. Inspect partial, completeness, total and has_more; null means unknown, not zero or complete. Continue only with a returned cursor and the same target. Source coverage differs by post identifier; some sources can only find parents among their first thirty listed comments. Costs 31 credits per successful live response.'
      parameters:
      - name: post_id
        in: query
        required: true
        schema:
          type: string
        example: '7356711184831574036'
        description: The post activity ID or supported LinkedIn post URL. Canonical https://www.linkedin.com/feed/update/urn:li:ugcPost:<id> URLs and typed urn:li:ugcPost:<id> identifiers are also supported for reply recovery. Activity identifiers require a verified mapping to the underlying post; conflicting identities are rejected.
      - name: comment_id
        in: query
        required: true
        schema:
          type: string
        example: '7356889832989626368'
        description: The comment id from linkedin/post-comments
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Page token from the previous answer
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: judgments
        in: query
        required: false
        schema:
          type: string
          enum:
          - 'on'
          - 'off'
        example: 'on'
        description: 'Add bounded AI labels to eligible returned records (default on). off preserves the original data shape. Unclassified records remain present; labels depend on evidence, time, capacity and the existing request budget. No label surcharge. Accepted values: on, off. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label
        in: query
        required: false
        schema:
          type: string
          enum:
          - default
          - none
        example: none
        description: 'Set none to disable labels; default enables the endpoint’s label set. Equivalent to judgments=off. Accepted values: default, none. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label_evidence
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Include exact supporting sentences and zero-based sentence indexes when a label has validated evidence. No extra charge or change to decisions. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: exclude
        in: query
        required: false
        schema:
          type: string
          enum:
          - engagement_bait
        example: engagement_bait
        description: 'Optionally remove confidently labelled engagement bait. Uncertain and unclassified records stay; removed IDs and an owner-bound recall reference are returned. Accepted values: engagement_bait. Case, spaces, hyphens and underscores are interchangeable.'
      - name: fit
        in: query
        required: false
        schema:
          type: string
          enum:
          - goal
        example: goal
        description: 'Use goal to replace confidently irrelevant records with recall stubs. Keeps first, last, relevant and uncertain records; preserves order. Full evidence is stored for 24 hours when available. Accepted values: goal. Case, spaces, hyphens and underscores are interchangeable.'
      - name: goal
        in: query
        required: false
        schema:
          type: string
        example: Find concrete product complaints
        description: 'Required with fit=goal: describe the task in at most 600 characters. Supplied text is task context, never permission to act on posts.'
      - name: tokens
        in: query
        required: false
        schema:
          type: string
        example: '4000'
        description: Optional soft response target for fit=goal, 256–32000. Safety and evidence retention take priority, so the returned result may exceed it.
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/linkedin/comment-replies.json
                      title: linkedin/comment-replies data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        comment:
                          description: Optional comment supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            author:
                              description: Public author information supplied with this record.
                              type:
                              - string
                              - 'null'
                            created_at:
                              description: Source creation time, not the API retrieval time.
                              type:
                              - string
                              - 'null'
                            text:
                              description: Source text when supplied.
                              type:
                              - string
                              - 'null'
                          additionalProperties: true
                        comment_id:
                          description: Optional comment id supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        dropped:
                          description: Optional dropped supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              author:
                                description: Public author information supplied with this record.
                                type:
                                - object
                                - 'null'
                                properties:
                                  avatar:
                                    description: Optional avatar supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  handle:
                                    description: Optional handle supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  headline:
                                    description: Optional headline supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                              created_at:
                                description: Source creation time, not the API retrieval time.
                                type:
                                - string
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              likes:
                                description: Optional likes supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              text:
                                description: Source text when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - author
                                properties:
                                  author:
                                    description: Public author information supplied with this record.
                                    type:
                                    - object
                                    properties:
                                      avatar:
                                        description: Optional avatar supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      handle:
                                        description: Optional handle supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      headline:
                                        description: Optional headline supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      name:
                                        description: Optional name supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      url:
                                        description: Original source URL when supplied.
                                        type:
                                        - string
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - created_at
                                properties:
                                  created_at:
                                    description: Source creation time, not the API retrieval time.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - likes
                                properties:
                                  likes:
                                    description: Optional likes supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - text
                                properties:
                                  text:
                                    description: Source text when supplied.
                                    type:
                                    - string
                                    minLength: 1
                        post_id:
                          description: Optional post id supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        total:
                          description: Source-reported total; null is unknown.
                          type:
                          - number
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - comment:
                          author: example
                          created_at: '2026-09-01T12:00:00Z'
                          text: example
                        comment_id: example
                        count: 0
                        dropped: 0
                        has_more: false
                        items:
                        - author:
                            avatar: https://example.com/example
                            handle: example
                            headline: example
                            name: example
                            url: https://example.com/example
                          created_at: '2026-09-01T12:00:00Z'
                          id: example
                          likes: 0
                          text: example
                        post_id: example
                        total: 0
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 31
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/linkedin/company:
    get:
      operationId: linkedin_company
      tags:
      - Linked In
      summary: Company page
      description: 'A company''s public LinkedIn page: industry, size, headquarters, follower and employee counts. Costs 5 credits per successful live response.'
      parameters:
      - name: url
        in: query
        required: false
        schema:
          type: string
        example: https://www.linkedin.com/company/nasa/
        description: Company LinkedIn URL. Supply either this or domain; do not combine them.
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: domain
        in: query
        required: false
        schema:
          type: string
        example: microsoft.com
        description: 'Alternative to a company URL: discover a bounded set of indexed LinkedIn company pages, then verify an exact returned website hostname. Existing price and limits apply. Ambiguous, missing or unverified matches abstain; this is not exhaustive company search or proof of domain ownership.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/linkedin/company.json
                      title: linkedin/company data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                        name:
                          type:
                          - string
                          - 'null'
                          description: Company name.
                        handle:
                          type:
                          - string
                          - 'null'
                          description: Public company identifier.
                        url:
                          type:
                          - string
                          - 'null'
                          description: Original source URL when supplied.
                        description:
                          type:
                          - string
                          - 'null'
                          description: Company description.
                        website:
                          type:
                          - string
                          - 'null'
                          description: Original source URL when supplied.
                        industry:
                          type:
                          - string
                          - 'null'
                          description: Primary reported industry.
                        size:
                          type:
                          - string
                          - 'null'
                          description: Source employee range, not an exact count.
                        founded:
                          type:
                          - number
                          - 'null'
                          description: Founding year.
                        followers:
                          type:
                          - number
                          - 'null'
                          description: Followers reported by the source; null or absent is unknown, not zero.
                        employees_count:
                          type:
                          - number
                          - 'null'
                          description: Reported employees reported by the source; null or absent is unknown, not zero.
                        headquarters:
                          type:
                          - string
                          - 'null'
                          description: Readable headquarters location.
                        domain_lookup:
                          type: object
                          properties:
                            domain:
                              type:
                              - string
                              - 'null'
                              description: Requested website hostname.
                            status:
                              type:
                              - string
                              - 'null'
                              description: verified on success; unverified on failure.
                            match:
                              type:
                              - string
                              - 'null'
                              description: exact_website_domain means the returned company website matched; not domain ownership.
                            candidates_found:
                              type:
                              - number
                              - 'null'
                              description: Indexed candidate URLs reported by the source; null or absent is unknown, not zero.
                            candidates_checked:
                              type:
                              - number
                              - 'null'
                              description: Checked URLs, at most three reported by the source; null or absent is unknown, not zero.
                            candidates_omitted:
                              type:
                              - number
                              - 'null'
                              description: Indexed URLs not checked reported by the source; null or absent is unknown, not zero.
                            exact_matches:
                              type:
                              - number
                              - 'null'
                              description: Distinct source company IDs with a verified website match reported by the source; null or absent is unknown, not zero.
                            exact_match_pages:
                              type:
                              - number
                              - 'null'
                              description: Verified matching URLs before native-ID grouping reported by the source; null or absent is unknown, not zero.
                            verified_candidates:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type:
                                    - string
                                    - 'null'
                                    description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                                  name:
                                    type:
                                    - string
                                    - 'null'
                                    description: Source company name, capped at 300 characters.
                                  url:
                                    type:
                                    - string
                                    - 'null'
                                    description: Original source URL when supplied.
                                  website:
                                    type:
                                    - string
                                    - 'null'
                                    description: Original source URL when supplied.
                                  matched_urls:
                                    type: array
                                    items:
                                      type: string
                                    maxItems: 3
                                    description: Checked aliases joined only by an identical native company ID.
                                additionalProperties: true
                              maxItems: 3
                          additionalProperties: true
                        _warnings:
                          type: array
                          items:
                            type: string
                          description: Collection limitations or component warnings. Read before interpreting coverage.
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - id
                          properties:
                            id:
                              type:
                              - string
                              description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                              minLength: 1
                        - required:
                          - name
                          properties:
                            name:
                              type:
                              - string
                              description: Company name.
                              minLength: 1
                        - required:
                          - handle
                          properties:
                            handle:
                              type:
                              - string
                              description: Public company identifier.
                              minLength: 1
                        - required:
                          - url
                          properties:
                            url:
                              type:
                              - string
                              description: Original source URL when supplied.
                              minLength: 1
                        - required:
                          - description
                          properties:
                            description:
                              type:
                              - string
                              description: Company description.
                              minLength: 1
                        - required:
                          - website
                          properties:
                            website:
                              type:
                              - string
                              description: Original source URL when supplied.
                              minLength: 1
                        - required:
                          - industry
                          properties:
                            industry:
                              type:
                              - string
                              description: Primary reported industry.
                              minLength: 1
                        - required:
                          - size
                          properties:
                            size:
                              type:
                              - string
                              description: Source employee range, not an exact count.
                              minLength: 1
                        - required:
                          - founded
                          properties:
                            founded:
                              type:
                              - number
                              description: Founding year.
                        - required:
                          - followers
                          properties:
                            followers:
                              type:
                              - number
                              description: Followers reported by the source; null or absent is unknown, not zero.
                        - required:
                          - employees_count
                          properties:
                            employees_count:
                              type:
                              - number
                              description: Reported employees reported by the source; null or absent is unknown, not zero.
                        - required:
                          - headquarters
                          properties:
                            headquarters:
                              type:
                              - string
                              description: Readable headquarters location.
                              minLength: 1
                        - required:
                          - domain_lookup
                          properties:
                            domain_lookup:
                              type: object
                              properties:
                                domain:
                                  type:
                                  - string
                                  - 'null'
                                  description: Requested website hostname.
                                status:
                                  type:
                                  - string
                                  - 'null'
                                  description: verified on success; unverified on failure.
                                match:
                                  type:
                                  - string
                                  - 'null'
                                  description: exact_website_domain means the returned company website matched; not domain ownership.
                                candidates_found:
                                  type:
                                  - number
                                  - 'null'
                                  description: Indexed candidate URLs reported by the source; null or absent is unknown, not zero.
                                candidates_checked:
                                  type:
                                  - number
                                  - 'null'
                                  description: Checked URLs, at most three reported by the source; null or absent is unknown, not zero.
                                candidates_omitted:
                                  type:
                                  - number
                                  - 'null'
                                  description: Indexed URLs not checked reported by the source; null or absent is unknown, not zero.
                                exact_matches:
                                  type:
                                  - number
                                  - 'null'
                                  description: Distinct source company IDs with a verified website match reported by the source; null or absent is unknown, not zero.
                                exact_match_pages:
                                  type:
                                  - number
                                  - 'null'
                                  description: Verified matching URLs before native-ID grouping reported by the source; null or absent is unknown, not zero.
                                verified_candidates:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type:
                                        - string
                                        - 'null'
                                        description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                                      name:
                                        type:
                                        - string
                                        - 'null'
                                        description: Source company name, capped at 300 characters.
                                      url:
                                        type:
                                        - string
                                        - 'null'
                                        description: Original source URL when supplied.
                                      website:
                                        type:
                                        - string
                                        - 'null'
                                        description: Original source URL when supplied.
                                      matched_urls:
                                        type: array
                                        items:
                                          type: string
                                        maxItems: 3
                                        description: Checked aliases joined only by an identical native company ID.
                                    additionalProperties: true
                                  maxItems: 3
                              additionalProperties: true
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - id: '12345'
                        name: Example Company
                        handle: example-company
                        size: 11-50
                        followers: 1200
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 5
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/linkedin/company-affiliated-pages:
    get:
      operationId: linkedin_company_affiliated_pages
      tags:
      - Linked In
      summary: LinkedIn company affiliated pages
      description: 'A company''s affiliated and showcase pages: id, name, handle, URL, type, speciality, follower count and logo. Not paged upstream. Costs 3 credits per successful live response.'
      parameters:
      - name: company_id
        in: query
        required: true
        schema:
          type: string
        example: '1441'
        description: The numeric LinkedIn company id (as linkedin/company answers it) or a company URL carrying it
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/linkedin/company-affiliated-pages.json
                      title: linkedin/company-affiliated-pages data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        company_id:
                          description: Optional company id supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              followers:
                                description: Optional followers supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              handle:
                                description: Optional handle supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              logo:
                                description: Optional logo supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              speciality:
                                description: Optional speciality supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              type:
                                description: Optional type supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - followers
                                properties:
                                  followers:
                                    description: Optional followers supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - handle
                                properties:
                                  handle:
                                    description: Optional handle supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - logo
                                properties:
                                  logo:
                                    description: Optional logo supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - name
                                properties:
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - speciality
                                properties:
                                  speciality:
                                    description: Optional speciality supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    minLength: 1
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - company_id: example
                        count: 0
                        has_more: false
                        items:
                        - followers: 0
                          handle: example
                          id: example
                          logo: example
                          name: example
                          speciality: example
                          type: example
                          url: https://example.com/example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 3
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/linkedin/company-job-count:
    get:
      operationId: linkedin_company_job_count
      tags:
      - Linked In
      summary: LinkedIn company open jobs
      description: The number of open jobs a company lists. Costs 3 credits per successful live response.
      parameters:
      - name: company_id
        in: query
        required: true
        schema:
          type: string
        example: '783611'
        description: The numeric LinkedIn company id (as linkedin/company answers it) or a company URL carrying it
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/linkedin/company-job-count.json
                      title: linkedin/company-job-count data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        company_id:
                          type:
                          - string
                          - 'null'
                          description: Exact source identifier; preserve it as a string.
                        open_jobs:
                          type:
                          - number
                          - 'null'
                          description: Source-reported current openings.
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - company_id
                          properties:
                            company_id:
                              type:
                              - string
                              description: Exact source identifier; preserve it as a string.
                              minLength: 1
                        - required:
                          - open_jobs
                          properties:
                            open_jobs:
                              type:
                              - number
                              description: Source-reported current openings.
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - company_id: '123'
                        open_jobs: null
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 3
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/linkedin/company-jobs:
    get:
      operationId: linkedin_company_jobs
      tags:
      - Linked In
      summary: LinkedIn company jobs
      description: 'Open roles at a company, one page at a time: title, location, posting time, employment type, seniority, remote flag, salary where stated and applicant count. Costs 3 credits per successful live response.'
      parameters:
      - name: organization_id
        in: query
        required: true
        schema:
          type: string
        example: '1441'
        description: LinkedIn organisation id (from jobs/linkedin/organizations)
      - name: query
        in: query
        required: false
        schema:
          type: string
        example: engineer
        description: Keywords to narrow the roles
      - name: location
        in: query
        required: false
        schema:
          type: string
        example: London
        description: Country or city
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Cursor from the previous page
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/linkedin/company-jobs.json
                      title: linkedin/company-jobs data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        cursor:
                          description: Opaque next-page token; pass it back unchanged. Null does not prove complete history.
                          type:
                          - string
                          - 'null'
                        dropped:
                          description: Optional dropped supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              benefits:
                                description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                type:
                                - array
                                - 'null'
                                items: {}
                              board:
                                description: Optional board supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              company:
                                description: Optional company supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  addresses:
                                    description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                    type:
                                    - array
                                    - 'null'
                                    items: {}
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                              date_posted:
                                description: Optional date posted supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              industries:
                                description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                type:
                                - array
                                - 'null'
                                items: {}
                              location:
                                description: Optional location supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              platform:
                                description: Optional platform supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              posted:
                                description: Optional posted supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              skills:
                                description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                type:
                                - array
                                - 'null'
                                items: {}
                              title:
                                description: Source title when supplied.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - benefits
                                properties:
                                  benefits:
                                    description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                    type:
                                    - array
                                    items: {}
                              - required:
                                - board
                                properties:
                                  board:
                                    description: Optional board supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - company
                                properties:
                                  company:
                                    description: Optional company supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    properties:
                                      addresses:
                                        description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                        type:
                                        - array
                                        - 'null'
                                        items: {}
                                      name:
                                        description: Optional name supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - date_posted
                                properties:
                                  date_posted:
                                    description: Optional date posted supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - industries
                                properties:
                                  industries:
                                    description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                    type:
                                    - array
                                    items: {}
                              - required:
                                - location
                                properties:
                                  location:
                                    description: Optional location supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - posted
                                properties:
                                  posted:
                                    description: Optional posted supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - skills
                                properties:
                                  skills:
                                    description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                    type:
                                    - array
                                    items: {}
                              - required:
                                - title
                                properties:
                                  title:
                                    description: Source title when supplied.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    minLength: 1
                        total:
                          description: Source-reported total; null is unknown.
                          type:
                          - number
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - count: 0
                        cursor: null
                        dropped: 0
                        has_more: false
                        items:
                        - benefits: []
                          board: example
                          company:
                            addresses: []
                            name: example
                          date_posted: '2026-09-01T12:00:00Z'
                          id: example
                          industries: []
                          location: example
                          platform: example
                          posted: example
                          skills: []
                          title: example
                          url: https://example.com/example
                        total: 0
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 3
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/linkedin/company-people:
    get:
      operationId: linkedin_company_people
      tags:
      - Linked In
      summary: LinkedIn company employees
      description: 'People who list the company as their employer, twelve a page with the total: name, headline and profile. Costs 8 credits per successful live response.'
      parameters:
      - name: handle
        in: query
        required: false
        schema:
          type: string
        example: microsoft
        description: The company's LinkedIn handle or page URL (or pass organization_id)
      - name: organization_id
        in: query
        required: false
        schema:
          type: string
        example: '1035'
        description: Numeric LinkedIn company id — alternative to handle
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        example: '2'
        description: Continue with the complete cursor from the previous response and the original target. Do not edit it. Source coverage varies; a fallback continuation is bound to its source and account and expires after one hour.
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/linkedin/company-people.json
                      title: linkedin/company-people data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        company_id:
                          description: Optional company id supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        cursor:
                          description: Opaque next-page token; pass it back unchanged. Null does not prove complete history.
                          type:
                          - string
                          - 'null'
                        dropped:
                          description: Optional dropped supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              avatar:
                                description: Optional avatar supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              handle:
                                description: Optional handle supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              headline:
                                description: Optional headline supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              platform:
                                description: Optional platform supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - avatar
                                properties:
                                  avatar:
                                    description: Optional avatar supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - handle
                                properties:
                                  handle:
                                    description: Optional handle supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - headline
                                properties:
                                  headline:
                                    description: Optional headline supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - name
                                properties:
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    minLength: 1
                        page:
                          description: Optional page supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        total:
                          description: Source-reported total; null is unknown.
                          type:
                          - number
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - company_id: example
                        count: 0
                        cursor: null
                        dropped: 0
                        has_more: false
                        items:
                        - avatar: https://example.com/example
                          handle: example
                          headline: example
                          name: example
                          platform: example
                          url: https://example.com/example
                        page: 0
                        total: 0
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 8
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/linkedin/company-posts:
    get:
      operationId: linkedin_company_posts
      tags:
      - Linked In
      summary: Company posts
      description: Recent posts from a company's LinkedIn page, one numbered page at a time. Costs 4 credits per successful live response.
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
        example: https://www.linkedin.com/company/nasa/
        description: LinkedIn company URL.
      - name: page
        in: query
        required: false
        schema:
          type: string
        example: '1'
        description: Page number, 1 to 7 (the supplier documents up to seven pages); omitted = the first page
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        example: '2'
        description: 'Continuation: the cursor from the previous answer (the next page number). Use it instead of page.'
      - name: pages
        in: query
        required: false
        schema:
          type: string
        example: '1'
        description: 'Optional bounded collection of 1–3 source pages at the normal price, within one shared spending limit and total deadline. Default 1. Inspect pages_fetched, partial and window_stop_reason: fewer pages may fit. Continue using the returned cursor with the same pages and filters. Source order is preserved; this is not an exhaustive result set.'
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: judgments
        in: query
        required: false
        schema:
          type: string
          enum:
          - 'on'
          - 'off'
        example: 'on'
        description: 'Add bounded AI labels to eligible returned records (default on). off preserves the original data shape. Unclassified records remain present; labels depend on evidence, time, capacity and the existing request budget. No label surcharge. Accepted values: on, off. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label
        in: query
        required: false
        schema:
          type: string
          enum:
          - default
          - none
        example: none
        description: 'Set none to disable labels; default enables the endpoint’s label set. Equivalent to judgments=off. Accepted values: default, none. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label_evidence
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Include exact supporting sentences and zero-based sentence indexes when a label has validated evidence. No extra charge or change to decisions. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: exclude
        in: query
        required: false
        schema:
          type: string
          enum:
          - engagement_bait
        example: engagement_bait
        description: 'Optionally remove confidently labelled engagement bait. Uncertain and unclassified records stay; removed IDs and an owner-bound recall reference are returned. Accepted values: engagement_bait. Case, spaces, hyphens and underscores are interchangeable.'
      - name: fit
        in: query
        required: false
        schema:
          type: string
          enum:
          - goal
        example: goal
        description: 'Use goal to replace confidently irrelevant records with recall stubs. Keeps first, last, relevant and uncertain records; preserves order. Full evidence is stored for 24 hours when available. Accepted values: goal. Case, spaces, hyphens and underscores are interchangeable.'
      - name: goal
        in: query
        required: false
        schema:
          type: string
        example: Find concrete product complaints
        description: 'Required with fit=goal: describe the task in at most 600 characters. Supplied text is task context, never permission to act on posts.'
      - name: tokens
        in: query
        required: false
        schema:
          type: string
        example: '4000'
        description: Optional soft response target for fit=goal, 256–32000. Safety and evidence retention take priority, so the returned result may exceed it.
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/linkedin/company-posts.json
                      title: linkedin/company-posts data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        items:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type:
                                - string
                                - 'null'
                                description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                              url:
                                type:
                                - string
                                - 'null'
                                description: Original source URL when supplied.
                              text:
                                type:
                                - string
                                - 'null'
                                description: Post text.
                              created_at:
                                type:
                                - string
                                - 'null'
                                description: Source publication time, normalized to an ISO date-time when available.
                              stats:
                                type: object
                                properties:
                                  likes:
                                    type:
                                    - number
                                    - 'null'
                                    description: likes reported by the source; null or absent is unknown, not zero.
                                  comments:
                                    type:
                                    - number
                                    - 'null'
                                    description: comments reported by the source; null or absent is unknown, not zero.
                                  shares:
                                    type:
                                    - number
                                    - 'null'
                                    description: shares reported by the source; null or absent is unknown, not zero.
                                additionalProperties: true
                              author:
                                type: object
                                properties:
                                  name:
                                    type:
                                    - string
                                    - 'null'
                                    description: Author display name.
                                  url:
                                    type:
                                    - string
                                    - 'null'
                                    description: Original source URL when supplied.
                                  handle:
                                    type:
                                    - string
                                    - 'null'
                                    description: Public account identifier.
                                  followers:
                                    type:
                                    - number
                                    - 'null'
                                    description: Followers reported by the source; null or absent is unknown, not zero.
                                additionalProperties: true
                              is_repost:
                                type:
                                - boolean
                                - 'null'
                                description: Source repost flag when known.
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - id
                                properties:
                                  id:
                                    type:
                                    - string
                                    description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    type:
                                    - string
                                    description: Original source URL when supplied.
                                    minLength: 1
                              - required:
                                - text
                                properties:
                                  text:
                                    type:
                                    - string
                                    description: Post text.
                                    minLength: 1
                              - required:
                                - created_at
                                properties:
                                  created_at:
                                    type:
                                    - string
                                    description: Source publication time, normalized to an ISO date-time when available.
                                    minLength: 1
                              - required:
                                - stats
                                properties:
                                  stats:
                                    type: object
                                    properties:
                                      likes:
                                        type:
                                        - number
                                        - 'null'
                                        description: likes reported by the source; null or absent is unknown, not zero.
                                      comments:
                                        type:
                                        - number
                                        - 'null'
                                        description: comments reported by the source; null or absent is unknown, not zero.
                                      shares:
                                        type:
                                        - number
                                        - 'null'
                                        description: shares reported by the source; null or absent is unknown, not zero.
                                    additionalProperties: true
                              - required:
                                - author
                                properties:
                                  author:
                                    type: object
                                    properties:
                                      name:
                                        type:
                                        - string
                                        - 'null'
                                        description: Author display name.
                                      url:
                                        type:
                                        - string
                                        - 'null'
                                        description: Original source URL when supplied.
                                      handle:
                                        type:
                                        - string
                                        - 'null'
                                        description: Public account identifier.
                                      followers:
                                        type:
                                        - number
                                        - 'null'
                                        description: Followers reported by the source; null or absent is unknown, not zero.
                                    additionalProperties: true
                              - required:
                                - is_repost
                                properties:
                                  is_repost:
                                    type:
                                    - boolean
                                    description: Source repost flag when known.
                          description: Records in this response page.
                        count:
                          type:
                          - number
                          - 'null'
                          description: Returned row count when supplied; not the full source total.
                        cursor:
                          type:
                          - string
                          - 'null'
                          description: Opaque next-page token. A missing token does not prove full history was retrieved.
                        has_more:
                          type:
                          - boolean
                          - 'null'
                          description: Source continuation indicator; null means unknown.
                        _warnings:
                          type: array
                          items:
                            type: string
                          description: Collection limitations or component warnings. Read before interpreting coverage.
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - items:
                        - id: urn:li:activity:1234567890123456789
                          text: Illustrative company post
                          stats:
                            likes: 12
                            comments: 3
                        cursor: null
[...]
