openapi: 3.2.0
info:
  title: Monocrawl Content Analysis API
  version: 0.1.0
  description: One key, one envelope, one credit meter across social, search, commerce and web data.
  contact:
    name: Monocrawl support
    url: https://www.monocrawl.com/contact
  termsOfService: https://www.monocrawl.com/legal/terms-and-conditions
servers:
- url: https://www.monocrawl.com
security:
- ApiKeyHeader: []
tags:
- name: Content Analysis
paths:
  /v1/content_analysis/categories:
    get:
      operationId: content_analysis_categories
      tags:
      - Content Analysis
      summary: Content Analysis categories
      description: Monocrawl's own mention-classification taxonomy (taxonomy id monocrawl.content_analysis.v1), including the full keyword list behind each category so any classification can be audited. Static, costs no credits. Free — costs 0 credits.
      parameters:
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/content_analysis/categories.json
                      title: content_analysis/categories data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        _warnings:
                          description: Optional  warnings supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        classification:
                          description: Optional classification supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            ai_used:
                              description: Optional ai used supplied by this operation. Null means unknown.
                              type:
                              - boolean
                              - 'null'
                            applied_to:
                              description: Optional applied to supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            method:
                              description: Optional method supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                          additionalProperties: true
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              code:
                                description: Optional code supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              description:
                                description: Source description; null or absent means not supplied.
                                type:
                                - string
                                - 'null'
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              term_count:
                                description: Optional term count supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              terms:
                                description: Optional terms supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - code
                                properties:
                                  code:
                                    description: Optional code supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - description
                                properties:
                                  description:
                                    description: Source description; null or absent means not supplied.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - name
                                properties:
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - term_count
                                properties:
                                  term_count:
                                    description: Optional term count supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - terms
                                properties:
                                  terms:
                                    description: Optional terms supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - string
                                      - 'null'
                        taxonomy:
                          description: Optional taxonomy supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - _warnings:
                        - example
                        classification:
                          ai_used: false
                          applied_to: example
                          method: example
                        count: 0
                        items:
                        - code: example
                          description: example
                          name: example
                          term_count: 0
                          terms:
                          - example
                        taxonomy: example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 0
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/content_analysis/filters:
    get:
      operationId: content_analysis_filters
      tags:
      - Content Analysis
      summary: Content Analysis filters
      description: The filterable fields for the content analysis endpoints — field, type, operators, allowed values, which endpoints accept it and whether it is applied upstream or locally. Generated from the adapter's own filter implementation, so it cannot drift. Static, costs no credits. Free — costs 0 credits.
      parameters:
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/content_analysis/filters.json
                      title: content_analysis/filters data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        _warnings:
                          description: Optional  warnings supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              applies_to:
                                description: Optional applies to supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              doc:
                                description: Optional doc supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              example:
                                description: Optional example supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              field:
                                description: Optional field supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              operators:
                                description: Optional operators supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              stage:
                                description: Optional stage supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              type:
                                description: Optional type supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              values:
                                description: Optional values supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - applies_to
                                properties:
                                  applies_to:
                                    description: Optional applies to supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - string
                                      - 'null'
                              - required:
                                - doc
                                properties:
                                  doc:
                                    description: Optional doc supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - example
                                properties:
                                  example:
                                    description: Optional example supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - field
                                properties:
                                  field:
                                    description: Optional field supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - operators
                                properties:
                                  operators:
                                    description: Optional operators supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - string
                                      - 'null'
                              - required:
                                - stage
                                properties:
                                  stage:
                                    description: Optional stage supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - values
                                properties:
                                  values:
                                    description: Optional values supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - string
                                      - 'null'
                        stages:
                          description: Optional stages supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            local:
                              description: Optional local supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            upstream:
                              description: Optional upstream supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                          additionalProperties: true
                        syntax:
                          description: Optional syntax supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - _warnings:
                        - example
                        count: 0
                        items:
                        - applies_to:
                          - example
                          doc: example
                          example: example
                          field: example
                          operators:
                          - example
                          stage: example
                          type: example
                          values:
                          - example
                        stages:
                          local: example
                          upstream: example
                        syntax: example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 0
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/content_analysis/languages:
    get:
      operationId: content_analysis_languages
      tags:
      - Content Analysis
      summary: Content Analysis languages
      description: Reference list of the ISO-639-1 language codes content analysis can genuinely filter on, each marked with which source honours it. Static, costs no credits. Free — costs 0 credits.
      parameters:
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/content_analysis/languages.json
                      title: content_analysis/languages data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        _warnings:
                          description: Optional  warnings supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              code:
                                description: Optional code supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              filterable_via:
                                description: Optional filterable via supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              note:
                                description: Optional note supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - code
                                properties:
                                  code:
                                    description: Optional code supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - filterable_via
                                properties:
                                  filterable_via:
                                    description: Optional filterable via supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - string
                                      - 'null'
                              - required:
                                - name
                                properties:
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - note
                                properties:
                                  note:
                                    description: Optional note supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - _warnings:
                        - example
                        count: 0
                        items:
                        - code: example
                          filterable_via:
                          - example
                          name: example
                          note: example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 0
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/content_analysis/locations:
    get:
      operationId: content_analysis_locations
      tags:
      - Content Analysis
      summary: Content Analysis locations
      description: Reference list of the ISO-3166 alpha-2 country codes content analysis can genuinely filter on — publisher country for news, storefront for rating-distribution. Static, costs no credits. Free — costs 0 credits.
      parameters:
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/content_analysis/locations.json
                      title: content_analysis/locations data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        _warnings:
                          description: Optional  warnings supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              code:
                                description: Optional code supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              filterable_via:
                                description: Optional filterable via supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              note:
                                description: Optional note supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - code
                                properties:
                                  code:
                                    description: Optional code supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - filterable_via
                                properties:
                                  filterable_via:
                                    description: Optional filterable via supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - string
                                      - 'null'
                              - required:
                                - name
                                properties:
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - note
                                properties:
                                  note:
                                    description: Optional note supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - _warnings:
                        - example
                        count: 0
                        items:
                        - code: example
                          filterable_via:
                          - example
                          name: example
                          note: example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 0
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/content_analysis/phrase-trends:
    get:
      operationId: content_analysis_phrase_trends
      tags:
      - Content Analysis
      summary: Keyword mention trends
      description: Mention volume and sentiment for a keyword bucketed by day, week or month across the sources we can reach. Bucket heights are bounded by each source's per-query cap, so the series is a shape, not a census — the response says so explicitly. Costs 5 credits per successful live response.
      parameters:
      - name: keyword
        in: query
        required: true
        schema:
          type: string
        example: kubernetes
        description: Phrase to trend
      - name: date_from
        in: query
        required: true
        schema:
          type: string
        example: '2026-08-01'
        description: ISO-8601 start of the window
      - name: date_to
        in: query
        required: false
        schema:
          type: string
        example: '2026-08-31'
        description: ISO-8601 end of the window (default now)
      - name: date_group
        in: query
        required: false
        schema:
          type: string
          enum:
          - day
          - week
          - month
        example: day
        description: 'day (default), week or month; max 400 buckets Accepted values: day, week, month. Case, spaces, hyphens and underscores are interchangeable.'
      - name: page_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - all
          - news
          - forum
          - social
          - discussion
        example: all
        description: 'all, news, forum, social or discussion Accepted values: all, news, forum, social, discussion. Case, spaces, hyphens and underscores are interchangeable.'
      - name: internal_list_limit
        in: query
        required: false
        schema:
          type: string
        example: '10'
        description: Length of the embedded top-terms list (max 50)
      - name: depth
        in: query
        required: false
        schema:
          type: string
        example: '100'
        description: Items fetched PER SOURCE before bucketing (max 100)
      - name: filters
        in: query
        required: false
        schema:
          type: string
        example: source:eq:hackernews
        description: field:op:value segments joined by ; — see /v1/content_analysis/filters
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/content_analysis/phrase-trends.json
                      title: content_analysis/phrase-trends data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        _warnings:
                          description: Optional  warnings supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        bucket_count:
                          description: Optional bucket count supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        buckets:
                          description: Optional buckets supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              bucket_end:
                                description: Optional bucket end supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              bucket_start:
                                description: Optional bucket start supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              by_source:
                                description: Optional by source supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  google_news:
                                    description: Optional google news supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  hackernews:
                                    description: Optional hackernews supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  reddit:
                                    description: Optional reddit supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                additionalProperties: true
                              mentions:
                                description: Optional mentions supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              sentiment:
                                description: Optional sentiment supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  mean_score:
                                    description: Optional mean score supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  negative:
                                    description: Optional negative supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  neutral:
                                    description: Optional neutral supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  positive:
                                    description: Optional positive supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                additionalProperties: true
                            additionalProperties: true
                        date_from:
                          description: Optional date from supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        date_group:
                          description: Optional date group supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        date_to:
                          description: Optional date to supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        excluded:
                          description: Optional excluded supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            out_of_window_mentions:
                              description: Optional out of window mentions supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            undated_mentions:
                              description: Optional undated mentions supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                          additionalProperties: true
                        filters_applied:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        keyword:
                          description: Optional keyword supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        sentiment_method:
                          description: Optional sentiment method supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            ai_used:
                              description: Optional ai used supplied by this operation. Null means unknown.
                              type:
                              - boolean
                              - 'null'
                            kind:
                              description: Optional kind supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            known_limits:
                              description: Optional known limits supplied by this operation. Null means unknown.
                              type:
                              - array
                              - 'null'
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            lexicon:
                              description: Optional lexicon supplied by this operation. Null means unknown.
                              type:
                              - object
                              - 'null'
                              properties:
                                diminishers:
                                  description: Optional diminishers supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                intensifiers:
                                  description: Optional intensifiers supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                negative_terms:
                                  description: Optional negative terms supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                negators:
                                  description: Optional negators supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                positive_terms:
                                  description: Optional positive terms supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                total_terms:
                                  description: Optional total terms supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                              additionalProperties: true
                            modifiers:
                              description: Optional modifiers supplied by this operation. Null means unknown.
                              type:
                              - object
                              - 'null'
                              properties:
                                diminisher:
                                  description: Optional diminisher supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                intensifier:
                                  description: Optional intensifier supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                matching:
                                  description: Optional matching supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                negation:
                                  description: Optional negation supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              additionalProperties: true
                            scoring:
                              description: Optional scoring supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            thresholds:
                              description: Optional thresholds supplied by this operation. Null means unknown.
                              type:
                              - object
                              - 'null'
                              properties:
                                negative:
                                  description: Optional negative supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                positive:
                                  description: Optional positive supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                              additionalProperties: true
                          additionalProperties: true
                        sources:
                          description: Optional sources supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              endpoint:
                                description: Optional endpoint supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              error:
                                description: Optional error supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              kept:
                                description: Optional kept supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              ok:
                                description: Optional ok supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              returned:
                                description: Optional returned supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              source:
                                description: Optional source supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              status:
                                description: Optional status supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                            additionalProperties: true
                        sources_unavailable:
                          description: Optional sources unavailable supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              reason:
                                description: Optional reason supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              source:
                                description: Optional source supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        top_terms:
                          description: Optional top terms supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              mentions:
                                description: Optional mentions supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              occurrences:
                                description: Optional occurrences supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              term:
                                description: Optional term supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        totals:
                          description: Optional totals supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            buckets_with_mentions:
                              description: Optional buckets with mentions supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            duplicates_removed:
                              description: Optional duplicates removed supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            gathered_before_filters:
                              description: Optional gathered before filters supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            mentions:
                              description: Optional mentions supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            peak_bucket:
                              description: Optional peak bucket supplied by this operation. Null means unknown.
                              type:
                              - object
                              - 'null'
                              properties:
                                bucket_start:
                                  description: Optional bucket start supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                mentions:
                                  description: Optional mentions supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                              additionalProperties: true
                            sentiment:
                              description: Optional sentiment supplied by this operation. Null means unknown.
                              type:
                              - object
                              - 'null'
                              properties:
                                max_score:
                                  description: Optional max score supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                mean_score:
                                  description: Optional mean score supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                median_score:
                                  description: Optional median score supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                min_score:
                                  description: Optional min score supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                negative:
                                  description: Optional negative supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                neutral:
                                  description: Optional neutral supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                positive:
                                  description: Optional positive supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                total:
                                  description: Source-reported total; null is unknown.
                                  type:
                                  - number
                                  - 'null'
                              additionalProperties: true
                          additionalProperties: true
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - bucket_count
                          properties:
                            bucket_count:
                              description: Optional bucket count supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - buckets
                          properties:
                            buckets:
                              description: Optional buckets supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  bucket_end:
                                    description: Optional bucket end supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  bucket_start:
                                    description: Optional bucket start supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  by_source:
                                    description: Optional by source supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      google_news:
                                        description: Optional google news supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      hackernews:
                                        description: Optional hackernews supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      reddit:
                                        description: Optional reddit supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                    additionalProperties: true
                                  mentions:
                                    description: Optional mentions supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  sentiment:
                                    description: Optional sentiment supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      mean_score:
                                        description: Optional mean score supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      negative:
                                        description: Optional negative supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      neutral:
                                        description: Optional neutral supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      positive:
                                        description: Optional positive supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                    additionalProperties: true
                                additionalProperties: true
                        - required:
                          - date_from
                          properties:
                            date_from:
                              description: Optional date from supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - date_group
                          properties:
                            date_group:
                              description: Optional date group supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - date_to
                          properties:
                            date_to:
                              description: Optional date to supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - excluded
                          properties:
                            excluded:
                              description: Optional excluded supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties:
                                out_of_window_mentions:
                                  description: Optional out of window mentions supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                undated_mentions:
                                  description: Optional undated mentions supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                              additionalProperties: true
                        - required:
                          - filters_applied
                          properties:
                            filters_applied:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              items: {}
                        - required:
                          - sentiment_method
                          properties:
                            sentiment_method:
                              description: Optional sentiment method supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties:
                                ai_used:
                                  description: Optional ai used supplied by this operation. Null means unknown.
                                  type:
                                  - boolean
                                  - 'null'
                                kind:
                                  description: Optional kind supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                known_limits:
                                  description: Optional known limits supplied by this operation. Null means unknown.
                                  type:
                                  - array
                                  - 'null'
                                  items:
                                    description: Optional record supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                lexicon:
                                  description: Optional lexicon supplied by this operation. Null means unknown.
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    diminishers:
                                      description: Optional diminishers supplied by this operation. Null means unknown.
                                      type:
                                      - number
                                      - 'null'
                                    intensifiers:
                                      description: Optional intensifiers supplied by this operation. Null means unknown.
                                      type:
                                      - number
                                      - 'null'
                                    negative_terms:
                                      description: Optional negative terms supplied by this operation. Null means unknown.
                                      type:
                                      - number
                                      - 'null'
                                    negators:
                                      description: Optional negators supplied by this operation. Null means unknown.
                                      type:
                                      - number
                                      - 'null'
                                    positive_terms:
                                      description: Optional positive terms supplied by this operation. Null means unknown.
                                      type:
                                      - number
                                      - 'null'
                                    total_terms:
                                      description: Optional total terms supplied by this operation. Null means unknown.
                                      type:
                                      - number
                                      - 'null'
                                  additionalProperties: true
                                modifiers:
                                  description: Optional modifiers supplied by this operation. Null means unknown.
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    diminisher:
                                      description: Optional diminisher supplied by this operation. Null means unknown.
                                      type:
                                      - string
                                      - 'null'
                                    intensifier:
                                      description: Optional intensifier supplied by this operation. Null means unknown.
                                      type:
                                      - string
                                      - 'null'
                                    matching:
                                      description: Optional matching supplied by this operation. Null means unknown.
                                      type:
                                      - string
                                      - 'null'
                                    negation:
                                      description: Optional negation supplied by this operation. Null means unknown.
                                      type:
                                      - string
                                      - 'null'
                                  additionalProperties: true
                                scoring:
                                  description: Optional scoring supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                thresholds:
                                  description: Optional thresholds supplied by this operation. Null means unknown.
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    negative:
                                      description: Optional negative supplied by this operation. Null means unknown.
                                      type:
                                      - number
                                      - 'null'
                                    positive:
                                      description: Optional positive supplied by this operation. Null means unknown.
                                      type:
                                      - number
                                      - 'null'
                                  additionalProperties: true
                              additionalProperties: true
                        - required:
                          - sources
                          properties:
                            sources:
                              description: Optional sources supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  endpoint:
                                    description: Optional endpoint supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  error:
                                    description: Optional error supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  kept:
                                    description: Optional kept supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  ok:
                                    description: Optional ok supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                                    - 'null'
                                  returned:
                                    description: Optional returned supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  source:
                                    description: Optional source supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  status:
                                    description: Optional status supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                additionalProperties: true
                        - required:
                          - sources_unavailable
                          properties:
                            sources_unavailable:
                              description: Optional sources unavailable supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  reason:
                                    description: Optional reason supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  source:
                                    description: Optional source supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                        - required:
                          - top_terms
                          properties:
                            top_terms:
                              description: Optional top terms supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  mentions:
                                    description: Optional mentions supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  occurrences:
                                    description: Optional occurrences supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  term:
                                    description: Optional term supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                        - required:
                          - totals
                          properties:
                            totals:
                              description: Optional totals supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties:
                                buckets_with_mentions:
                                  description: Optional buckets with mentions supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                duplicates_removed:
                                  description: Optional duplicates removed supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                gathered_before_filters:
                                  description: Optional gathered before filters supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                mentions:
                                  description: Optional mentions supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                peak_bucket:
                                  description: Optional peak bucket supplied by this operation. Null means unknown.
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    bucket_start:
                                      description: Optional bucket start supplied by this operation. Null means unknown.
                                      type:
                                      - string
                                      - 'null'
                                    mentions:
                                      description: Optional mentions supplied by this operation. Null means unknown.
                                      type:
                                      - number
                                      - 'null'
                                  additionalProperties: true
                                sentiment:
                                  description: Optional sentiment supplied by this operation. Null means unknown.
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    max_score:
                                      description: Optional max score supplied by this operation. Null means unknown.
                                      type:
                                      - number
                                      - 'null'
                                    mean_score:
                                      description: Optional mean score supplied by this operation. Null means unknown.
                                      type:
                                      - number
                                      - 'null'
                                    median_score:
                                      description: Optional median score supplied by this operation. Null means unknown.
                                      type:
                                      - number
                                      - 'null'
                                    min_score:
                                      description: Optional min score supplied by this operation. Null means unknown.
                                      type:
                                      - number
                                      - 'null'
                                    negative:
                                      description: Optional negative supplied by this operation. Null means unknown.
                                      type:
                                      - number
                                      - 'null'
                                    neutral:
                                      description: Optional neutral supplied by this operation. Null means unknown.
                                      type:
                                      - number
                                      - 'null'
                                    positive:
                                      description: Optional positive supplied by this operation. Null means unknown.
                                      type:
                                      - number
                                      - 'null'
                                    total:
                                      description: Source-reported total; null is unknown.
                                      type:
                                      - number
                                      - 'null'
                                  additionalProperties: true
                              additionalProperties: true
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - _warnings:
                        - example
                        bucket_count: 0
                        buckets:
                        - bucket_end: example
                          bucket_start: example
                          by_source:
                            google_news: 0
                            hackernews: 0
                            reddit: 0
                          mentions: 0
                          sentiment:
                            mean_score: 0
                            negative: 0
                            neutral: 0
                            positive: 0
                        date_from: '2026-09-01T12:00:00Z'
                        date_group: '2026-09-01T12:00:00Z'
                        date_to: '2026-09-01T12:00:00Z'
                        excluded:
                          out_of_window_mentions: 0
                          undated_mentions: 0
                        filters_applied: []
                        keyword: example
                        sentiment_method:
                          ai_used: false
                          kind: example
                          known_limits:
                          - example
                          lexicon:
                            diminishers: 0
                            intensifiers: 0
                            negative_terms: 0
                            negators: 0
                            positive_terms: 0
                            total_terms: 0
                          modifiers:
                            diminisher: example
                            intensifier: example
                            matching: example
                            negation: example
                          scoring: example
                          thresholds:
                            negative: 0
                            positive: 0
                        sources:
                        - endpoint: example
                          error: example
                          kept: 0
                          ok: false
                          returned: 0
                          source: example
                          status: 0
                        sources_unavailable:
                        - reason: example
                          source: example
                        top_terms:
                        - mentions: 0
                          occurrences: 0
                          term: example
                        totals:
                          buckets_with_mentions: 0
                          duplicates_removed: 0
                          gathered_before_filters: 0
                          mentions: 0
                          peak_bucket:
                            bucket_start: example
                            mentions: 0
                          sentiment:
                            max_score: 0
                            mean_score: 0
                            median_score: 0
                            min_score: 0
                            negative: 0
                            neutral: 0
                            positive: 0
                            total: 0
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 5
      x-production-available: true
      x-capacity:
        status: not_assessed
[...]
