openapi: 3.2.0
info:
  title: Monocrawl G2 API
  version: 0.1.0
  description: One key, one envelope, one credit meter across social, search, commerce and web data.
  contact:
    name: Monocrawl support
    url: https://www.monocrawl.com/contact
  termsOfService: https://www.monocrawl.com/legal/terms-and-conditions
servers:
- url: https://www.monocrawl.com
security:
- ApiKeyHeader: []
tags:
- name: G2
paths:
  /v1/g2/category:
    get:
      operationId: g2_category
      tags:
      - G2
      summary: G2 category products
      description: The products in a G2 software category, with their typical user roles, industries and market segments. Re-wired 6 Sep 2026 on the platform's own page reader (migration 195) after the listing failed. Costs 2 credits per successful live response.
      parameters:
      - name: category
        in: query
        required: true
        schema:
          type: string
        example: marketing-automation
        description: Category slug or the full G2 category URL
      - name: page
        in: query
        required: false
        schema:
          type: string
        example: '1'
        description: Page of 15 products
      - name: sort
        in: query
        required: false
        schema:
          type: string
          enum:
          - g2-score
          - popularity
          - satisfaction
        example: g2-score
        description: 'g2-score, popularity or satisfaction Accepted values: g2-score, popularity, satisfaction. Case, spaces, hyphens and underscores are interchangeable.'
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/g2/category.json
                      title: g2/category data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        breadcrumbs:
                          description: Optional breadcrumbs supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        cursor:
                          description: Opaque next-page token; pass it back unchanged. Null does not prove complete history.
                          type:
                          - string
                          - 'null'
                        description:
                          description: Source description; null or absent means not supplied.
                          type:
                          - string
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              cons:
                                description: Optional cons supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              image:
                                description: Optional image supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              platform:
                                description: Optional platform supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              position:
                                description: Optional position supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              pricing:
                                description: Optional pricing supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  currency:
                                    description: Optional currency supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  high:
                                    description: Optional high supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  low:
                                    description: Optional low supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  offers:
                                    description: Optional offers supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                additionalProperties: true
                              product_id:
                                description: Optional product id supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              product_uuid:
                                description: Optional product uuid supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              pros:
                                description: Optional pros supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              rating:
                                description: Source rating; read its accompanying scale and vote count.
                                type:
                                - object
                                - 'null'
                                properties:
                                  average:
                                    description: Optional average supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  count:
                                    description: Number of records in this response, not lifetime or total matches.
                                    type:
                                    - number
                                    - 'null'
                                additionalProperties: true
                              slug:
                                description: Optional slug supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              type:
                                description: Optional type supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                              vendor:
                                description: Optional vendor supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - number
                                    - 'null'
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  slug:
                                    description: Optional slug supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - cons
                                properties:
                                  cons:
                                    description: Optional cons supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - string
                                      - 'null'
                              - required:
                                - image
                                properties:
                                  image:
                                    description: Optional image supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - name
                                properties:
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - position
                                properties:
                                  position:
                                    description: Optional position supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - pricing
                                properties:
                                  pricing:
                                    description: Optional pricing supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    properties:
                                      currency:
                                        description: Optional currency supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      high:
                                        description: Optional high supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      low:
                                        description: Optional low supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      offers:
                                        description: Optional offers supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - product_id
                                properties:
                                  product_id:
                                    description: Optional product id supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - product_uuid
                                properties:
                                  product_uuid:
                                    description: Optional product uuid supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - pros
                                properties:
                                  pros:
                                    description: Optional pros supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - string
                                      - 'null'
                              - required:
                                - rating
                                properties:
                                  rating:
                                    description: Source rating; read its accompanying scale and vote count.
                                    type:
                                    - object
                                    properties:
                                      average:
                                        description: Optional average supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      count:
                                        description: Number of records in this response, not lifetime or total matches.
                                        type:
                                        - number
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - slug
                                properties:
                                  slug:
                                    description: Optional slug supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - vendor
                                properties:
                                  vendor:
                                    description: Optional vendor supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    properties:
                                      id:
                                        description: Source identifier. Preserve the supplied type and exact value.
                                        type:
                                        - number
                                        - 'null'
                                      name:
                                        description: Optional name supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      slug:
                                        description: Optional slug supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      url:
                                        description: Original source URL when supplied.
                                        type:
                                        - string
                                        - 'null'
                                    additionalProperties: true
                        name:
                          description: Optional name supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        page:
                          description: Optional page supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        page_size:
                          description: Optional page size supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        pages:
                          description: Optional pages supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        platform:
                          description: Optional platform supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        slug:
                          description: Optional slug supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        sort:
                          description: Optional sort supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            order_param:
                              description: Optional order param supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            requested:
                              description: Optional requested supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            verified:
                              description: Optional verified supplied by this operation. Null means unknown.
                              type:
                              - boolean
                              - 'null'
                          additionalProperties: true
                        source:
                          description: Optional source supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        total_listings:
                          description: Optional total listings supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        type:
                          description: Optional type supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        url:
                          description: Original source URL when supplied.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - breadcrumbs:
                        - name: example
                          url: https://example.com/example
                        count: 0
                        cursor: null
                        description: example
                        has_more: false
                        items:
                        - cons:
                          - example
                          image: https://example.com/example
                          name: example
                          platform: example
                          position: 0
                          pricing:
                            currency: example
                            high: 0
                            low: 0
                            offers: 0
                          product_id: 0
                          product_uuid: example
                          pros:
                          - example
                          rating:
                            average: 0
                            count: 0
                          slug: example
                          type: example
                          url: https://example.com/example
                          vendor:
                            id: 0
                            name: example
                            slug: example
                            url: https://example.com/example
                        name: example
                        page: 0
                        page_size: 0
                        pages: 0
                        platform: example
                        slug: example
                        sort:
                          order_param: example
                          requested: example
                          verified: false
                        source: example
                        total_listings: 0
                        type: example
                        url: https://example.com/example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 2
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/g2/category-links:
    get:
      operationId: g2_category_links
      tags:
      - G2
      summary: G2 category directory
      description: The directory of every software category on G2, 500 links per page. Costs 1 credit per successful live response.
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: string
        example: '1'
        description: Page of 500 category links
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/g2/category-links.json
                      title: g2/category-links data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        cursor:
                          description: Opaque next-page token; pass it back unchanged. Null does not prove complete history.
                          type:
                          - string
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              slug:
                                description: Optional slug supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - slug
                                properties:
                                  slug:
                                    description: Optional slug supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    minLength: 1
                        last_page:
                          description: Optional last page supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        page:
                          description: Optional page supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        per_page:
                          description: Optional per page supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        total:
                          description: Source-reported total; null is unknown.
                          type:
                          - number
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - count: 0
                        cursor: null
                        has_more: false
                        items:
                        - slug: example
                          url: https://example.com/example
                        last_page: 0
                        page: 0
                        per_page: 0
                        total: 0
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/g2/product:
    get:
      operationId: g2_product
      tags:
      - G2
      summary: G2 product profile
      description: 'A software product''s G2 profile: rating, review count, pricing plans, feature scores, alternatives, comparisons, company details and public social profiles. Contact details are never included. Costs 8 credits per successful live response.'
      parameters:
      - name: product
        in: query
        required: true
        schema:
          type: string
        example: postman
        description: Product slug or the full G2 product URL
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/g2/product.json
                      title: g2/product data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        alternatives:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        categories:
                          description: Optional categories supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        category:
                          description: Optional category supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            name:
                              description: Optional name supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                          additionalProperties: true
                        company:
                          description: Optional company supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties: {}
                          additionalProperties: true
                        comparisons:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        description:
                          description: Source description; null or absent means not supplied.
                          type:
                          - string
                          - 'null'
                        features:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        logo:
                          description: Optional logo supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        name:
                          description: Optional name supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        platform:
                          description: Optional platform supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        pricing_plans:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        rating:
                          description: Source rating; read its accompanying scale and vote count.
                          type:
                          - number
                          - 'null'
                        review_count:
                          description: Optional review count supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        reviews_url:
                          description: Optional reviews url supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        score:
                          description: Optional score supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        seller:
                          description: Optional seller supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            name:
                              description: Optional name supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                          additionalProperties: true
                        slug:
                          description: Optional slug supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        social:
                          description: Optional social supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            discord:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              - 'null'
                              items: {}
                            facebook:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              - 'null'
                              items: {}
                            github:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              - 'null'
                              items: {}
                            instagram:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              - 'null'
                              items: {}
                            linkedin:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              - 'null'
                              items: {}
                            twitter:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              - 'null'
                              items: {}
                            youtube:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              - 'null'
                              items: {}
                          additionalProperties: true
                        summary:
                          description: Optional summary supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        technologies:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        url:
                          description: Original source URL when supplied.
                          type:
                          - string
                          - 'null'
                        website_inferred:
                          description: Optional website inferred supplied by this operation. Null means unknown.
                          type:
                          - boolean
                          - 'null'
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - alternatives
                          properties:
                            alternatives:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              items: {}
                        - required:
                          - categories
                          properties:
                            categories:
                              description: Optional categories supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                        - required:
                          - category
                          properties:
                            category:
                              description: Optional category supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties:
                                name:
                                  description: Optional name supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              additionalProperties: true
                        - required:
                          - company
                          properties:
                            company:
                              description: Optional company supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties: {}
                              additionalProperties: true
                        - required:
                          - comparisons
                          properties:
                            comparisons:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              items: {}
                        - required:
                          - description
                          properties:
                            description:
                              description: Source description; null or absent means not supplied.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - features
                          properties:
                            features:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              items: {}
                        - required:
                          - logo
                          properties:
                            logo:
                              description: Optional logo supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - name
                          properties:
                            name:
                              description: Optional name supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - pricing_plans
                          properties:
                            pricing_plans:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              items: {}
                        - required:
                          - rating
                          properties:
                            rating:
                              description: Source rating; read its accompanying scale and vote count.
                              type:
                              - number
                        - required:
                          - review_count
                          properties:
                            review_count:
                              description: Optional review count supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - reviews_url
                          properties:
                            reviews_url:
                              description: Optional reviews url supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - score
                          properties:
                            score:
                              description: Optional score supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - seller
                          properties:
                            seller:
                              description: Optional seller supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties:
                                name:
                                  description: Optional name supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              additionalProperties: true
                        - required:
                          - slug
                          properties:
                            slug:
                              description: Optional slug supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - social
                          properties:
                            social:
                              description: Optional social supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties:
                                discord:
                                  description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                  type:
                                  - array
                                  - 'null'
                                  items: {}
                                facebook:
                                  description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                  type:
                                  - array
                                  - 'null'
                                  items: {}
                                github:
                                  description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                  type:
                                  - array
                                  - 'null'
                                  items: {}
                                instagram:
                                  description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                  type:
                                  - array
                                  - 'null'
                                  items: {}
                                linkedin:
                                  description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                  type:
                                  - array
                                  - 'null'
                                  items: {}
                                twitter:
                                  description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                  type:
                                  - array
                                  - 'null'
                                  items: {}
                                youtube:
                                  description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                  type:
                                  - array
                                  - 'null'
                                  items: {}
                              additionalProperties: true
                        - required:
                          - summary
                          properties:
                            summary:
                              description: Optional summary supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - technologies
                          properties:
                            technologies:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              items: {}
                        - required:
                          - url
                          properties:
                            url:
                              description: Original source URL when supplied.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - website_inferred
                          properties:
                            website_inferred:
                              description: Optional website inferred supplied by this operation. Null means unknown.
                              type:
                              - boolean
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - alternatives: []
                        categories:
                        - name: example
                        category:
                          name: example
                        company: {}
                        comparisons: []
                        description: example
                        features: []
                        logo: example
                        name: example
                        platform: example
                        pricing_plans: []
                        rating: 0
                        review_count: 0
                        reviews_url: https://example.com/example
                        score: 0
                        seller:
                          name: example
                        slug: example
                        social:
                          discord: []
                          facebook: []
                          github: []
                          instagram: []
                          linkedin: []
                          twitter: []
                          youtube: []
                        summary: example
                        technologies: []
                        url: https://example.com/example
                        website_inferred: false
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 8
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/g2/product-links:
    get:
      operationId: g2_product_links
      tags:
      - G2
      summary: G2 product directory
      description: The directory of every product profile on G2, 500 links per page, for crawling the catalogue end to end. Costs 2 credits per successful live response.
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: string
        example: '1'
        description: Page of 500 product links
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/g2/product-links.json
                      title: g2/product-links data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        cursor:
                          description: Opaque next-page token; pass it back unchanged. Null does not prove complete history.
                          type:
                          - string
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              slug:
                                description: Optional slug supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - slug
                                properties:
                                  slug:
                                    description: Optional slug supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    minLength: 1
                        last_page:
                          description: Optional last page supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        page:
                          description: Optional page supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        per_page:
                          description: Optional per page supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        total:
                          description: Source-reported total; null is unknown.
                          type:
                          - number
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - count: 0
                        cursor: null
                        has_more: false
                        items:
                        - slug: example
                          url: https://example.com/example
                        last_page: 0
                        page: 0
                        per_page: 0
                        total: 0
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 2
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/g2/reviews:
    get:
      operationId: g2_reviews
      tags:
      - G2
      summary: G2 reviews
      description: Reviews of a software product, ten per page, with rating, text, date and the reviewer's role, company size and industry; filterable by stars, segment, industry, role, region and keywords. Costs 8 credits per successful live response.
      parameters:
      - name: product
        in: query
        required: true
        schema:
          type: string
        example: postman
        description: Product slug or the full G2 product URL
      - name: page
        in: query
        required: false
        schema:
          type: string
        example: '1'
        description: Page of 10 reviews; the response carries last_page and a cursor
      - name: stars
        in: query
        required: false
        schema:
          type: string
        example: 4,5
        description: Star ratings to include, comma-separated
      - name: segment
        in: query
        required: false
        schema:
          type: string
          enum:
          - small-business
          - mid-market
          - enterprise
        example: mid-market
        description: 'small-business, mid-market or enterprise Accepted values: small-business, mid-market, enterprise. Case, spaces, hyphens and underscores are interchangeable.'
      - name: industry
        in: query
        required: false
        schema:
          type: string
        example: '274'
        description: Industry ids from available_filters, comma-separated
      - name: role
        in: query
        required: false
        schema:
          type: string
        example: user
        description: Reviewer role names or ids, comma-separated
      - name: region
        in: query
        required: false
        schema:
          type: string
        example: Europe
        description: Reviewer region, comma-separated
      - name: sort
        in: query
        required: false
        schema:
          type: string
          enum:
          - default
          - most-recent
          - most-helpful
          - highest-rated
          - lowest-rated
        example: most-recent
        description: 'default, most-recent, most-helpful, highest-rated or lowest-rated Accepted values: default, most-recent, most-helpful, highest-rated, lowest-rated. Case, spaces, hyphens and underscores are interchangeable.'
      - name: keywords
        in: query
        required: false
        schema:
          type: string
        example: api testing
        description: Only reviews mentioning this text
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/g2/reviews.json
                      title: g2/reviews data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              dislikes:
                                description: Optional dislikes supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              helpful_count:
                                description: Optional helpful count supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              likes:
                                description: Optional likes supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              nps_score:
                                description: Optional nps score supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              platform:
                                description: Optional platform supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              posted_at:
                                description: Optional posted at supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              product:
                                description: Optional product supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              reviewer:
                                description: Optional reviewer supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                              text:
                                description: Source text when supplied.
                                type:
                                - string
                                - 'null'
                              title:
                                description: Source title when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - dislikes
                                properties:
                                  dislikes:
                                    description: Optional dislikes supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - helpful_count
                                properties:
                                  helpful_count:
                                    description: Optional helpful count supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - likes
                                properties:
                                  likes:
                                    description: Optional likes supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - nps_score
                                properties:
                                  nps_score:
                                    description: Optional nps score supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - posted_at
                                properties:
                                  posted_at:
                                    description: Optional posted at supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - product
                                properties:
                                  product:
                                    description: Optional product supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - reviewer
                                properties:
                                  reviewer:
                                    description: Optional reviewer supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    properties:
                                      name:
                                        description: Optional name supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - text
                                properties:
                                  text:
                                    description: Source text when supplied.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - title
                                properties:
                                  title:
                                    description: Source title when supplied.
                                    type:
                                    - string
                                    minLength: 1
                        product:
                          description: Optional product supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        total_reviews:
                          description: Optional total reviews supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - count: 0
                        has_more: false
                        items:
                        - dislikes: example
                          helpful_count: 0
                          id: example
                          likes: example
                          nps_score: 0
                          platform: example
                          posted_at: '2026-09-01T12:00:00Z'
                          product: example
                          reviewer:
                            name: example
                          text: example
                          title: example
                        product: example
                        total_reviews: 0
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 8
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/g2/seller:
    get:
      operationId: g2_seller
      tags:
      - G2
      summary: G2 seller profile
      description: A software vendor's G2 seller profile with its product portfolio and cross-product review teasers. Re-wired 6 Sep 2026 on the platform's own page reader (migration 195) after the listing failed. Costs 1 credit per successful live response.
      parameters:
      - name: seller
        in: query
        required: true
        schema:
          type: string
        example: hubspot
        description: Seller slug or the full G2 seller URL
      - name: products_page
        in: query
        required: false
        schema:
          type: string
        example: '1'
        description: Page of the seller's products (9 per page)
      - name: reviews_page
        in: query
        required: false
        schema:
          type: string
        example: '1'
        description: Page of cross-product review teasers (3 per page, up to 10 pages)
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/g2/seller.json
                      title: g2/seller data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        about:
                          description: Optional about supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            description:
                              description: Source description; null or absent means not supplied.
                              type:
                              - string
                              - 'null'
                            hq_location:
                              description: Optional hq location supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            linkedin:
                              description: Optional linkedin supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            ownership:
                              description: Optional ownership supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            phone:
                              description: Optional phone supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            social_handle:
                              description: Optional social handle supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            website:
                              description: Optional website supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            year_founded:
                              description: Optional year founded supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                          additionalProperties: true
                        featured_products:
                          description: Optional featured products supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              description:
                                description: Source description; null or absent means not supplied.
                                type:
                                - string
                                - 'null'
                              image:
                                description: Optional image supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              platform:
                                description: Optional platform supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              product_id:
                                description: Optional product id supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              product_uuid:
                                description: Optional product uuid supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              recognised:
                                description: Optional recognised supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              review_count:
                                description: Optional review count supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              slug:
                                description: Optional slug supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              type:
                                description: Optional type supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        name:
                          description: Optional name supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        platform:
                          description: Optional platform supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        products:
                          description: Optional products supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            count:
                              description: Number of records in this response, not lifetime or total matches.
                              type:
                              - number
                              - 'null'
                            cursor:
                              description: Opaque next-page token; pass it back unchanged. Null does not prove complete history.
                              type:
                              - string
                              - 'null'
                            has_more:
                              description: Source continuation indicator; null means unknown.
                              type:
                              - boolean
                              - 'null'
                            items:
                              description: Returned records. Source coverage and completeness vary.
                              type:
                              - array
                              - 'null'
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  description:
                                    description: Source description; null or absent means not supplied.
                                    type:
                                    - string
                                    - 'null'
                                  image:
                                    description: Optional image supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  kind:
                                    description: Optional kind supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  platform:
                                    description: Optional platform supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  product_id:
                                    description: Optional product id supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  product_uuid:
[...]
