openapi: 3.2.0
info:
  title: Monocrawl Hacker News API
  version: 0.1.0
  description: One key, one envelope, one credit meter across social, search, commerce and web data.
  contact:
    name: Monocrawl support
    url: https://www.monocrawl.com/contact
  termsOfService: https://www.monocrawl.com/legal/terms-and-conditions
servers:
- url: https://www.monocrawl.com
security:
- ApiKeyHeader: []
tags:
- name: Hacker News
paths:
  /v1/hackernews/profile:
    get:
      operationId: hackernews_profile
      tags:
      - Hacker News
      summary: Hacker News profile
      description: Karma, join date, about text and submission count for a Hacker News account, merged from the official Firebase API and the Algolia index. Costs 1 credit per successful live response.
      parameters:
      - name: handle
        in: query
        required: true
        schema:
          type: string
        example: pg
        description: Hacker News username
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: judgments
        in: query
        required: false
        schema:
          type: string
          enum:
          - 'on'
          - 'off'
        example: 'on'
        description: 'Add bounded AI labels to eligible returned records (default on). off preserves the original data shape. Unclassified records remain present; labels depend on evidence, time, capacity and the existing request budget. No label surcharge. Accepted values: on, off. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label
        in: query
        required: false
        schema:
          type: string
          enum:
          - default
          - none
        example: none
        description: 'Set none to disable labels; default enables the endpoint’s label set. Equivalent to judgments=off. Accepted values: default, none. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label_evidence
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Include exact supporting sentences and zero-based sentence indexes when a label has validated evidence. No extra charge or change to decisions. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: exclude
        in: query
        required: false
        schema:
          type: string
          enum:
          - engagement_bait
        example: engagement_bait
        description: 'Optionally remove confidently labelled engagement bait. Uncertain and unclassified records stay; removed IDs and an owner-bound recall reference are returned. Accepted values: engagement_bait. Case, spaces, hyphens and underscores are interchangeable.'
      - name: fit
        in: query
        required: false
        schema:
          type: string
          enum:
          - goal
        example: goal
        description: 'Use goal to replace confidently irrelevant records with recall stubs. Keeps first, last, relevant and uncertain records; preserves order. Full evidence is stored for 24 hours when available. Accepted values: goal. Case, spaces, hyphens and underscores are interchangeable.'
      - name: goal
        in: query
        required: false
        schema:
          type: string
        example: Find concrete product complaints
        description: 'Required with fit=goal: describe the task in at most 600 characters. Supplied text is task context, never permission to act on posts.'
      - name: tokens
        in: query
        required: false
        schema:
          type: string
        example: '4000'
        description: Optional soft response target for fit=goal, 256–32000. Safety and evidence retention take priority, so the returned result may exceed it.
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/hackernews/profile.json
                      title: hackernews/profile data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        _warnings:
                          description: Optional  warnings supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        about:
                          description: Optional about supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        created_at:
                          description: Source creation time, not the API retrieval time.
                          type:
                          - string
                          - 'null'
                        handle:
                          description: Optional handle supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        id:
                          description: Source identifier. Preserve the supplied type and exact value.
                          type:
                          - string
                          - 'null'
                        karma:
                          description: Optional karma supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        sources:
                          description: Optional sources supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              ok:
                                description: Optional ok supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              source:
                                description: Optional source supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        submitted_count:
                          description: Optional submitted count supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        url:
                          description: Original source URL when supplied.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - about
                          properties:
                            about:
                              description: Optional about supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - created_at
                          properties:
                            created_at:
                              description: Source creation time, not the API retrieval time.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - handle
                          properties:
                            handle:
                              description: Optional handle supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - id
                          properties:
                            id:
                              description: Source identifier. Preserve the supplied type and exact value.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - karma
                          properties:
                            karma:
                              description: Optional karma supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - sources
                          properties:
                            sources:
                              description: Optional sources supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  ok:
                                    description: Optional ok supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                                    - 'null'
                                  source:
                                    description: Optional source supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                        - required:
                          - submitted_count
                          properties:
                            submitted_count:
                              description: Optional submitted count supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - url
                          properties:
                            url:
                              description: Original source URL when supplied.
                              type:
                              - string
                              minLength: 1
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - _warnings:
                        - example
                        about: example
                        created_at: '2026-09-01T12:00:00Z'
                        handle: example
                        id: example
                        karma: 0
                        sources:
                        - ok: false
                          source: example
                        submitted_count: 0
                        url: https://example.com/example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/hackernews/search:
    get:
      operationId: hackernews_search
      tags:
      - Hacker News
      summary: Hacker News search
      description: Full-text search over Hacker News stories and comments with tag and numeric filters, via the Algolia HN index. Costs 1 credit per successful live response.
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        example: dropbox
        description: Full-text search query
      - name: tags
        in: query
        required: false
        schema:
          type: string
        example: story
        description: 'Algolia tag filter: story, comment, poll, show_hn, ask_hn, front_page, author_USERNAME, story_ID. Comma-separated tags AND together; parentheses OR.'
      - name: numericFilters
        in: query
        required: false
        schema:
          type: string
        example: points>100
        description: Comma-separated numeric conditions on points, num_comments or created_at_i
      - name: hitsPerPage
        in: query
        required: false
        schema:
          type: string
        example: '25'
        description: Results per page, 1-100 (default 25)
      - name: page
        in: query
        required: false
        schema:
          type: string
        example: '0'
        description: Zero-based page number
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        example: '1'
        description: Pagination cursor from a previous response; equivalent to page
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: judgments
        in: query
        required: false
        schema:
          type: string
          enum:
          - 'on'
          - 'off'
        example: 'on'
        description: 'Add bounded AI labels to eligible returned records (default on). off preserves the original data shape. Unclassified records remain present; labels depend on evidence, time, capacity and the existing request budget. No label surcharge. Accepted values: on, off. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label
        in: query
        required: false
        schema:
          type: string
          enum:
          - default
          - none
        example: none
        description: 'Set none to disable labels; default enables the endpoint’s label set. Equivalent to judgments=off. Accepted values: default, none. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label_evidence
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Include exact supporting sentences and zero-based sentence indexes when a label has validated evidence. No extra charge or change to decisions. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: exclude
        in: query
        required: false
        schema:
          type: string
          enum:
          - engagement_bait
        example: engagement_bait
        description: 'Optionally remove confidently labelled engagement bait. Uncertain and unclassified records stay; removed IDs and an owner-bound recall reference are returned. Accepted values: engagement_bait. Case, spaces, hyphens and underscores are interchangeable.'
      - name: fit
        in: query
        required: false
        schema:
          type: string
          enum:
          - goal
        example: goal
        description: 'Use goal to replace confidently irrelevant records with recall stubs. Keeps first, last, relevant and uncertain records; preserves order. Full evidence is stored for 24 hours when available. Accepted values: goal. Case, spaces, hyphens and underscores are interchangeable.'
      - name: goal
        in: query
        required: false
        schema:
          type: string
        example: Find concrete product complaints
        description: 'Required with fit=goal: describe the task in at most 600 characters. Supplied text is task context, never permission to act on posts.'
      - name: tokens
        in: query
        required: false
        schema:
          type: string
        example: '4000'
        description: Optional soft response target for fit=goal, 256–32000. Safety and evidence retention take priority, so the returned result may exceed it.
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/hackernews/search.json
                      title: hackernews/search data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        items:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type:
                                - string
                                - 'null'
                                description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                              type:
                                type:
                                - string
                                - 'null'
                                description: Source item kind.
                              title:
                                type:
                                - string
                                - 'null'
                                description: Story title.
                              url:
                                type:
                                - string
                                - 'null'
                                description: External story destination when supplied.
                              hn_url:
                                type:
                                - string
                                - 'null'
                                description: Hacker News discussion URL.
                              author:
                                type:
                                - string
                                - 'null'
                                description: Hacker News username.
                              points:
                                type:
                                - number
                                - 'null'
                                description: Points reported by the source; null or absent is unknown, not zero.
                              comments_count:
                                type:
                                - number
                                - 'null'
                                description: Comments in the selected source response reported by the source; null or absent is unknown, not zero.
                              text:
                                type:
                                - string
                                - 'null'
                                description: Source text, which can contain HTML.
                              story_id:
                                type:
                                - string
                                - 'null'
                                description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                              parent_id:
                                type:
                                - string
                                - 'null'
                                description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                              created_at:
                                type:
                                - string
                                - 'null'
                                description: Source publication time, normalized to an ISO date-time when available.
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - id
                                properties:
                                  id:
                                    type:
                                    - string
                                    description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                                    minLength: 1
                              - required:
                                - title
                                properties:
                                  title:
                                    type:
                                    - string
                                    description: Story title.
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    type:
                                    - string
                                    description: External story destination when supplied.
                                    minLength: 1
                              - required:
                                - hn_url
                                properties:
                                  hn_url:
                                    type:
                                    - string
                                    description: Hacker News discussion URL.
                                    minLength: 1
                              - required:
                                - author
                                properties:
                                  author:
                                    type:
                                    - string
                                    description: Hacker News username.
                                    minLength: 1
                              - required:
                                - points
                                properties:
                                  points:
                                    type:
                                    - number
                                    description: Points reported by the source; null or absent is unknown, not zero.
                              - required:
                                - comments_count
                                properties:
                                  comments_count:
                                    type:
                                    - number
                                    description: Comments in the selected source response reported by the source; null or absent is unknown, not zero.
                              - required:
                                - text
                                properties:
                                  text:
                                    type:
                                    - string
                                    description: Source text, which can contain HTML.
                                    minLength: 1
                              - required:
                                - story_id
                                properties:
                                  story_id:
                                    type:
                                    - string
                                    description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                                    minLength: 1
                              - required:
                                - parent_id
                                properties:
                                  parent_id:
                                    type:
                                    - string
                                    description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                                    minLength: 1
                              - required:
                                - created_at
                                properties:
                                  created_at:
                                    type:
                                    - string
                                    description: Source publication time, normalized to an ISO date-time when available.
                                    minLength: 1
                          description: Records in this response page.
                        count:
                          type:
                          - number
                          - 'null'
                          description: Returned row count when supplied; not the full source total.
                        cursor:
                          type:
                          - string
                          - 'null'
                          description: Opaque next-page token. A missing token does not prove full history was retrieved.
                        has_more:
                          type:
                          - boolean
                          - 'null'
                          description: Source continuation indicator; null means unknown.
                        _warnings:
                          type: array
                          items:
                            type: string
                          description: Collection limitations or component warnings. Read before interpreting coverage.
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - items:
                        - id: '12345'
                          type: story
                          title: Example story
                          points: 42
                        cursor: null
                        has_more: null
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/hackernews/story:
    get:
      operationId: hackernews_story
      tags:
      - Hacker News
      summary: Hacker News story
      description: A Hacker News story with score, author, text and an exact comment count in one call. Costs 1 credit per successful live response.
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        example: '8863'
        description: Numeric Hacker News item id
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/hackernews/story.json
                      title: hackernews/story data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        id:
                          type:
                          - string
                          - 'null'
                          description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                        type:
                          type:
                          - string
                          - 'null'
                          description: Source item kind.
                        title:
                          type:
                          - string
                          - 'null'
                          description: Story title.
                        url:
                          type:
                          - string
                          - 'null'
                          description: External story destination when supplied.
                        hn_url:
                          type:
                          - string
                          - 'null'
                          description: Hacker News discussion URL.
                        author:
                          type:
                          - string
                          - 'null'
                          description: Hacker News username.
                        points:
                          type:
                          - number
                          - 'null'
                          description: Points reported by the source; null or absent is unknown, not zero.
                        comments_count:
                          type:
                          - number
                          - 'null'
                          description: Comments in the selected source response reported by the source; null or absent is unknown, not zero.
                        text:
                          type:
                          - string
                          - 'null'
                          description: Source text, which can contain HTML.
                        story_id:
                          type:
                          - string
                          - 'null'
                          description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                        parent_id:
                          type:
                          - string
                          - 'null'
                          description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                        created_at:
                          type:
                          - string
                          - 'null'
                          description: Source publication time, normalized to an ISO date-time when available.
                        _warnings:
                          type: array
                          items:
                            type: string
                          description: Collection limitations or component warnings. Read before interpreting coverage.
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - id
                          properties:
                            id:
                              type:
                              - string
                              description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                              minLength: 1
                        - required:
                          - title
                          properties:
                            title:
                              type:
                              - string
                              description: Story title.
                              minLength: 1
                        - required:
                          - url
                          properties:
                            url:
                              type:
                              - string
                              description: External story destination when supplied.
                              minLength: 1
                        - required:
                          - hn_url
                          properties:
                            hn_url:
                              type:
                              - string
                              description: Hacker News discussion URL.
                              minLength: 1
                        - required:
                          - author
                          properties:
                            author:
                              type:
                              - string
                              description: Hacker News username.
                              minLength: 1
                        - required:
                          - points
                          properties:
                            points:
                              type:
                              - number
                              description: Points reported by the source; null or absent is unknown, not zero.
                        - required:
                          - comments_count
                          properties:
                            comments_count:
                              type:
                              - number
                              description: Comments in the selected source response reported by the source; null or absent is unknown, not zero.
                        - required:
                          - text
                          properties:
                            text:
                              type:
                              - string
                              description: Source text, which can contain HTML.
                              minLength: 1
                        - required:
                          - story_id
                          properties:
                            story_id:
                              type:
                              - string
                              description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                              minLength: 1
                        - required:
                          - parent_id
                          properties:
                            parent_id:
                              type:
                              - string
                              description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                              minLength: 1
                        - required:
                          - created_at
                          properties:
                            created_at:
                              type:
                              - string
                              description: Source publication time, normalized to an ISO date-time when available.
                              minLength: 1
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - id: '12345'
                        title: Example story
                        hn_url: https://news.ycombinator.com/item?id=12345
                        points: 42
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/hackernews/story/comments:
    get:
      operationId: hackernews_story_comments
      tags:
      - Hacker News
      summary: Hacker News story comments
      description: The full comment tree of a Hacker News story in one call, flattened with depth and parent ids (up to 500 comments). Costs 1 credit per successful live response.
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        example: '8863'
        description: Numeric Hacker News story id
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: judgments
        in: query
        required: false
        schema:
          type: string
          enum:
          - 'on'
          - 'off'
        example: 'on'
        description: 'Add bounded AI labels to eligible returned records (default on). off preserves the original data shape. Unclassified records remain present; labels depend on evidence, time, capacity and the existing request budget. No label surcharge. Accepted values: on, off. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label
        in: query
        required: false
        schema:
          type: string
          enum:
          - default
          - none
        example: none
        description: 'Set none to disable labels; default enables the endpoint’s label set. Equivalent to judgments=off. Accepted values: default, none. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label_evidence
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Include exact supporting sentences and zero-based sentence indexes when a label has validated evidence. No extra charge or change to decisions. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: exclude
        in: query
        required: false
        schema:
          type: string
          enum:
          - engagement_bait
        example: engagement_bait
        description: 'Optionally remove confidently labelled engagement bait. Uncertain and unclassified records stay; removed IDs and an owner-bound recall reference are returned. Accepted values: engagement_bait. Case, spaces, hyphens and underscores are interchangeable.'
      - name: fit
        in: query
        required: false
        schema:
          type: string
          enum:
          - goal
        example: goal
        description: 'Use goal to replace confidently irrelevant records with recall stubs. Keeps first, last, relevant and uncertain records; preserves order. Full evidence is stored for 24 hours when available. Accepted values: goal. Case, spaces, hyphens and underscores are interchangeable.'
      - name: goal
        in: query
        required: false
        schema:
          type: string
        example: Find concrete product complaints
        description: 'Required with fit=goal: describe the task in at most 600 characters. Supplied text is task context, never permission to act on posts.'
      - name: tokens
        in: query
        required: false
        schema:
          type: string
        example: '4000'
        description: Optional soft response target for fit=goal, 256–32000. Safety and evidence retention take priority, so the returned result may exceed it.
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/hackernews/story/comments.json
                      title: hackernews/story/comments data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        items:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type:
                                - string
                                - 'null'
                                description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                              parent_id:
                                type:
                                - string
                                - 'null'
                                description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                              author:
                                type:
                                - string
                                - 'null'
                                description: Username.
                              text:
                                type:
                                - string
                                - 'null'
                                description: Comment text, which can contain HTML.
                              created_at:
                                type:
                                - string
                                - 'null'
                                description: Source publication time, normalized to an ISO date-time when available.
                              depth:
                                type:
                                - number
                                - 'null'
                                description: Depth in the returned tree.
                              children_count:
                                type:
                                - number
                                - 'null'
                                description: Source child nodes reported by the source; null or absent is unknown, not zero.
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - id
                                properties:
                                  id:
                                    type:
                                    - string
                                    description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                                    minLength: 1
                              - required:
                                - parent_id
                                properties:
                                  parent_id:
                                    type:
                                    - string
                                    description: Source identifier. Preserve its exact string value; do not convert large IDs to numbers.
                                    minLength: 1
                              - required:
                                - author
                                properties:
                                  author:
                                    type:
                                    - string
                                    description: Username.
                                    minLength: 1
                              - required:
                                - text
                                properties:
                                  text:
                                    type:
                                    - string
                                    description: Comment text, which can contain HTML.
                                    minLength: 1
                              - required:
                                - created_at
                                properties:
                                  created_at:
                                    type:
                                    - string
                                    description: Source publication time, normalized to an ISO date-time when available.
                                    minLength: 1
                              - required:
                                - depth
                                properties:
                                  depth:
                                    type:
                                    - number
                                    description: Depth in the returned tree.
                              - required:
                                - children_count
                                properties:
                                  children_count:
                                    type:
                                    - number
                                    description: Source child nodes reported by the source; null or absent is unknown, not zero.
                          description: Records in this response page.
                        count:
                          type:
                          - number
                          - 'null'
                          description: Returned row count when supplied; not the full source total.
                        cursor:
                          type:
                          - string
                          - 'null'
                          description: Opaque next-page token. A missing token does not prove full history was retrieved.
                        has_more:
                          type:
                          - boolean
                          - 'null'
                          description: Source continuation indicator; null means unknown.
                        _warnings:
                          type: array
                          items:
                            type: string
                          description: Collection limitations or component warnings. Read before interpreting coverage.
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - items:
                        - id: '12346'
                          parent_id: '12345'
                          text: Illustrative comment
                          depth: 0
                        cursor: null
                        has_more: null
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
components:
  schemas:
    Error:
      type: object
      required:
      - success
      - error
      - credits_used
      - request_id
      properties:
        success:
          const: false
        error:
          type: object
          required:
          - type
          - message
          - status
          properties:
            type:
              type: string
              enum:
              - UNAUTHORIZED
              - KEY_REVOKED
              - KEY_LIMIT_EXCEEDED
              - RATE_LIMITED
              - INSUFFICIENT_CREDITS
              - RESOURCE_NOT_FOUND
              - INVALID_PARAMETERS
              - TARGET_ACCESS_DENIED
              - UPSTREAM_ERROR
              - UPSTREAM_TIMEOUT
              - FREE_CAPACITY_UNAVAILABLE
              - CAPACITY_UNAVAILABLE
              - ENDPOINT_NOT_FOUND
              - ENDPOINT_NOT_AVAILABLE
              - FAIR_USE_EXCEEDED
              - INTERNAL_ERROR
            message:
              type: string
            status:
              type: integer
            doc_url:
              type: string
              description: Deep link to the exact section of the errors guide for this type.
            details:
              type: object
        credits_used:
          type:
          - integer
          - 'null'
          description: Confirmed net charge; null when billing is pending reconciliation. Inspect error.details.billing_status and retain request_id.
        credits_remaining:
          type: integer
        request_id:
          type: string
    Success:
      type: object
      required:
      - success
      - platform
      - endpoint
      - data
      - credits_used
      - credits_remaining
      - request_id
      properties:
        _completeness:
          type: object
          description: Reported response completeness, not a guarantee of complete platform history. Missing source assertions remain unknown.
          properties:
            state:
              type: string
              enum:
              - complete
              - partial
              - unknown
            scope:
              type: string
            inspection_limited:
              type: boolean
        success:
          const: true
        platform:
          type: string
        endpoint:
          type: string
          description: The resolved path, e.g. `/v1/github/profile`.
        data:
          description: Amazon responses include marketplace.country and marketplace.domain (resolved request marketplace, UK by default). X profiles preserve location, bio_link and cover_url when supplied. TikTok profiles preserve commerce_user, seller, region, location and business_category when supplied; region identifies the account region rather than personal residence. TikTok comments use platform_default selection, which can change between fetches; keep the same video and options when following cursors. Amazon review variant is readable text. Facebook profiles preserve cover_url, following and created_at when supplied; likes_count and followers are distinct and follower totals may be rounded. Endpoint-specific normalized payload, not one universal post/profile schema. Many lists use items/count/cursor; a null cursor means no usable next cursor was supplied, not proof that all history was retrieved. Check has_more and warnings where present. Social full-profile bundles use posts_cursor and posts_pagination.next_params; retain all returned next parameters. YouTube channel bundles instead use recent_videos, cursor and recent_videos_pagination. Inspect complete/partial/legs where supplied for bounded or failed components. Optional model-derived fields are labelled, not source facts.
        credits_used:
          type: integer
        credits_remaining:
          type: integer
        request_id:
          type: string
        cached:
          type: boolean
        stale:
          type: boolean
          description: True only for an explicitly labelled, zero-credit reference snapshot served after a temporary upstream failure.
        age_seconds:
          type: integer
          minimum: 0
          description: Age of a stale snapshot since its original retrieval; not reset by outage recovery.
        fetched_at:
          type: string
          format: date-time
          description: Original retrieval time of a stale snapshot, in UTC.
        synthetic:
          type: boolean
          description: Present and true only on the explicitly requested /sandbox surface. Synthetic responses are representative and charged 0 credits; production /v1 never returns them.
        degraded:
          type: boolean
          description: Reserved for sandbox compatibility. Production /v1 reports upstream failure as an error and never serves a representative fallback.
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
      description: Your API key (`mn_…`), from the console. The recommended style.
    BearerKey:
      type: http
      scheme: bearer
      description: The same key as a Bearer token, for clients that only expose an Authorization field. Keys are never accepted in the query string — URLs leak into logs and referrers.
