openapi: 3.2.0
info:
  title: Monocrawl Google Trends API
  version: 0.1.0
  description: One key, one envelope, one credit meter across social, search, commerce and web data.
  contact:
    name: Monocrawl support
    url: https://www.monocrawl.com/contact
  termsOfService: https://www.monocrawl.com/legal/terms-and-conditions
servers:
- url: https://www.monocrawl.com
security:
- ApiKeyHeader: []
tags:
- name: Google Trends
paths:
  /v1/google_trends/interest:
    get:
      operationId: google_trends_interest
      tags:
      - Google Trends
      summary: Google Trends interest
      description: Interest over time for up to five terms on Google Trends. Costs 4 credits per successful live response.
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        example: electric bikes
        description: Up to five terms, comma-separated
      - name: location
        in: query
        required: false
        schema:
          type: string
        example: United Kingdom
        description: Location name; worldwide when empty
      - name: time_range
        in: query
        required: false
        schema:
          type: string
          enum:
          - past_hour
          - past_4_hours
          - past_day
          - past_7_days
          - past_30_days
          - past_90_days
          - past_12_months
          - past_5_years
          - 2004_present
          - 2008_present
        example: past_12_months
        description: 'Time window: 2004_present requires type=web; 2008_present requires news, youtube, images or froogle. Omit for the default window. Accepted values: past_hour, past_4_hours, past_day, past_7_days, past_30_days, past_90_days, past_12_months, past_5_years, 2004_present, 2008_present. Case, spaces, hyphens and underscores are interchangeable.'
      - name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - web
          - news
          - youtube
          - images
          - froogle
        example: web
        description: 'web, news, youtube, images or froogle Accepted values: web, news, youtube, images, froogle. Case, spaces, hyphens and underscores are interchangeable.'
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/google_trends/interest.json
                      title: google_trends/interest data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        averages:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        checked_at:
                          description: Optional checked at supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        keywords:
                          description: Optional keywords supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        points:
                          description: Optional points supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              from:
                                description: Optional from supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              to:
                                description: Optional to supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              values:
                                description: Optional values supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                            additionalProperties: true
                        type:
                          description: Optional type supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - averages
                          properties:
                            averages:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              items: {}
                        - required:
                          - checked_at
                          properties:
                            checked_at:
                              description: Optional checked at supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - keywords
                          properties:
                            keywords:
                              description: Optional keywords supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                        - required:
                          - points
                          properties:
                            points:
                              description: Optional points supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  from:
                                    description: Optional from supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  to:
                                    description: Optional to supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  values:
                                    description: Optional values supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    - 'null'
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - number
                                      - 'null'
                                additionalProperties: true
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - averages: []
                        checked_at: '2026-09-01T12:00:00Z'
                        keywords:
                        - example
                        points:
                        - from: example
                          to: example
                          values:
                          - 0
                        type: example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 4
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/google_trends/related:
    get:
      operationId: google_trends_related
      tags:
      - Google Trends
      summary: Google Trends related
      description: Related queries and topics, top and rising, for a term on Google Trends. Costs 4 credits per successful live response.
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        example: electric bikes
        description: One term
      - name: location
        in: query
        required: false
        schema:
          type: string
        example: United Kingdom
        description: Location name; worldwide when empty
      - name: time_range
        in: query
        required: false
        schema:
          type: string
          enum:
          - past_hour
          - past_4_hours
          - past_day
          - past_7_days
          - past_30_days
          - past_90_days
          - past_12_months
          - past_5_years
          - 2004_present
          - 2008_present
        example: past_12_months
        description: 'Time window: 2004_present requires type=web; 2008_present requires news, youtube, images or froogle. Omit for the default window. Accepted values: past_hour, past_4_hours, past_day, past_7_days, past_30_days, past_90_days, past_12_months, past_5_years, 2004_present, 2008_present. Case, spaces, hyphens and underscores are interchangeable.'
      - name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - web
          - news
          - youtube
          - images
          - froogle
        example: web
        description: 'web, news, youtube, images or froogle Accepted values: web, news, youtube, images, froogle. Case, spaces, hyphens and underscores are interchangeable.'
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/google_trends/related.json
                      title: google_trends/related data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        checked_at:
                          description: Optional checked at supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        queries:
                          description: Optional queries supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            keywords:
                              description: Optional keywords supplied by this operation. Null means unknown.
                              type:
                              - array
                              - 'null'
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            rising:
                              description: Optional rising supplied by this operation. Null means unknown.
                              type:
                              - array
                              - 'null'
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  query:
                                    description: Optional query supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  value:
                                    description: Optional value supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                additionalProperties: true
                            top:
                              description: Optional top supplied by this operation. Null means unknown.
                              type:
                              - array
                              - 'null'
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  query:
                                    description: Optional query supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  value:
                                    description: Optional value supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                additionalProperties: true
                            type:
                              description: Optional type supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                          additionalProperties: true
                        topics:
                          description: Optional topics supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            keywords:
                              description: Optional keywords supplied by this operation. Null means unknown.
                              type:
                              - array
                              - 'null'
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            rising:
                              description: Optional rising supplied by this operation. Null means unknown.
                              type:
                              - array
                              - 'null'
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  value:
                                    description: Optional value supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                additionalProperties: true
                            top:
                              description: Optional top supplied by this operation. Null means unknown.
                              type:
                              - array
                              - 'null'
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  value:
                                    description: Optional value supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                additionalProperties: true
                            type:
                              description: Optional type supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                          additionalProperties: true
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - checked_at
                          properties:
                            checked_at:
                              description: Optional checked at supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - queries
                          properties:
                            queries:
                              description: Optional queries supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties:
                                keywords:
                                  description: Optional keywords supplied by this operation. Null means unknown.
                                  type:
                                  - array
                                  - 'null'
                                  items:
                                    description: Optional record supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                rising:
                                  description: Optional rising supplied by this operation. Null means unknown.
                                  type:
                                  - array
                                  - 'null'
                                  items:
                                    description: Optional record supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      query:
                                        description: Optional query supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      value:
                                        description: Optional value supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                    additionalProperties: true
                                top:
                                  description: Optional top supplied by this operation. Null means unknown.
                                  type:
                                  - array
                                  - 'null'
                                  items:
                                    description: Optional record supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      query:
                                        description: Optional query supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      value:
                                        description: Optional value supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                    additionalProperties: true
                                type:
                                  description: Optional type supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              additionalProperties: true
                        - required:
                          - topics
                          properties:
                            topics:
                              description: Optional topics supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties:
                                keywords:
                                  description: Optional keywords supplied by this operation. Null means unknown.
                                  type:
                                  - array
                                  - 'null'
                                  items:
                                    description: Optional record supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                rising:
                                  description: Optional rising supplied by this operation. Null means unknown.
                                  type:
                                  - array
                                  - 'null'
                                  items:
                                    description: Optional record supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      value:
                                        description: Optional value supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                    additionalProperties: true
                                top:
                                  description: Optional top supplied by this operation. Null means unknown.
                                  type:
                                  - array
                                  - 'null'
                                  items:
                                    description: Optional record supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      value:
                                        description: Optional value supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                    additionalProperties: true
                                type:
                                  description: Optional type supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              additionalProperties: true
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - checked_at: '2026-09-01T12:00:00Z'
                        queries:
                          keywords:
                          - example
                          rising:
                          - query: example
                            value: 0
                          top:
                          - query: example
                            value: 0
                          type: example
                        topics:
                          keywords:
                          - example
                          rising:
                          - value: 0
                          top:
                          - value: 0
                          type: example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 4
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/google_trends/trending:
    get:
      operationId: google_trends_trending
      tags:
      - Google Trends
      summary: Trending searches
      description: Trending searches, approximate volumes, timing, categories, breakdowns and up to three related articles, read from the public Trending Now page. Costs 2 credits per successful live response.
      parameters:
      - name: location
        in: query
        required: true
        schema:
          type: string
        example: DE
        description: Country or region code
      - name: hours
        in: query
        required: false
        schema:
          type: string
          enum:
          - '4'
          - '24'
          - '48'
          - '168'
        example: '24'
        description: '4, 24, 48 or 168 Accepted values: 4, 24, 48, 168. Case, spaces, hyphens and underscores are interchangeable.'
      - name: category
        in: query
        required: false
        schema:
          type: string
        example: all
        description: Category ID or page category name
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - all
          - active
          - ended
        example: all
        description: 'all, active or ended Accepted values: all, active, ended. Case, spaces, hyphens and underscores are interchangeable.'
      - name: sort
        in: query
        required: false
        schema:
          type: string
          enum:
          - relevance
          - volume
          - recency
          - title
        example: relevance
        description: 'relevance, volume, recency or title Accepted values: relevance, volume, recency, title. Case, spaces, hyphens and underscores are interchangeable.'
      - name: limit
        in: query
        required: false
        schema:
          type: string
        example: '20'
        description: Whole number from 1 to 100
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/google_trends/trending.json
                      title: google_trends/trending data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        category:
                          description: Optional category supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        checked_at:
                          description: Optional checked at supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        dropped:
                          description: Optional dropped supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        hours:
                          description: Optional hours supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              active:
                                description: Optional active supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              breakdown:
                                description: Optional breakdown supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              categories:
                                description: Optional categories supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              category_ids:
                                description: Optional category ids supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                              increase_percent:
                                description: Optional increase percent supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              news:
                                description: Optional news supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - object
                                  - 'null'
                                  properties: {}
                                  additionalProperties: true
                              rank:
                                description: Optional rank supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              search_volume:
                                description: Optional search volume supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              started_at:
                                description: Optional started at supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              title:
                                description: Source title when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - active
                                properties:
                                  active:
                                    description: Optional active supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                              - required:
                                - breakdown
                                properties:
                                  breakdown:
                                    description: Optional breakdown supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - string
                                      - 'null'
                              - required:
                                - categories
                                properties:
                                  categories:
                                    description: Optional categories supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - string
                                      - 'null'
                              - required:
                                - category_ids
                                properties:
                                  category_ids:
                                    description: Optional category ids supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - number
                                      - 'null'
                              - required:
                                - increase_percent
                                properties:
                                  increase_percent:
                                    description: Optional increase percent supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - news
                                properties:
                                  news:
                                    description: Optional news supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - object
                                      - 'null'
                                      properties: {}
                                      additionalProperties: true
                              - required:
                                - rank
                                properties:
                                  rank:
                                    description: Optional rank supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - search_volume
                                properties:
                                  search_volume:
                                    description: Optional search volume supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - started_at
                                properties:
                                  started_at:
                                    description: Optional started at supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - title
                                properties:
                                  title:
                                    description: Source title when supplied.
                                    type:
                                    - string
                                    minLength: 1
                        location:
                          description: Optional location supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        sort:
                          description: Optional sort supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        status:
                          description: Optional status supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        total:
                          description: Source-reported total; null is unknown.
                          type:
                          - number
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - category: example
                        checked_at: '2026-09-01T12:00:00Z'
                        count: 0
                        dropped: 0
                        has_more: false
                        hours: 0
                        items:
                        - active: false
                          breakdown:
                          - example
                          categories:
                          - example
                          category_ids:
                          - 0
                          increase_percent: 0
                          news:
                          - {}
                          rank: 0
                          search_volume: 0
                          started_at: '2026-09-01T12:00:00Z'
                          title: example
                        location: example
                        sort: example
                        status: example
                        total: 0
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 2
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
components:
  schemas:
    Error:
      type: object
      required:
      - success
      - error
      - credits_used
      - request_id
      properties:
        success:
          const: false
        error:
          type: object
          required:
          - type
          - message
          - status
          properties:
            type:
              type: string
              enum:
              - UNAUTHORIZED
              - KEY_REVOKED
              - KEY_LIMIT_EXCEEDED
              - RATE_LIMITED
              - INSUFFICIENT_CREDITS
              - RESOURCE_NOT_FOUND
              - INVALID_PARAMETERS
              - TARGET_ACCESS_DENIED
              - UPSTREAM_ERROR
              - UPSTREAM_TIMEOUT
              - FREE_CAPACITY_UNAVAILABLE
              - CAPACITY_UNAVAILABLE
              - ENDPOINT_NOT_FOUND
              - ENDPOINT_NOT_AVAILABLE
              - FAIR_USE_EXCEEDED
              - INTERNAL_ERROR
            message:
              type: string
            status:
              type: integer
            doc_url:
              type: string
              description: Deep link to the exact section of the errors guide for this type.
            details:
              type: object
        credits_used:
          type:
          - integer
          - 'null'
          description: Confirmed net charge; null when billing is pending reconciliation. Inspect error.details.billing_status and retain request_id.
        credits_remaining:
          type: integer
        request_id:
          type: string
    Success:
      type: object
      required:
      - success
      - platform
      - endpoint
      - data
      - credits_used
      - credits_remaining
      - request_id
      properties:
        _completeness:
          type: object
          description: Reported response completeness, not a guarantee of complete platform history. Missing source assertions remain unknown.
          properties:
            state:
              type: string
              enum:
              - complete
              - partial
              - unknown
            scope:
              type: string
            inspection_limited:
              type: boolean
        success:
          const: true
        platform:
          type: string
        endpoint:
          type: string
          description: The resolved path, e.g. `/v1/github/profile`.
        data:
          description: Amazon responses include marketplace.country and marketplace.domain (resolved request marketplace, UK by default). X profiles preserve location, bio_link and cover_url when supplied. TikTok profiles preserve commerce_user, seller, region, location and business_category when supplied; region identifies the account region rather than personal residence. TikTok comments use platform_default selection, which can change between fetches; keep the same video and options when following cursors. Amazon review variant is readable text. Facebook profiles preserve cover_url, following and created_at when supplied; likes_count and followers are distinct and follower totals may be rounded. Endpoint-specific normalized payload, not one universal post/profile schema. Many lists use items/count/cursor; a null cursor means no usable next cursor was supplied, not proof that all history was retrieved. Check has_more and warnings where present. Social full-profile bundles use posts_cursor and posts_pagination.next_params; retain all returned next parameters. YouTube channel bundles instead use recent_videos, cursor and recent_videos_pagination. Inspect complete/partial/legs where supplied for bounded or failed components. Optional model-derived fields are labelled, not source facts.
        credits_used:
          type: integer
        credits_remaining:
          type: integer
        request_id:
          type: string
        cached:
          type: boolean
        stale:
          type: boolean
          description: True only for an explicitly labelled, zero-credit reference snapshot served after a temporary upstream failure.
        age_seconds:
          type: integer
          minimum: 0
          description: Age of a stale snapshot since its original retrieval; not reset by outage recovery.
        fetched_at:
          type: string
          format: date-time
          description: Original retrieval time of a stale snapshot, in UTC.
        synthetic:
          type: boolean
          description: Present and true only on the explicitly requested /sandbox surface. Synthetic responses are representative and charged 0 credits; production /v1 never returns them.
        degraded:
          type: boolean
          description: Reserved for sandbox compatibility. Production /v1 reports upstream failure as an error and never serves a representative fallback.
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
      description: Your API key (`mn_…`), from the console. The recommended style.
    BearerKey:
      type: http
      scheme: bearer
      description: The same key as a Bearer token, for clients that only expose an Authorization field. Keys are never accepted in the query string — URLs leak into logs and referrers.
