openapi: 3.2.0
info:
  title: Monocrawl Zillow API
  version: 0.1.0
  description: One key, one envelope, one credit meter across social, search, commerce and web data.
  contact:
    name: Monocrawl support
    url: https://www.monocrawl.com/contact
  termsOfService: https://www.monocrawl.com/legal/terms-and-conditions
servers:
- url: https://www.monocrawl.com
security:
- ApiKeyHeader: []
tags:
- name: Zillow
paths:
  /v1/zillow/building:
    get:
      operationId: zillow_building
      tags:
      - Zillow
      summary: Zillow building and units
      description: Building details and unit-level rents, beds, area, required fees and availability dates. Records can include future availability; base rent and mandatory fees remain separate. Costs 1 credit per successful live response.
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
        example: https://www.zillow.com/apartments/austin-tx/alexan-st.-elmo/C8gzfc/
        description: Zillow apartment-building page URL.
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/zillow/building.json
                      title: zillow/building data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        _warnings:
                          description: Optional  warnings supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        amenities:
                          description: Optional amenities supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        city:
                          description: Optional city supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        country:
                          description: Optional country supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        currency:
                          description: Optional currency supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        description:
                          description: Source description; null or absent means not supplied.
                          type:
                          - string
                          - 'null'
                        floor_plans:
                          description: Optional floor plans supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              available_from_at:
                                description: Optional available from at supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              available_from_utc:
                                description: Optional available from utc supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              base_rent_max:
                                description: Optional base rent max supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              base_rent_min:
                                description: Optional base rent min supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              baths:
                                description: Optional baths supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              beds:
                                description: Optional beds supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              lease_term:
                                description: Optional lease term supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              photos:
                                description: Optional photos supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              price_max:
                                description: Optional price max supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              price_min:
                                description: Optional price min supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              required_monthly_fee_max:
                                description: Optional required monthly fee max supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              required_monthly_fee_min:
                                description: Optional required monthly fee min supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              sqft:
                                description: Optional sqft supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              units:
                                description: Optional units supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - object
                                  - 'null'
                                  properties: {}
                                  additionalProperties: true
                              units_available:
                                description: Optional units available supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                            additionalProperties: true
                        full_address:
                          description: Optional full address supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        latitude:
                          description: Optional latitude supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        longitude:
                          description: Optional longitude supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        name:
                          description: Optional name supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        photos:
                          description: Optional photos supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              sources:
                                description: Optional sources supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - object
                                  - 'null'
                                  properties: {}
                                  additionalProperties: true
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        platform:
                          description: Optional platform supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        rent_max:
                          description: Optional rent max supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        rent_min:
                          description: Optional rent min supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        reported_available_units:
                          description: Optional reported available units supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        state:
                          description: Optional state supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        type:
                          description: Optional type supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        unit_records:
                          description: Optional unit records supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        units:
                          description: Optional units supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              available_from_at:
                                description: Optional available from at supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              base_rent:
                                description: Optional base rent supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              baths:
                                description: Optional baths supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              beds:
                                description: Optional beds supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              list_price_includes_required_fees:
                                description: Optional list price includes required fees supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              price:
                                description: Source price. Currency, taxes and availability depend on the listing.
                                type:
                                - number
                                - 'null'
                              required_monthly_fee_max:
                                description: Optional required monthly fee max supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              required_monthly_fee_min:
                                description: Optional required monthly fee min supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              sqft:
                                description: Optional sqft supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              unit_number:
                                description: Optional unit number supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              zpid:
                                description: Optional zpid supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        url:
                          description: Original source URL when supplied.
                          type:
                          - string
                          - 'null'
                        zipcode:
                          description: Optional zipcode supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - amenities
                          properties:
                            amenities:
                              description: Optional amenities supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                        - required:
                          - city
                          properties:
                            city:
                              description: Optional city supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - country
                          properties:
                            country:
                              description: Optional country supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - currency
                          properties:
                            currency:
                              description: Optional currency supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - description
                          properties:
                            description:
                              description: Source description; null or absent means not supplied.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - floor_plans
                          properties:
                            floor_plans:
                              description: Optional floor plans supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  available_from_at:
                                    description: Optional available from at supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  available_from_utc:
                                    description: Optional available from utc supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  base_rent_max:
                                    description: Optional base rent max supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  base_rent_min:
                                    description: Optional base rent min supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  baths:
                                    description: Optional baths supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  beds:
                                    description: Optional beds supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  lease_term:
                                    description: Optional lease term supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  photos:
                                    description: Optional photos supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    - 'null'
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - string
                                      - 'null'
                                  price_max:
                                    description: Optional price max supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  price_min:
                                    description: Optional price min supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  required_monthly_fee_max:
                                    description: Optional required monthly fee max supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  required_monthly_fee_min:
                                    description: Optional required monthly fee min supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  sqft:
                                    description: Optional sqft supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  units:
                                    description: Optional units supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    - 'null'
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - object
                                      - 'null'
                                      properties: {}
                                      additionalProperties: true
                                  units_available:
                                    description: Optional units available supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                additionalProperties: true
                        - required:
                          - full_address
                          properties:
                            full_address:
                              description: Optional full address supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - latitude
                          properties:
                            latitude:
                              description: Optional latitude supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - longitude
                          properties:
                            longitude:
                              description: Optional longitude supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - name
                          properties:
                            name:
                              description: Optional name supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - photos
                          properties:
                            photos:
                              description: Optional photos supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  sources:
                                    description: Optional sources supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    - 'null'
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - object
                                      - 'null'
                                      properties: {}
                                      additionalProperties: true
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                        - required:
                          - rent_max
                          properties:
                            rent_max:
                              description: Optional rent max supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - rent_min
                          properties:
                            rent_min:
                              description: Optional rent min supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - reported_available_units
                          properties:
                            reported_available_units:
                              description: Optional reported available units supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - state
                          properties:
                            state:
                              description: Optional state supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - unit_records
                          properties:
                            unit_records:
                              description: Optional unit records supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - units
                          properties:
                            units:
                              description: Optional units supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  available_from_at:
                                    description: Optional available from at supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  base_rent:
                                    description: Optional base rent supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  baths:
                                    description: Optional baths supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  beds:
                                    description: Optional beds supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  list_price_includes_required_fees:
                                    description: Optional list price includes required fees supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                                    - 'null'
                                  price:
                                    description: Source price. Currency, taxes and availability depend on the listing.
                                    type:
                                    - number
                                    - 'null'
                                  required_monthly_fee_max:
                                    description: Optional required monthly fee max supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  required_monthly_fee_min:
                                    description: Optional required monthly fee min supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  sqft:
                                    description: Optional sqft supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  unit_number:
                                    description: Optional unit number supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  zpid:
                                    description: Optional zpid supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                        - required:
                          - url
                          properties:
                            url:
                              description: Original source URL when supplied.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - zipcode
                          properties:
                            zipcode:
                              description: Optional zipcode supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - _warnings:
                        - example
                        amenities:
                        - example
                        city: example
                        country: example
                        currency: example
                        description: example
                        floor_plans:
                        - available_from_at: '2026-09-01T12:00:00Z'
                          available_from_utc: 0
                          base_rent_max: 0
                          base_rent_min: 0
                          baths: 0
                          beds: 0
                          lease_term: example
                          name: example
                          photos:
                          - example
                          price_max: 0
                          price_min: 0
                          required_monthly_fee_max: 0
                          required_monthly_fee_min: 0
                          sqft: 0
                          units:
                          - {}
                          units_available: 0
                        full_address: example
                        latitude: 0
                        longitude: 0
                        name: example
                        photos:
                        - sources:
                          - {}
                          url: https://example.com/example
                        platform: example
                        rent_max: 0
                        rent_min: 0
                        reported_available_units: 0
                        state: example
                        type: example
                        unit_records: 0
                        units:
                        - available_from_at: '2026-09-01T12:00:00Z'
                          base_rent: 0
                          baths: 0
                          beds: 0
                          list_price_includes_required_fees: false
                          price: 0
                          required_monthly_fee_max: 0
                          required_monthly_fee_min: 0
                          sqft: 0
                          unit_number: example
                          zpid: example
                        url: https://example.com/example
                        zipcode: example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/zillow/locations:
    get:
      operationId: zillow_locations
      tags:
      - Zillow
      summary: Zillow location suggestions
      description: Location suggestions for property searches. Costs 1 credit per successful live response.
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        example: Austin TX
        description: Location text.
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/zillow/locations.json
                      title: zillow/locations data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        _warnings:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              display:
                                description: Optional display supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              latitude:
                                description: Optional latitude supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              longitude:
                                description: Optional longitude supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              region_id:
                                description: Optional region id supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              region_type:
                                description: Optional region type supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - display
                                properties:
                                  display:
                                    description: Optional display supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - latitude
                                properties:
                                  latitude:
                                    description: Optional latitude supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - longitude
                                properties:
                                  longitude:
                                    description: Optional longitude supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - region_id
                                properties:
                                  region_id:
                                    description: Optional region id supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - region_type
                                properties:
                                  region_type:
                                    description: Optional region type supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - _warnings: []
                        count: 0
                        has_more: false
                        items:
                        - display: example
                          latitude: 0
                          longitude: 0
                          region_id: 0
                          region_type: example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/zillow/property:
    get:
      operationId: zillow_property
      tags:
      - Zillow
      summary: Zillow property
      description: Property listing price, photos, description, basic facts and optional estimated values. Historical prices, tax history and school data are not supported. Costs 1 credit per successful live response.
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        example: '29479546'
        description: Numeric identifier from a parent result.
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/zillow/property.json
                      title: zillow/property data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        _warnings:
                          description: Optional  warnings supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        address:
                          description: Optional address supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        area_sqft:
                          description: Optional area sqft supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        bathrooms:
                          description: Optional bathrooms supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        bedrooms:
                          description: Optional bedrooms supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        city:
                          description: Optional city supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        country:
                          description: Optional country supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        description:
                          description: Source description; null or absent means not supplied.
                          type:
                          - string
                          - 'null'
                        facts:
                          description: Optional facts supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            appliances:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              - 'null'
                              items: {}
                            bathrooms_full:
                              description: Optional bathrooms full supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            bathrooms_half:
                              description: Optional bathrooms half supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            cooling:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              - 'null'
                              items: {}
                            heating:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              - 'null'
                              items: {}
                            lot_area_units:
                              description: Optional lot area units supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            lot_area_value:
                              description: Optional lot area value supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            parking_capacity:
                              description: Optional parking capacity supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            parking_features:
                              description: Optional parking features supplied by this operation. Null means unknown.
                              type:
                              - array
                              - 'null'
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            price_per_square_foot:
                              description: Optional price per square foot supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            year_built:
                              description: Optional year built supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                          additionalProperties: true
                        id:
                          description: Source identifier. Preserve the supplied type and exact value.
                          type:
                          - string
                          - 'null'
                        latitude:
                          description: Optional latitude supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        longitude:
                          description: Optional longitude supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        photos:
                          description: Optional photos supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        platform:
                          description: Optional platform supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        postcode:
                          description: Optional postcode supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        price:
                          description: Source price. Currency, taxes and availability depend on the listing.
                          type:
                          - object
                          - 'null'
                          properties:
                            amount:
                              description: Optional amount supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            currency:
                              description: Optional currency supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                          additionalProperties: true
                        property_type:
                          description: Optional property type supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        region:
                          description: Optional region supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        status:
                          description: Optional status supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        type:
                          description: Optional type supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        url:
                          description: Original source URL when supplied.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - address
                          properties:
                            address:
                              description: Optional address supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - area_sqft
                          properties:
                            area_sqft:
                              description: Optional area sqft supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - bathrooms
                          properties:
                            bathrooms:
                              description: Optional bathrooms supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - bedrooms
                          properties:
                            bedrooms:
                              description: Optional bedrooms supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - city
                          properties:
                            city:
                              description: Optional city supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - country
                          properties:
                            country:
                              description: Optional country supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - description
                          properties:
                            description:
                              description: Source description; null or absent means not supplied.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - facts
                          properties:
                            facts:
                              description: Optional facts supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties:
                                appliances:
                                  description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                  type:
                                  - array
                                  - 'null'
                                  items: {}
                                bathrooms_full:
                                  description: Optional bathrooms full supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                bathrooms_half:
                                  description: Optional bathrooms half supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                cooling:
                                  description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                  type:
                                  - array
                                  - 'null'
                                  items: {}
                                heating:
                                  description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                  type:
                                  - array
                                  - 'null'
                                  items: {}
                                lot_area_units:
                                  description: Optional lot area units supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                lot_area_value:
                                  description: Optional lot area value supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                parking_capacity:
                                  description: Optional parking capacity supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                parking_features:
                                  description: Optional parking features supplied by this operation. Null means unknown.
                                  type:
                                  - array
                                  - 'null'
                                  items:
                                    description: Optional record supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                price_per_square_foot:
                                  description: Optional price per square foot supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                year_built:
                                  description: Optional year built supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                              additionalProperties: true
                        - required:
                          - id
                          properties:
                            id:
                              description: Source identifier. Preserve the supplied type and exact value.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - latitude
                          properties:
                            latitude:
                              description: Optional latitude supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - longitude
                          properties:
                            longitude:
                              description: Optional longitude supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - photos
                          properties:
                            photos:
                              description: Optional photos supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                        - required:
                          - postcode
                          properties:
                            postcode:
                              description: Optional postcode supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - price
                          properties:
                            price:
                              description: Source price. Currency, taxes and availability depend on the listing.
                              type:
                              - object
                              properties:
                                amount:
                                  description: Optional amount supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                currency:
                                  description: Optional currency supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              additionalProperties: true
                        - required:
                          - property_type
                          properties:
                            property_type:
                              description: Optional property type supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - region
                          properties:
                            region:
                              description: Optional region supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - url
                          properties:
                            url:
                              description: Original source URL when supplied.
                              type:
                              - string
                              minLength: 1
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - _warnings:
                        - example
                        address: example
                        area_sqft: 0
                        bathrooms: 0
                        bedrooms: 0
                        city: example
                        country: example
                        description: example
                        facts:
                          appliances: []
                          bathrooms_full: 0
                          bathrooms_half: 0
                          cooling: []
                          heating: []
                          lot_area_units: example
                          lot_area_value: 0
                          parking_capacity: 0
                          parking_features:
                          - example
                          price_per_square_foot: 0
                          year_built: 0
                        id: example
                        latitude: 0
                        longitude: 0
                        photos:
                        - example
                        platform: example
                        postcode: example
                        price:
                          amount: 0
                          currency: example
                        property_type: example
                        region: example
                        status: example
                        type: example
                        url: https://example.com/example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/zillow/search-sale:
    get:
      operationId: zillow_search_sale
      tags:
      - Zillow
      summary: Zillow homes for sale
      description: Homes for sale with listing prices, photos, bedrooms, bathrooms, address and coordinates where supplied. Native result pages use an opaque cursor. Costs 1 credit per successful live response.
      parameters:
      - name: location
        in: query
        required: true
        schema:
          type: string
        example: Austin, TX
        description: City/region in the United States or Canada.
      - name: min_price
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Minimum listing price.
      - name: max_price
        in: query
        required: false
        schema:
          type: string
        example: '600000'
        description: Maximum listing price.
      - name: min_beds
        in: query
        required: false
        schema:
          type: string
        example: '3'
        description: Minimum bedrooms.
      - name: sort
        in: query
        required: false
        schema:
          type: string
          enum:
          - newest
        example: newest
        description: 'Newest listings first. Only newest is supported. Accepted values: newest. Case, spaces, hyphens and underscores are interchangeable.'
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Opaque continuation from this operation; preserve all original parameters.
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/zillow/search-sale.json
                      title: zillow/search-sale data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        _warnings:
                          description: Optional  warnings supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        cursor:
                          description: Opaque next-page token; pass it back unchanged. Null does not prove complete history.
                          type:
                          - string
                          - 'null'
                        dropped:
                          description: Optional dropped supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              address:
                                description: Optional address supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              area_sqft:
                                description: Optional area sqft supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              bathrooms:
                                description: Optional bathrooms supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              bedrooms:
                                description: Optional bedrooms supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              city:
                                description: Optional city supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              country:
                                description: Optional country supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              estimated_monthly_rent:
                                description: Optional estimated monthly rent supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              estimated_value:
                                description: Optional estimated value supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              latitude:
                                description: Optional latitude supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              longitude:
                                description: Optional longitude supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              photos:
                                description: Optional photos supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              platform:
                                description: Optional platform supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              postcode:
                                description: Optional postcode supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              price:
                                description: Source price. Currency, taxes and availability depend on the listing.
                                type:
                                - object
                                - 'null'
                                properties:
                                  amount:
                                    description: Optional amount supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  currency:
                                    description: Optional currency supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                              property_type:
                                description: Optional property type supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              region:
                                description: Optional region supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              status:
                                description: Optional status supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              type:
                                description: Optional type supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - address
                                properties:
                                  address:
                                    description: Optional address supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - area_sqft
                                properties:
                                  area_sqft:
                                    description: Optional area sqft supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - bathrooms
                                properties:
                                  bathrooms:
                                    description: Optional bathrooms supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - bedrooms
                                properties:
                                  bedrooms:
                                    description: Optional bedrooms supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - city
                                properties:
                                  city:
                                    description: Optional city supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - country
                                properties:
                                  country:
                                    description: Optional country supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - estimated_monthly_rent
                                properties:
                                  estimated_monthly_rent:
                                    description: Optional estimated monthly rent supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - estimated_value
                                properties:
                                  estimated_value:
                                    description: Optional estimated value supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - latitude
                                properties:
                                  latitude:
                                    description: Optional latitude supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - longitude
                                properties:
                                  longitude:
                                    description: Optional longitude supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - photos
                                properties:
                                  photos:
                                    description: Optional photos supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - string
                                      - 'null'
                              - required:
                                - postcode
                                properties:
                                  postcode:
                                    description: Optional postcode supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - price
                                properties:
                                  price:
                                    description: Source price. Currency, taxes and availability depend on the listing.
                                    type:
                                    - object
                                    properties:
                                      amount:
                                        description: Optional amount supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      currency:
                                        description: Optional currency supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - property_type
                                properties:
                                  property_type:
                                    description: Optional property type supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - region
                                properties:
                                  region:
                                    description: Optional region supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    minLength: 1
                        page:
                          description: Optional page supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        pages:
                          description: Optional pages supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        total:
                          description: Source-reported total; null is unknown.
                          type:
                          - number
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - _warnings:
                        - example
                        count: 0
                        cursor: null
                        dropped: 0
                        has_more: false
                        items:
                        - address: example
                          area_sqft: 0
                          bathrooms: 0
                          bedrooms: 0
                          city: example
                          country: example
                          estimated_monthly_rent: 0
                          estimated_value: 0
                          id: example
                          latitude: 0
                          longitude: 0
                          photos:
                          - example
                          platform: example
                          postcode: example
                          price:
                            amount: 0
                            currency: example
                          property_type: example
                          region: example
                          status: example
                          type: example
                          url: https://example.com/example
                        page: 0
                        pages: 0
                        total: 0
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/zillow/search-sold:
    get:
      operationId: zillow_search_sold
      tags:
      - Zillow
      summary: Zillow recently sold homes
      description: Recently sold property listings and their displayed prices. This is a listing search, not a price-history or transaction-verification service. Costs 1 credit per successful live response.
      parameters:
      - name: location
        in: query
        required: true
        schema:
          type: string
        example: Austin, TX
        description: City/region in the United States or Canada.
      - name: min_price
        in: query
        required: false
        schema:
          type: string
        example: ''
        description: Minimum listing price.
      - name: max_price
        in: query
        required: false
        schema:
          type: string
        example: '600000'
        description: Maximum listing price.
      - name: min_beds
        in: query
        required: false
        schema:
          type: string
        example: '3'
        description: Minimum bedrooms.
      - name: sort
        in: query
        required: false
        schema:
          type: string
          enum:
          - newest
        example: newest
[...]
