openapi: 3.2.0
info:
  title: Monocrawl H&M API
  version: 0.1.0
  description: One key, one envelope, one credit meter across social, search, commerce and web data.
  contact:
    name: Monocrawl support
    url: https://www.monocrawl.com/contact
  termsOfService: https://www.monocrawl.com/legal/terms-and-conditions
servers:
- url: https://www.monocrawl.com
security:
- ApiKeyHeader: []
tags:
- name: H&M
paths:
  /v1/hm/categories:
    get:
      operationId: hm_categories
      tags:
      - H&M
      summary: H&M categories
      description: The category tree of an H&M storefront. Costs 5 credits per successful live response.
      parameters:
      - name: country
        in: query
        required: false
        schema:
          type: string
        example: en_us
        description: Storefront code
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/hm/categories.json
                      title: hm/categories data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        _warnings:
                          description: Optional  warnings supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              children:
                                description: Optional children supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - object
                                  - 'null'
                                  properties: {}
                                  additionalProperties: true
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - children
                                properties:
                                  children:
                                    description: Optional children supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - object
                                      - 'null'
                                      properties: {}
                                      additionalProperties: true
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - name
                                properties:
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    minLength: 1
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - _warnings:
                        - example
                        count: 0
                        has_more: false
                        items:
                        - children:
                          - {}
                          id: example
                          name: example
                          url: https://example.com/example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 5
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/hm/countries:
    get:
      operationId: hm_countries
      tags:
      - H&M
      summary: H&M storefronts
      description: The retailer's country and language list, by region, with each country's storefront language links. Costs 1 credit per successful live response.
      parameters:
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/hm/countries.json
                      title: hm/countries data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              code:
                                description: Optional code supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              languages:
                                description: Optional languages supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - object
                                  - 'null'
                                  properties: {}
                                  additionalProperties: true
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              region:
                                description: Optional region supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              transactional:
                                description: Optional transactional supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - code
                                properties:
                                  code:
                                    description: Optional code supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - languages
                                properties:
                                  languages:
                                    description: Optional languages supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - object
                                      - 'null'
                                      properties: {}
                                      additionalProperties: true
                              - required:
                                - name
                                properties:
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - region
                                properties:
                                  region:
                                    description: Optional region supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - transactional
                                properties:
                                  transactional:
                                    description: Optional transactional supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                        regions:
                          description: Optional regions supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - count: 0
                        has_more: false
                        items:
                        - code: example
                          languages:
                          - {}
                          name: example
                          region: example
                          transactional: false
                        regions:
                        - example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/hm/new-arrivals:
    get:
      operationId: hm_new_arrivals
      tags:
      - H&M
      summary: H&M new arrivals
      description: The newest products on an H&M storefront. Costs 5 credits per successful live response.
      parameters:
      - name: country
        in: query
        required: false
        schema:
          type: string
        example: en_us
        description: Storefront code
      - name: page
        in: query
        required: false
        schema:
          type: string
        example: '1'
        description: Page number
      - name: limit
        in: query
        required: false
        schema:
          type: string
        example: '22'
        description: Per page
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/hm/new-arrivals.json
                      title: hm/new-arrivals data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        country:
                          description: Optional country supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        cursor:
                          description: Opaque next-page token; pass it back unchanged. Null does not prove complete history.
                          type:
                          - string
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              category:
                                description: Optional category supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              colour:
                                description: Optional colour supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              image:
                                description: Optional image supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              images:
                                description: Optional images supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              in_stock:
                                description: Optional in stock supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              new_arrival:
                                description: Optional new arrival supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              platform:
                                description: Optional platform supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              price:
                                description: Source price. Currency, taxes and availability depend on the listing.
                                type:
                                - number
                                - 'null'
                              title:
                                description: Source title when supplied.
                                type:
                                - string
                                - 'null'
                              type:
                                description: Optional type supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - category
                                properties:
                                  category:
                                    description: Optional category supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - colour
                                properties:
                                  colour:
                                    description: Optional colour supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - image
                                properties:
                                  image:
                                    description: Optional image supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - images
                                properties:
                                  images:
                                    description: Optional images supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - string
                                      - 'null'
                              - required:
                                - in_stock
                                properties:
                                  in_stock:
                                    description: Optional in stock supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                              - required:
                                - new_arrival
                                properties:
                                  new_arrival:
                                    description: Optional new arrival supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                              - required:
                                - price
                                properties:
                                  price:
                                    description: Source price. Currency, taxes and availability depend on the listing.
                                    type:
                                    - number
                              - required:
                                - title
                                properties:
                                  title:
                                    description: Source title when supplied.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    minLength: 1
                        page:
                          description: Optional page supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - count: 0
                        country: example
                        cursor: null
                        has_more: false
                        items:
                        - category: example
                          colour: example
                          id: example
                          image: https://example.com/example
                          images:
                          - example
                          in_stock: false
                          new_arrival: false
                          platform: example
                          price: 0
                          title: example
                          type: example
                          url: https://example.com/example
                        page: 0
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 5
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/hm/product:
    get:
      operationId: hm_product
      tags:
      - H&M
      summary: H&M product
      description: 'One H&M product: title, price, description, composition, care, colours and variants. Costs 5 credits per successful live response.'
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        example: '1258254001'
        description: Article code (the number in the product URL)
      - name: country
        in: query
        required: false
        schema:
          type: string
        example: en_us
        description: Storefront code
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/hm/product.json
                      title: hm/product data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        care:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        category:
                          description: Optional category supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        colour:
                          description: Optional colour supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        country:
                          description: Optional country supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        currency:
                          description: Optional currency supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        id:
                          description: Source identifier. Preserve the supplied type and exact value.
                          type:
                          - string
                          - 'null'
                        image:
                          description: Optional image supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        images:
                          description: Optional images supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        platform:
                          description: Optional platform supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        price:
                          description: Source price. Currency, taxes and availability depend on the listing.
                          type:
                          - number
                          - 'null'
                        rating:
                          description: Source rating; read its accompanying scale and vote count.
                          type:
                          - object
                          - 'null'
                          properties:
                            max:
                              description: Optional max supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                          additionalProperties: true
                        title:
                          description: Source title when supplied.
                          type:
                          - string
                          - 'null'
                        type:
                          description: Optional type supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        variants:
                          description: Optional variants supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              colour:
                                description: Optional colour supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              image:
                                description: Optional image supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - care
                          properties:
                            care:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              items: {}
                        - required:
                          - category
                          properties:
                            category:
                              description: Optional category supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - colour
                          properties:
                            colour:
                              description: Optional colour supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - country
                          properties:
                            country:
                              description: Optional country supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - currency
                          properties:
                            currency:
                              description: Optional currency supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - id
                          properties:
                            id:
                              description: Source identifier. Preserve the supplied type and exact value.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - image
                          properties:
                            image:
                              description: Optional image supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - images
                          properties:
                            images:
                              description: Optional images supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                        - required:
                          - price
                          properties:
                            price:
                              description: Source price. Currency, taxes and availability depend on the listing.
                              type:
                              - number
                        - required:
                          - rating
                          properties:
                            rating:
                              description: Source rating; read its accompanying scale and vote count.
                              type:
                              - object
                              properties:
                                max:
                                  description: Optional max supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                              additionalProperties: true
                        - required:
                          - title
                          properties:
                            title:
                              description: Source title when supplied.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - variants
                          properties:
                            variants:
                              description: Optional variants supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  colour:
                                    description: Optional colour supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  image:
                                    description: Optional image supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - care: []
                        category: example
                        colour: example
                        country: example
                        currency: example
                        id: example
                        image: https://example.com/example
                        images:
                        - example
                        platform: example
                        price: 0
                        rating:
                          max: 0
                        title: example
                        type: example
                        variants:
                        - colour: example
                          image: https://example.com/example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 5
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/hm/product-suppliers:
    get:
      operationId: hm_product_suppliers
      tags:
      - H&M
      summary: H&M product suppliers
      description: 'The supplier and factory record the retailer publishes for a product: country, supplier and each factory''s name, address and workforce band. Costs 2 credits per successful live response.'
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        example: '1303341009'
        description: Product id, the digits in the product page URL
      - name: language
        in: query
        required: false
        schema:
          type: string
        example: en_us
        description: Language code such as en_us
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/hm/product-suppliers.json
                      title: hm/product-suppliers data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        countries:
                          description: Optional countries supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              suppliers:
                                description: Optional suppliers supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - object
                                  - 'null'
                                  properties: {}
                                  additionalProperties: true
                            additionalProperties: true
                        platform:
                          description: Optional platform supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        product_id:
                          description: Optional product id supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        type:
                          description: Optional type supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - countries
                          properties:
                            countries:
                              description: Optional countries supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    - 'null'
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  suppliers:
                                    description: Optional suppliers supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    - 'null'
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - object
                                      - 'null'
                                      properties: {}
                                      additionalProperties: true
                                additionalProperties: true
                        - required:
                          - product_id
                          properties:
                            product_id:
                              description: Optional product id supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - countries:
                        - id: example
                          name: example
                          suppliers:
                          - {}
                        platform: example
                        product_id: example
                        type: example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 2
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/hm/search:
    get:
      operationId: hm_search
      tags:
      - H&M
      summary: H&M product search
      description: Products matching a keyword on an H&M storefront, with price, colours and images. Costs 5 credits per successful live response.
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        example: jacket
        description: Search keyword
      - name: country
        in: query
        required: false
        schema:
          type: string
        example: en_us
        description: Storefront code from hm/countries
      - name: page
        in: query
        required: false
        schema:
          type: string
        example: '1'
        description: Page number
      - name: limit
        in: query
        required: false
        schema:
          type: string
        example: '36'
        description: Per page, up to 60
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/hm/search.json
                      title: hm/search data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        cursor:
                          description: Opaque next-page token; pass it back unchanged. Null does not prove complete history.
                          type:
                          - string
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              category:
                                description: Optional category supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              colour:
                                description: Optional colour supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              colours_count:
                                description: Optional colours count supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              currency:
                                description: Optional currency supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              image:
                                description: Optional image supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              images:
                                description: Optional images supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              in_stock:
                                description: Optional in stock supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              new_arrival:
                                description: Optional new arrival supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              platform:
                                description: Optional platform supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              price:
                                description: Source price. Currency, taxes and availability depend on the listing.
                                type:
                                - number
                                - 'null'
                              title:
                                description: Source title when supplied.
                                type:
                                - string
                                - 'null'
                              type:
                                description: Optional type supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - category
                                properties:
                                  category:
                                    description: Optional category supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - colour
                                properties:
                                  colour:
                                    description: Optional colour supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - colours_count
                                properties:
                                  colours_count:
                                    description: Optional colours count supplied by this operation. Null means unknown.
                                    type:
                                    - number
                              - required:
                                - currency
                                properties:
                                  currency:
                                    description: Optional currency supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - image
                                properties:
                                  image:
                                    description: Optional image supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - images
                                properties:
                                  images:
                                    description: Optional images supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - string
                                      - 'null'
                              - required:
                                - in_stock
                                properties:
                                  in_stock:
                                    description: Optional in stock supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                              - required:
                                - new_arrival
                                properties:
                                  new_arrival:
                                    description: Optional new arrival supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                              - required:
                                - price
                                properties:
                                  price:
                                    description: Source price. Currency, taxes and availability depend on the listing.
                                    type:
                                    - number
                              - required:
                                - title
                                properties:
                                  title:
                                    description: Source title when supplied.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    minLength: 1
                        page:
                          description: Optional page supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        pages:
                          description: Optional pages supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        query:
                          description: Optional query supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        total:
                          description: Source-reported total; null is unknown.
                          type:
                          - number
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - count: 0
                        cursor: null
                        has_more: false
                        items:
                        - category: example
                          colour: example
                          colours_count: 0
                          currency: example
                          id: example
                          image: https://example.com/example
                          images:
                          - example
                          in_stock: false
                          new_arrival: false
                          platform: example
                          price: 0
                          title: example
                          type: example
                          url: https://example.com/example
                        page: 0
                        pages: 0
                        query: example
                        total: 0
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 5
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/hm/similar:
    get:
      operationId: hm_similar
      tags:
      - H&M
      summary: H&M similar products
      description: Products similar to one product. Costs 5 credits per successful live response.
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        example: '1258254001'
        description: Article code
      - name: country
        in: query
        required: false
        schema:
          type: string
        example: en_us
        description: Storefront code
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/hm/similar.json
                      title: hm/similar data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        country:
                          description: Optional country supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              category:
                                description: Optional category supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              colour:
                                description: Optional colour supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              image:
                                description: Optional image supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              images:
                                description: Optional images supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                              in_stock:
                                description: Optional in stock supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              new_arrival:
                                description: Optional new arrival supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              platform:
                                description: Optional platform supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              price:
                                description: Source price. Currency, taxes and availability depend on the listing.
                                type:
                                - number
                                - 'null'
                              title:
                                description: Source title when supplied.
                                type:
                                - string
                                - 'null'
                              type:
                                description: Optional type supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - category
                                properties:
                                  category:
                                    description: Optional category supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - colour
                                properties:
                                  colour:
                                    description: Optional colour supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - image
                                properties:
                                  image:
                                    description: Optional image supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - images
                                properties:
                                  images:
                                    description: Optional images supplied by this operation. Null means unknown.
                                    type:
                                    - array
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - string
                                      - 'null'
                              - required:
                                - in_stock
                                properties:
                                  in_stock:
                                    description: Optional in stock supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                              - required:
                                - new_arrival
                                properties:
                                  new_arrival:
                                    description: Optional new arrival supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                              - required:
                                - price
                                properties:
                                  price:
                                    description: Source price. Currency, taxes and availability depend on the listing.
                                    type:
                                    - number
                              - required:
                                - title
                                properties:
                                  title:
                                    description: Source title when supplied.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    minLength: 1
                        product_id:
                          description: Optional product id supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - count: 0
                        country: example
                        has_more: false
                        items:
                        - category: example
                          colour: example
                          id: example
                          image: https://example.com/example
                          images:
                          - example
                          in_stock: false
                          new_arrival: false
                          platform: example
                          price: 0
                          title: example
                          type: example
                          url: https://example.com/example
                        product_id: example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 5
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/hm/stores:
    get:
      operationId: hm_stores
      tags:
      - H&M
      summary: H&M stores
      description: 'Every store in a country: address, coordinates, opening hours, departments and status. Costs 1 credit per successful live response.'
      parameters:
      - name: country
        in: query
        required: true
        schema:
          type: string
        example: us
        description: Two-letter country code
      - name: language
        in: query
        required: false
        schema:
          type: string
        example: en_us
        description: Language code such as en_us
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/hm/stores.json
                      title: hm/stores data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        _warnings:
                          description: Optional  warnings supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - string
                            - 'null'
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        country:
                          description: Optional country supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              address:
                                description: Optional address supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              city:
                                description: Optional city supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              country:
                                description: Optional country supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              country_code:
                                description: Optional country code supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              departments:
                                description: Optional departments supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - object
                                  - 'null'
                                  properties: {}
                                  additionalProperties: true
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              latitude:
                                description: Optional latitude supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              longitude:
                                description: Optional longitude supplied by this operation. Null means unknown.
                                type:
                                - number
                                - 'null'
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              opening_hours:
                                description: Optional opening hours supplied by this operation. Null means unknown.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - object
                                  - 'null'
                                  properties: {}
                                  additionalProperties: true
                              phone:
                                description: Optional phone supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              platform:
                                description: Optional platform supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              postcode:
                                description: Optional postcode supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              region:
                                description: Optional region supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              status:
                                description: Optional status supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              store_class:
                                description: Optional store class supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              type:
                                description: Optional type supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - address
                                properties:
                                  address:
                                    description: Optional address supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - city
                                properties:
[...]
