openapi: 3.2.0
info:
  title: Monocrawl Trip Advisor API
  version: 0.1.0
  description: One key, one envelope, one credit meter across social, search, commerce and web data.
  contact:
    name: Monocrawl support
    url: https://www.monocrawl.com/contact
  termsOfService: https://www.monocrawl.com/legal/terms-and-conditions
servers:
- url: https://www.monocrawl.com
security:
- ApiKeyHeader: []
tags:
- name: TripAdvisor
paths:
  /v1/tripadvisor/attraction:
    get:
      operationId: tripadvisor_attraction
      tags:
      - TripAdvisor
      summary: TripAdvisor attraction
      description: 'An attraction page in full: rating and review count, ranking in its destination, opening hours, description, address and coordinates, website and phone, photos, nearby places, the rating histogram and the latest reviews. Costs 3 credits per successful live response.'
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        example: '1451754'
        description: Attraction id (the -d number in its URL) or the page URL
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/tripadvisor/attraction.json
                      title: tripadvisor/attraction data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        address:
                          description: Optional address supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        awards:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        description:
                          description: Source description; null or absent means not supplied.
                          type:
                          - string
                          - 'null'
                        details:
                          description: Optional details supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              text:
                                description: Source text when supplied.
                                type:
                                - string
                                - 'null'
                              title:
                                description: Source title when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        email:
                          description: Optional email supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        geo_id:
                          description: Optional geo id supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        hours:
                          description: Optional hours supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            status:
                              description: Optional status supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            today:
                              description: Optional today supplied by this operation. Null means unknown.
                              type:
                              - array
                              - 'null'
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                          additionalProperties: true
                        id:
                          description: Source identifier. Preserve the supplied type and exact value.
                          type:
                          - string
                          - 'null'
                        latitude:
                          description: Optional latitude supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        longitude:
                          description: Optional longitude supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        name:
                          description: Optional name supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        nearby:
                          description: Optional nearby supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              items:
                                description: Returned records. Source coverage and completeness vary.
                                type:
                                - array
                                - 'null'
                                items:
                                  description: Optional record supplied by this operation. Null means unknown.
                                  type:
                                  - object
                                  - 'null'
                                  properties: {}
                                  additionalProperties: true
                              title:
                                description: Source title when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        phone:
                          description: Optional phone supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        photo_count:
                          description: Optional photo count supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        photos:
                          description: Optional photos supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type:
                            - object
                            - 'null'
                            properties:
                              attribution:
                                description: Optional attribution supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              caption:
                                description: Optional caption supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              published_at:
                                description: Source publication time when available.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                        platform:
                          description: Optional platform supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        ranking:
                          description: Optional ranking supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties:
                            of:
                              description: Optional of supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            rank:
                              description: Optional rank supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            scope:
                              description: Optional scope supplied by this operation. Null means unknown.
                              type:
                              - string
                              - 'null'
                            text:
                              description: Source text when supplied.
                              type:
                              - string
                              - 'null'
                          additionalProperties: true
                        rating:
                          description: Source rating; read its accompanying scale and vote count.
                          type:
                          - number
                          - 'null'
                        rating_histogram:
                          description: Optional rating histogram supplied by this operation. Null means unknown.
                          type:
                          - object
                          - 'null'
                          properties: {}
                          additionalProperties: true
                        reviews:
                          description: Optional reviews supplied by this operation. Null means unknown.
                          type:
                          - array
                          - 'null'
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              author:
                                description: Public author information supplied with this record.
                                type:
                                - object
                                - 'null'
                                properties:
                                  avatar:
                                    description: Optional avatar supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  contributions:
                                    description: Optional contributions supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              owner_response:
                                description: Optional owner response supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  published:
                                    description: Optional published supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  text:
                                    description: Source text when supplied.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                              photos:
                                description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                type:
                                - array
                                - 'null'
                                items: {}
                              published:
                                description: Optional published supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              rating:
                                description: Source rating; read its accompanying scale and vote count.
                                type:
                                - number
                                - 'null'
                              text:
                                description: Source text when supplied.
                                type:
                                - string
                                - 'null'
                              title:
                                description: Source title when supplied.
                                type:
                                - string
                                - 'null'
                              translated:
                                description: Optional translated supplied by this operation. Null means unknown.
                                type:
                                - boolean
                                - 'null'
                              trip_type:
                                description: Optional trip type supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              visited:
                                description: Optional visited supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - author
                                properties:
                                  author:
                                    description: Public author information supplied with this record.
                                    type:
                                    - object
                                    properties:
                                      avatar:
                                        description: Optional avatar supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      contributions:
                                        description: Optional contributions supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      name:
                                        description: Optional name supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - owner_response
                                properties:
                                  owner_response:
                                    description: Optional owner response supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    properties:
                                      published:
                                        description: Optional published supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      text:
                                        description: Source text when supplied.
                                        type:
                                        - string
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - photos
                                properties:
                                  photos:
                                    description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                    type:
                                    - array
                                    items: {}
                              - required:
                                - published
                                properties:
                                  published:
                                    description: Optional published supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - rating
                                properties:
                                  rating:
                                    description: Source rating; read its accompanying scale and vote count.
                                    type:
                                    - number
                              - required:
                                - text
                                properties:
                                  text:
                                    description: Source text when supplied.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - title
                                properties:
                                  title:
                                    description: Source title when supplied.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - translated
                                properties:
                                  translated:
                                    description: Optional translated supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                              - required:
                                - trip_type
                                properties:
                                  trip_type:
                                    description: Optional trip type supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - visited
                                properties:
                                  visited:
                                    description: Optional visited supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                        reviews_count:
                          description: Optional reviews count supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        tags:
                          description: Source array was empty in the reviewed captures; item fields remain unspecified.
                          type:
                          - array
                          - 'null'
                          items: {}
                        type:
                          description: Optional type supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        url:
                          description: Original source URL when supplied.
                          type:
                          - string
                          - 'null'
                        website:
                          description: Optional website supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      allOf:
                      - anyOf:
                        - required:
                          - address
                          properties:
                            address:
                              description: Optional address supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - awards
                          properties:
                            awards:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              items: {}
                        - required:
                          - description
                          properties:
                            description:
                              description: Source description; null or absent means not supplied.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - details
                          properties:
                            details:
                              description: Optional details supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  text:
                                    description: Source text when supplied.
                                    type:
                                    - string
                                    - 'null'
                                  title:
                                    description: Source title when supplied.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                        - required:
                          - email
                          properties:
                            email:
                              description: Optional email supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - geo_id
                          properties:
                            geo_id:
                              description: Optional geo id supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - hours
                          properties:
                            hours:
                              description: Optional hours supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties:
                                status:
                                  description: Optional status supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                today:
                                  description: Optional today supplied by this operation. Null means unknown.
                                  type:
                                  - array
                                  - 'null'
                                  items:
                                    description: Optional record supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                              additionalProperties: true
                        - required:
                          - id
                          properties:
                            id:
                              description: Source identifier. Preserve the supplied type and exact value.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - latitude
                          properties:
                            latitude:
                              description: Optional latitude supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - longitude
                          properties:
                            longitude:
                              description: Optional longitude supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - name
                          properties:
                            name:
                              description: Optional name supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - nearby
                          properties:
                            nearby:
                              description: Optional nearby supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  items:
                                    description: Returned records. Source coverage and completeness vary.
                                    type:
                                    - array
                                    - 'null'
                                    items:
                                      description: Optional record supplied by this operation. Null means unknown.
                                      type:
                                      - object
                                      - 'null'
                                      properties: {}
                                      additionalProperties: true
                                  title:
                                    description: Source title when supplied.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                        - required:
                          - phone
                          properties:
                            phone:
                              description: Optional phone supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - photo_count
                          properties:
                            photo_count:
                              description: Optional photo count supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - photos
                          properties:
                            photos:
                              description: Optional photos supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  attribution:
                                    description: Optional attribution supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  caption:
                                    description: Optional caption supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    - 'null'
                                  published_at:
                                    description: Source publication time when available.
                                    type:
                                    - string
                                    - 'null'
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                        - required:
                          - ranking
                          properties:
                            ranking:
                              description: Optional ranking supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties:
                                of:
                                  description: Optional of supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                rank:
                                  description: Optional rank supplied by this operation. Null means unknown.
                                  type:
                                  - number
                                  - 'null'
                                scope:
                                  description: Optional scope supplied by this operation. Null means unknown.
                                  type:
                                  - string
                                  - 'null'
                                text:
                                  description: Source text when supplied.
                                  type:
                                  - string
                                  - 'null'
                              additionalProperties: true
                        - required:
                          - rating
                          properties:
                            rating:
                              description: Source rating; read its accompanying scale and vote count.
                              type:
                              - number
                        - required:
                          - rating_histogram
                          properties:
                            rating_histogram:
                              description: Optional rating histogram supplied by this operation. Null means unknown.
                              type:
                              - object
                              properties: {}
                              additionalProperties: true
                        - required:
                          - reviews
                          properties:
                            reviews:
                              description: Optional reviews supplied by this operation. Null means unknown.
                              type:
                              - array
                              items:
                                description: Optional record supplied by this operation. Null means unknown.
                                type: object
                                properties:
                                  author:
                                    description: Public author information supplied with this record.
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      avatar:
                                        description: Optional avatar supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      contributions:
                                        description: Optional contributions supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      name:
                                        description: Optional name supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                    additionalProperties: true
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    - 'null'
                                  owner_response:
                                    description: Optional owner response supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      published:
                                        description: Optional published supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      text:
                                        description: Source text when supplied.
                                        type:
                                        - string
                                        - 'null'
                                    additionalProperties: true
                                  photos:
                                    description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                    type:
                                    - array
                                    - 'null'
                                    items: {}
                                  published:
                                    description: Optional published supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  rating:
                                    description: Source rating; read its accompanying scale and vote count.
                                    type:
                                    - number
                                    - 'null'
                                  text:
                                    description: Source text when supplied.
                                    type:
                                    - string
                                    - 'null'
                                  title:
                                    description: Source title when supplied.
                                    type:
                                    - string
                                    - 'null'
                                  translated:
                                    description: Optional translated supplied by this operation. Null means unknown.
                                    type:
                                    - boolean
                                    - 'null'
                                  trip_type:
                                    description: Optional trip type supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  visited:
                                    description: Optional visited supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                                allOf:
                                - anyOf:
                                  - required:
                                    - author
                                    properties:
                                      author:
                                        description: Public author information supplied with this record.
                                        type:
                                        - object
                                        properties:
                                          avatar:
                                            description: Optional avatar supplied by this operation. Null means unknown.
                                            type:
                                            - string
                                            - 'null'
                                          contributions:
                                            description: Optional contributions supplied by this operation. Null means unknown.
                                            type:
                                            - number
                                            - 'null'
                                          name:
                                            description: Optional name supplied by this operation. Null means unknown.
                                            type:
                                            - string
                                            - 'null'
                                        additionalProperties: true
                                  - required:
                                    - id
                                    properties:
                                      id:
                                        description: Source identifier. Preserve the supplied type and exact value.
                                        type:
                                        - string
                                        minLength: 1
                                  - required:
                                    - owner_response
                                    properties:
                                      owner_response:
                                        description: Optional owner response supplied by this operation. Null means unknown.
                                        type:
                                        - object
                                        properties:
                                          published:
                                            description: Optional published supplied by this operation. Null means unknown.
                                            type:
                                            - string
                                            - 'null'
                                          text:
                                            description: Source text when supplied.
                                            type:
                                            - string
                                            - 'null'
                                        additionalProperties: true
                                  - required:
                                    - photos
                                    properties:
                                      photos:
                                        description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                        type:
                                        - array
                                        items: {}
                                  - required:
                                    - published
                                    properties:
                                      published:
                                        description: Optional published supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        minLength: 1
                                  - required:
                                    - rating
                                    properties:
                                      rating:
                                        description: Source rating; read its accompanying scale and vote count.
                                        type:
                                        - number
                                  - required:
                                    - text
                                    properties:
                                      text:
                                        description: Source text when supplied.
                                        type:
                                        - string
                                        minLength: 1
                                  - required:
                                    - title
                                    properties:
                                      title:
                                        description: Source title when supplied.
                                        type:
                                        - string
                                        minLength: 1
                                  - required:
                                    - translated
                                    properties:
                                      translated:
                                        description: Optional translated supplied by this operation. Null means unknown.
                                        type:
                                        - boolean
                                  - required:
                                    - trip_type
                                    properties:
                                      trip_type:
                                        description: Optional trip type supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        minLength: 1
                                  - required:
                                    - visited
                                    properties:
                                      visited:
                                        description: Optional visited supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        minLength: 1
                        - required:
                          - reviews_count
                          properties:
                            reviews_count:
                              description: Optional reviews count supplied by this operation. Null means unknown.
                              type:
                              - number
                        - required:
                          - tags
                          properties:
                            tags:
                              description: Source array was empty in the reviewed captures; item fields remain unspecified.
                              type:
                              - array
                              items: {}
                        - required:
                          - url
                          properties:
                            url:
                              description: Original source URL when supplied.
                              type:
                              - string
                              minLength: 1
                        - required:
                          - website
                          properties:
                            website:
                              description: Optional website supplied by this operation. Null means unknown.
                              type:
                              - string
                              minLength: 1
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - address: example
                        awards: []
                        description: example
                        details:
                        - text: example
                          title: example
                        email: example
                        geo_id: example
                        hours:
                          status: example
                          today:
                          - example
                        id: example
                        latitude: 0
                        longitude: 0
                        name: example
                        nearby:
                        - items:
                          - {}
                          title: example
                        phone: example
                        photo_count: 0
                        photos:
                        - attribution: example
                          caption: example
                          id: example
                          published_at: '2026-09-01T12:00:00Z'
                          url: https://example.com/example
                        platform: example
                        ranking:
                          of: 0
                          rank: 0
                          scope: example
                          text: example
                        rating: 0
                        rating_histogram: {}
                        reviews:
                        - author:
                            avatar: https://example.com/example
                            contributions: 0
                            name: example
                          id: example
                          owner_response:
                            published: example
                            text: example
                          photos: []
                          published: example
                          rating: 0
                          text: example
                          title: example
                          translated: false
                          trip_type: example
                          visited: example
                        reviews_count: 0
                        tags: []
                        type: example
                        url: https://example.com/example
                        website: example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 3
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/tripadvisor/attraction/reviews:
    get:
      operationId: tripadvisor_attraction_reviews
      tags:
      - TripAdvisor
      summary: Attraction reviews
      description: Reviews of a attraction. Queued extraction; retrying the same inputs resumes the saved task. Up to twenty reviews, no cursor pagination. Costs 2 credits per successful live response.
      parameters:
      - name: url
        in: query
        required: true
        schema:
          type: string
        example: https://www.tripadvisor.com/Attraction_Review-g60763-d105127-Reviews-Central_Park-New_York_City_New_York.html
        description: The full attraction review-page URL
      - name: limit
        in: query
        required: false
        schema:
          type: string
        example: '10'
        description: 1 to 20 reviews; default 10. First page only.
      - name: sort
        in: query
        required: false
        schema:
          type: string
          enum:
          - most_recent
          - detailed_reviews
        example: most_recent
        description: 'most_recent or detailed_reviews Accepted values: most_recent, detailed_reviews. Case, spaces, hyphens and underscores are interchangeable.'
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: judgments
        in: query
        required: false
        schema:
          type: string
          enum:
          - 'on'
          - 'off'
        example: 'on'
        description: 'Add bounded AI labels to eligible returned records (default on). off preserves the original data shape. Unclassified records remain present; labels depend on evidence, time, capacity and the existing request budget. No label surcharge. Accepted values: on, off. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label
        in: query
        required: false
        schema:
          type: string
          enum:
          - default
          - none
        example: none
        description: 'Set none to disable labels; default enables the endpoint’s label set. Equivalent to judgments=off. Accepted values: default, none. Case, spaces, hyphens and underscores are interchangeable.'
      - name: label_evidence
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Include exact supporting sentences and zero-based sentence indexes when a label has validated evidence. No extra charge or change to decisions. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: exclude
        in: query
        required: false
        schema:
          type: string
          enum:
          - engagement_bait
        example: engagement_bait
        description: 'Optionally remove confidently labelled engagement bait. Uncertain and unclassified records stay; removed IDs and an owner-bound recall reference are returned. Accepted values: engagement_bait. Case, spaces, hyphens and underscores are interchangeable.'
      - name: fit
        in: query
        required: false
        schema:
          type: string
          enum:
          - goal
        example: goal
        description: 'Use goal to replace confidently irrelevant records with recall stubs. Keeps first, last, relevant and uncertain records; preserves order. Full evidence is stored for 24 hours when available. Accepted values: goal. Case, spaces, hyphens and underscores are interchangeable.'
      - name: goal
        in: query
        required: false
        schema:
          type: string
        example: Find concrete product complaints
        description: 'Required with fit=goal: describe the task in at most 600 characters. Supplied text is task context, never permission to act on posts.'
      - name: tokens
        in: query
        required: false
        schema:
          type: string
        example: '4000'
        description: Optional soft response target for fit=goal, 256–32000. Safety and evidence retention take priority, so the returned result may exceed it.
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/tripadvisor/attraction/reviews.json
                      title: tripadvisor/attraction/reviews data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              id:
                                description: Source identifier. Preserve the supplied type and exact value.
                                type:
                                - string
                                - 'null'
                              images:
                                description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                type:
                                - array
                                - 'null'
                                items: {}
                              platform:
                                description: Optional platform supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              posted_at:
                                description: Optional posted at supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              rating:
                                description: Source rating; read its accompanying scale and vote count.
                                type:
                                - object
                                - 'null'
                                properties:
                                  max:
                                    description: Optional max supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  value:
                                    description: Optional value supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                  votes:
                                    description: Optional votes supplied by this operation. Null means unknown.
                                    type:
                                    - number
                                    - 'null'
                                additionalProperties: true
                              reviewer:
                                description: Optional reviewer supplied by this operation. Null means unknown.
                                type:
                                - object
                                - 'null'
                                properties:
                                  location:
                                    description: Optional location supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    - 'null'
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    - 'null'
                                additionalProperties: true
                              text:
                                description: Source text when supplied.
                                type:
                                - string
                                - 'null'
                              title:
                                description: Source title when supplied.
                                type:
                                - string
                                - 'null'
                              url:
                                description: Original source URL when supplied.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - id
                                properties:
                                  id:
                                    description: Source identifier. Preserve the supplied type and exact value.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - images
                                properties:
                                  images:
                                    description: Source array was empty in the reviewed captures; item fields remain unspecified.
                                    type:
                                    - array
                                    items: {}
                              - required:
                                - posted_at
                                properties:
                                  posted_at:
                                    description: Optional posted at supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - rating
                                properties:
                                  rating:
                                    description: Source rating; read its accompanying scale and vote count.
                                    type:
                                    - object
                                    properties:
                                      max:
                                        description: Optional max supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      value:
                                        description: Optional value supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                      votes:
                                        description: Optional votes supplied by this operation. Null means unknown.
                                        type:
                                        - number
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - reviewer
                                properties:
                                  reviewer:
                                    description: Optional reviewer supplied by this operation. Null means unknown.
                                    type:
                                    - object
                                    properties:
                                      location:
                                        description: Optional location supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      name:
                                        description: Optional name supplied by this operation. Null means unknown.
                                        type:
                                        - string
                                        - 'null'
                                      url:
                                        description: Original source URL when supplied.
                                        type:
                                        - string
                                        - 'null'
                                    additionalProperties: true
                              - required:
                                - text
                                properties:
                                  text:
                                    description: Source text when supplied.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - title
                                properties:
                                  title:
                                    description: Source title when supplied.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    description: Original source URL when supplied.
                                    type:
                                    - string
                                    minLength: 1
                        name:
                          description: Optional name supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                        rating:
                          description: Source rating; read its accompanying scale and vote count.
                          type:
                          - object
                          - 'null'
                          properties:
                            max:
                              description: Optional max supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            value:
                              description: Optional value supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                            votes:
                              description: Optional votes supplied by this operation. Null means unknown.
                              type:
                              - number
                              - 'null'
                          additionalProperties: true
                        reviews_count:
                          description: Optional reviews count supplied by this operation. Null means unknown.
                          type:
                          - number
                          - 'null'
                        url:
                          description: Original source URL when supplied.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - count: 0
                        has_more: false
                        items:
                        - id: example
                          images: []
                          platform: example
                          posted_at: '2026-09-01T12:00:00Z'
                          rating:
                            max: 0
                            value: 0
                            votes: 0
                          reviewer:
                            location: example
                            name: example
                            url: https://example.com/example
                          text: example
                          title: example
                          url: https://example.com/example
                        name: example
                        rating:
                          max: 0
                          value: 0
                          votes: 0
                        reviews_count: 0
                        url: https://example.com/example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 2
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/tripadvisor/attractions:
    get:
      operationId: tripadvisor_attractions
      tags:
      - TripAdvisor
      summary: TripAdvisor attractions
      description: Attractions in a place, thirty per page, with rating, review count, category, ticket price, badges and photo. Costs 1 credit per successful live response.
      parameters:
      - name: geo_id
        in: query
        required: false
        schema:
          type: string
        example: '1954828'
        description: Place geo id from tripadvisor/autocomplete
      - name: query
        in: query
        required: false
        schema:
          type: string
        example: Walt Disney World
        description: Place name, resolved to a geo id when geo_id is absent
      - name: start_date
        in: query
        required: false
        schema:
          type: string
        example: '2026-10-01'
        description: Visit start (YYYY-MM-DD); defaults to a week ahead
      - name: end_date
        in: query
        required: false
        schema:
          type: string
        example: '2026-10-03'
        description: Visit end
      - name: sort
        in: query
        required: false
        schema:
          type: string
        x-values-from: data.sorts
        example: TRAVELER_FAVORITE_V2
        description: Sort name from a previous response
      - name: page
        in: query
        required: false
        schema:
          type: string
        example: '1'
        description: Page of 30
      - name: adults
        in: query
        required: false
        schema:
          type: string
        example: '1'
        description: Adults
      - name: currency
        in: query
        required: false
        schema:
          type: string
        example: USD
        description: Currency code
      - name: language
        in: query
        required: false
        schema:
          type: string
        example: en_US
        description: Language code
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/tripadvisor/attractions.json
                      title: tripadvisor/attractions data fields
                      description: Required core structure for successful data, with optional source fields. Additional fields are allowed. This is not a completeness guarantee.
                      type: object
                      properties:
                        items:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type:
                                - string
                                - 'null'
                                description: Exact source identifier; preserve it as a string.
                              name:
                                type:
                                - string
                                - 'null'
                                description: name
                              url:
                                type:
                                - string
                                - 'null'
                                description: url
                              type:
                                type:
                                - string
                                - 'null'
                                description: type
                              description:
                                type:
                                - string
                                - 'null'
                                description: description
                              image:
                                type:
                                - string
                                - 'null'
                                description: image
                              address:
                                type:
                                - string
                                - 'null'
                                description: address
                              rating:
                                anyOf:
                                - type:
                                  - number
                                  - 'null'
                                  description: Source rating.
                                - type:
                                  - object
                                  - 'null'
                                  properties:
                                    value:
                                      type:
                                      - number
                                      - 'null'
                                      description: value; null is unknown.
                                    votes:
                                      type:
                                      - number
                                      - 'null'
                                      description: votes; null is unknown.
                                    max:
                                      type:
                                      - number
                                      - 'null'
                                      description: max; null is unknown.
                                  additionalProperties: true
                              reviews_count:
                                type:
                                - number
                                - 'null'
                                description: Source review count.
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - id
                                properties:
                                  id:
                                    type:
                                    - string
                                    description: Exact source identifier; preserve it as a string.
                                    minLength: 1
                              - required:
                                - name
                                properties:
                                  name:
                                    type:
                                    - string
                                    description: name
                                    minLength: 1
                              - required:
                                - url
                                properties:
                                  url:
                                    type:
                                    - string
                                    description: url
                                    minLength: 1
                              - required:
                                - description
                                properties:
                                  description:
                                    type:
                                    - string
                                    description: description
                                    minLength: 1
                              - required:
                                - image
                                properties:
                                  image:
                                    type:
                                    - string
                                    description: image
                                    minLength: 1
                              - required:
                                - address
                                properties:
                                  address:
                                    type:
                                    - string
                                    description: address
                                    minLength: 1
                              - required:
                                - rating
                                properties:
                                  rating:
                                    anyOf:
                                    - type:
                                      - number
                                      - 'null'
                                      description: Source rating.
                                    - type:
                                      - object
                                      - 'null'
                                      properties:
                                        value:
                                          type:
                                          - number
                                          - 'null'
                                          description: value; null is unknown.
                                        votes:
                                          type:
                                          - number
                                          - 'null'
                                          description: votes; null is unknown.
                                        max:
                                          type:
                                          - number
                                          - 'null'
                                          description: max; null is unknown.
                                      additionalProperties: true
                              - required:
                                - reviews_count
                                properties:
                                  reviews_count:
                                    type:
                                    - number
                                    description: Source review count.
                        count:
                          type:
                          - number
                          - 'null'
                          description: Returned rows, not the total population.
                        cursor:
                          type:
                          - string
                          - 'null'
                          description: Opaque continuation; pass unchanged.
                        has_more:
                          type:
                          - boolean
                          - 'null'
                          description: Source continuation indicator.
                        total:
                          type:
                          - number
                          - 'null'
                          description: Source-reported total; null means unknown.
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - items: []
                        cursor: null
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
      x-availability-scope: Structural check of the effective registered chain, production permission, adapter, configured cost and quality floor without request parameters. True is not a live-health, credential, quota, subscription-entitlement, complete-data or deployment-exposure guarantee. False means no structurally eligible candidate; null means metadata could not establish availability. Composite child capability still depends on its component routes.
      x-live-proven: true
  /v1/tripadvisor/autocomplete:
    get:
      operationId: tripadvisor_autocomplete
      tags:
      - TripAdvisor
      summary: TripAdvisor place typeahead
      description: Places and properties matching a name, with the geo id the hotel, restaurant and attraction searches take. Costs 1 credit per successful live response.
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
        example: London
        description: A place or property name
      - name: language
        in: query
        required: false
        schema:
          type: string
        example: en_US
        description: Language code
      - name: dry_run
        in: query
        required: false
        schema:
          type: string
          enum:
          - '1'
          - '0'
          - 'true'
          - 'false'
        example: '1'
        description: 'Read a zero-credit estimate without fetching sources, running AI, or reserving credits. Cache status is a snapshot, not a guarantee at execution. Accepted values: 1, 0, true, false. Case, spaces, hyphens and underscores are interchangeable.'
      - name: X-Max-Credits
        in: header
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        example: 5
        description: Optional credit reservation ceiling for this individual request. Send a non-negative integer in decimal digits. Live execution checks the required reservation after resolving free cache hits or buffered continuation, before charging or calling a supplier. A higher reservation returns HTTP 422 INVALID_PARAMETERS with reason max_credits_exceeded and charges nothing. Invalid header values also return 422. Zero permits only a zero-credit reservation; omitting the header uses normal pricing. dry_run remains a free preview. This does not cap later requests, batches or scheduled runs.
      security:
      - ApiKeyHeader: []
      - BearerKey: []
      responses:
        '200':
          description: 'The common success envelope; `data` is endpoint-specific. Many lists use items/count/cursor; bundles use named collections and their documented continuation metadata. HTTP 200 can contain a partial bundle: inspect complete, partial and legs where supplied.'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Success'
                - type: object
                  properties:
                    data:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      $id: https://www.monocrawl.com/schemas/tripadvisor/autocomplete.json
                      title: tripadvisor/autocomplete data fields
                      description: Optional data supplied by this operation. Null means unknown.
                      type: object
                      properties:
                        count:
                          description: Number of records in this response, not lifetime or total matches.
                          type:
                          - number
                          - 'null'
                        has_more:
                          description: Source continuation indicator; null means unknown.
                          type:
                          - boolean
                          - 'null'
                        items:
                          description: Returned records. Source coverage and completeness vary.
                          type:
                          - array
                          items:
                            description: Optional record supplied by this operation. Null means unknown.
                            type: object
                            properties:
                              data_type:
                                description: Optional data type supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              detail:
                                description: Optional detail supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              document_id:
                                description: Optional document id supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              geo_id:
                                description: Optional geo id supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              name:
                                description: Optional name supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                              type:
                                description: Optional type supplied by this operation. Null means unknown.
                                type:
                                - string
                                - 'null'
                            additionalProperties: true
                            allOf:
                            - anyOf:
                              - required:
                                - data_type
                                properties:
                                  data_type:
                                    description: Optional data type supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - detail
                                properties:
                                  detail:
                                    description: Optional detail supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - document_id
                                properties:
                                  document_id:
                                    description: Optional document id supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - geo_id
                                properties:
                                  geo_id:
                                    description: Optional geo id supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                              - required:
                                - name
                                properties:
                                  name:
                                    description: Optional name supplied by this operation. Null means unknown.
                                    type:
                                    - string
                                    minLength: 1
                        query:
                          description: Optional query supplied by this operation. Null means unknown.
                          type:
                          - string
                          - 'null'
                      additionalProperties: true
                      required:
                      - items
                      x-contract-version: '2026-09-22'
                      x-validation-scope: Required success payload structure; optional fields and source completeness remain separate.
                      examples:
                      - count: 0
                        has_more: false
                        items:
                        - data_type: example
                          detail: example
                          document_id: example
                          geo_id: example
                          name: example
                          type: example
                        query: example
        default:
          description: The error envelope — the same shape for every non-2xx status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-credits: 1
      x-production-available: true
      x-capacity:
        status: not_assessed
        message: Capacity is workload-dependent; configured routes do not establish sustained throughput or an availability guarantee.
[...]
